/* adwaita_dark
 * revision: c607954f7b2cf56b24e921db0dab4749f3430a22
 */

pre.lumis {
  color: #deddda;
  background-color: #1d1d20;
}
.lumis-attribute {
  color: #e66100;
}
.lumis-attribute-builtin {
  color: #62a0ea;
}
.lumis-boolean {
  color: #c061cb;
  font-weight: bold;
}
.lumis-character {
  color: #33b2a4;
}
.lumis-character-special {
  color: #62a0ea;
}
.lumis-comment {
  color: #5e5e5e;
}
.lumis-comment-documentation {
  color: #5e5e5e;
}
.lumis-comment-error {
  color: #ed333b;
}
.lumis-comment-hint {
  color: #5e5e5e;
}
.lumis-comment-note {
  color: #218787;
}
.lumis-comment-todo {
  color: #f8e45c;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #d38b09;
}
.lumis-constant {
  color: #7d8ac7;
}
.lumis-constant-builtin {
  color: #7d8ac7;
  font-weight: bold;
}
.lumis-constant-macro {
  color: #ffa348;
  font-weight: bold;
}
.lumis-constructor {
  color: #deddda;
}
.lumis-diff-delta {
  color: #ff7800;
  background-color: #1d1d20;
}
.lumis-diff-minus {
  color: #f66151;
  background-color: #1d1d20;
}
.lumis-diff-plus {
  color: #33b2a4;
  background-color: #1d1d20;
}
.lumis-error {
  color: #e01b24;
}
.lumis-function {
  color: #4e9a06;
}
.lumis-function-builtin {
  color: #4e9a06;
}
.lumis-function-call {
  color: #4e9a06;
}
.lumis-function-macro {
  color: #4e9a06;
  font-weight: bold;
}
.lumis-function-method {
  color: #4e9a06;
}
.lumis-function-method-call {
  color: #4e9a06;
}
.lumis-highlighted {
  background-color: #242428;
}
.lumis-keyword {
  color: #ffa348;
  font-weight: bold;
}
.lumis-keyword-conditional {
  color: #ffa348;
  font-weight: bold;
}
.lumis-keyword-conditional-ternary {
  color: #ffa348;
  font-weight: bold;
}
.lumis-keyword-coroutine {
  color: #ffa348;
  font-weight: bold;
}
.lumis-keyword-debug {
  color: #ffa348;
  font-weight: bold;
}
.lumis-keyword-directive {
  color: #ffa348;
  font-weight: bold;
}
.lumis-keyword-directive-define {
  color: #ffa348;
  font-weight: bold;
}
.lumis-keyword-exception {
  color: #ffa348;
  font-weight: bold;
}
.lumis-keyword-export {
  color: #ffa348;
  font-weight: bold;
}
.lumis-keyword-function {
  color: #ffa348;
  font-weight: bold;
}
.lumis-keyword-import {
  color: #ffa348;
  font-weight: bold;
}
.lumis-keyword-modifier {
  color: #ffa348;
  font-weight: bold;
}
.lumis-keyword-operator {
  color: #ffa348;
  font-weight: bold;
}
.lumis-keyword-repeat {
  color: #ffa348;
  font-weight: bold;
}
.lumis-keyword-return {
  color: #ffa348;
  font-weight: bold;
}
.lumis-keyword-type {
  color: #ffa348;
  font-weight: bold;
}
.lumis-label {
  color: #c061cb;
}
.lumis-markup {
  color: #62a0ea;
}
.lumis-markup-environment {
  color: #62a0ea;
}
.lumis-markup-environment-name {
  color: #62a0ea;
}
.lumis-markup-heading {
  color: #5bc8af;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #5bc8af;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #5bc8af;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #5bc8af;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #5bc8af;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #5bc8af;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #5bc8af;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #ed333b;
}
.lumis-markup-link-url {
  color: #62a0ea;
}
.lumis-markup-list {
  color: #62a0ea;
}
.lumis-markup-list-checked {
  color: #f8e45c;
  font-weight: bold;
}
.lumis-markup-list-markdown {
  color: #e66100;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #f8e45c;
  font-weight: bold;
}
.lumis-markup-math {
  color: #62a0ea;
}
.lumis-markup-quote {
  color: #62a0ea;
}
.lumis-markup-raw {
  color: #7d8ac7;
}
.lumis-markup-raw-block {
  color: #7d8ac7;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #5bc8af;
  font-weight: bold;
}
.lumis-module-builtin {
  color: #62a0ea;
}
.lumis-namespace {
  color: #ffa348;
}
.lumis-normal {
  color: #deddda;
  background-color: #1d1d20;
}
.lumis-number {
  color: #4e57ba;
}
.lumis-number-float {
  color: #33b2a4;
}
.lumis-operator {
  color: #c061cb;
}
.lumis-property {
  color: #deddda;
}
.lumis-punctuation-bracket {
  color: #deddda;
}
.lumis-punctuation-delimiter {
  color: #deddda;
}
.lumis-punctuation-special {
  color: #5bc8af;
}
.lumis-string {
  color: #5bc8af;
}
.lumis-string-documentation {
  color: #5bc8af;
}
.lumis-string-escape {
  color: #62a0ea;
}
.lumis-string-regex {
  color: #c061cb;
}
.lumis-string-regexp {
  color: #62a0ea;
}
.lumis-string-special {
  color: #62a0ea;
}
.lumis-string-special-path {
  color: #62a0ea;
}
.lumis-string-special-symbol {
  color: #62a0ea;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #5bc8af;
}
.lumis-tag-attribute {
  color: #ffa348;
}
.lumis-tag-builtin {
  color: #62a0ea;
}
.lumis-tag-delimiter {
  color: #deddda;
}
.lumis-type {
  color: #5bc8af;
}
.lumis-type-builtin {
  color: #5bc8af;
  font-weight: bold;
}
.lumis-type-definition {
  color: #5bc8af;
  font-weight: bold;
}
.lumis-variable {
  color: #deddda;
}
.lumis-variable-builtin {
  color: #ffa348;
  font-weight: bold;
}
.lumis-variable-member {
  color: #deddda;
}
.lumis-variable-parameter {
  color: #deddda;
}
.lumis-variable-parameter-builtin {
  color: #62a0ea;
}
