/* astrojupiter
 * revision: 95c046b763266a4873bdf0cbf6a1824c929dec3a
 */

pre.lumis {
  color: #815654;
  background-color: #feeeee;
}
.lumis-attribute {
  color: #805c00;
}
.lumis-attribute-builtin {
  color: #805c00;
}
.lumis-boolean {
  color: #954d00;
}
.lumis-character {
  color: #467118;
}
.lumis-character-special {
  color: #006e89;
}
.lumis-comment {
  color: #937c7a;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #937c7a;
  font-style: italic;
}
.lumis-comment-error {
  color: #d04f4e;
}
.lumis-comment-hint {
  color: #00976c;
}
.lumis-comment-note {
  color: #0090a2;
}
.lumis-comment-todo {
  color: #ac7300;
}
.lumis-comment-warning {
  color: #ac7300;
}
.lumis-constant {
  color: #805c00;
}
.lumis-constant-builtin {
  color: #805c00;
}
.lumis-constant-macro {
  color: #805c00;
}
.lumis-constant-rust {
  color: #007652;
}
.lumis-constructor {
  color: #006e89;
}
.lumis-constructor-lua {
  color: #954d00;
}
.lumis-constructor-tsx {
  color: #90437a;
}
.lumis-constructor-typescript {
  color: #90437a;
}
.lumis-diff-delta {
  background-color: #dfcab3;
}
.lumis-diff-minus {
  background-color: #e7c2c0;
}
.lumis-diff-plus {
  color: #467118;
}
.lumis-error {
  color: #d04f4e;
}
.lumis-function {
  color: #006e89;
}
.lumis-function-builtin {
  color: #007652;
}
.lumis-function-call {
  color: #006e89;
}
.lumis-function-macro {
  color: #805c00;
}
.lumis-function-macro-rust {
  color: #a13f37;
}
.lumis-function-method {
  color: #006e89;
}
.lumis-function-method-call {
  color: #006e89;
}
.lumis-highlighted {
  background-color: #f6ddd8;
}
.lumis-keyword {
  color: #90437a;
}
.lumis-keyword-conditional {
  color: #90437a;
}
.lumis-keyword-conditional-ternary {
  color: #90437a;
}
.lumis-keyword-coroutine {
  color: #90437a;
}
.lumis-keyword-debug {
  color: #0090a2;
}
.lumis-keyword-directive {
  color: #90437a;
}
.lumis-keyword-directive-define {
  color: #90437a;
}
.lumis-keyword-exception {
  color: #90437a;
}
.lumis-keyword-export {
  color: #90437a;
}
.lumis-keyword-function {
  color: #90437a;
}
.lumis-keyword-import {
  color: #90437a;
}
.lumis-keyword-modifier {
  color: #805c00;
}
.lumis-keyword-operator {
  color: #90437a;
}
.lumis-keyword-repeat {
  color: #90437a;
}
.lumis-keyword-return {
  color: #90437a;
}
.lumis-keyword-type {
  color: #805c00;
}
.lumis-label {
  color: #006e89;
}
.lumis-markup {
  color: #006e89;
}
.lumis-markup-environment {
  color: #954d00;
}
.lumis-markup-environment-name {
  color: #954d00;
}
.lumis-markup-heading {
  color: #815654;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #815654;
  font-weight: bold;
}
.lumis-markup-heading-1-markdown {
  color: #90437a;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #815654;
  font-weight: bold;
}
.lumis-markup-heading-2-markdown {
  color: #006e89;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #815654;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #007652;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #815654;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #467118;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #815654;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #805c00;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #815654;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #805c00;
  font-weight: bold;
}
.lumis-markup-italic {
  color: #815654;
  font-style: italic;
}
.lumis-markup-link {
  color: #805c00;
  font-weight: bold;
}
.lumis-markup-link-label {
  color: #467118;
}
.lumis-markup-link-url {
  color: #006e89;
  font-style: italic;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #006e89;
}
.lumis-markup-list-checked {
  color: #00976c;
  font-weight: bold;
}
.lumis-markup-list-markdown {
  color: #954d00;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #0090a2;
  font-weight: bold;
}
.lumis-markup-math {
  color: #006e89;
}
.lumis-markup-quote {
  color: #815654;
  font-style: italic;
}
.lumis-markup-raw {
  color: #a13f37;
}
.lumis-markup-raw-block {
  color: #815654;
}
.lumis-markup-strikethrough {
  color: #815654;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #815654;
  font-weight: bold;
}
.lumis-module {
  color: #90437a;
}
.lumis-module-builtin {
  color: #805c00;
}
.lumis-namespace {
  color: #90437a;
}
.lumis-normal {
  color: #815654;
  background-color: #feeeee;
}
.lumis-number {
  color: #954d00;
}
.lumis-number-css {
  color: #007652;
}
.lumis-number-float {
  color: #805c00;
}
.lumis-operator {
  color: #815654;
}
.lumis-property {
  color: #a13f37;
}
.lumis-property-cpp {
  color: #954d00;
}
.lumis-property-css {
  color: #954d00;
}
.lumis-punctuation-bracket {
  color: #815654;
}
.lumis-punctuation-bracket-php {
  color: #90437a;
  font-weight: bold;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #a13f37;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #805c00;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #006e89;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #954d00;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #467118;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #90437a;
}
.lumis-punctuation-delimiter {
  color: #815654;
}
.lumis-punctuation-special {
  color: #815654;
}
.lumis-punctuation-special-rust {
  color: #90437a;
}
.lumis-string {
  color: #467118;
}
.lumis-string-documentation {
  color: #467118;
}
.lumis-string-escape {
  color: #a13f37;
}
.lumis-string-regexp {
  color: #467118;
}
.lumis-string-special {
  color: #467118;
}
.lumis-string-special-path {
  color: #467118;
}
.lumis-string-special-symbol {
  color: #467118;
}
.lumis-string-special-symbol-ruby {
  color: #954d00;
}
.lumis-string-special-url {
  color: #006e89;
  font-style: italic;
  text-decoration: underline;
}
.lumis-tag {
  color: #a13f37;
}
.lumis-tag-attribute {
  color: #007652;
}
.lumis-tag-attribute-tsx {
  color: #90437a;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #006e89;
}
.lumis-tag-delimiter {
  color: #815654;
}
.lumis-type {
  color: #006e89;
}
.lumis-type-builtin {
  color: #805c00;
}
.lumis-type-css {
  color: #954d00;
}
.lumis-type-definition {
  color: #006e89;
}
.lumis-type-rust {
  color: #007652;
}
.lumis-variable {
  color: #815654;
}
.lumis-variable-builtin {
  color: #007652;
}
.lumis-variable-member {
  color: #a13f37;
}
.lumis-variable-parameter {
  color: #954d00;
}
.lumis-variable-parameter-builtin {
  color: #954d00;
}
