/* ayu_light
 * revision: e5a9f0fa2918d6b5f57c21b3ac014314ee5e41c8
 */

pre.lumis {
  color: #5c6166;
  background-color: #f8f9fa;
}
.lumis-attribute {
  color: #ffaa33;
}
.lumis-attribute-builtin {
  color: #ffaa33;
}
.lumis-boolean {
  color: #a37acc;
}
.lumis-character {
  color: #a37acc;
}
.lumis-character-special {
  color: #ffaa33;
}
.lumis-comment {
  color: #abadb1;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #abadb1;
  font-style: italic;
}
.lumis-comment-error {
  color: #e65050;
}
.lumis-comment-hint {
  color: #abadb1;
  font-style: italic;
}
.lumis-comment-note {
  color: #55b4d4;
}
.lumis-comment-todo {
  color: #f07171;
}
.lumis-comment-warning {
  color: #fa8d3e;
}
.lumis-constant {
  color: #a37acc;
}
.lumis-constant-builtin {
  color: #ffaa33;
}
.lumis-constant-macro {
  color: #a37acc;
}
.lumis-constructor {
  color: #ffaa33;
}
.lumis-diff-delta {
  color: #478acc;
}
.lumis-diff-minus {
  color: #ff7383;
}
.lumis-diff-plus {
  color: #6cbf43;
}
.lumis-function {
  color: #f2ae49;
}
.lumis-function-builtin {
  color: #ffaa33;
}
.lumis-function-call {
  color: #f2ae49;
}
.lumis-function-macro {
  color: #f2ae49;
}
.lumis-function-method {
  color: #f2ae49;
}
.lumis-function-method-call {
  color: #f2ae49;
}
.lumis-highlighted {
  background-color: #e7eaed;
}
.lumis-keyword {
  color: #fa8d3e;
}
.lumis-keyword-conditional {
  color: #fa8d3e;
}
.lumis-keyword-conditional-ternary {
  color: #fa8d3e;
}
.lumis-keyword-coroutine {
  color: #fa8d3e;
}
.lumis-keyword-debug {
  color: #fa8d3e;
}
.lumis-keyword-directive {
  color: #fa8d3e;
}
.lumis-keyword-directive-define {
  color: #fa8d3e;
}
.lumis-keyword-exception {
  color: #fa8d3e;
}
.lumis-keyword-export {
  color: #fa8d3e;
}
.lumis-keyword-function {
  color: #fa8d3e;
}
.lumis-keyword-import {
  color: #fa8d3e;
}
.lumis-keyword-modifier {
  color: #fa8d3e;
}
.lumis-keyword-operator {
  color: #fa8d3e;
}
.lumis-keyword-repeat {
  color: #fa8d3e;
}
.lumis-keyword-return {
  color: #fa8d3e;
}
.lumis-keyword-type {
  color: #fa8d3e;
}
.lumis-label {
  color: #fa8d3e;
}
.lumis-markup {
  color: #ffaa33;
}
.lumis-markup-environment {
  color: #ffaa33;
}
.lumis-markup-environment-name {
  color: #ffaa33;
}
.lumis-markup-heading {
  color: #fa8d3e;
}
.lumis-markup-heading-1 {
  color: #fa8d3e;
}
.lumis-markup-heading-2 {
  color: #fa8d3e;
}
.lumis-markup-heading-3 {
  color: #fa8d3e;
}
.lumis-markup-heading-4 {
  color: #fa8d3e;
}
.lumis-markup-heading-5 {
  color: #fa8d3e;
}
.lumis-markup-heading-6 {
  color: #fa8d3e;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  text-decoration: underline;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #ffaa33;
}
.lumis-markup-list-checked {
  color: #ffaa33;
}
.lumis-markup-list-unchecked {
  color: #ffaa33;
}
.lumis-markup-math {
  color: #ffaa33;
}
.lumis-markup-quote {
  color: #ffaa33;
}
.lumis-markup-raw {
  color: #ffaa33;
}
.lumis-markup-raw-block {
  color: #ffaa33;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #f2ae49;
}
.lumis-module-builtin {
  color: #ffaa33;
}
.lumis-normal {
  color: #5c6166;
  background-color: #f8f9fa;
}
.lumis-number {
  color: #a37acc;
}
.lumis-number-float {
  color: #a37acc;
}
.lumis-operator {
  color: #ed9366;
}
.lumis-property {
  color: #55b4d4;
}
.lumis-punctuation-bracket {
  color: #e6ba7e;
}
.lumis-punctuation-delimiter {
  color: #e6ba7e;
}
.lumis-punctuation-special {
  color: #ffaa33;
}
.lumis-string {
  color: #86b300;
}
.lumis-string-documentation {
  color: #86b300;
}
.lumis-string-escape {
  color: #ffaa33;
}
.lumis-string-regexp {
  color: #ffaa33;
}
.lumis-string-special {
  color: #ffaa33;
}
.lumis-string-special-path {
  color: #ffaa33;
}
.lumis-string-special-symbol {
  color: #ffaa33;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #fa8d3e;
}
.lumis-tag-attribute {
  color: #399ee6;
}
.lumis-tag-builtin {
  color: #ffaa33;
}
.lumis-tag-delimiter {
  color: #e6ba7e;
}
.lumis-type {
  color: #399ee6;
}
.lumis-type-builtin {
  color: #ffaa33;
}
.lumis-type-definition {
  color: #399ee6;
}
.lumis-variable {
  color: #5c6166;
}
.lumis-variable-builtin {
  color: #f2ae49;
}
.lumis-variable-member {
  color: #55b4d4;
}
.lumis-variable-parameter {
  color: #5c6166;
}
.lumis-variable-parameter-builtin {
  color: #ffaa33;
}
