/* bamboo_light
 * revision: 1309bc88bffcf1bedc3e84e7fa9004de93da774a
 */

pre.lumis {
  color: #3a4238;
  background-color: #fafae0;
}
.lumis-attribute {
  color: #188a9e;
}
.lumis-attribute-builtin {
  color: #c72a3c;
}
.lumis-attribute-typescript {
  color: #1745d5;
}
.lumis-boolean {
  color: #df5926;
}
.lumis-character {
  color: #df5926;
}
.lumis-character-special {
  color: #c72a3c;
}
.lumis-comment {
  color: #6f4c05;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #6f4c05;
  font-style: italic;
}
.lumis-comment-error {
  color: #fff8f0;
  background-color: #c72a3c;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #6f4c05;
  font-style: italic;
}
.lumis-comment-note {
  color: #fff8f0;
  background-color: #1745d5;
  font-weight: bold;
}
.lumis-comment-todo {
  color: #fff8f0;
  background-color: #8a4adf;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #fff8f0;
  background-color: #df5926;
  font-weight: bold;
}
.lumis-comment-warning-gitcommit {
  background-color: #f3d2b2;
}
.lumis-constant {
  color: #df5926;
}
.lumis-constant-builtin {
  color: #df5926;
}
.lumis-constant-macro {
  color: #c810d0;
}
.lumis-constructor {
  color: #a77b00;
  font-weight: bold;
}
.lumis-constructor-lua {
  color: #a77b00;
}
.lumis-diff-delta {
  background-color: #d2dceb;
}
.lumis-diff-minus {
  background-color: #f9afb5;
}
.lumis-diff-plus {
  background-color: #c0e3ab;
}
.lumis-error {
  color: #c72a3c;
}
.lumis-function {
  color: #1745d5;
}
.lumis-function-builtin {
  color: #df5926;
}
.lumis-function-call {
  color: #1745d5;
}
.lumis-function-macro {
  color: #c810d0;
}
.lumis-function-method {
  color: #1745d5;
}
.lumis-function-method-call {
  color: #1745d5;
}
.lumis-highlighted {
  background-color: #eaead0;
}
.lumis-keyword {
  color: #8a4adf;
}
.lumis-keyword-conditional {
  color: #8a4adf;
  font-style: italic;
}
.lumis-keyword-conditional-ternary {
  color: #6c47a0;
}
.lumis-keyword-coroutine {
  color: #8a4adf;
}
.lumis-keyword-debug {
  color: #8a4adf;
}
.lumis-keyword-directive {
  color: #8a4adf;
}
.lumis-keyword-directive-define {
  color: #8a4adf;
  font-weight: bold;
}
.lumis-keyword-exception {
  color: #8a4adf;
}
.lumis-keyword-export {
  color: #8a4adf;
}
.lumis-keyword-function {
  color: #8a4adf;
}
.lumis-keyword-import {
  color: #8a4adf;
}
.lumis-keyword-modifier {
  color: #8a4adf;
  font-style: italic;
}
.lumis-keyword-operator {
  color: #8a4adf;
}
.lumis-keyword-repeat {
  color: #8a4adf;
}
.lumis-keyword-return {
  color: #8a4adf;
}
.lumis-keyword-type {
  color: #8a4adf;
}
.lumis-label {
  color: #c72a3c;
  font-weight: bold;
}
.lumis-label-diff {
  color: #a77b00;
}
.lumis-markup {
  color: #c72a3c;
}
.lumis-markup-environment {
  color: #c72a3c;
}
.lumis-markup-environment-name {
  color: #c72a3c;
}
.lumis-markup-heading {
  color: #df5926;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #95202d;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #a7431d;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #7d5c00;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #1d6408;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #126877;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #1134a0;
  font-weight: bold;
}
.lumis-markup-italic {
  color: #df5926;
  font-style: italic;
}
.lumis-markup-link {
  color: #1745d5;
}
.lumis-markup-link-label {
  color: #1745d5;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #188a9e;
  font-style: italic;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #c72a3c;
}
.lumis-markup-list-checked {
  color: #a77b00;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #838781;
  font-weight: bold;
}
.lumis-markup-math {
  color: #177fff;
}
.lumis-markup-quote {
  color: #838781;
}
.lumis-markup-raw {
  color: #27850b;
}
.lumis-markup-raw-block {
  color: #27850b;
}
.lumis-markup-strikethrough {
  color: #df5926;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #df5926;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #df5926;
  text-decoration: underline;
}
.lumis-module {
  color: #177fff;
  font-style: italic;
}
.lumis-module-builtin {
  color: #c72a3c;
}
.lumis-module-latex {
  color: #188a9e;
  font-style: italic;
}
.lumis-number {
  color: #df5926;
}
.lumis-number-float {
  color: #df5926;
}
.lumis-operator {
  color: #6c47a0;
}
.lumis-property {
  color: #188a9e;
}
.lumis-punctuation-bracket {
  color: #838781;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #95202d;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #7d5c00;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #1134a0;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #a7431d;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #1d6408;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #6838a7;
}
.lumis-punctuation-delimiter {
  color: #838781;
}
.lumis-punctuation-special {
  color: #c72a3c;
}
.lumis-punctuation-special-diff {
  color: #838781;
}
.lumis-string {
  color: #27850b;
}
.lumis-string-documentation {
  color: #1d6408;
}
.lumis-string-escape {
  color: #c05050;
}
.lumis-string-regexp {
  color: #df5926;
}
.lumis-string-special {
  color: #c72a3c;
}
.lumis-string-special-path {
  color: #177fff;
  text-decoration: underline;
}
.lumis-string-special-path-diff {
  color: #177fff;
}
.lumis-string-special-symbol {
  color: #188a9e;
}
.lumis-string-special-url {
  color: #188a9e;
  font-style: italic;
  text-decoration: underline;
}
.lumis-tag {
  color: #8a4adf;
}
.lumis-tag-attribute {
  color: #188a9e;
}
.lumis-tag-builtin {
  color: #8a4adf;
}
.lumis-tag-delimiter {
  color: #838781;
}
.lumis-type {
  color: #a77b00;
}
.lumis-type-builtin {
  color: #a77b00;
}
.lumis-type-definition {
  color: #a77b00;
}
.lumis-variable {
  color: #3a4238;
}
.lumis-variable-builtin {
  color: #c72a3c;
}
.lumis-variable-member {
  color: #188a9e;
}
.lumis-variable-parameter {
  color: #c05050;
  font-style: italic;
}
.lumis-variable-parameter-builtin {
  color: #c72a3c;
  font-style: italic;
}
