/* bamboo_multiplex
 * revision: 1309bc88bffcf1bedc3e84e7fa9004de93da774a
 */

pre.lumis {
  color: #ece1c0;
  background-color: #232923;
}
.lumis-attribute {
  color: #68baae;
}
.lumis-attribute-builtin {
  color: #dc4f62;
}
.lumis-attribute-typescript {
  color: #409cdc;
}
.lumis-boolean {
  color: #ef9946;
}
.lumis-character {
  color: #ef9946;
}
.lumis-character-special {
  color: #dc4f62;
}
.lumis-comment {
  color: #dcbf84;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #dcbf84;
  font-style: italic;
}
.lumis-comment-error {
  color: #101210;
  background-color: #dc4f62;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #dcbf84;
  font-style: italic;
}
.lumis-comment-note {
  color: #101210;
  background-color: #409cdc;
  font-weight: bold;
}
.lumis-comment-todo {
  color: #101210;
  background-color: #a09af8;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #101210;
  background-color: #ef9946;
  font-weight: bold;
}
.lumis-comment-warning-gitcommit {
  background-color: #56452c;
}
.lumis-constant {
  color: #ef9946;
}
.lumis-constant-builtin {
  color: #ef9946;
}
.lumis-constant-macro {
  color: #de6bdb;
}
.lumis-constructor {
  color: #ceba49;
  font-weight: bold;
}
.lumis-constructor-lua {
  color: #ceba49;
}
.lumis-diff-delta {
  background-color: #2a3a57;
}
.lumis-diff-minus {
  background-color: #893f45;
}
.lumis-diff-plus {
  background-color: #40531b;
}
.lumis-error {
  color: #dc4f62;
}
.lumis-function {
  color: #409cdc;
}
.lumis-function-builtin {
  color: #ef9946;
}
.lumis-function-call {
  color: #409cdc;
}
.lumis-function-macro {
  color: #de6bdb;
}
.lumis-function-method {
  color: #409cdc;
}
.lumis-function-method-call {
  color: #409cdc;
}
.lumis-highlighted {
  background-color: #2d312c;
}
.lumis-keyword {
  color: #a09af8;
}
.lumis-keyword-conditional {
  color: #a09af8;
  font-style: italic;
}
.lumis-keyword-conditional-ternary {
  color: #bdb5e3;
}
.lumis-keyword-coroutine {
  color: #a09af8;
}
.lumis-keyword-debug {
  color: #a09af8;
}
.lumis-keyword-directive {
  color: #a09af8;
}
.lumis-keyword-directive-define {
  color: #a09af8;
  font-weight: bold;
}
.lumis-keyword-exception {
  color: #a09af8;
}
.lumis-keyword-export {
  color: #a09af8;
}
.lumis-keyword-function {
  color: #a09af8;
}
.lumis-keyword-import {
  color: #a09af8;
}
.lumis-keyword-modifier {
  color: #a09af8;
  font-style: italic;
}
.lumis-keyword-operator {
  color: #a09af8;
}
.lumis-keyword-repeat {
  color: #a09af8;
}
.lumis-keyword-return {
  color: #a09af8;
}
.lumis-keyword-type {
  color: #a09af8;
}
.lumis-label {
  color: #dc4f62;
  font-weight: bold;
}
.lumis-label-diff {
  color: #ceba49;
}
.lumis-markup {
  color: #dc4f62;
}
.lumis-markup-environment {
  color: #dc4f62;
}
.lumis-markup-environment-name {
  color: #dc4f62;
}
.lumis-markup-heading {
  color: #ef9946;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #e57b89;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #f3b374;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #dacb77;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #a1c382;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #8ecbc2;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #70b5e5;
  font-weight: bold;
}
.lumis-markup-italic {
  color: #ef9946;
  font-style: italic;
}
.lumis-markup-link {
  color: #409cdc;
}
.lumis-markup-link-label {
  color: #409cdc;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #68baae;
  font-style: italic;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #dc4f62;
}
.lumis-markup-list-checked {
  color: #ceba49;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #818781;
  font-weight: bold;
}
.lumis-markup-math {
  color: #88c1e9;
}
.lumis-markup-quote {
  color: #818781;
}
.lumis-markup-raw {
  color: #81af58;
}
.lumis-markup-raw-block {
  color: #81af58;
}
.lumis-markup-strikethrough {
  color: #ef9946;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #ef9946;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #ef9946;
  text-decoration: underline;
}
.lumis-module {
  color: #88c1e9;
  font-style: italic;
}
.lumis-module-builtin {
  color: #dc4f62;
}
.lumis-module-latex {
  color: #68baae;
  font-style: italic;
}
.lumis-normal {
  color: #ece1c0;
  background-color: #232923;
}
.lumis-number {
  color: #ef9946;
}
.lumis-number-float {
  color: #ef9946;
}
.lumis-operator {
  color: #bdb5e3;
}
.lumis-property {
  color: #68baae;
}
.lumis-punctuation-bracket {
  color: #818781;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #e57b89;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #dacb77;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #70b5e5;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #f3b374;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #a1c382;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #b8b3fa;
}
.lumis-punctuation-delimiter {
  color: #818781;
}
.lumis-punctuation-special {
  color: #dc4f62;
}
.lumis-punctuation-special-diff {
  color: #818781;
}
.lumis-string {
  color: #81af58;
}
.lumis-string-documentation {
  color: #a1c382;
}
.lumis-string-escape {
  color: #e07870;
}
.lumis-string-regexp {
  color: #ef9946;
}
.lumis-string-special {
  color: #dc4f62;
}
.lumis-string-special-path {
  color: #88c1e9;
  text-decoration: underline;
}
.lumis-string-special-path-diff {
  color: #88c1e9;
}
.lumis-string-special-symbol {
  color: #68baae;
}
.lumis-string-special-url {
  color: #68baae;
  font-style: italic;
  text-decoration: underline;
}
.lumis-tag {
  color: #a09af8;
}
.lumis-tag-attribute {
  color: #68baae;
}
.lumis-tag-builtin {
  color: #a09af8;
}
.lumis-tag-delimiter {
  color: #818781;
}
.lumis-type {
  color: #ceba49;
}
.lumis-type-builtin {
  color: #ceba49;
}
.lumis-type-definition {
  color: #ceba49;
}
.lumis-variable {
  color: #ece1c0;
}
.lumis-variable-builtin {
  color: #dc4f62;
}
.lumis-variable-member {
  color: #68baae;
}
.lumis-variable-parameter {
  color: #e07870;
  font-style: italic;
}
.lumis-variable-parameter-builtin {
  color: #dc4f62;
  font-style: italic;
}
