/* bluloco_dark
 * revision: 4daabf6a9e6b9ecdcb19e7c78e888be0bacd866c
 */

pre.lumis {
  color: #abb2bf;
  background-color: #282c34;
}
.lumis-attribute {
  color: #50adaf;
}
.lumis-attribute-builtin {
  color: #ff956b;
}
.lumis-boolean {
  color: #10b3fe;
}
.lumis-character {
  color: #ff956b;
}
.lumis-character-special {
  color: #ff956b;
}
.lumis-comment {
  color: #636d83;
}
.lumis-comment-documentation {
  color: #636d83;
}
.lumis-comment-error {
  color: #ff2e3f;
}
.lumis-comment-hint {
  color: #636d83;
}
.lumis-comment-note {
  color: #3892ff;
}
.lumis-comment-todo {
  color: #ffffff;
  background-color: #3892ff;
}
.lumis-comment-warning {
  color: #da7b44;
}
.lumis-constant {
  color: #a081fe;
}
.lumis-constant-builtin {
  color: #10b3fe;
}
.lumis-constant-macro {
  color: #a081fe;
}
.lumis-constructor {
  color: #ff6682;
}
.lumis-diff-delta {
  color: #3892ff;
}
.lumis-diff-minus {
  color: #ff6682;
}
.lumis-diff-plus {
  color: #3fc66c;
}
.lumis-error {
  color: #ff2e3f;
}
.lumis-function {
  color: #3fc66c;
}
.lumis-function-builtin {
  color: #3fc66c;
}
.lumis-function-call {
  color: #3fc66c;
}
.lumis-function-macro {
  color: #3fc66c;
}
.lumis-function-method {
  color: #3fc66c;
}
.lumis-function-method-call {
  color: #3fc66c;
}
.lumis-highlighted {
  background-color: #384252;
}
.lumis-keyword {
  color: #10b3fe;
}
.lumis-keyword-conditional {
  color: #10b3fe;
}
.lumis-keyword-conditional-ternary {
  color: #10b3fe;
}
.lumis-keyword-coroutine {
  color: #10b3fe;
}
.lumis-keyword-debug {
  color: #10b3fe;
}
.lumis-keyword-directive {
  color: #10b3fe;
}
.lumis-keyword-directive-define {
  color: #10b3fe;
}
.lumis-keyword-exception {
  color: #10b3fe;
}
.lumis-keyword-export {
  color: #10b3fe;
}
.lumis-keyword-function {
  color: #10b3fe;
}
.lumis-keyword-import {
  color: #10b3fe;
}
.lumis-keyword-modifier {
  color: #10b3fe;
}
.lumis-keyword-operator {
  color: #10b3fe;
}
.lumis-keyword-repeat {
  color: #10b3fe;
}
.lumis-keyword-return {
  color: #10b3fe;
}
.lumis-keyword-type {
  color: #10b3fe;
}
.lumis-label {
  color: #50adaf;
}
.lumis-label-json {
  color: #ce9888;
}
.lumis-markup {
  color: #ff956b;
}
.lumis-markup-environment {
  color: #ff956b;
}
.lumis-markup-environment-name {
  color: #ff956b;
}
.lumis-markup-heading {
  color: #10b3fe;
}
.lumis-markup-heading-1 {
  color: #10b3fe;
}
.lumis-markup-heading-2 {
  color: #10b3fe;
}
.lumis-markup-heading-3 {
  color: #10b3fe;
}
.lumis-markup-heading-4 {
  color: #10b3fe;
}
.lumis-markup-heading-5 {
  color: #10b3fe;
}
.lumis-markup-heading-6 {
  color: #10b3fe;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #3892ff;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #7c84da;
}
.lumis-markup-list-checked {
  color: #7c84da;
}
.lumis-markup-list-unchecked {
  color: #7c84da;
}
.lumis-markup-math {
  color: #ff956b;
}
.lumis-markup-quote {
  color: #ff956b;
}
.lumis-markup-raw {
  color: #ce9888;
}
.lumis-markup-raw-block {
  color: #ce9888;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #ff859d;
}
.lumis-module-builtin {
  color: #ff956b;
}
.lumis-namespace {
  color: #ff859d;
}
.lumis-normal {
  color: #abb2bf;
  background-color: #282c34;
}
.lumis-number {
  color: #ff7af8;
}
.lumis-number-float {
  color: #ff7af8;
}
.lumis-operator {
  color: #7c84da;
}
.lumis-property {
  color: #ce9888;
}
.lumis-punctuation-bracket {
  color: #7c84da;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #ff6666;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #f4ff7a;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #42a4ff;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #ffa024;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #91f532;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #ff7aff;
}
.lumis-punctuation-delimiter {
  color: #7c84da;
}
.lumis-punctuation-special {
  color: #7c84da;
}
.lumis-string {
  color: #f9c958;
}
.lumis-string-documentation {
  color: #f9c958;
}
.lumis-string-escape {
  color: #ff956b;
}
.lumis-string-regexp {
  color: #ff956b;
}
.lumis-string-special {
  color: #ff956b;
}
.lumis-string-special-path {
  color: #ff956b;
}
.lumis-string-special-symbol {
  color: #a081fe;
}
.lumis-string-special-url {
  color: #3892ff;
  text-decoration: underline;
}
.lumis-tag {
  color: #3892ff;
}
.lumis-tag-attribute {
  color: #ff956b;
}
.lumis-tag-builtin {
  color: #3892ff;
}
.lumis-tag-delimiter {
  color: #3892ff;
}
.lumis-type {
  color: #ff6682;
}
.lumis-type-builtin {
  color: #10b3fe;
}
.lumis-type-definition {
  color: #ff6682;
}
.lumis-variable {
  color: #abb2bf;
}
.lumis-variable-builtin {
  color: #10b3fe;
}
.lumis-variable-member {
  color: #ce9888;
}
.lumis-variable-parameter {
  color: #8acdef;
}
.lumis-variable-parameter-builtin {
  color: #ff956b;
}
