/* cobalt2
 * revision: 0cc17f3491feba19ed62b2d9622577f7822a0113
 */

pre.lumis {
  color: #e0e0e0;
  background-color: #111111;
}
.lumis-attribute {
  color: #ffff00;
}
.lumis-attribute-builtin {
  color: #b300b3;
  font-weight: bold;
}
.lumis-boolean {
  color: #ffa500;
}
.lumis-character {
  color: #ff0000;
}
.lumis-character-special {
  color: #ff0000;
  font-weight: bold;
}
.lumis-comment {
  color: #b0b1b0;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #b0b1b0;
  font-style: italic;
}
.lumis-comment-error {
  color: #ff0000;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #b0b1b0;
  font-style: italic;
}
.lumis-comment-note {
  color: #8cf8f7;
}
.lumis-comment-todo {
  color: #ffff00;
}
.lumis-comment-warning {
  color: #fce094;
}
.lumis-constant {
  color: #ffa500;
  font-weight: bold;
}
.lumis-constant-builtin {
  color: #b300b3;
  font-weight: bold;
}
.lumis-constant-macro {
  color: #ffa500;
  font-weight: bold;
}
.lumis-constructor {
  color: #b300b3;
  font-weight: bold;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #ffff00;
}
.lumis-function-builtin {
  color: #b300b3;
  font-weight: bold;
}
.lumis-function-call {
  color: #ffff00;
}
.lumis-function-macro {
  color: #ffff00;
}
.lumis-function-method {
  color: #ffff00;
}
.lumis-function-method-call {
  color: #ffff00;
}
.lumis-highlighted {
  background-color: #2b2b2b;
}
.lumis-keyword {
  color: #ee82ee;
}
.lumis-keyword-conditional {
  color: #ee82ee;
}
.lumis-keyword-conditional-ternary {
  color: #ee82ee;
}
.lumis-keyword-coroutine {
  color: #ee82ee;
}
.lumis-keyword-debug {
  color: #ee82ee;
}
.lumis-keyword-directive {
  color: #ee82ee;
}
.lumis-keyword-directive-define {
  color: #ee82ee;
}
.lumis-keyword-exception {
  color: #ee82ee;
}
.lumis-keyword-export {
  color: #ee82ee;
}
.lumis-keyword-function {
  color: #ee82ee;
}
.lumis-keyword-import {
  color: #ee82ee;
}
.lumis-keyword-modifier {
  color: #ee82ee;
}
.lumis-keyword-operator {
  color: #ee82ee;
}
.lumis-keyword-repeat {
  color: #ee82ee;
}
.lumis-keyword-return {
  color: #ee82ee;
}
.lumis-keyword-type {
  color: #ee82ee;
}
.lumis-label {
  color: #ffff00;
}
.lumis-markup {
  color: #b300b3;
  font-weight: bold;
}
.lumis-markup-environment {
  color: #b300b3;
  font-weight: bold;
}
.lumis-markup-environment-name {
  color: #b300b3;
  font-weight: bold;
}
.lumis-markup-heading {
  color: #e0e2ea;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #e0e2ea;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #e0e2ea;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #e0e2ea;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #e0e2ea;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #e0e2ea;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #e0e2ea;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  text-decoration: underline;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #b300b3;
  font-weight: bold;
}
.lumis-markup-list-checked {
  color: #b300b3;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #b300b3;
  font-weight: bold;
}
.lumis-markup-math {
  color: #b300b3;
  font-weight: bold;
}
.lumis-markup-quote {
  color: #b300b3;
  font-weight: bold;
}
.lumis-markup-raw {
  color: #b300b3;
  font-weight: bold;
}
.lumis-markup-raw-block {
  color: #b300b3;
  font-weight: bold;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #ee82ee;
}
.lumis-module-builtin {
  color: #b300b3;
  font-weight: bold;
}
.lumis-number {
  color: #ff0000;
}
.lumis-number-float {
  color: #ff0000;
}
.lumis-operator {
  color: #ff6666;
}
.lumis-property {
  color: #e0e0e0;
}
.lumis-punctuation-bracket {
  color: #e0e2ea;
}
.lumis-punctuation-delimiter {
  color: #e0e2ea;
}
.lumis-punctuation-special {
  color: #b300b3;
  font-weight: bold;
}
.lumis-string {
  color: #008000;
}
.lumis-string-documentation {
  color: #008000;
}
.lumis-string-escape {
  color: #a52a2a;
}
.lumis-string-regexp {
  color: #a52a2a;
}
.lumis-string-special {
  color: #a52a2a;
}
.lumis-string-special-path {
  color: #a52a2a;
}
.lumis-string-special-symbol {
  color: #a52a2a;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #ffff00;
}
.lumis-tag-attribute {
  color: #ffff00;
}
.lumis-tag-attribute-html {
  color: #ee82ee;
}
.lumis-tag-builtin {
  color: #b300b3;
  font-weight: bold;
}
.lumis-tag-delimiter {
  color: #ffff00;
}
.lumis-tag-delimiter-html {
  color: #3333ff;
}
.lumis-type {
  color: #ee82ee;
  font-style: italic;
}
.lumis-type-builtin {
  color: #ee82ee;
  font-weight: bold;
}
.lumis-type-definition {
  color: #ee82ee;
  font-style: italic;
}
.lumis-variable {
  color: #e0e0e0;
}
.lumis-variable-builtin {
  color: #ffff00;
}
.lumis-variable-member {
  color: #e0e0e0;
}
.lumis-variable-parameter {
  color: #e0e0e0;
}
.lumis-variable-parameter-builtin {
  color: #b300b3;
  font-weight: bold;
}
