/* darkvoid
 * revision: 45be993a5617e05811b6b293c05e6aded7003cc9
 */

pre.lumis {
  color: #c0c0c0;
  background-color: #1c1c1c;
}
.lumis-attribute {
  color: #b1b1b1;
}
.lumis-attribute-builtin {
  color: #8cf8f7;
}
.lumis-boolean {
  color: #66b2b2;
}
.lumis-character {
  color: #b2d8d8;
}
.lumis-character-special {
  color: #8cf8f7;
}
.lumis-comment {
  color: #585858;
}
.lumis-comment-documentation {
  color: #585858;
}
.lumis-comment-error {
  color: #dea6a0;
}
.lumis-comment-hint {
  color: #585858;
}
.lumis-comment-note {
  color: #7fa1c3;
}
.lumis-comment-todo {
  color: #e0e2ea;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #d6efd8;
}
.lumis-constant {
  color: #b2d8d8;
}
.lumis-constant-builtin {
  color: #b2d8d8;
}
.lumis-constant-macro {
  color: #b2d8d8;
}
.lumis-constructor {
  color: #e1e1e1;
}
.lumis-constructor-lua {
  color: #e6e6e6;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #e1e1e1;
}
.lumis-function-builtin {
  color: #e1e1e1;
}
.lumis-function-call {
  color: #e1e1e1;
}
.lumis-function-macro {
  color: #e1e1e1;
}
.lumis-function-method {
  color: #e1e1e1;
}
.lumis-function-method-call {
  color: #e1e1e1;
}
.lumis-highlighted {
  background-color: #2c2e33;
}
.lumis-keyword {
  color: #f1f1f1;
}
.lumis-keyword-conditional {
  color: #f1f1f1;
}
.lumis-keyword-conditional-ternary {
  color: #f1f1f1;
}
.lumis-keyword-coroutine {
  color: #f1f1f1;
}
.lumis-keyword-debug {
  color: #f1f1f1;
}
.lumis-keyword-directive {
  color: #f1f1f1;
}
.lumis-keyword-directive-define {
  color: #f1f1f1;
}
.lumis-keyword-exception {
  color: #f1f1f1;
}
.lumis-keyword-export {
  color: #f1f1f1;
}
.lumis-keyword-function {
  color: #f1f1f1;
}
.lumis-keyword-import {
  color: #f1f1f1;
}
.lumis-keyword-modifier {
  color: #f1f1f1;
}
.lumis-keyword-operator {
  color: #f1f1f1;
}
.lumis-keyword-repeat {
  color: #f1f1f1;
}
.lumis-keyword-return {
  color: #f1f1f1;
}
.lumis-keyword-type {
  color: #f1f1f1;
}
.lumis-label {
  color: #e0e2ea;
  font-weight: bold;
}
.lumis-markup {
  color: #8cf8f7;
}
.lumis-markup-environment {
  color: #8cf8f7;
}
.lumis-markup-environment-name {
  color: #8cf8f7;
}
.lumis-markup-heading {
  color: #e0e2ea;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #e0e2ea;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #e0e2ea;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #e0e2ea;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #e0e2ea;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #e0e2ea;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #e0e2ea;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  text-decoration: underline;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #8cf8f7;
}
.lumis-markup-list-checked {
  color: #8cf8f7;
}
.lumis-markup-list-unchecked {
  color: #8cf8f7;
}
.lumis-markup-math {
  color: #8cf8f7;
}
.lumis-markup-quote {
  color: #8cf8f7;
}
.lumis-markup-raw {
  color: #8cf8f7;
}
.lumis-markup-raw-block {
  color: #8cf8f7;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #b1b1b1;
}
.lumis-module-builtin {
  color: #8cf8f7;
}
.lumis-namespace {
  color: #b1b1b1;
}
.lumis-normal {
  color: #c0c0c0;
  background-color: #1c1c1c;
}
.lumis-number {
  color: #b2d8d8;
}
.lumis-number-float {
  color: #b2d8d8;
}
.lumis-operator {
  color: #1bfd9c;
}
.lumis-property {
  color: #b1b1b1;
}
.lumis-punctuation-bracket {
  color: #e6e6e6;
}
.lumis-punctuation-delimiter {
  color: #e6e6e6;
}
.lumis-punctuation-special {
  color: #1bfd9c;
}
.lumis-string {
  color: #d1d1d1;
}
.lumis-string-documentation {
  color: #d1d1d1;
}
.lumis-string-escape {
  color: #1bfd9c;
}
.lumis-string-regexp {
  color: #8cf8f7;
}
.lumis-string-special {
  color: #8cf8f7;
}
.lumis-string-special-path {
  color: #8cf8f7;
}
.lumis-string-special-symbol {
  color: #8cf8f7;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #e1e1e1;
}
.lumis-tag-attribute {
  color: #b1b1b1;
}
.lumis-tag-builtin {
  color: #8cf8f7;
}
.lumis-tag-delimiter {
  color: #e6e6e6;
}
.lumis-type {
  color: #a1a1a1;
}
.lumis-type-builtin {
  color: #c5c5c5;
}
.lumis-type-definition {
  color: #a1a1a1;
}
.lumis-variable {
  color: #b1b1b1;
}
.lumis-variable-builtin {
  color: #b1b1b1;
}
.lumis-variable-member {
  color: #b1b1b1;
}
.lumis-variable-parameter {
  color: #b1b1b1;
}
.lumis-variable-parameter-builtin {
  color: #8cf8f7;
}
