/* dawnfox
 * revision: 26b61b1f856ec37cae3cb64f5690adb955f246a1
 */

pre.lumis {
  color: #575279;
  background-color: #faf4ed;
}
.lumis-attribute {
  color: #ca6e69;
}
.lumis-attribute-builtin {
  color: #295e73;
}
.lumis-boolean {
  color: #d7827e;
}
.lumis-character {
  color: #618774;
}
.lumis-character-special {
  color: #295e73;
}
.lumis-comment {
  color: #9893a5;
}
.lumis-comment-documentation {
  color: #9893a5;
}
.lumis-comment-error {
  color: #faf4ed;
  background-color: #b4637a;
}
.lumis-comment-hint {
  color: #9893a5;
}
.lumis-comment-note {
  color: #faf4ed;
  background-color: #286983;
}
.lumis-comment-todo {
  color: #faf4ed;
  background-color: #618774;
}
.lumis-comment-warning {
  color: #faf4ed;
  background-color: #ea9d34;
}
.lumis-constant {
  color: #ca6e69;
}
.lumis-constant-builtin {
  color: #ca6e69;
}
.lumis-constant-macro {
  color: #c9709e;
}
.lumis-constructor {
  color: #56949f;
}
.lumis-constructor-lua {
  color: #625c87;
}
.lumis-diff-delta {
  color: #ea9d34;
}
.lumis-diff-minus {
  color: #b4637a;
}
.lumis-diff-plus {
  color: #618774;
}
.lumis-function {
  color: #295e73;
}
.lumis-function-builtin {
  color: #b4637a;
}
.lumis-function-call {
  color: #295e73;
}
.lumis-function-macro {
  color: #b4637a;
}
.lumis-function-method {
  color: #295e73;
}
.lumis-function-method-call {
  color: #295e73;
}
.lumis-highlighted {
  background-color: #ebdfe4;
}
.lumis-keyword {
  color: #907aa9;
}
.lumis-keyword-conditional {
  color: #816b9a;
}
.lumis-keyword-conditional-ternary {
  color: #816b9a;
}
.lumis-keyword-coroutine {
  color: #907aa9;
}
.lumis-keyword-debug {
  color: #907aa9;
}
.lumis-keyword-directive {
  color: #907aa9;
}
.lumis-keyword-directive-define {
  color: #907aa9;
}
.lumis-keyword-exception {
  color: #907aa9;
}
.lumis-keyword-export {
  color: #907aa9;
}
.lumis-keyword-function {
  color: #907aa9;
}
.lumis-keyword-import {
  color: #c9709e;
}
.lumis-keyword-modifier {
  color: #907aa9;
}
.lumis-keyword-operator {
  color: #625c87;
}
.lumis-keyword-repeat {
  color: #816b9a;
}
.lumis-keyword-return {
  color: #b4637a;
}
.lumis-keyword-type {
  color: #907aa9;
}
.lumis-label {
  color: #816b9a;
}
.lumis-label-json {
  color: #295e73;
}
.lumis-markup {
  color: #575279;
}
.lumis-markup-environment {
  color: #575279;
}
.lumis-markup-environment-name {
  color: #575279;
}
.lumis-markup-heading {
  color: #295e73;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #295e73;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #295e73;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #295e73;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #295e73;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #295e73;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #295e73;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #907aa9;
  font-weight: bold;
}
.lumis-markup-link-label {
  color: #295e73;
}
.lumis-markup-link-url {
  color: #ca6e69;
  font-style: italic;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #50848c;
}
.lumis-markup-list-checked {
  color: #618774;
}
.lumis-markup-list-unchecked {
  color: #ea9d34;
}
.lumis-markup-math {
  color: #295e73;
}
.lumis-markup-quote {
  color: #625c87;
}
.lumis-markup-raw {
  color: #56949f;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #d685af;
}
.lumis-markup-strikethrough {
  color: #575279;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #c26d85;
  font-weight: bold;
}
.lumis-module {
  color: #50848c;
}
.lumis-module-builtin {
  color: #295e73;
}
.lumis-namespace {
  color: #50848c;
}
.lumis-number {
  color: #d7827e;
}
.lumis-number-float {
  color: #d7827e;
}
.lumis-operator {
  color: #625c87;
}
.lumis-property {
  color: #286983;
}
.lumis-punctuation-bracket {
  color: #625c87;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #b4637a;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #ea9d34;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #286983;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #d7827e;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #618774;
}
.lumis-punctuation-delimiter {
  color: #625c87;
}
.lumis-punctuation-special {
  color: #50848c;
}
.lumis-string {
  color: #618774;
}
.lumis-string-documentation {
  color: #618774;
}
.lumis-string-escape {
  color: #dd9024;
  font-weight: bold;
}
.lumis-string-regex {
  color: #dd9024;
}
.lumis-string-regexp {
  color: #dd9024;
}
.lumis-string-special {
  color: #295e73;
}
.lumis-string-special-path {
  color: #295e73;
}
.lumis-string-special-symbol {
  color: #295e73;
}
.lumis-string-special-url {
  color: #ca6e69;
  font-style: italic;
  text-decoration: underline;
}
.lumis-tag {
  color: #907aa9;
}
.lumis-tag-attribute {
  color: #295e73;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #295e73;
}
.lumis-tag-delimiter {
  color: #50848c;
}
.lumis-type {
  color: #ea9d34;
}
.lumis-type-builtin {
  color: #50848c;
}
.lumis-type-definition {
  color: #ea9d34;
}
.lumis-variable {
  color: #575279;
}
.lumis-variable-builtin {
  color: #b4637a;
}
.lumis-variable-member {
  color: #286983;
}
.lumis-variable-parameter {
  color: #50848c;
}
.lumis-variable-parameter-builtin {
  color: #295e73;
}
