/* dayfox
 * revision: 26b61b1f856ec37cae3cb64f5690adb955f246a1
 */

pre.lumis {
  color: #3d2b5a;
  background-color: #f6f2ee;
}
.lumis-attribute {
  color: #7f5152;
}
.lumis-attribute-builtin {
  color: #223d90;
}
.lumis-boolean {
  color: #955f61;
}
.lumis-character {
  color: #396847;
}
.lumis-character-special {
  color: #223d90;
}
.lumis-comment {
  color: #837a72;
}
.lumis-comment-documentation {
  color: #837a72;
}
.lumis-comment-error {
  color: #f6f2ee;
  background-color: #a5222f;
}
.lumis-comment-hint {
  color: #837a72;
}
.lumis-comment-note {
  color: #f6f2ee;
  background-color: #2848a9;
}
.lumis-comment-todo {
  color: #f6f2ee;
  background-color: #396847;
}
.lumis-comment-warning {
  color: #f6f2ee;
  background-color: #ac5402;
}
.lumis-constant {
  color: #7f5152;
}
.lumis-constant-builtin {
  color: #7f5152;
}
.lumis-constant-macro {
  color: #8b369a;
}
.lumis-constructor {
  color: #287980;
}
.lumis-constructor-lua {
  color: #643f61;
}
.lumis-diff-delta {
  color: #ac5402;
}
.lumis-diff-minus {
  color: #a5222f;
}
.lumis-diff-plus {
  color: #396847;
}
.lumis-function {
  color: #223d90;
}
.lumis-function-builtin {
  color: #a5222f;
}
.lumis-function-call {
  color: #223d90;
}
.lumis-function-macro {
  color: #a5222f;
}
.lumis-function-method {
  color: #223d90;
}
.lumis-function-method-call {
  color: #223d90;
}
.lumis-highlighted {
  background-color: #d3c7bb;
}
.lumis-keyword {
  color: #6e33ce;
}
.lumis-keyword-conditional {
  color: #5e2baf;
}
.lumis-keyword-conditional-ternary {
  color: #5e2baf;
}
.lumis-keyword-coroutine {
  color: #6e33ce;
}
.lumis-keyword-debug {
  color: #6e33ce;
}
.lumis-keyword-directive {
  color: #6e33ce;
}
.lumis-keyword-directive-define {
  color: #6e33ce;
}
.lumis-keyword-exception {
  color: #6e33ce;
}
.lumis-keyword-export {
  color: #6e33ce;
}
.lumis-keyword-function {
  color: #6e33ce;
}
.lumis-keyword-import {
  color: #8b369a;
}
.lumis-keyword-modifier {
  color: #6e33ce;
}
.lumis-keyword-operator {
  color: #643f61;
}
.lumis-keyword-repeat {
  color: #5e2baf;
}
.lumis-keyword-return {
  color: #a5222f;
}
.lumis-keyword-type {
  color: #6e33ce;
}
.lumis-label {
  color: #5e2baf;
}
.lumis-label-json {
  color: #223d90;
}
.lumis-markup {
  color: #3d2b5a;
}
.lumis-markup-environment {
  color: #3d2b5a;
}
.lumis-markup-environment-name {
  color: #3d2b5a;
}
.lumis-markup-heading {
  color: #223d90;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #223d90;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #223d90;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #223d90;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #223d90;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #223d90;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #223d90;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #6e33ce;
  font-weight: bold;
}
.lumis-markup-link-label {
  color: #223d90;
}
.lumis-markup-link-url {
  color: #7f5152;
  font-style: italic;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #22676d;
}
.lumis-markup-list-checked {
  color: #396847;
}
.lumis-markup-list-unchecked {
  color: #ac5402;
}
.lumis-markup-math {
  color: #223d90;
}
.lumis-markup-quote {
  color: #643f61;
}
.lumis-markup-raw {
  color: #287980;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #a440b5;
}
.lumis-markup-strikethrough {
  color: #3d2b5a;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #b3434e;
  font-weight: bold;
}
.lumis-module {
  color: #22676d;
}
.lumis-module-builtin {
  color: #223d90;
}
.lumis-namespace {
  color: #22676d;
}
.lumis-normal {
  color: #3d2b5a;
  background-color: #f6f2ee;
}
.lumis-number {
  color: #955f61;
}
.lumis-number-float {
  color: #955f61;
}
.lumis-operator {
  color: #643f61;
}
.lumis-property {
  color: #2848a9;
}
.lumis-punctuation-bracket {
  color: #643f61;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #a5222f;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #ac5402;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #2848a9;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #955f61;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #396847;
}
.lumis-punctuation-delimiter {
  color: #643f61;
}
.lumis-punctuation-special {
  color: #22676d;
}
.lumis-string {
  color: #396847;
}
.lumis-string-documentation {
  color: #396847;
}
.lumis-string-escape {
  color: #924702;
  font-weight: bold;
}
.lumis-string-regex {
  color: #924702;
}
.lumis-string-regexp {
  color: #924702;
}
.lumis-string-special {
  color: #223d90;
}
.lumis-string-special-path {
  color: #223d90;
}
.lumis-string-special-symbol {
  color: #223d90;
}
.lumis-string-special-url {
  color: #7f5152;
  font-style: italic;
  text-decoration: underline;
}
.lumis-tag {
  color: #6e33ce;
}
.lumis-tag-attribute {
  color: #223d90;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #223d90;
}
.lumis-tag-delimiter {
  color: #22676d;
}
.lumis-type {
  color: #ac5402;
}
.lumis-type-builtin {
  color: #22676d;
}
.lumis-type-definition {
  color: #ac5402;
}
.lumis-variable {
  color: #352c24;
}
.lumis-variable-builtin {
  color: #a5222f;
}
.lumis-variable-member {
  color: #2848a9;
}
.lumis-variable-parameter {
  color: #22676d;
}
.lumis-variable-parameter-builtin {
  color: #223d90;
}
