/* deepwhite
 * revision: ccad56bb5eb7d29258980cfc0a716eb87bcad69e
 */

pre.lumis {
  color: #1a1918;
  background-color: #faf2eb;
}
.lumis-attribute {
  color: #1a1918;
  font-weight: bold;
}
.lumis-attribute-builtin {
  color: #0000a6;
}
.lumis-boolean {
  color: #1a1918;
  background-color: #d4d4fa;
}
.lumis-character {
  color: #1a1918;
  background-color: #d4d4fa;
}
.lumis-character-special {
  color: #0000a6;
}
.lumis-comment {
  color: #999791;
}
.lumis-comment-documentation {
  color: #999791;
}
.lumis-comment-error {
  color: #faf2eb;
  background-color: #a60000;
}
.lumis-comment-hint {
  color: #999791;
}
.lumis-comment-note {
  color: #0000a6;
}
.lumis-comment-todo {
  color: #00a600;
}
.lumis-comment-warning {
  color: #faf2eb;
  background-color: #f27900;
}
.lumis-constant {
  color: #1a1918;
  background-color: #d4d4fa;
}
.lumis-constant-builtin {
  color: #a6006f;
}
.lumis-constant-macro {
  color: #1a1918;
  font-weight: bold;
}
.lumis-constructor {
  color: #1a1918;
}
.lumis-diff-delta {
  color: #f27900;
}
.lumis-diff-minus {
  color: #a60000;
}
.lumis-diff-plus {
  color: #00a600;
}
.lumis-function {
  color: #1a1918;
}
.lumis-function-builtin {
  color: #0000a6;
}
.lumis-function-call {
  color: #0000a6;
}
.lumis-function-macro {
  color: #1a1918;
  font-weight: bold;
}
.lumis-function-method {
  color: #1a1918;
}
.lumis-function-method-call {
  color: #0000a6;
}
.lumis-highlighted {
  background-color: #e6e4df;
}
.lumis-keyword {
  color: #1a1918;
  background-color: #fae1c8;
}
.lumis-keyword-conditional {
  color: #1a1918;
  background-color: #fae1c8;
}
.lumis-keyword-conditional-ternary {
  color: #1a1918;
  background-color: #fae1c8;
}
.lumis-keyword-coroutine {
  color: #1a1918;
  background-color: #fae1c8;
}
.lumis-keyword-debug {
  color: #0000a6;
}
.lumis-keyword-directive {
  color: #1a1918;
  font-weight: bold;
}
.lumis-keyword-directive-define {
  color: #1a1918;
  font-weight: bold;
}
.lumis-keyword-exception {
  color: #1a1918;
  background-color: #fae1c8;
}
.lumis-keyword-export {
  color: #1a1918;
  background-color: #fae1c8;
}
.lumis-keyword-function {
  background-color: #edd4fa;
}
.lumis-keyword-import {
  color: #1a1918;
  font-weight: bold;
}
.lumis-keyword-modifier {
  color: #1a1918;
  background-color: #fae1c8;
}
.lumis-keyword-operator {
  color: #1a1918;
  background-color: #fae1c8;
}
.lumis-keyword-repeat {
  color: #1a1918;
  background-color: #fae1c8;
}
.lumis-keyword-return {
  color: #1a1918;
  background-color: #fae1c8;
}
.lumis-keyword-type {
  color: #1a1918;
  background-color: #fae1c8;
}
.lumis-label {
  color: #1a1918;
  background-color: #fae1c8;
}
.lumis-markup {
  color: #0000a6;
}
.lumis-markup-environment {
  color: #1a1918;
  font-weight: bold;
}
.lumis-markup-environment-name {
  color: #1a1918;
  font-weight: bold;
}
.lumis-markup-heading {
  color: #1a1918;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #1a1918;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #1a1918;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #1a1918;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #1a1918;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #1a1918;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #1a1918;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #0000a6;
}
.lumis-markup-link-url {
  color: #1a1918;
  background-color: #fae1c8;
}
.lumis-markup-list {
  color: #1a1918;
}
.lumis-markup-list-checked {
  color: #999791;
}
.lumis-markup-list-unchecked {
  color: #1a1918;
}
.lumis-markup-math {
  color: #0000a6;
}
.lumis-markup-quote {
  color: #999791;
}
.lumis-markup-raw {
  color: #0000a6;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #1a1918;
  font-weight: bold;
}
.lumis-module-builtin {
  color: #1a1918;
  font-weight: bold;
}
.lumis-number {
  color: #1a1918;
  background-color: #d4d4fa;
}
.lumis-number-float {
  color: #1a1918;
  background-color: #d4d4fa;
}
.lumis-operator {
  color: #1a1918;
}
.lumis-property {
  color: #1a1918;
}
.lumis-punctuation-bracket {
  color: #1a1918;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #a60000;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #f2f200;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #0000a6;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #f27900;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #00a600;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #6f00a6;
}
.lumis-punctuation-delimiter {
  color: #1a1918;
}
.lumis-punctuation-special {
  color: #0000a6;
}
.lumis-string {
  color: #1a1918;
  background-color: #d4fad4;
}
.lumis-string-documentation {
  color: #1a1918;
  background-color: #d4fad4;
}
.lumis-string-escape {
  color: #0000a6;
}
.lumis-string-regexp {
  color: #1a1918;
  background-color: #d4fad4;
}
.lumis-string-special {
  color: #0000a6;
}
.lumis-string-special-path {
  text-decoration: underline;
}
.lumis-string-special-symbol {
  color: #1a1918;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #1a1918;
  background-color: #fae1c8;
}
.lumis-tag-attribute {
  color: #1a1918;
}
.lumis-tag-builtin {
  color: #0000a6;
}
.lumis-tag-delimiter {
  color: #1a1918;
}
.lumis-type {
  color: #a6006f;
}
.lumis-type-builtin {
  color: #a6006f;
}
.lumis-type-definition {
  color: #a6006f;
}
.lumis-variable {
  color: #1a1918;
}
.lumis-variable-builtin {
  color: #a6006f;
}
.lumis-variable-member {
  color: #1a1918;
}
.lumis-variable-parameter {
  color: #1a1918;
}
.lumis-variable-parameter-builtin {
  color: #0000a6;
}
