/* doom_one_light
 * revision: beae92173315c7282f6897e666cfd67fbf0f3ac9
 */

pre.lumis {
  color: #383a42;
  background-color: #fafafa;
}
.lumis-attribute {
  color: #6a1868;
}
.lumis-attribute-builtin {
  color: #b751b6;
}
.lumis-boolean {
  color: #da8548;
  font-weight: bold;
}
.lumis-character {
  color: #b751b6;
  font-weight: bold;
}
.lumis-character-special {
  color: #e666e5;
  font-weight: bold;
}
.lumis-comment {
  color: #9ca0a4;
}
.lumis-comment-documentation {
  color: #9ca0a4;
}
.lumis-comment-error {
  color: #590008;
}
.lumis-comment-hint {
  color: #9ca0a4;
}
.lumis-comment-note {
  color: #007373;
}
.lumis-comment-todo {
  color: #986801;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #6b5300;
}
.lumis-constant {
  color: #b751b6;
  font-weight: bold;
}
.lumis-constant-builtin {
  color: #b751b6;
  font-weight: bold;
}
.lumis-constant-macro {
  color: #b751b6;
}
.lumis-constructor {
  color: #e45649;
}
.lumis-diff-delta {
  color: #007373;
}
.lumis-diff-minus {
  color: #590008;
}
.lumis-diff-plus {
  color: #005523;
}
.lumis-error {
  color: #e45649;
}
.lumis-function {
  color: #a626a4;
}
.lumis-function-builtin {
  color: #841e83;
  font-weight: bold;
}
.lumis-function-call {
  color: #a626a4;
}
.lumis-function-macro {
  color: #b751b6;
}
.lumis-function-method {
  color: #a626a4;
}
.lumis-function-method-call {
  color: #a626a4;
}
.lumis-highlighted {
  background-color: #f0f0f0;
}
.lumis-keyword {
  color: #e45649;
}
.lumis-keyword-conditional {
  color: #e45649;
}
.lumis-keyword-conditional-ternary {
  color: #e45649;
}
.lumis-keyword-coroutine {
  color: #e45649;
}
.lumis-keyword-debug {
  color: #e45649;
}
.lumis-keyword-directive {
  color: #e45649;
}
.lumis-keyword-directive-define {
  color: #e45649;
}
.lumis-keyword-exception {
  color: #e45649;
}
.lumis-keyword-export {
  color: #e45649;
}
.lumis-keyword-function {
  color: #e45649;
  font-weight: bold;
}
.lumis-keyword-import {
  color: #e45649;
}
.lumis-keyword-modifier {
  color: #e45649;
}
.lumis-keyword-operator {
  color: #e45649;
}
.lumis-keyword-repeat {
  color: #e45649;
}
.lumis-keyword-return {
  color: #e45649;
}
.lumis-keyword-type {
  color: #e45649;
}
.lumis-label {
  color: #e45649;
}
.lumis-markup {
  color: #b751b6;
}
.lumis-markup-environment {
  color: #b751b6;
}
.lumis-markup-environment-name {
  color: #b751b6;
}
.lumis-markup-heading {
  color: #b751b6;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #b751b6;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #b751b6;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #b751b6;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #b751b6;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #b751b6;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #b751b6;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #207ed7;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #207ed7;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #207ed7;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #b751b6;
}
.lumis-markup-list-checked {
  color: #b751b6;
}
.lumis-markup-list-unchecked {
  color: #b751b6;
}
.lumis-markup-math {
  color: #b751b6;
}
.lumis-markup-quote {
  color: #b751b6;
}
.lumis-markup-raw {
  color: #b751b6;
}
.lumis-markup-raw-block {
  color: #b751b6;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #e45649;
}
.lumis-module-builtin {
  color: #b751b6;
}
.lumis-namespace {
  color: #b751b6;
  font-weight: bold;
}
.lumis-number {
  color: #da8548;
}
.lumis-number-float {
  color: #da8548;
}
.lumis-operator {
  color: #e45649;
}
.lumis-property {
  color: #a626a4;
}
.lumis-punctuation-bracket {
  color: #e45649;
}
.lumis-punctuation-delimiter {
  color: #e45649;
}
.lumis-punctuation-special {
  color: #e45649;
}
.lumis-string {
  color: #50a14f;
}
.lumis-string-documentation {
  color: #50a14f;
}
.lumis-string-escape {
  color: #50a14f;
}
.lumis-string-regexp {
  color: #e666e5;
  font-weight: bold;
}
.lumis-string-special {
  color: #e666e5;
  font-weight: bold;
}
.lumis-string-special-path {
  color: #e666e5;
  font-weight: bold;
}
.lumis-string-special-symbol {
  color: #e666e5;
  font-weight: bold;
}
.lumis-string-special-url {
  color: #207ed7;
  text-decoration: underline;
}
.lumis-tag {
  color: #207ed7;
  font-weight: bold;
}
.lumis-tag-attribute {
  color: #6a1868;
}
.lumis-tag-builtin {
  color: #b751b6;
}
.lumis-tag-delimiter {
  color: #e45649;
}
.lumis-type {
  color: #986801;
}
.lumis-type-builtin {
  color: #986801;
  font-weight: bold;
}
.lumis-type-definition {
  color: #986801;
}
.lumis-variable-builtin {
  color: #a626a4;
  font-weight: bold;
}
.lumis-variable-parameter-builtin {
  color: #b751b6;
}
