/* doom_one_dark
 * revision: beae92173315c7282f6897e666cfd67fbf0f3ac9
 */

pre.lumis {
  color: #bbc2cf;
  background-color: #282c34;
}
.lumis-attribute {
  color: #ffa8ff;
}
.lumis-attribute-builtin {
  color: #a9a1e1;
}
.lumis-boolean {
  color: #da8548;
  font-weight: bold;
}
.lumis-character {
  color: #a9a1e1;
  font-weight: bold;
}
.lumis-character-special {
  color: #8f88bf;
  font-weight: bold;
}
.lumis-comment {
  color: #5b6268;
}
.lumis-comment-documentation {
  color: #5b6268;
}
.lumis-comment-error {
  color: #ffc0b9;
}
.lumis-comment-hint {
  color: #5b6268;
}
.lumis-comment-note {
  color: #8cf8f7;
}
.lumis-comment-todo {
  color: #ecbe7b;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #fce094;
}
.lumis-constant {
  color: #a9a1e1;
  font-weight: bold;
}
.lumis-constant-builtin {
  color: #a9a1e1;
  font-weight: bold;
}
.lumis-constant-macro {
  color: #a9a1e1;
}
.lumis-constructor {
  color: #51afef;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-error {
  color: #ff6c6b;
}
.lumis-function {
  color: #c678dd;
}
.lumis-function-builtin {
  color: #ffa8ff;
  font-weight: bold;
}
.lumis-function-call {
  color: #c678dd;
}
.lumis-function-macro {
  color: #a9a1e1;
}
.lumis-function-method {
  color: #c678dd;
}
.lumis-function-method-call {
  color: #c678dd;
}
.lumis-highlighted {
  background-color: #21242b;
}
.lumis-keyword {
  color: #51afef;
}
.lumis-keyword-conditional {
  color: #51afef;
}
.lumis-keyword-conditional-ternary {
  color: #51afef;
}
.lumis-keyword-coroutine {
  color: #51afef;
}
.lumis-keyword-debug {
  color: #51afef;
}
.lumis-keyword-directive {
  color: #51afef;
}
.lumis-keyword-directive-define {
  color: #51afef;
}
.lumis-keyword-exception {
  color: #51afef;
}
.lumis-keyword-export {
  color: #51afef;
}
.lumis-keyword-function {
  color: #51afef;
  font-weight: bold;
}
.lumis-keyword-import {
  color: #51afef;
}
.lumis-keyword-modifier {
  color: #51afef;
}
.lumis-keyword-operator {
  color: #51afef;
}
.lumis-keyword-repeat {
  color: #51afef;
}
.lumis-keyword-return {
  color: #51afef;
}
.lumis-keyword-type {
  color: #51afef;
}
.lumis-label {
  color: #51afef;
}
.lumis-markup {
  color: #a9a1e1;
}
.lumis-markup-environment {
  color: #a9a1e1;
}
.lumis-markup-environment-name {
  color: #a9a1e1;
}
.lumis-markup-heading {
  color: #a9a1e1;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #a9a1e1;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #a9a1e1;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #a9a1e1;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #a9a1e1;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #a9a1e1;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #a9a1e1;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #4bc4f7;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #4bc4f7;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #4bc4f7;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #a9a1e1;
}
.lumis-markup-list-checked {
  color: #a9a1e1;
}
.lumis-markup-list-unchecked {
  color: #a9a1e1;
}
.lumis-markup-math {
  color: #a9a1e1;
}
.lumis-markup-quote {
  color: #a9a1e1;
}
.lumis-markup-raw {
  color: #a9a1e1;
}
.lumis-markup-raw-block {
  color: #a9a1e1;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #51afef;
}
.lumis-module-builtin {
  color: #a9a1e1;
}
.lumis-namespace {
  color: #a9a1e1;
  font-weight: bold;
}
.lumis-normal {
  color: #bbc2cf;
  background-color: #282c34;
}
.lumis-number {
  color: #da8548;
}
.lumis-number-float {
  color: #da8548;
}
.lumis-operator {
  color: #51afef;
}
.lumis-property {
  color: #c678dd;
}
.lumis-punctuation-bracket {
  color: #51afef;
}
.lumis-punctuation-delimiter {
  color: #51afef;
}
.lumis-punctuation-special {
  color: #51afef;
}
.lumis-string {
  color: #98be65;
}
.lumis-string-documentation {
  color: #98be65;
}
.lumis-string-escape {
  color: #98be65;
}
.lumis-string-regexp {
  color: #8f88bf;
  font-weight: bold;
}
.lumis-string-special {
  color: #8f88bf;
  font-weight: bold;
}
.lumis-string-special-path {
  color: #8f88bf;
  font-weight: bold;
}
.lumis-string-special-symbol {
  color: #8f88bf;
  font-weight: bold;
}
.lumis-string-special-url {
  color: #4bc4f7;
  text-decoration: underline;
}
.lumis-tag {
  color: #4bc4f7;
  font-weight: bold;
}
.lumis-tag-attribute {
  color: #ffa8ff;
}
.lumis-tag-builtin {
  color: #a9a1e1;
}
.lumis-tag-delimiter {
  color: #51afef;
}
.lumis-type {
  color: #ecbe7b;
}
.lumis-type-builtin {
  color: #ecbe7b;
  font-weight: bold;
}
.lumis-type-definition {
  color: #ecbe7b;
}
.lumis-variable-builtin {
  color: #c678dd;
  font-weight: bold;
}
.lumis-variable-parameter-builtin {
  color: #a9a1e1;
}
