/* eldritch
 * revision: c9131a5a11f00a2f428f563a4eb2c4aeb680d963
 */

pre.lumis {
  color: #ebfafa;
  background-color: #212337;
}
.lumis-attribute {
  color: #10a1bd;
}
.lumis-attribute-builtin {
  color: #04d1f9;
}
.lumis-boolean {
  color: #04d1f9;
}
.lumis-character {
  color: #f7c67f;
}
.lumis-character-special {
  color: #04d1f9;
}
.lumis-comment {
  color: #7081d0;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #7081d0;
  font-style: italic;
}
.lumis-comment-error {
  color: #f16c75;
}
.lumis-comment-hint {
  color: #f265b5;
}
.lumis-comment-note {
  color: #f265b5;
}
.lumis-comment-todo {
  color: #37f499;
}
.lumis-comment-warning {
  color: #f7c67f;
}
.lumis-constant {
  color: #f16c75;
}
.lumis-constant-builtin {
  color: #04d1f9;
}
.lumis-constant-macro {
  color: #10a1bd;
}
.lumis-constructor {
  color: #a48cf2;
}
.lumis-constructor-tsx {
  color: #04d1f9;
}
.lumis-diff-delta {
  background-color: #404441;
}
.lumis-diff-minus {
  background-color: #402e40;
}
.lumis-diff-plus {
  background-color: #244246;
}
.lumis-function {
  color: #f265b5;
}
.lumis-function-builtin {
  color: #04d1f9;
}
.lumis-function-builtin-python {
  color: #f265b5;
}
.lumis-function-call {
  color: #f265b5;
}
.lumis-function-macro {
  color: #37f499;
}
.lumis-function-method {
  color: #f265b5;
}
.lumis-function-method-call {
  color: #f265b5;
}
.lumis-highlighted {
  background-color: #292e42;
}
.lumis-keyword {
  color: #37f499;
  font-style: italic;
}
.lumis-keyword-conditional {
  color: #a48cf2;
}
.lumis-keyword-conditional-ternary {
  color: #a48cf2;
}
.lumis-keyword-coroutine {
  color: #37f499;
  font-style: italic;
}
.lumis-keyword-debug {
  color: #f7c67f;
}
.lumis-keyword-directive {
  color: #10a1bd;
}
.lumis-keyword-directive-define {
  color: #10a1bd;
}
.lumis-keyword-exception {
  color: #37f499;
}
.lumis-keyword-export {
  color: #37f499;
  font-style: italic;
}
.lumis-keyword-function {
  color: #a48cf2;
}
.lumis-keyword-import {
  color: #37f499;
}
.lumis-keyword-modifier {
  color: #37f499;
  font-style: italic;
}
.lumis-keyword-operator {
  color: #04d1f9;
}
.lumis-keyword-repeat {
  color: #a48cf2;
}
.lumis-keyword-return {
  color: #37f499;
  font-style: italic;
}
.lumis-keyword-type {
  color: #37f499;
  font-style: italic;
}
.lumis-label {
  color: #04d1f9;
}
.lumis-markup-environment {
  color: #37f499;
}
.lumis-markup-environment-name {
  color: #04d1f9;
}
.lumis-markup-heading {
  color: #04d1f9;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #04d1f9;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #04d1f9;
  font-weight: bold;
}
.lumis-markup-heading-2-markdown {
  color: #f1fc79;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #04d1f9;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #a48cf2;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #04d1f9;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #04d1f9;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #a48cf2;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #04d1f9;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #37f499;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #04d1f9;
}
.lumis-markup-link-label {
  color: #04d1f9;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #04d1f9;
}
.lumis-markup-list-checked {
  color: #a48cf2;
}
.lumis-markup-list-markdown {
  color: #f7c67f;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #04d1f9;
}
.lumis-markup-math {
  color: #04d1f9;
}
.lumis-markup-raw {
  color: #f1fc79;
}
.lumis-markup-raw-block {
  color: #f1fc79;
}
.lumis-markup-raw-markdown_inline {
  color: #04d1f9;
  background-color: #414868;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #37f499;
}
.lumis-module-builtin {
  color: #f16c75;
}
.lumis-normal {
  color: #ebfafa;
  background-color: #212337;
}
.lumis-number {
  color: #f16c75;
}
.lumis-number-float {
  color: #f7c67f;
}
.lumis-operator {
  color: #04d1f9;
}
.lumis-property {
  color: #a48cf2;
}
.lumis-punctuation-bracket {
  color: #abb4da;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #f16c75;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #f1fc79;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #04d1f9;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #f7c67f;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #a48cf2;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #37f499;
}
.lumis-punctuation-delimiter {
  color: #04d1f9;
}
.lumis-punctuation-special {
  color: #04d1f9;
}
.lumis-string {
  color: #f1fc79;
}
.lumis-string-documentation {
  color: #f1fc79;
}
.lumis-string-escape {
  color: #a48cf2;
}
.lumis-string-html {
  color: #c0c95f;
}
.lumis-string-regexp {
  color: #04d1f9;
}
.lumis-string-special {
  color: #04d1f9;
}
.lumis-string-special-path {
  color: #04d1f9;
}
.lumis-string-special-symbol {
  color: #04d1f9;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #a48cf2;
}
.lumis-tag-attribute {
  color: #a48cf2;
}
.lumis-tag-builtin {
  color: #04d1f9;
}
.lumis-tag-delimiter {
  color: #04d1f9;
}
.lumis-tag-delimiter-tsx {
  color: #0d9dbf;
}
.lumis-tag-tsx {
  color: #f16c75;
}
.lumis-type {
  color: #04d1f9;
}
.lumis-type-builtin {
  color: #0aaed2;
}
.lumis-type-definition {
  color: #f1fc79;
}
.lumis-variable {
  color: #04d1f9;
}
.lumis-variable-builtin {
  color: #f16c75;
}
.lumis-variable-member {
  color: #a48cf2;
}
.lumis-variable-parameter {
  color: #a48cf2;
}
.lumis-variable-parameter-builtin {
  color: #b6a3f5;
}
