/* embark
 * revision: 7014644e25d5cebcb3e70a079804c44ec14d8e46
 */

pre.lumis {
  color: #cbe3e7;
  background-color: #1e1c31;
}
.lumis-attribute {
  color: #a1efd3;
}
.lumis-attribute-builtin {
  color: #abf8f7;
}
.lumis-boolean {
  color: #f2b482;
}
.lumis-character {
  color: #d4bfff;
}
.lumis-character-special {
  color: #abf8f7;
}
.lumis-comment {
  color: #8a889d;
}
.lumis-comment-documentation {
  color: #8a889d;
}
.lumis-comment-error {
  color: #f48fb1;
  background-color: #100e23;
}
.lumis-comment-hint {
  color: #8a889d;
}
.lumis-comment-note {
  color: #91ddff;
  background-color: #100e23;
}
.lumis-comment-todo {
  color: #f2b482;
  background-color: #1e1c31;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #ffe6b3;
  background-color: #100e23;
}
.lumis-constant {
  color: #d4bfff;
}
.lumis-constant-builtin {
  color: #abf8f7;
}
.lumis-constant-macro {
  color: #d4bfff;
}
.lumis-constructor {
  color: #d4bfff;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #f48fb1;
}
.lumis-function-builtin {
  color: #abf8f7;
}
.lumis-function-call {
  color: #91ddff;
}
.lumis-function-macro {
  color: #f48fb1;
}
.lumis-function-method {
  color: #f48fb1;
}
.lumis-function-method-call {
  color: #f48fb1;
}
.lumis-highlighted {
  background-color: #100e23;
}
.lumis-keyword {
  color: #a1efd3;
}
.lumis-keyword-conditional {
  color: #a1efd3;
}
.lumis-keyword-conditional-ternary {
  color: #a1efd3;
}
.lumis-keyword-coroutine {
  color: #a1efd3;
}
.lumis-keyword-debug {
  color: #a1efd3;
}
.lumis-keyword-directive {
  color: #a1efd3;
}
.lumis-keyword-directive-define {
  color: #a1efd3;
}
.lumis-keyword-exception {
  color: #a1efd3;
}
.lumis-keyword-export {
  color: #a1efd3;
}
.lumis-keyword-function {
  color: #a1efd3;
}
.lumis-keyword-import {
  color: #a1efd3;
}
.lumis-keyword-modifier {
  color: #a1efd3;
}
.lumis-keyword-operator {
  color: #abf8f7;
}
.lumis-keyword-repeat {
  color: #a1efd3;
}
.lumis-keyword-return {
  color: #a1efd3;
}
.lumis-keyword-type {
  color: #a1efd3;
}
.lumis-label {
  color: #78a8ff;
}
.lumis-markup {
  color: #abf8f7;
}
.lumis-markup-environment {
  color: #abf8f7;
}
.lumis-markup-environment-name {
  color: #abf8f7;
}
.lumis-markup-heading {
  color: #78a8ff;
}
.lumis-markup-heading-1 {
  color: #78a8ff;
}
.lumis-markup-heading-2 {
  color: #78a8ff;
}
.lumis-markup-heading-3 {
  color: #78a8ff;
}
.lumis-markup-heading-4 {
  color: #78a8ff;
}
.lumis-markup-heading-5 {
  color: #78a8ff;
}
.lumis-markup-heading-6 {
  color: #78a8ff;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #d4bfff;
}
.lumis-markup-link-label {
  color: #d4bfff;
}
.lumis-markup-link-url {
  color: #d4bfff;
}
.lumis-markup-list {
  color: #abf8f7;
}
.lumis-markup-list-checked {
  color: #8a889d;
}
.lumis-markup-list-unchecked {
  color: #63f2f1;
  font-weight: bold;
}
.lumis-markup-math {
  color: #abf8f7;
}
.lumis-markup-quote {
  color: #abf8f7;
}
.lumis-markup-raw {
  color: #abf8f7;
}
.lumis-markup-raw-block {
  color: #abf8f7;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #d4bfff;
}
.lumis-module-builtin {
  color: #abf8f7;
}
.lumis-number {
  color: #f2b482;
}
.lumis-number-float {
  color: #f2b482;
}
.lumis-operator {
  color: #63f2f1;
}
.lumis-property {
  color: #cbe3e7;
}
.lumis-punctuation-bracket {
  color: #abf8f7;
}
.lumis-punctuation-delimiter {
  color: #e0e2ea;
}
.lumis-punctuation-special {
  color: #abf8f7;
}
.lumis-string {
  color: #ffe6b3;
}
.lumis-string-documentation {
  color: #ffe6b3;
}
.lumis-string-escape {
  color: #abf8f7;
}
.lumis-string-regexp {
  color: #78a8ff;
}
.lumis-string-special {
  color: #78a8ff;
}
.lumis-string-special-path {
  color: #78a8ff;
}
.lumis-string-special-symbol {
  color: #ffe6b3;
}
.lumis-string-special-url {
  color: #cbe3e7;
  text-decoration: underline;
}
.lumis-tag {
  color: #a1efd3;
}
.lumis-tag-attribute {
  color: #d4bfff;
}
.lumis-tag-builtin {
  color: #abf8f7;
}
.lumis-tag-delimiter {
  color: #abf8f7;
}
.lumis-type {
  color: #d4bfff;
}
.lumis-type-builtin {
  color: #abf8f7;
}
.lumis-type-definition {
  color: #d4bfff;
}
.lumis-variable {
  color: #e0e2ea;
}
.lumis-variable-builtin {
  color: #abf8f7;
}
.lumis-variable-member {
  color: #e0e2ea;
}
.lumis-variable-parameter {
  color: #e0e2ea;
}
.lumis-variable-parameter-builtin {
  color: #abf8f7;
}
