/* flexoki_dark
 * revision: c3e2251e813d29d885a7cbbe9808a7af234d845d
 */

pre.lumis {
  color: #cecdc3;
  background-color: #100f0f;
}
.lumis-attribute {
  color: #ce5d97;
}
.lumis-attribute-builtin {
  color: #878580;
}
.lumis-boolean {
  color: #ce5d97;
}
.lumis-character {
  color: #3aa99f;
}
.lumis-character-special {
  color: #ce5d97;
}
.lumis-comment {
  color: #575653;
}
.lumis-comment-documentation {
  color: #575653;
}
.lumis-comment-error {
  color: #d14d41;
}
.lumis-comment-hint {
  color: #575653;
}
.lumis-comment-note {
  color: #3aa99f;
}
.lumis-comment-todo {
  color: #ce5d97;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #d0a215;
}
.lumis-constant {
  color: #d0a215;
}
.lumis-constant-builtin {
  color: #878580;
}
.lumis-constant-macro {
  color: #ce5d97;
}
.lumis-constructor {
  color: #878580;
}
.lumis-diff-delta {
  color: #da702c;
}
.lumis-diff-minus {
  color: #d14d41;
}
.lumis-diff-plus {
  color: #879a39;
}
.lumis-function {
  color: #da702c;
}
.lumis-function-builtin {
  color: #878580;
}
.lumis-function-call {
  color: #da702c;
}
.lumis-function-macro {
  color: #ce5d97;
}
.lumis-function-method {
  color: #da702c;
}
.lumis-function-method-call {
  color: #da702c;
}
.lumis-highlighted {
  background-color: #201f1e;
}
.lumis-keyword {
  color: #879a39;
}
.lumis-keyword-conditional {
  color: #879a39;
}
.lumis-keyword-conditional-ternary {
  color: #879a39;
}
.lumis-keyword-coroutine {
  color: #879a39;
}
.lumis-keyword-debug {
  color: #879a39;
}
.lumis-keyword-directive {
  color: #879a39;
}
.lumis-keyword-directive-define {
  color: #879a39;
}
.lumis-keyword-exception {
  color: #879a39;
}
.lumis-keyword-export {
  color: #879a39;
}
.lumis-keyword-function {
  color: #879a39;
}
.lumis-keyword-import {
  color: #879a39;
}
.lumis-keyword-modifier {
  color: #879a39;
}
.lumis-keyword-operator {
  color: #879a39;
}
.lumis-keyword-repeat {
  color: #879a39;
}
.lumis-keyword-return {
  color: #879a39;
}
.lumis-keyword-type {
  color: #879a39;
}
.lumis-label {
  color: #879a39;
}
.lumis-markup {
  color: #878580;
}
.lumis-markup-environment {
  color: #878580;
}
.lumis-markup-environment-name {
  color: #878580;
}
.lumis-markup-heading {
  color: #4385be;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #4385be;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #4385be;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #4385be;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #4385be;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #4385be;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #4385be;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  text-decoration: underline;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #878580;
}
.lumis-markup-list-checked {
  color: #878580;
}
.lumis-markup-list-unchecked {
  color: #878580;
}
.lumis-markup-math {
  color: #878580;
}
.lumis-markup-quote {
  color: #878580;
}
.lumis-markup-raw {
  color: #878580;
}
.lumis-markup-raw-block {
  color: #878580;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #da702c;
}
.lumis-module-builtin {
  color: #878580;
}
.lumis-namespace {
  color: #4385be;
}
.lumis-number {
  color: #8b7ec8;
}
.lumis-number-float {
  color: #8b7ec8;
}
.lumis-operator {
  color: #878580;
}
.lumis-property {
  color: #4385be;
}
.lumis-punctuation-bracket {
  color: #878580;
}
.lumis-punctuation-delimiter {
  color: #878580;
}
.lumis-punctuation-special {
  color: #878580;
}
.lumis-string {
  color: #3aa99f;
}
.lumis-string-documentation {
  color: #3aa99f;
}
.lumis-string-escape {
  color: #ce5d97;
}
.lumis-string-regexp {
  color: #ce5d97;
}
.lumis-string-special {
  color: #ce5d97;
}
.lumis-string-special-path {
  color: #ce5d97;
}
.lumis-string-special-symbol {
  color: #ce5d97;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #3aa99f;
}
.lumis-tag-attribute {
  color: #3aa99f;
}
.lumis-tag-builtin {
  color: #878580;
}
.lumis-tag-delimiter {
  color: #3aa99f;
}
.lumis-type {
  color: #879a39;
}
.lumis-type-builtin {
  color: #878580;
}
.lumis-type-definition {
  color: #da702c;
}
.lumis-variable {
  color: #4385be;
}
.lumis-variable-builtin {
  color: #878580;
}
.lumis-variable-member {
  color: #4385be;
}
.lumis-variable-parameter {
  color: #4385be;
}
.lumis-variable-parameter-builtin {
  color: #878580;
}
