/* flow_light
 * revision: 4863b14263a77f8efb79068f7078b6261c9cbda2
 */

pre.lumis {
  color: #5e7b8d;
  background-color: #1b2328;
}
.lumis-attribute {
  color: #70dbc1;
}
.lumis-attribute-builtin {
  color: #a670db;
}
.lumis-boolean {
  color: #dbdb70;
}
.lumis-character {
  color: #728fa1;
}
.lumis-character-special {
  color: #70c9db;
}
.lumis-comment {
  color: #4e6574;
}
.lumis-comment-documentation {
  color: #4e6574;
}
.lumis-comment-error {
  color: #db7079;
}
.lumis-comment-hint {
  color: #70afdb;
}
.lumis-comment-note {
  color: #70afdb;
}
.lumis-comment-todo {
  color: #70c9db;
}
.lumis-comment-warning {
  color: #dbdb70;
}
.lumis-constant {
  color: #dbdb70;
}
.lumis-constant-builtin {
  color: #a670db;
}
.lumis-constant-macro {
  color: #5e7b8d;
}
.lumis-constructor {
  color: #a670db;
}
.lumis-diff-delta {
  color: #70afdb;
  background-color: #253c41;
}
.lumis-diff-minus {
  color: #db7079;
  background-color: #412528;
}
.lumis-diff-plus {
  background-color: #284125;
}
.lumis-function {
  color: #70afdb;
}
.lumis-function-builtin {
  color: #a670db;
}
.lumis-function-call {
  color: #70afdb;
}
.lumis-function-macro {
  color: #5e7b8d;
}
.lumis-function-method {
  color: #70afdb;
}
.lumis-function-method-call {
  color: #70afdb;
}
.lumis-highlighted {
  background-color: #291921;
}
.lumis-keyword {
  color: #db7079;
}
.lumis-keyword-conditional {
  color: #db7079;
}
.lumis-keyword-conditional-ternary {
  color: #db7079;
}
.lumis-keyword-coroutine {
  color: #db7079;
}
.lumis-keyword-debug {
  color: #a670db;
}
.lumis-keyword-directive {
  color: #70dbc1;
}
.lumis-keyword-directive-define {
  color: #5e7b8d;
}
.lumis-keyword-directive-markdown {
  color: #70afdb;
}
.lumis-keyword-exception {
  color: #db7079;
}
.lumis-keyword-export {
  color: #db7079;
}
.lumis-keyword-function {
  color: #70afdb;
}
.lumis-keyword-function-go {
  color: #a670db;
}
.lumis-keyword-import {
  color: #db7079;
}
.lumis-keyword-modifier {
  color: #db7079;
}
.lumis-keyword-operator {
  color: #db7079;
}
.lumis-keyword-repeat {
  color: #db7079;
}
.lumis-keyword-return {
  color: #db7079;
}
.lumis-keyword-type {
  color: #db7079;
}
.lumis-label {
  color: #db7079;
}
.lumis-markup-environment {
  color: #5e7b8d;
}
.lumis-markup-environment-name {
  color: #70afdb;
}
.lumis-markup-heading {
  color: #a670db;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #a670db;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #a670db;
  font-weight: bold;
}
.lumis-markup-heading-2-markdown {
  color: #7082db;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #a670db;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #70afdb;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #a670db;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #70dbc1;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #a670db;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #70c9db;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #a670db;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #70c9db;
}
.lumis-markup-link-label {
  color: #70afdb;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #dbdb70;
  font-weight: bold;
}
.lumis-markup-list-checked {
  color: #79db70;
}
.lumis-markup-list-unchecked {
  color: #70c9db;
}
.lumis-markup-math {
  color: #a670db;
}
.lumis-markup-quote {
  color: #a670db;
}
.lumis-markup-raw {
  color: #728fa1;
}
.lumis-markup-raw-block {
  background-color: #161d22;
}
.lumis-markup-raw-markdown {
  color: #70dbc1;
}
.lumis-markup-raw-markdown_inline {
  color: #70dbc1;
  background-color: #161d22;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #db7079;
}
.lumis-module-builtin {
  color: #db7079;
}
.lumis-module-go {
  color: #7082db;
}
.lumis-normal {
  color: #5e7b8d;
  background-color: #1b2328;
}
.lumis-number {
  color: #dbdb70;
}
.lumis-number-float {
  color: #dbdb70;
}
.lumis-operator {
  color: #db7079;
}
.lumis-property {
  color: #70dbc1;
}
.lumis-property-yaml {
  color: #dbdb70;
}
.lumis-punctuation-bracket {
  color: #a670db;
}
.lumis-punctuation-delimiter {
  color: #a670db;
}
.lumis-punctuation-special {
  color: #a670db;
}
.lumis-punctuation-special-markdown {
  color: #70afdb;
}
.lumis-string {
  color: #728fa1;
}
.lumis-string-documentation {
  color: #dbdb70;
}
.lumis-string-escape {
  color: #70dbc1;
}
.lumis-string-regexp {
  color: #70dbc1;
}
.lumis-string-special {
  color: #70c9db;
}
.lumis-string-special-path {
  color: #70c9db;
}
.lumis-string-special-symbol {
  color: #70c9db;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #db7079;
}
.lumis-tag-attribute {
  color: #70dbc1;
}
.lumis-tag-builtin {
  color: #a670db;
}
.lumis-tag-delimiter {
  color: #a670db;
}
.lumis-type {
  color: #70afdb;
}
.lumis-type-builtin {
  color: #70dbc1;
}
.lumis-type-definition {
  color: #70afdb;
}
.lumis-variable {
  color: #5e7b8d;
}
.lumis-variable-builtin {
  color: #db7079;
}
.lumis-variable-member {
  color: #70afdb;
}
.lumis-variable-parameter {
  color: #5e7b8d;
}
.lumis-variable-parameter-builtin {
  color: #dbdb70;
}
