/* forestbones_dark
 * revision: 239bdb9a09c8d38c752c43590d02f654ed0da2b0
 */

pre.lumis {
  color: #e7dcc4;
  background-color: #2c343a;
}
.lumis-attribute {
  color: #83c193;
}
.lumis-attribute-builtin {
  color: #b5aa92;
  font-weight: bold;
}
.lumis-boolean {
  color: #e7dcc4;
  font-style: italic;
}
.lumis-character {
  color: #ada28b;
  font-style: italic;
}
.lumis-character-special {
  color: #b5aa92;
  font-weight: bold;
}
.lumis-comment {
  color: #6e7b85;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #6e7b85;
  font-style: italic;
}
.lumis-comment-error {
  color: #e67c7f;
}
.lumis-comment-hint {
  color: #6e7b85;
  font-style: italic;
}
.lumis-comment-note {
  color: #7fbcb4;
}
.lumis-comment-todo {
  font-weight: bold;
  text-decoration: underline;
}
.lumis-comment-warning {
  color: #ddbd7f;
}
.lumis-constant {
  color: #c6baa0;
  font-weight: bold;
}
.lumis-constant-builtin {
  color: #ada28b;
  font-style: italic;
}
.lumis-constant-macro {
  color: #ada28b;
  font-style: italic;
}
.lumis-constructor {
  color: #b5aa92;
  font-weight: bold;
}
.lumis-constructor-lua {
  color: #7b8e9d;
}
.lumis-diff-delta {
  background-color: #304946;
}
.lumis-diff-minus {
  background-color: #643839;
}
.lumis-diff-plus {
  background-color: #3e482d;
}
.lumis-function {
  color: #e7dcc4;
}
.lumis-function-builtin {
  color: #b5aa92;
  font-weight: bold;
}
.lumis-function-call {
  color: #e7dcc4;
}
.lumis-function-macro {
  color: #83c193;
}
.lumis-function-method {
  color: #e7dcc4;
}
.lumis-function-method-call {
  color: #e7dcc4;
}
.lumis-highlighted {
  background-color: #313a41;
}
.lumis-keyword {
  color: #a9c181;
  font-weight: bold;
}
.lumis-keyword-conditional {
  color: #a9c181;
  font-weight: bold;
}
.lumis-keyword-conditional-ternary {
  color: #a9c181;
  font-weight: bold;
}
.lumis-keyword-coroutine {
  color: #a9c181;
  font-weight: bold;
}
.lumis-keyword-debug {
  color: #b5aa92;
  font-weight: bold;
}
.lumis-keyword-directive {
  color: #83c193;
}
.lumis-keyword-directive-define {
  color: #83c193;
}
.lumis-keyword-exception {
  color: #a9c181;
  font-weight: bold;
}
.lumis-keyword-export {
  color: #a9c181;
  font-weight: bold;
}
.lumis-keyword-function {
  color: #a9c181;
  font-weight: bold;
}
.lumis-keyword-import {
  color: #83c193;
}
.lumis-keyword-modifier {
  color: #a9c181;
  font-weight: bold;
}
.lumis-keyword-operator {
  color: #a9c181;
  font-weight: bold;
}
.lumis-keyword-repeat {
  color: #a9c181;
  font-weight: bold;
}
.lumis-keyword-return {
  color: #a9c181;
  font-weight: bold;
}
.lumis-keyword-type {
  color: #a9c181;
  font-weight: bold;
}
.lumis-label {
  color: #a9c181;
  font-weight: bold;
}
.lumis-markup {
  color: #b5aa92;
  font-weight: bold;
}
.lumis-markup-environment {
  color: #83c193;
}
.lumis-markup-environment-name {
  color: #83c193;
}
.lumis-markup-heading {
  color: #e7dcc4;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #e7dcc4;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #e7dcc4;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #e7dcc4;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #e7dcc4;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #e7dcc4;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #e7dcc4;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #ada28b;
  font-style: italic;
}
.lumis-markup-link-label {
  color: #b5aa92;
  font-weight: bold;
}
.lumis-markup-link-markdown {
  color: #c6baa0;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #ada28b;
  font-style: italic;
}
.lumis-markup-link-url-markdown {
  color: #6e7b85;
}
.lumis-markup-list {
  color: #b5aa92;
  font-weight: bold;
}
.lumis-markup-list-checked {
  color: #b5aa92;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #b5aa92;
  font-weight: bold;
}
.lumis-markup-math {
  color: #b5aa92;
  font-weight: bold;
}
.lumis-markup-quote {
  color: #ada28b;
}
.lumis-markup-raw {
  color: #ada28b;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #ada28b;
  font-style: italic;
}
.lumis-markup-raw-markdown {
  color: #7fbcb4;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #ada28b;
  font-style: italic;
}
.lumis-module-builtin {
  color: #ada28b;
  font-style: italic;
}
.lumis-number {
  color: #ada28b;
}
.lumis-number-float {
  color: #ada28b;
}
.lumis-operator {
  color: #a9c181;
  font-weight: bold;
}
.lumis-property {
  color: #c6baa0;
}
.lumis-punctuation-bracket {
  color: #7b8e9d;
}
.lumis-punctuation-delimiter {
  color: #7b8e9d;
}
.lumis-punctuation-special {
  color: #7b8e9d;
}
.lumis-punctuation-special-markdown {
  color: #b5aa92;
  font-weight: bold;
}
.lumis-string {
  color: #ada28b;
  font-style: italic;
}
.lumis-string-documentation {
  color: #ada28b;
  font-style: italic;
}
.lumis-string-escape {
  color: #b5aa92;
  font-weight: bold;
}
.lumis-string-escape-markdown {
  color: #5d6d78;
  font-style: italic;
}
.lumis-string-regexp {
  color: #ada28b;
  font-style: italic;
}
.lumis-string-special {
  color: #b5aa92;
  font-weight: bold;
}
.lumis-string-special-path {
  color: #b5aa92;
  font-weight: bold;
}
.lumis-string-special-symbol {
  color: #c6baa0;
}
.lumis-string-special-url {
  color: #b5aa92;
  font-weight: bold;
}
.lumis-tag {
  color: #b5aa92;
  font-weight: bold;
}
.lumis-tag-attribute {
  color: #c6baa0;
}
.lumis-tag-builtin {
  color: #b5aa92;
  font-weight: bold;
}
.lumis-tag-delimiter {
  color: #7b8e9d;
}
.lumis-type {
  color: #7fbcb4;
}
.lumis-type-builtin {
  color: #7fbcb4;
}
.lumis-type-definition {
  color: #7fbcb4;
}
.lumis-variable {
  color: #c6baa0;
}
.lumis-variable-builtin {
  color: #ada28b;
  font-style: italic;
}
.lumis-variable-member {
  color: #c6baa0;
}
.lumis-variable-parameter {
  color: #c6baa0;
}
.lumis-variable-parameter-builtin {
  color: #b5aa92;
  font-weight: bold;
}
