/* github_dark_dimmed
 * revision: c106c9472154d6b2c74b74565616b877ae8ed31d
 */

pre.lumis {
  color: #adbac7;
  background-color: #22272e;
}
.lumis-attribute {
  color: #6cb6ff;
}
.lumis-attribute-builtin {
  color: #adbac7;
}
.lumis-boolean {
  color: #6cb6ff;
}
.lumis-character {
  color: #96d0ff;
}
.lumis-character-special {
  color: #adbac7;
}
.lumis-comment {
  color: #768390;
}
.lumis-comment-documentation {
  color: #768390;
}
.lumis-comment-error {
  color: #22272e;
  background-color: #e5534b;
}
.lumis-comment-hint {
  color: #22272e;
  background-color: #768390;
}
.lumis-comment-note {
  color: #539bf5;
}
.lumis-comment-todo {
  color: #22272e;
  background-color: #768390;
}
.lumis-comment-warning {
  color: #22272e;
  background-color: #c69026;
}
.lumis-constant {
  color: #6cb6ff;
}
.lumis-constant-builtin {
  color: #6cb6ff;
}
.lumis-constant-builtin-rust {
  color: #f69d50;
}
.lumis-constant-html {
  color: #8ddb8c;
}
.lumis-constant-macro {
  color: #f47067;
}
.lumis-constructor {
  color: #f69d50;
}
.lumis-constructor-lua {
  color: #adbac7;
}
.lumis-diff-delta {
  color: #c69026;
  background-color: #333027;
}
.lumis-diff-minus {
  color: #e5534b;
  background-color: #3b2a2f;
}
.lumis-diff-plus {
  color: #57ab5a;
  background-color: #253430;
}
.lumis-function {
  color: #dcbdfb;
}
.lumis-function-builtin-bash {
  color: #f47067;
}
.lumis-function-builtin-lua {
  color: #6cb6ff;
}
.lumis-function-builtin-make {
  color: #6cb6ff;
}
.lumis-function-call {
  color: #dcbdfb;
}
.lumis-function-call-bash {
  color: #6cb6ff;
}
.lumis-function-macro {
  color: #dcbdfb;
}
.lumis-function-method {
  color: #dcbdfb;
}
.lumis-function-method-call {
  color: #dcbdfb;
}
.lumis-highlighted {
  background-color: #30363d;
}
.lumis-keyword {
  color: #f47067;
}
.lumis-keyword-conditional {
  color: #f47067;
}
.lumis-keyword-conditional-ternary {
  color: #f47067;
}
.lumis-keyword-coroutine {
  color: #f47067;
}
.lumis-keyword-debug {
  color: #f47067;
}
.lumis-keyword-directive {
  color: #f47067;
}
.lumis-keyword-directive-define {
  color: #f47067;
}
.lumis-keyword-directive-rust {
  color: #6cb6ff;
}
.lumis-keyword-exception {
  color: #6cb6ff;
}
.lumis-keyword-export {
  color: #f47067;
}
.lumis-keyword-function {
  color: #f47067;
}
.lumis-keyword-import {
  color: #f47067;
}
.lumis-keyword-modifier {
  color: #f47067;
}
.lumis-keyword-operator {
  color: #f47067;
}
.lumis-keyword-repeat {
  color: #f47067;
}
.lumis-keyword-return {
  color: #f47067;
}
.lumis-keyword-type {
  color: #f47067;
}
.lumis-label {
  color: #8ddb8c;
}
.lumis-label-ruby {
  color: #6cb6ff;
}
.lumis-markup {
  color: #adbac7;
}
.lumis-markup-environment {
  color: #f47067;
}
.lumis-markup-environment-name {
  color: #dcbdfb;
}
.lumis-markup-heading {
  color: #6cb6ff;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #6cb6ff;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #6cb6ff;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #6cb6ff;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #6cb6ff;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #6cb6ff;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #6cb6ff;
  font-weight: bold;
}
.lumis-markup-heading-html {
  color: #adbac7;
}
.lumis-markup-italic {
  color: #adbac7;
  font-style: italic;
}
.lumis-markup-link {
  color: #adbac7;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #adbac7;
}
.lumis-markup-link-url {
  color: #adbac7;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #6cb6ff;
}
.lumis-markup-list-bash {
  color: #adbac7;
}
.lumis-markup-list-checked {
  color: #57ab5a;
}
.lumis-markup-list-unchecked {
  color: #636e7b;
}
.lumis-markup-math {
  color: #adbac7;
}
.lumis-markup-quote {
  color: #adbac7;
}
.lumis-markup-quote-markdown {
  color: #8ddb8c;
}
.lumis-markup-raw {
  color: #adbac7;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #adbac7;
  font-style: italic;
}
.lumis-markup-strikethrough {
  color: #adbac7;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #adbac7;
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #f47067;
}
.lumis-module-builtin {
  color: #6cb6ff;
}
.lumis-module-c_sharp {
  color: #f69d50;
}
.lumis-module-elixir {
  color: #f69d50;
}
.lumis-module-php {
  color: #f69d50;
}
.lumis-normal {
  color: #adbac7;
  background-color: #22272e;
}
.lumis-number {
  color: #6cb6ff;
}
.lumis-number-float {
  color: #6cb6ff;
}
.lumis-operator {
  color: #6cb6ff;
}
.lumis-operator-bash {
  color: #f47067;
}
.lumis-operator-lua {
  color: #f47067;
}
.lumis-property {
  color: #6cb6ff;
}
.lumis-property-json {
  color: #8ddb8c;
}
.lumis-property-lua {
  color: #adbac7;
}
.lumis-property-yaml {
  color: #8ddb8c;
}
.lumis-punctuation-bracket {
  color: #adbac7;
}
.lumis-punctuation-delimiter {
  color: #adbac7;
}
.lumis-punctuation-delimiter-bash {
  color: #f47067;
}
.lumis-punctuation-special {
  color: #adbac7;
}
.lumis-string {
  color: #96d0ff;
}
.lumis-string-documentation {
  color: #96d0ff;
}
.lumis-string-escape {
  color: #96d0ff;
  font-weight: bold;
}
.lumis-string-regexp {
  color: #96d0ff;
}
.lumis-string-special {
  color: #adbac7;
}
.lumis-string-special-path {
  color: #adbac7;
}
.lumis-string-special-path-gitignore {
  color: #dcbdfb;
}
.lumis-string-special-path-nix {
  color: #96d0ff;
}
.lumis-string-special-symbol {
  color: #6cb6ff;
}
.lumis-string-special-symbol-make {
  color: #dcbdfb;
}
.lumis-string-special-url {
  color: #6cb6ff;
  font-style: italic;
  text-decoration: underline;
}
.lumis-tag {
  color: #8ddb8c;
}
.lumis-tag-attribute {
  color: #6cb6ff;
}
.lumis-tag-builtin {
  color: #8ddb8c;
}
.lumis-tag-delimiter-javascript {
  color: #6cb6ff;
}
.lumis-tag-delimiter-tsx {
  color: #6cb6ff;
}
.lumis-tag-javascript {
  color: #f69d50;
}
.lumis-tag-tsx {
  color: #f69d50;
}
.lumis-type {
  color: #f69d50;
}
.lumis-type-builtin {
  color: #f47067;
}
.lumis-type-builtin-python {
  color: #6cb6ff;
}
.lumis-type-css {
  color: #8ddb8c;
}
.lumis-type-definition {
  color: #f69d50;
}
.lumis-type-sql {
  color: #adbac7;
}
.lumis-variable {
  color: #adbac7;
}
.lumis-variable-builtin {
  color: #6cb6ff;
}
.lumis-variable-member {
  color: #6cb6ff;
}
.lumis-variable-member-python {
  color: #adbac7;
}
.lumis-variable-parameter {
  color: #adbac7;
}
.lumis-variable-parameter-builtin {
  color: #6cb6ff;
}
.lumis-variable-sql {
  color: #6cb6ff;
}
