/* github_light
 * revision: c106c9472154d6b2c74b74565616b877ae8ed31d
 */

pre.lumis {
  color: #1f2328;
  background-color: #ffffff;
}
.lumis-attribute {
  color: #0550ae;
}
.lumis-attribute-builtin {
  color: #1f2328;
}
.lumis-boolean {
  color: #0550ae;
}
.lumis-character {
  color: #0a3069;
}
.lumis-character-special {
  color: #1f2328;
}
.lumis-comment {
  color: #57606a;
}
.lumis-comment-documentation {
  color: #57606a;
}
.lumis-comment-error {
  color: #ffffff;
  background-color: #d1242f;
}
.lumis-comment-hint {
  color: #ffffff;
  background-color: #d0d7de;
}
.lumis-comment-note {
  color: #0969da;
}
.lumis-comment-todo {
  color: #ffffff;
  background-color: #d0d7de;
}
.lumis-comment-warning {
  color: #ffffff;
  background-color: #9a6700;
}
.lumis-constant {
  color: #0550ae;
}
.lumis-constant-builtin {
  color: #0550ae;
}
.lumis-constant-builtin-rust {
  color: #953800;
}
.lumis-constant-html {
  color: #116329;
}
.lumis-constant-macro {
  color: #cf222e;
}
.lumis-constructor {
  color: #953800;
}
.lumis-constructor-lua {
  color: #1f2328;
}
.lumis-diff-delta {
  color: #9a6700;
  background-color: #d8cab3;
}
.lumis-diff-minus {
  color: #d1242f;
  background-color: #e4b7be;
}
.lumis-diff-plus {
  color: #1a7f37;
  background-color: #b8d0bf;
}
.lumis-function {
  color: #6639ba;
}
.lumis-function-builtin-bash {
  color: #cf222e;
}
.lumis-function-builtin-lua {
  color: #0550ae;
}
.lumis-function-builtin-make {
  color: #0550ae;
}
.lumis-function-call {
  color: #6639ba;
}
.lumis-function-call-bash {
  color: #0550ae;
}
.lumis-function-macro {
  color: #6639ba;
}
.lumis-function-method {
  color: #6639ba;
}
.lumis-function-method-call {
  color: #6639ba;
}
.lumis-highlighted {
  background-color: #e7eaf0;
}
.lumis-keyword {
  color: #cf222e;
}
.lumis-keyword-conditional {
  color: #cf222e;
}
.lumis-keyword-conditional-ternary {
  color: #cf222e;
}
.lumis-keyword-coroutine {
  color: #cf222e;
}
.lumis-keyword-debug {
  color: #cf222e;
}
.lumis-keyword-directive {
  color: #cf222e;
}
.lumis-keyword-directive-define {
  color: #cf222e;
}
.lumis-keyword-directive-rust {
  color: #0550ae;
}
.lumis-keyword-exception {
  color: #0550ae;
}
.lumis-keyword-export {
  color: #cf222e;
}
.lumis-keyword-function {
  color: #cf222e;
}
.lumis-keyword-import {
  color: #cf222e;
}
.lumis-keyword-modifier {
  color: #cf222e;
}
.lumis-keyword-operator {
  color: #cf222e;
}
.lumis-keyword-repeat {
  color: #cf222e;
}
.lumis-keyword-return {
  color: #cf222e;
}
.lumis-keyword-type {
  color: #cf222e;
}
.lumis-label {
  color: #116329;
}
.lumis-label-ruby {
  color: #0550ae;
}
.lumis-markup {
  color: #1f2328;
}
.lumis-markup-environment {
  color: #cf222e;
}
.lumis-markup-environment-name {
  color: #6639ba;
}
.lumis-markup-heading {
  color: #0550ae;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #0550ae;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #0550ae;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #0550ae;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #0550ae;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #0550ae;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #0550ae;
  font-weight: bold;
}
.lumis-markup-heading-html {
  color: #1f2328;
}
.lumis-markup-italic {
  color: #1f2328;
  font-style: italic;
}
.lumis-markup-link {
  color: #1f2328;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #1f2328;
}
.lumis-markup-link-url {
  color: #1f2328;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #0550ae;
}
.lumis-markup-list-bash {
  color: #1f2328;
}
.lumis-markup-list-checked {
  color: #116329;
}
.lumis-markup-list-unchecked {
  color: #57606a;
}
.lumis-markup-math {
  color: #1f2328;
}
.lumis-markup-quote {
  color: #1f2328;
}
.lumis-markup-quote-markdown {
  color: #116329;
}
.lumis-markup-raw {
  color: #1f2328;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #1f2328;
  font-style: italic;
}
.lumis-markup-strikethrough {
  color: #1f2328;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #1f2328;
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #cf222e;
}
.lumis-module-builtin {
  color: #0550ae;
}
.lumis-module-c_sharp {
  color: #953800;
}
.lumis-module-elixir {
  color: #953800;
}
.lumis-module-php {
  color: #953800;
}
.lumis-normal {
  color: #1f2328;
  background-color: #ffffff;
}
.lumis-number {
  color: #0550ae;
}
.lumis-number-float {
  color: #0550ae;
}
.lumis-operator {
  color: #0550ae;
}
.lumis-operator-bash {
  color: #cf222e;
}
.lumis-operator-lua {
  color: #cf222e;
}
.lumis-property {
  color: #0550ae;
}
.lumis-property-json {
  color: #116329;
}
.lumis-property-lua {
  color: #1f2328;
}
.lumis-property-yaml {
  color: #116329;
}
.lumis-punctuation-bracket {
  color: #1f2328;
}
.lumis-punctuation-delimiter {
  color: #1f2328;
}
.lumis-punctuation-delimiter-bash {
  color: #cf222e;
}
.lumis-punctuation-special {
  color: #1f2328;
}
.lumis-string {
  color: #0a3069;
}
.lumis-string-documentation {
  color: #0a3069;
}
.lumis-string-escape {
  color: #0a3069;
  font-weight: bold;
}
.lumis-string-regexp {
  color: #0a3069;
}
.lumis-string-special {
  color: #1f2328;
}
.lumis-string-special-path {
  color: #1f2328;
}
.lumis-string-special-path-gitignore {
  color: #6639ba;
}
.lumis-string-special-path-nix {
  color: #0a3069;
}
.lumis-string-special-symbol {
  color: #0550ae;
}
.lumis-string-special-symbol-make {
  color: #6639ba;
}
.lumis-string-special-url {
  color: #0550ae;
  font-style: italic;
  text-decoration: underline;
}
.lumis-tag {
  color: #116329;
}
.lumis-tag-attribute {
  color: #0550ae;
}
.lumis-tag-builtin {
  color: #116329;
}
.lumis-tag-delimiter-javascript {
  color: #0550ae;
}
.lumis-tag-delimiter-tsx {
  color: #0550ae;
}
.lumis-tag-javascript {
  color: #953800;
}
.lumis-tag-tsx {
  color: #953800;
}
.lumis-type {
  color: #953800;
}
.lumis-type-builtin {
  color: #cf222e;
}
.lumis-type-builtin-python {
  color: #0550ae;
}
.lumis-type-css {
  color: #116329;
}
.lumis-type-definition {
  color: #953800;
}
.lumis-type-sql {
  color: #1f2328;
}
.lumis-variable {
  color: #1f2328;
}
.lumis-variable-builtin {
  color: #0550ae;
}
.lumis-variable-member {
  color: #0550ae;
}
.lumis-variable-member-python {
  color: #1f2328;
}
.lumis-variable-parameter {
  color: #1f2328;
}
.lumis-variable-parameter-builtin {
  color: #0550ae;
}
.lumis-variable-sql {
  color: #0550ae;
}
