/* gruvbox_material_dark
 * revision: 11d779b26a9ab2b3db8c22c6ac9fb6e8ed4fea79
 */

pre.lumis {
  color: #d4be98;
  background-color: #282828;
}
.lumis-attribute {
  color: #d3869b;
}
.lumis-attribute-builtin {
  color: #d8a657;
}
.lumis-boolean {
  color: #d3869b;
}
.lumis-character {
  color: #89b482;
}
.lumis-character-special {
  color: #d8a657;
}
.lumis-comment {
  color: #928374;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #928374;
  font-style: italic;
}
.lumis-comment-error {
  color: #282828;
  background-color: #ea6962;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #928374;
  font-style: italic;
}
.lumis-comment-note {
  color: #282828;
  background-color: #a9b665;
  font-weight: bold;
}
.lumis-comment-todo {
  color: #282828;
  background-color: #7daea3;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #282828;
  background-color: #d8a657;
  font-weight: bold;
}
.lumis-constant {
  color: #d4be98;
}
.lumis-constant-builtin {
  color: #d3869b;
}
.lumis-constant-builtin-go {
  color: #89b482;
}
.lumis-constant-macro {
  color: #d3869b;
}
.lumis-constructor {
  color: #a9b665;
}
.lumis-constructor-lua {
  color: #d4be98;
}
.lumis-constructor-tsx {
  color: #d8a657;
}
.lumis-diff-delta {
  color: #7daea3;
}
.lumis-diff-minus {
  color: #ea6962;
}
.lumis-diff-plus {
  color: #a9b665;
}
.lumis-error {
  color: #ea6962;
}
.lumis-function {
  color: #a9b665;
}
.lumis-function-builtin {
  color: #a9b665;
}
.lumis-function-call {
  color: #a9b665;
}
.lumis-function-macro {
  color: #a9b665;
}
.lumis-function-method {
  color: #a9b665;
}
.lumis-function-method-call {
  color: #a9b665;
}
.lumis-highlighted {
  background-color: #32302f;
}
.lumis-keyword {
  color: #ea6962;
}
.lumis-keyword-conditional {
  color: #ea6962;
}
.lumis-keyword-conditional-ternary {
  color: #ea6962;
}
.lumis-keyword-coroutine {
  color: #ea6962;
}
.lumis-keyword-debug {
  color: #e78a4e;
}
.lumis-keyword-directive {
  color: #d3869b;
}
.lumis-keyword-directive-define {
  color: #d3869b;
}
.lumis-keyword-exception {
  color: #ea6962;
}
.lumis-keyword-export {
  color: #ea6962;
}
.lumis-keyword-function {
  color: #ea6962;
}
.lumis-keyword-import {
  color: #ea6962;
}
.lumis-keyword-modifier {
  color: #ea6962;
}
.lumis-keyword-operator {
  color: #e78a4e;
}
.lumis-keyword-repeat {
  color: #ea6962;
}
.lumis-keyword-return {
  color: #ea6962;
}
.lumis-keyword-type {
  color: #ea6962;
}
.lumis-label {
  color: #e78a4e;
}
.lumis-markup {
  color: #d8a657;
}
.lumis-markup-environment {
  color: #89b482;
}
.lumis-markup-environment-name {
  color: #d8a657;
}
.lumis-markup-heading {
  color: #e78a4e;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #e78a4e;
  font-weight: bold;
}
.lumis-markup-heading-1-markdown {
  color: #ea6962;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #e78a4e;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #e78a4e;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #d8a657;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #e78a4e;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #a9b665;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #e78a4e;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #7daea3;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #e78a4e;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #d3869b;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #89b482;
}
.lumis-markup-link-label {
  color: #d8a657;
}
.lumis-markup-link-url {
  color: #7daea3;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #7daea3;
}
.lumis-markup-list-checked {
  color: #a9b665;
}
.lumis-markup-list-unchecked {
  color: #928374;
}
.lumis-markup-math {
  color: #7daea3;
}
.lumis-markup-quote {
  color: #928374;
}
.lumis-markup-raw {
  color: #a9b665;
}
.lumis-markup-raw-block {
  color: #a9b665;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #d8a657;
}
.lumis-module-builtin {
  color: #d8a657;
}
.lumis-module-go {
  color: #d4be98;
}
.lumis-namespace {
  color: #d8a657;
}
.lumis-namespace-go {
  color: #d4be98;
}
.lumis-number {
  color: #d3869b;
}
.lumis-number-float {
  color: #d3869b;
}
.lumis-operator {
  color: #e78a4e;
}
.lumis-property {
  color: #7daea3;
}
.lumis-punctuation-bracket {
  color: #d4be98;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #ea6962;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #d8a657;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #7daea3;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #e78a4e;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #a9b665;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #d3869b;
}
.lumis-punctuation-delimiter {
  color: #928374;
}
.lumis-punctuation-special {
  color: #7daea3;
}
.lumis-punctuation-special-tsx {
  color: #e78a4e;
}
.lumis-punctuation-special-typescript {
  color: #e78a4e;
}
.lumis-string {
  color: #89b482;
}
.lumis-string-documentation {
  color: #89b482;
}
.lumis-string-escape {
  color: #a9b665;
}
.lumis-string-regex {
  color: #a9b665;
}
.lumis-string-regexp {
  color: #a9b665;
}
.lumis-string-special {
  color: #d8a657;
}
.lumis-string-special-path {
  color: #d8a657;
}
.lumis-string-special-symbol {
  color: #d4be98;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #e78a4e;
}
.lumis-tag-attribute {
  color: #a9b665;
}
.lumis-tag-builtin {
  color: #d8a657;
}
.lumis-tag-delimiter {
  color: #a9b665;
}
.lumis-type {
  color: #d8a657;
}
.lumis-type-builtin {
  color: #d8a657;
}
.lumis-type-definition {
  color: #d8a657;
}
.lumis-variable {
  color: #d4be98;
}
.lumis-variable-builtin {
  color: #d3869b;
}
.lumis-variable-member {
  color: #7daea3;
}
.lumis-variable-parameter {
  color: #d4be98;
}
.lumis-variable-parameter-builtin {
  color: #d8a657;
}
