/* gruvbox_light
 * revision: 154eb5ff5b96d0641307113fa385eaf0d36d9796
 */

pre.lumis {
  color: #3c3836;
  background-color: #fbf1c7;
}
.lumis-attribute {
  color: #427b58;
}
.lumis-attribute-builtin {
  color: #af3a03;
}
.lumis-boolean {
  color: #8f3f71;
}
.lumis-character {
  color: #8f3f71;
}
.lumis-character-special {
  color: #af3a03;
}
.lumis-comment {
  color: #928374;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #928374;
  font-style: italic;
}
.lumis-comment-error {
  color: #fbf1c7;
  background-color: #9d0006;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #928374;
  font-style: italic;
}
.lumis-comment-note {
  color: #af3a03;
}
.lumis-comment-todo {
  color: #fbf1c7;
  background-color: #b57614;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-warning {
  color: #9d0006;
  font-weight: bold;
}
.lumis-constant {
  color: #8f3f71;
}
.lumis-constant-builtin {
  color: #af3a03;
}
.lumis-constant-macro {
  color: #427b58;
}
.lumis-constructor {
  color: #af3a03;
}
.lumis-diff-delta {
  background-color: #e8e5b5;
}
.lumis-diff-minus {
  background-color: #fc9487;
}
.lumis-diff-plus {
  background-color: #d5d39b;
}
.lumis-function {
  color: #79740e;
  font-weight: bold;
}
.lumis-function-builtin {
  color: #af3a03;
}
.lumis-function-call {
  color: #79740e;
  font-weight: bold;
}
.lumis-function-macro {
  color: #427b58;
}
.lumis-function-method {
  color: #79740e;
  font-weight: bold;
}
.lumis-function-method-call {
  color: #79740e;
  font-weight: bold;
}
.lumis-highlighted {
  background-color: #ebdbb2;
}
.lumis-keyword {
  color: #9d0006;
}
.lumis-keyword-conditional {
  color: #9d0006;
}
.lumis-keyword-conditional-ternary {
  color: #9d0006;
}
.lumis-keyword-coroutine {
  color: #9d0006;
}
.lumis-keyword-debug {
  color: #af3a03;
}
.lumis-keyword-directive {
  color: #427b58;
}
.lumis-keyword-directive-define {
  color: #427b58;
}
.lumis-keyword-exception {
  color: #9d0006;
}
.lumis-keyword-export {
  color: #9d0006;
}
.lumis-keyword-function {
  color: #9d0006;
}
.lumis-keyword-import {
  color: #427b58;
}
.lumis-keyword-modifier {
  color: #9d0006;
}
.lumis-keyword-operator {
  color: #9d0006;
}
.lumis-keyword-repeat {
  color: #9d0006;
}
.lumis-keyword-return {
  color: #9d0006;
}
.lumis-keyword-type {
  color: #9d0006;
}
.lumis-label {
  color: #9d0006;
}
.lumis-markup {
  color: #3c3836;
}
.lumis-markup-environment {
  color: #427b58;
}
.lumis-markup-environment-name {
  color: #b57614;
}
.lumis-markup-heading {
  color: #79740e;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #79740e;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #79740e;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #79740e;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #79740e;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #79740e;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #79740e;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #076678;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #af3a03;
}
.lumis-markup-link-url {
  color: #076678;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #af3a03;
}
.lumis-markup-list-checked {
  color: #79740e;
}
.lumis-markup-list-unchecked {
  color: #928374;
}
.lumis-markup-math {
  color: #af3a03;
}
.lumis-markup-quote {
  color: #3c3836;
}
.lumis-markup-raw {
  color: #79740e;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #79740e;
  font-style: italic;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #3c3836;
}
.lumis-module-builtin {
  color: #af3a03;
}
.lumis-namespace {
  color: #3c3836;
}
.lumis-number {
  color: #8f3f71;
}
.lumis-number-float {
  color: #8f3f71;
}
.lumis-operator {
  color: #af3a03;
}
.lumis-property {
  color: #076678;
}
.lumis-punctuation-bracket {
  color: #af3a03;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #9d0006;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #b57614;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #076678;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #af3a03;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #79740e;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #8f3f71;
}
.lumis-punctuation-delimiter {
  color: #af3a03;
}
.lumis-punctuation-special {
  color: #af3a03;
}
.lumis-string {
  color: #79740e;
  font-style: italic;
}
.lumis-string-documentation {
  color: #79740e;
  font-style: italic;
}
.lumis-string-escape {
  color: #af3a03;
}
.lumis-string-regexp {
  color: #79740e;
  font-style: italic;
}
.lumis-string-special {
  color: #af3a03;
}
.lumis-string-special-path {
  color: #076678;
  text-decoration: underline;
}
.lumis-string-special-symbol {
  color: #076678;
}
.lumis-string-special-url {
  color: #076678;
  text-decoration: underline;
}
.lumis-tag {
  color: #af3a03;
}
.lumis-tag-attribute {
  color: #076678;
}
.lumis-tag-builtin {
  color: #af3a03;
}
.lumis-tag-delimiter {
  color: #af3a03;
}
.lumis-type {
  color: #b57614;
}
.lumis-type-builtin {
  color: #b57614;
}
.lumis-type-definition {
  color: #b57614;
}
.lumis-variable {
  color: #3c3836;
}
.lumis-variable-builtin {
  color: #af3a03;
}
.lumis-variable-member {
  color: #076678;
}
.lumis-variable-parameter {
  color: #076678;
}
.lumis-variable-parameter-builtin {
  color: #af3a03;
}
