pre.athl {
  color: #d4be98;
  background-color: #282828;
}
.attribute {
  color: #d3869b;
}
.attribute-builtin {
  color: #d8a657;
}
.boolean {
  color: #d3869b;
}
.character {
  color: #89b482;
}
.character-special {
  color: #d8a657;
}
.comment {
  color: #928374;
  font-style: italic;
}
.comment-documentation {
  color: #928374;
  font-style: italic;
}
.constant {
  color: #d4be98;
}
.constant-builtin {
  color: #d3869b;
}
.constant-macro {
  color: #d3869b;
}
.constructor {
  color: #a9b665;
}
.diff-minus {
  color: #ea6962;
}
.diff-plus {
  color: #a9b665;
}
.error {
  color: #ea6962;
}
.function {
  color: #a9b665;
}
.function-builtin {
  color: #a9b665;
}
.function-call {
  color: #a9b665;
}
.function-macro {
  color: #a9b665;
}
.function-method {
  color: #a9b665;
}
.function-method-call {
  color: #a9b665;
}
.keyword {
  color: #ea6962;
}
.keyword-conditional {
  color: #ea6962;
}
.keyword-conditional-ternary {
  color: #ea6962;
}
.keyword-coroutine {
  color: #ea6962;
}
.keyword-debug {
  color: #e78a4e;
}
.keyword-directive {
  color: #d3869b;
}
.keyword-directive-define {
  color: #d3869b;
}
.keyword-exception {
  color: #ea6962;
}
.keyword-function {
  color: #ea6962;
}
.keyword-import {
  color: #ea6962;
}
.keyword-modifier {
  color: #ea6962;
}
.keyword-operator {
  color: #e78a4e;
}
.keyword-repeat {
  color: #ea6962;
}
.keyword-return {
  color: #ea6962;
}
.keyword-type {
  color: #ea6962;
}
.label {
  color: #e78a4e;
}
.markup-heading {
  color: #e78a4e;
  font-weight: bold;
}
.markup-heading-1 {
  color: #e78a4e;
  font-weight: bold;
}
.markup-heading-2 {
  color: #e78a4e;
  font-weight: bold;
}
.markup-heading-3 {
  color: #e78a4e;
  font-weight: bold;
}
.markup-heading-4 {
  color: #e78a4e;
  font-weight: bold;
}
.markup-heading-5 {
  color: #e78a4e;
  font-weight: bold;
}
.markup-heading-6 {
  color: #e78a4e;
  font-weight: bold;
}
.markup-italic {
  font-style: italic;
}
.markup-link-label {
  color: #d8a657;
}
.markup-raw {
  color: #a9b665;
}
.markup-strikethrough {
  text-decoration: line-through;
}
.markup-strong {
  font-weight: bold;
}
.markup-underline {
  text-decoration: underline;
}
.module {
  color: #d8a657;
}
.module-builtin {
  color: #d8a657;
}
.namespace {
  color: #d8a657;
}
.none {
  color: #d4be98;
}
.normal {
  color: #d4be98;
  background-color: #282828;
}
.number {
  color: #d3869b;
}
.number-float {
  color: #d3869b;
}
.operator {
  color: #e78a4e;
}
.property {
  color: #7daea3;
}
.punctuation-bracket {
  color: #d4be98;
}
.punctuation-delimiter {
  color: #928374;
}
.punctuation-special {
  color: #7daea3;
}
.string {
  color: #89b482;
}
.string-documentation {
  color: #89b482;
}
.string-escape {
  color: #a9b665;
}
.string-regexp {
  color: #a9b665;
}
.string-special {
  color: #d8a657;
}
.string-special-path {
  color: #d8a657;
}
.string-special-symbol {
  color: #d4be98;
}
.string-special-url {
  text-decoration: underline;
}
.tag {
  color: #e78a4e;
}
.tag-attribute {
  color: #a9b665;
}
.tag-delimiter {
  color: #a9b665;
}
.type {
  color: #d8a657;
}
.type-builtin {
  color: #d8a657;
}
.type-definition {
  color: #d8a657;
}
.variable {
  color: #d4be98;
}
.variable-builtin {
  color: #d3869b;
}
.variable-member {
  color: #7daea3;
}
.variable-parameter {
  color: #d4be98;
}
.variable-parameter-builtin {
  color: #d8a657;
}
