/* iceberg
 * revision: 23835d5ed696436f716cbfdb56a93a7850fe3b18
 */

pre.lumis {
  color: #c6c8d1;
  background-color: #161821;
}
.lumis-attribute {
  color: #b4be82;
}
.lumis-attribute-builtin {
  color: #b4be82;
}
.lumis-boolean {
  color: #a093c7;
}
.lumis-character {
  color: #a093c7;
}
.lumis-character-special {
  color: #b4be82;
}
.lumis-comment {
  color: #6b7089;
}
.lumis-comment-documentation {
  color: #6b7089;
}
.lumis-comment-error {
  color: #e27878;
}
.lumis-comment-hint {
  color: #6b7089;
}
.lumis-comment-note {
  color: #89b8c2;
}
.lumis-comment-todo {
  color: #b4be82;
  background-color: #45493e;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #e2a478;
}
.lumis-constant {
  color: #a093c7;
}
.lumis-constant-builtin {
  color: #a093c7;
}
.lumis-constant-macro {
  color: #a093c7;
}
.lumis-constructor {
  color: #c6c8d1;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-error {
  color: #e27878;
  background-color: #161821;
}
.lumis-function {
  color: #a3adcb;
}
.lumis-function-builtin {
  color: #a3adcb;
}
.lumis-function-call {
  color: #a3adcb;
}
.lumis-function-macro {
  color: #a3adcb;
}
.lumis-function-method {
  color: #a3adcb;
}
.lumis-function-method-call {
  color: #a3adcb;
}
.lumis-highlighted {
  background-color: #1e2132;
}
.lumis-keyword {
  color: #84a0c6;
}
.lumis-keyword-conditional {
  color: #84a0c6;
}
.lumis-keyword-conditional-ternary {
  color: #84a0c6;
}
.lumis-keyword-coroutine {
  color: #84a0c6;
}
.lumis-keyword-debug {
  color: #84a0c6;
}
.lumis-keyword-directive {
  color: #84a0c6;
}
.lumis-keyword-directive-define {
  color: #84a0c6;
}
.lumis-keyword-exception {
  color: #84a0c6;
}
.lumis-keyword-export {
  color: #84a0c6;
}
.lumis-keyword-function {
  color: #84a0c6;
}
.lumis-keyword-import {
  color: #84a0c6;
}
.lumis-keyword-modifier {
  color: #84a0c6;
}
.lumis-keyword-operator {
  color: #84a0c6;
}
.lumis-keyword-repeat {
  color: #84a0c6;
}
.lumis-keyword-return {
  color: #84a0c6;
}
.lumis-keyword-type {
  color: #84a0c6;
}
.lumis-label {
  color: #b4be82;
}
.lumis-markup {
  color: #b4be82;
}
.lumis-markup-environment {
  color: #b4be82;
}
.lumis-markup-environment-name {
  color: #b4be82;
}
.lumis-markup-heading {
  color: #e2a478;
}
.lumis-markup-heading-1 {
  color: #e2a478;
}
.lumis-markup-heading-2 {
  color: #e2a478;
}
.lumis-markup-heading-3 {
  color: #e2a478;
}
.lumis-markup-heading-4 {
  color: #e2a478;
}
.lumis-markup-heading-5 {
  color: #e2a478;
}
.lumis-markup-heading-6 {
  color: #e2a478;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #84a0c6;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #84a0c6;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #84a0c6;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #b4be82;
}
.lumis-markup-list-checked {
  color: #b4be82;
}
.lumis-markup-list-unchecked {
  color: #b4be82;
}
.lumis-markup-math {
  color: #b4be82;
}
.lumis-markup-quote {
  color: #b4be82;
}
.lumis-markup-raw {
  color: #b4be82;
}
.lumis-markup-raw-block {
  color: #b4be82;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #84a0c6;
}
.lumis-module-builtin {
  color: #b4be82;
}
.lumis-namespace {
  color: #84a0c6;
}
.lumis-number {
  color: #a093c7;
}
.lumis-number-float {
  color: #a093c7;
}
.lumis-operator {
  color: #c6c8d1;
}
.lumis-property {
  color: #c6c8d1;
}
.lumis-punctuation-bracket {
  color: #c6c8d1;
}
.lumis-punctuation-delimiter {
  color: #c6c8d1;
}
.lumis-punctuation-special {
  color: #b4be82;
}
.lumis-string {
  color: #89b8c2;
}
.lumis-string-documentation {
  color: #89b8c2;
}
.lumis-string-escape {
  color: #b4be82;
}
.lumis-string-regexp {
  color: #b4be82;
}
.lumis-string-special {
  color: #b4be82;
}
.lumis-string-special-path {
  color: #b4be82;
}
.lumis-string-special-symbol {
  color: #b4be82;
}
.lumis-string-special-url {
  color: #84a0c6;
  text-decoration: underline;
}
.lumis-tag-attribute {
  color: #a093c7;
}
.lumis-tag-builtin {
  color: #b4be82;
}
.lumis-type {
  color: #84a0c6;
}
.lumis-type-builtin {
  color: #84a0c6;
}
.lumis-type-definition {
  color: #84a0c6;
}
.lumis-variable {
  color: #c6c8d1;
}
.lumis-variable-builtin {
  color: #84a0c6;
}
.lumis-variable-member {
  color: #c6c8d1;
}
.lumis-variable-parameter {
  color: #c6c8d1;
}
.lumis-variable-parameter-builtin {
  color: #b4be82;
}
