/* jellybeans
 * revision: d5989265b5256cb296b5772c73e57490e84f69b1
 */

pre.lumis {
  color: #e8e8d4;
  background-color: #141414;
}
.lumis-attribute {
  color: #8297c0;
}
.lumis-attribute-builtin {
  color: #8bc1aa;
}
.lumis-boolean {
  color: #cf694a;
}
.lumis-character {
  color: #cf694a;
}
.lumis-character-special {
  color: #8bc1aa;
}
.lumis-comment {
  color: #878787;
}
.lumis-comment-documentation {
  color: #878787;
}
.lumis-comment-error {
  color: #ffc0b9;
}
.lumis-comment-hint {
  color: #878787;
}
.lumis-comment-note {
  color: #8cf8f7;
}
.lumis-comment-todo {
  color: #c7c7c7;
}
.lumis-comment-warning {
  color: #fce094;
}
.lumis-constant {
  color: #cf694a;
}
.lumis-constant-builtin {
  color: #8bc1aa;
}
.lumis-constant-macro {
  color: #cf694a;
}
.lumis-constructor {
  color: #8bc1aa;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #facf7a;
}
.lumis-function-builtin {
  color: #8bc1aa;
}
.lumis-function-call {
  color: #facf7a;
}
.lumis-function-macro {
  color: #facf7a;
}
.lumis-function-method {
  color: #facf7a;
}
.lumis-function-method-call {
  color: #facf7a;
}
.lumis-highlighted {
  background-color: #1c1c1c;
}
.lumis-keyword {
  color: #b2d1f0;
}
.lumis-keyword-conditional {
  color: #b2d1f0;
}
.lumis-keyword-conditional-ternary {
  color: #b2d1f0;
}
.lumis-keyword-coroutine {
  color: #b2d1f0;
}
.lumis-keyword-debug {
  color: #b2d1f0;
}
.lumis-keyword-directive {
  color: #b2d1f0;
}
.lumis-keyword-directive-define {
  color: #b2d1f0;
}
.lumis-keyword-exception {
  color: #b2d1f0;
}
.lumis-keyword-export {
  color: #b2d1f0;
}
.lumis-keyword-function {
  color: #b2d1f0;
}
.lumis-keyword-import {
  color: #b2d1f0;
}
.lumis-keyword-modifier {
  color: #b2d1f0;
}
.lumis-keyword-operator {
  color: #b2d1f0;
}
.lumis-keyword-repeat {
  color: #b2d1f0;
}
.lumis-keyword-return {
  color: #b2d1f0;
}
.lumis-keyword-type {
  color: #b2d1f0;
}
.lumis-label {
  color: #b2d1f0;
}
.lumis-markup {
  color: #8bc1aa;
}
.lumis-markup-environment {
  color: #8bc1aa;
}
.lumis-markup-environment-name {
  color: #8bc1aa;
}
.lumis-markup-heading {
  color: #70b950;
}
.lumis-markup-heading-1 {
  color: #70b950;
}
.lumis-markup-heading-2 {
  color: #70b950;
}
.lumis-markup-heading-3 {
  color: #70b950;
}
.lumis-markup-heading-4 {
  color: #70b950;
}
.lumis-markup-heading-5 {
  color: #70b950;
}
.lumis-markup-heading-6 {
  color: #70b950;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  text-decoration: underline;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #8bc1aa;
}
.lumis-markup-list-checked {
  color: #8bc1aa;
}
.lumis-markup-list-unchecked {
  color: #8bc1aa;
}
.lumis-markup-math {
  color: #8bc1aa;
}
.lumis-markup-quote {
  color: #8bc1aa;
}
.lumis-markup-raw {
  color: #8bc1aa;
}
.lumis-markup-raw-block {
  color: #8bc1aa;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #8fbedc;
}
.lumis-module-builtin {
  color: #8bc1aa;
}
.lumis-namespace {
  color: #f09ebf;
}
.lumis-number {
  color: #cf694a;
}
.lumis-number-float {
  color: #cf694a;
}
.lumis-operator {
  color: #8fbedc;
}
.lumis-property {
  color: #c5b5ee;
}
.lumis-punctuation-bracket {
  color: #668799;
}
.lumis-punctuation-delimiter {
  color: #668799;
}
.lumis-punctuation-special {
  color: #8bc1aa;
}
.lumis-string {
  color: #9aae6b;
}
.lumis-string-documentation {
  color: #9aae6b;
}
.lumis-string-escape {
  color: #8bc1aa;
}
.lumis-string-regexp {
  color: #8bc1aa;
}
.lumis-string-special {
  color: #8bc1aa;
}
.lumis-string-special-path {
  color: #8bc1aa;
}
.lumis-string-special-symbol {
  color: #8bc1aa;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #8bc1aa;
}
.lumis-tag-attribute {
  color: #8bc1aa;
}
.lumis-tag-builtin {
  color: #8bc1aa;
}
.lumis-tag-delimiter {
  color: #556677;
}
.lumis-type {
  color: #ffba66;
  font-style: italic;
}
.lumis-type-builtin {
  color: #8bc1aa;
}
.lumis-type-definition {
  color: #ffba66;
  font-style: italic;
}
.lumis-variable {
  color: #e8e8d4;
  background-color: #141414;
}
.lumis-variable-builtin {
  color: #8bc1aa;
}
.lumis-variable-member {
  color: #e8e8d4;
  background-color: #141414;
}
.lumis-variable-parameter {
  color: #e8e8d4;
  background-color: #141414;
}
.lumis-variable-parameter-builtin {
  color: #8bc1aa;
}
