/* material_lighter
 * revision: 92f7366a9315cd386bc4fa4d716fde375dda210f
 */

pre.lumis {
  color: #546e7a;
  background-color: #fafafa;
}
.lumis-attribute {
  background-color: #dbe2ed;
}
.lumis-attribute-builtin {
  color: #39adb5;
}
.lumis-boolean {
  color: #f76d47;
}
.lumis-character {
  color: #f76d47;
}
.lumis-character-special {
  color: #e53935;
}
.lumis-comment {
  color: #aabfc9;
}
.lumis-comment-documentation {
  color: #aabfc9;
}
.lumis-comment-error {
  color: #aabfc9;
  background-color: #ff5370;
}
.lumis-comment-hint {
  color: #aabfc9;
  background-color: #7c4dff;
}
.lumis-comment-note {
  color: #aabfc9;
  background-color: #8796b0;
}
.lumis-comment-todo {
  color: #aabfc9;
}
.lumis-comment-warning {
  color: #aabfc9;
  background-color: #f6a434;
}
.lumis-constant {
  color: #f6a434;
}
.lumis-constant-builtin {
  color: #f6a434;
}
.lumis-constant-macro {
  color: #39adb5;
}
.lumis-constructor {
  color: #6182b8;
}
.lumis-diff-delta {
  background-color: #dbe2ed;
}
.lumis-diff-minus {
  background-color: #f6d3d3;
}
.lumis-diff-plus {
  background-color: #e5edda;
}
.lumis-error {
  color: #ff5370;
  font-weight: bold;
}
.lumis-function {
  color: #6182b8;
}
.lumis-function-builtin {
  color: #6182b8;
}
.lumis-function-call {
  color: #6182b8;
}
.lumis-function-macro {
  color: #6182b8;
}
.lumis-function-method {
  color: #6182b8;
}
.lumis-function-method-call {
  color: #6182b8;
}
.lumis-highlighted {
  background-color: #e7e7e8;
}
.lumis-keyword {
  color: #7c4dff;
}
.lumis-keyword-conditional {
  color: #7c4dff;
}
.lumis-keyword-conditional-ternary {
  color: #7c4dff;
}
.lumis-keyword-coroutine {
  color: #7c4dff;
}
.lumis-keyword-debug {
  color: #7c4dff;
}
.lumis-keyword-directive {
  color: #39adb5;
}
.lumis-keyword-directive-define {
  color: #39adb5;
}
.lumis-keyword-exception {
  color: #e53935;
}
.lumis-keyword-export {
  color: #7c4dff;
}
.lumis-keyword-function {
  color: #7c4dff;
}
.lumis-keyword-import {
  color: #39adb5;
}
.lumis-keyword-modifier {
  color: #7c4dff;
}
.lumis-keyword-operator {
  color: #7c4dff;
}
.lumis-keyword-repeat {
  color: #7c4dff;
}
.lumis-keyword-return {
  color: #7c4dff;
}
.lumis-keyword-type {
  color: #7c4dff;
}
.lumis-label {
  color: #f6a434;
}
.lumis-markup {
  color: #39adb5;
}
.lumis-markup-environment {
  color: #e53935;
}
.lumis-markup-environment-name {
  color: #e53935;
}
.lumis-markup-heading {
  color: #39adb5;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #39adb5;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #39adb5;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #39adb5;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #39adb5;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #39adb5;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #39adb5;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #e53935;
}
.lumis-markup-link-label {
  color: #e53935;
}
.lumis-markup-link-url {
  color: #80cbc4;
}
.lumis-markup-list {
  color: #39adb5;
}
.lumis-markup-list-checked {
  color: #91b859;
}
.lumis-markup-math {
  color: #6182b8;
}
.lumis-markup-quote {
  color: #39adb5;
}
.lumis-markup-raw {
  color: #7c4dff;
}
.lumis-markup-raw-block {
  color: #7c4dff;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #f6a434;
}
.lumis-module-builtin {
  color: #39adb5;
}
.lumis-namespace {
  color: #f6a434;
}
.lumis-number {
  color: #f76d47;
}
.lumis-number-float {
  color: #f76d47;
}
.lumis-operator {
  color: #39adb5;
}
.lumis-property {
  color: #94a7b0;
}
.lumis-punctuation-bracket {
  color: #39adb5;
}
.lumis-punctuation-delimiter {
  color: #39adb5;
}
.lumis-punctuation-special {
  color: #39adb5;
}
.lumis-string {
  color: #91b859;
}
.lumis-string-documentation {
  color: #91b859;
}
.lumis-string-escape {
  color: #94a7b0;
}
.lumis-string-regex {
  color: #f6a434;
}
.lumis-string-regexp {
  color: #f6a434;
}
.lumis-string-special {
  color: #94a7b0;
}
.lumis-string-special-path {
  color: #94a7b0;
}
.lumis-string-special-symbol {
  color: #f6a434;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #e53935;
}
.lumis-tag-attribute {
  color: #7c4dff;
}
.lumis-tag-builtin {
  color: #39adb5;
}
.lumis-tag-delimiter {
  color: #39adb5;
}
.lumis-type {
  color: #7c4dff;
}
.lumis-type-builtin {
  color: #7c4dff;
}
.lumis-variable {
  color: #546e7a;
}
.lumis-variable-builtin {
  color: #7c4dff;
}
.lumis-variable-member {
  color: #94a7b0;
}
.lumis-variable-parameter {
  color: #546e7a;
}
.lumis-variable-parameter-builtin {
  color: #39adb5;
}
