/* mellifluous_tender
 * revision: ec0575bdb63594c5e7fba6eb9607b009aa1fb74e
 */

pre.lumis {
  color: #eeeeee;
  background-color: #282828;
}
.lumis-attribute {
  color: #73cef4;
}
.lumis-attribute-builtin {
  color: #73cef4;
}
.lumis-boolean {
  color: #ffc24b;
}
.lumis-character {
  color: #d3b987;
}
.lumis-character-special {
  color: #d3b987;
}
.lumis-comment {
  color: #757575;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #c9d05c;
  font-style: italic;
}
.lumis-comment-error {
  color: #f08894;
  background-color: #503b3e;
}
.lumis-comment-hint {
  color: #757575;
  font-style: italic;
}
.lumis-comment-note {
  color: #5db8de;
  background-color: #33454c;
}
.lumis-comment-todo {
  color: #aeb43d;
  background-color: #43442c;
}
.lumis-comment-warning {
  color: #dba019;
  background-color: #4c4025;
}
.lumis-constant {
  color: #ffc24b;
}
.lumis-constant-builtin {
  color: #ffc24b;
}
.lumis-constant-macro {
  color: #ffc24b;
}
.lumis-constructor {
  color: #b3deef;
}
.lumis-diff-delta {
  background-color: #46391b;
}
.lumis-diff-minus {
  background-color: #522f35;
}
.lumis-diff-plus {
  background-color: #3d3e21;
}
.lumis-function {
  color: #b3deef;
}
.lumis-function-builtin {
  color: #b3deef;
}
.lumis-function-call {
  color: #b3deef;
}
.lumis-function-macro {
  color: #b3deef;
}
.lumis-function-method {
  color: #b3deef;
}
.lumis-function-method-call {
  color: #b3deef;
}
.lumis-highlighted {
  background-color: #313131;
}
.lumis-keyword {
  color: #73cef4;
}
.lumis-keyword-conditional {
  color: #c9d05c;
}
.lumis-keyword-conditional-ternary {
  color: #c9d05c;
}
.lumis-keyword-coroutine {
  color: #c9d05c;
}
.lumis-keyword-debug {
  color: #73cef4;
}
.lumis-keyword-directive {
  color: #b3deef;
}
.lumis-keyword-directive-define {
  color: #b3deef;
}
.lumis-keyword-exception {
  color: #c9d05c;
}
.lumis-keyword-export {
  color: #73cef4;
}
.lumis-keyword-function {
  color: #c9d05c;
}
.lumis-keyword-import {
  color: #b3deef;
}
.lumis-keyword-modifier {
  color: #73cef4;
}
.lumis-keyword-operator {
  color: #73cef4;
}
.lumis-keyword-repeat {
  color: #c9d05c;
}
.lumis-keyword-return {
  color: #c9d05c;
}
.lumis-keyword-type {
  color: #73cef4;
}
.lumis-label {
  color: #73cef4;
}
.lumis-label-markdown {
  color: #757575;
}
.lumis-markup-environment {
  color: #73cef4;
}
.lumis-markup-environment-name {
  color: #73cef4;
}
.lumis-markup-heading {
  color: #ffa3af;
  background-color: #483739;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #ffa3af;
  background-color: #483739;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #f8bc43;
  background-color: #453b26;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #dec390;
  background-color: #413c34;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #c9d05c;
  background-color: #3d3e2b;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #a4cfdf;
  background-color: #383e41;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #79d4fb;
  background-color: #303f45;
  font-weight: bold;
}
.lumis-markup-heading-gitcommit {
  color: #d3b987;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #ffc24b;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #ffc24b;
  text-decoration: underline;
}
.lumis-markup-link-markdown_inline {
  color: #ffc24b;
}
.lumis-markup-link-url {
  color: #8bb4c5;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #b3deef;
}
.lumis-markup-list-checked {
  color: #aeb43d;
}
.lumis-markup-list-unchecked {
  color: #aeb43d;
  background-color: #43442c;
}
.lumis-markup-math {
  color: #73cef4;
}
.lumis-markup-quote {
  color: #73cef4;
}
.lumis-markup-raw {
  color: #c1c1c1;
}
.lumis-markup-raw-block {
  color: #c1c1c1;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #73cef4;
}
.lumis-module-builtin {
  color: #73cef4;
}
.lumis-namespace {
  color: #73cef4;
}
.lumis-number {
  color: #ffc24b;
}
.lumis-number-float {
  color: #ffc24b;
}
.lumis-operator {
  color: #b3deef;
}
.lumis-property {
  color: #eeeeee;
}
.lumis-punctuation-bracket {
  color: #b3deef;
}
.lumis-punctuation-delimiter {
  color: #b3deef;
}
.lumis-punctuation-special {
  color: #b3deef;
}
.lumis-string {
  color: #d3b987;
}
.lumis-string-documentation {
  color: #c9d05c;
}
.lumis-string-escape {
  color: #d3b987;
}
.lumis-string-regexp {
  color: #d3b987;
}
.lumis-string-special {
  color: #d3b987;
}
.lumis-string-special-path {
  color: #8bb4c5;
  text-decoration: underline;
}
.lumis-string-special-symbol {
  color: #d3b987;
}
.lumis-string-special-url {
  color: #8bb4c5;
  text-decoration: underline;
}
.lumis-tag {
  color: #73cef4;
}
.lumis-tag-attribute {
  color: #b3deef;
}
.lumis-tag-builtin {
  color: #73cef4;
}
.lumis-tag-delimiter {
  color: #b3deef;
}
.lumis-type {
  color: #73cef4;
}
.lumis-type-builtin {
  color: #73cef4;
}
.lumis-type-definition {
  color: #73cef4;
}
.lumis-variable {
  color: #eeeeee;
}
.lumis-variable-builtin {
  color: #73cef4;
}
.lumis-variable-member {
  color: #eeeeee;
}
.lumis-variable-parameter {
  color: #eeeeee;
}
.lumis-variable-parameter-builtin {
  color: #73cef4;
}
