/* mellifluous_mountain
 * revision: ec0575bdb63594c5e7fba6eb9607b009aa1fb74e
 */

pre.lumis {
  color: #dbdbdb;
  background-color: #0f0f0f;
}
.lumis-attribute {
  color: #aca98a;
}
.lumis-attribute-builtin {
  color: #aca98a;
}
.lumis-boolean {
  color: #c6a679;
}
.lumis-character {
  color: #8aac8b;
}
.lumis-character-special {
  color: #8aac8b;
}
.lumis-comment {
  color: #575757;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #8aac8b;
  font-style: italic;
}
.lumis-comment-error {
  color: #9b7a7c;
  background-color: #2b2425;
}
.lumis-comment-hint {
  color: #575757;
  font-style: italic;
}
.lumis-comment-note {
  color: #987798;
  background-color: #2a242a;
}
.lumis-comment-todo {
  color: #6d8e6e;
  background-color: #222822;
}
.lumis-comment-warning {
  color: #9d7e52;
  background-color: #2b251c;
}
.lumis-constant {
  color: #c6a679;
}
.lumis-constant-builtin {
  color: #c6a679;
}
.lumis-constant-macro {
  color: #c6a679;
}
.lumis-constructor {
  color: #8f8aac;
}
.lumis-diff-delta {
  background-color: #261f13;
}
.lumis-diff-minus {
  background-color: #2c1b1c;
}
.lumis-diff-plus {
  background-color: #182418;
}
.lumis-function {
  color: #8f8aac;
}
.lumis-function-builtin {
  color: #8f8aac;
}
.lumis-function-call {
  color: #8f8aac;
}
.lumis-function-macro {
  color: #8f8aac;
}
.lumis-function-method {
  color: #8f8aac;
}
.lumis-function-method-call {
  color: #8f8aac;
}
.lumis-highlighted {
  background-color: #191919;
}
.lumis-keyword {
  color: #aca98a;
}
.lumis-keyword-conditional {
  color: #ac8aac;
}
.lumis-keyword-conditional-ternary {
  color: #ac8aac;
}
.lumis-keyword-coroutine {
  color: #ac8aac;
}
.lumis-keyword-debug {
  color: #aca98a;
}
.lumis-keyword-directive {
  color: #8f8aac;
}
.lumis-keyword-directive-define {
  color: #8f8aac;
}
.lumis-keyword-exception {
  color: #ac8aac;
}
.lumis-keyword-export {
  color: #aca98a;
}
.lumis-keyword-function {
  color: #ac8aac;
}
.lumis-keyword-import {
  color: #8f8aac;
}
.lumis-keyword-modifier {
  color: #aca98a;
}
.lumis-keyword-operator {
  color: #aca98a;
}
.lumis-keyword-repeat {
  color: #ac8aac;
}
.lumis-keyword-return {
  color: #ac8aac;
}
.lumis-keyword-type {
  color: #aca98a;
}
.lumis-label {
  color: #aca98a;
}
.lumis-label-markdown {
  color: #575757;
}
.lumis-markup-environment {
  color: #aca98a;
}
.lumis-markup-environment-name {
  color: #aca98a;
}
.lumis-markup-heading {
  color: #b69496;
  background-color: #252020;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #b69496;
  background-color: #252020;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #b8986b;
  background-color: #26211a;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #a29f80;
  background-color: #22221d;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #87a988;
  background-color: #1e231e;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #9e99bb;
  background-color: #222126;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #b391b3;
  background-color: #252025;
  font-weight: bold;
}
.lumis-markup-heading-gitcommit {
  color: #8aac8b;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #c6a679;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #c6a679;
  text-decoration: underline;
}
.lumis-markup-link-markdown_inline {
  color: #c6a679;
}
.lumis-markup-link-url {
  color: #696484;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #ac8a8c;
}
.lumis-markup-list-checked {
  color: #6d8e6e;
}
.lumis-markup-list-unchecked {
  color: #6d8e6e;
  background-color: #222822;
}
.lumis-markup-math {
  color: #aca98a;
}
.lumis-markup-quote {
  color: #aca98a;
}
.lumis-markup-raw {
  color: #afafaf;
}
.lumis-markup-raw-block {
  color: #afafaf;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #aca98a;
}
.lumis-module-builtin {
  color: #aca98a;
}
.lumis-namespace {
  color: #aca98a;
}
.lumis-normal {
  color: #dbdbdb;
  background-color: #0f0f0f;
}
.lumis-number {
  color: #c6a679;
}
.lumis-number-float {
  color: #c6a679;
}
.lumis-operator {
  color: #ac8a8c;
}
.lumis-property {
  color: #dbdbdb;
}
.lumis-punctuation-bracket {
  color: #ac8a8c;
}
.lumis-punctuation-delimiter {
  color: #ac8a8c;
}
.lumis-punctuation-special {
  color: #ac8a8c;
}
.lumis-string {
  color: #8aac8b;
}
.lumis-string-documentation {
  color: #8aac8b;
}
.lumis-string-escape {
  color: #8aac8b;
}
.lumis-string-regexp {
  color: #8aac8b;
}
.lumis-string-special {
  color: #8aac8b;
}
.lumis-string-special-path {
  color: #696484;
  text-decoration: underline;
}
.lumis-string-special-symbol {
  color: #8aac8b;
}
.lumis-string-special-url {
  color: #696484;
  text-decoration: underline;
}
.lumis-tag {
  color: #aca98a;
}
.lumis-tag-attribute {
  color: #8f8aac;
}
.lumis-tag-builtin {
  color: #aca98a;
}
.lumis-tag-delimiter {
  color: #ac8a8c;
}
.lumis-type {
  color: #aca98a;
}
.lumis-type-builtin {
  color: #aca98a;
}
.lumis-type-definition {
  color: #aca98a;
}
.lumis-variable {
  color: #dbdbdb;
}
.lumis-variable-builtin {
  color: #aca98a;
}
.lumis-variable-member {
  color: #dbdbdb;
}
.lumis-variable-parameter {
  color: #dbdbdb;
}
.lumis-variable-parameter-builtin {
  color: #aca98a;
}
