/* mellow
 * revision: 6273b7f0ddf6ac2b75021b3bc0bd8b3305cfeef1
 */

pre.lumis {
  color: #c9c7cd;
  background-color: #161617;
}
.lumis-attribute {
  color: #ea83a5;
}
.lumis-attribute-builtin {
  color: #aca1cf;
}
.lumis-boolean {
  color: #e6b99d;
}
.lumis-character {
  color: #90b99f;
}
.lumis-character-special {
  color: #e6b99d;
}
.lumis-comment {
  color: #757581;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #757581;
  font-style: italic;
}
.lumis-comment-error {
  color: #f5a191;
}
.lumis-comment-hint {
  color: #757581;
  font-style: italic;
}
.lumis-comment-note {
  color: #aca1cf;
}
.lumis-comment-todo {
  color: #e6b99d;
}
.lumis-comment-warning {
  color: #e6b99d;
}
.lumis-constant {
  color: #ea83a5;
}
.lumis-constant-builtin {
  color: #e6b99d;
}
.lumis-constant-macro {
  color: #ea83a5;
}
.lumis-constructor {
  color: #9998a8;
}
.lumis-constructor-javascript {
  color: #ea83a5;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #c1c0d4;
}
.lumis-function-builtin {
  color: #aca1cf;
}
.lumis-function-call {
  color: #c1c0d4;
}
.lumis-function-macro {
  color: #c1c0d4;
}
.lumis-function-method {
  color: #c1c0d4;
}
.lumis-function-method-call {
  color: #c1c0d4;
}
.lumis-highlighted {
  background-color: #1b1b1d;
}
.lumis-keyword {
  color: #aca1cf;
}
.lumis-keyword-clojure {
  color: #f591b2;
}
.lumis-keyword-conditional {
  color: #aca1cf;
}
.lumis-keyword-conditional-ternary {
  color: #aca1cf;
}
.lumis-keyword-coroutine {
  color: #aca1cf;
}
.lumis-keyword-debug {
  color: #aca1cf;
}
.lumis-keyword-directive {
  color: #aca1cf;
}
.lumis-keyword-directive-define {
  color: #aca1cf;
}
.lumis-keyword-exception {
  color: #aca1cf;
}
.lumis-keyword-export {
  color: #aca1cf;
}
.lumis-keyword-function {
  color: #ea83a5;
}
.lumis-keyword-import {
  color: #aca1cf;
}
.lumis-keyword-modifier {
  color: #aca1cf;
}
.lumis-keyword-operator {
  color: #aca1cf;
}
.lumis-keyword-repeat {
  color: #aca1cf;
}
.lumis-keyword-return {
  color: #aca1cf;
}
.lumis-keyword-type {
  color: #aca1cf;
}
.lumis-label {
  color: #aca1cf;
}
.lumis-markup {
  color: #aca1cf;
}
.lumis-markup-environment {
  color: #aca1cf;
}
.lumis-markup-environment-name {
  color: #aca1cf;
}
.lumis-markup-heading {
  color: #9998a8;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #9998a8;
  font-weight: bold;
  font-style: italic;
}
.lumis-markup-heading-2 {
  color: #9998a8;
  font-weight: bold;
  font-style: italic;
}
.lumis-markup-heading-3 {
  color: #9998a8;
  font-weight: bold;
  font-style: italic;
}
.lumis-markup-heading-4 {
  color: #9998a8;
  font-weight: bold;
  font-style: italic;
}
.lumis-markup-heading-5 {
  color: #9998a8;
  font-weight: bold;
  font-style: italic;
}
.lumis-markup-heading-6 {
  color: #9998a8;
  font-weight: bold;
  font-style: italic;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #9998a8;
}
.lumis-markup-link-label {
  color: #ea83a5;
}
.lumis-markup-link-url {
  color: #aca1cf;
}
.lumis-markup-list {
  color: #757581;
  font-weight: bold;
}
.lumis-markup-list-checked {
  color: #757581;
}
.lumis-markup-list-unchecked {
  color: #757581;
}
.lumis-markup-math {
  color: #aca1cf;
}
.lumis-markup-quote {
  color: #9998a8;
}
.lumis-markup-raw {
  color: #aca1cf;
}
.lumis-markup-raw-block {
  color: #757581;
}
.lumis-markup-strikethrough {
  color: #57575f;
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #e6b99d;
}
.lumis-module-builtin {
  color: #aca1cf;
}
.lumis-namespace {
  color: #ea83a5;
  font-style: italic;
}
.lumis-normal {
  color: #c9c7cd;
  background-color: #161617;
}
.lumis-number {
  color: #e29eca;
}
.lumis-number-float {
  color: #e29eca;
}
.lumis-operator {
  color: #e6b99d;
}
.lumis-property {
  color: #c1c0d4;
}
.lumis-punctuation-bracket {
  color: #9998a8;
}
.lumis-punctuation-delimiter {
  color: #9998a8;
}
.lumis-punctuation-special {
  color: #9998a8;
}
.lumis-string {
  color: #90b99f;
}
.lumis-string-documentation {
  color: #90b99f;
  font-style: italic;
}
.lumis-string-escape {
  color: #e29eca;
}
.lumis-string-regex {
  color: #aca1cf;
}
.lumis-string-regexp {
  color: #e6b99d;
}
.lumis-string-special {
  color: #e6b99d;
}
.lumis-string-special-path {
  color: #e6b99d;
}
.lumis-string-special-symbol {
  color: #e6b99d;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #ea83a5;
}
.lumis-tag-attribute {
  color: #b9aeda;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #aca1cf;
}
.lumis-tag-delimiter {
  color: #9998a8;
}
.lumis-type {
  color: #b9aeda;
}
.lumis-type-builtin {
  color: #e29eca;
}
.lumis-type-definition {
  color: #b9aeda;
}
.lumis-variable {
  color: #c9c7cd;
}
.lumis-variable-builtin {
  color: #aca1cf;
}
.lumis-variable-member {
  color: #c1c0d4;
}
.lumis-variable-parameter {
  color: #e29eca;
}
.lumis-variable-parameter-builtin {
  color: #aca1cf;
}
