/* mellifluous_kanagawa_dragon
 * revision: ec0575bdb63594c5e7fba6eb9607b009aa1fb74e
 */

pre.lumis {
  color: #d7d4d4;
  background-color: #181616;
}
.lumis-attribute {
  color: #8992a7;
}
.lumis-attribute-builtin {
  color: #8992a7;
}
.lumis-boolean {
  color: #b6927b;
}
.lumis-character {
  color: #c4b28a;
}
.lumis-character-special {
  color: #c4b28a;
}
.lumis-comment {
  color: #737c73;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #8a9a7b;
  font-style: italic;
}
.lumis-comment-error {
  color: #b96a65;
  background-color: #382726;
}
.lumis-comment-hint {
  color: #737c73;
  font-style: italic;
}
.lumis-comment-note {
  color: #8d7e8e;
  background-color: #2f2b2e;
}
.lumis-comment-todo {
  color: #7a8a6c;
  background-color: #2c2d27;
}
.lumis-comment-warning {
  color: #a37967;
  background-color: #342a26;
}
.lumis-constant {
  color: #b6927b;
}
.lumis-constant-builtin {
  color: #b6927b;
}
.lumis-constant-macro {
  color: #b6927b;
}
.lumis-constructor {
  color: #8ba4b0;
}
.lumis-diff-delta {
  background-color: #34221b;
}
.lumis-diff-minus {
  background-color: #391e1d;
}
.lumis-diff-plus {
  background-color: #28271d;
}
.lumis-function {
  color: #8ba4b0;
}
.lumis-function-builtin {
  color: #8ba4b0;
}
.lumis-function-call {
  color: #8ba4b0;
}
.lumis-function-macro {
  color: #8ba4b0;
}
.lumis-function-method {
  color: #8ba4b0;
}
.lumis-function-method-call {
  color: #8ba4b0;
}
.lumis-highlighted {
  background-color: #222020;
}
.lumis-keyword {
  color: #8992a7;
}
.lumis-keyword-conditional {
  color: #c4746e;
}
.lumis-keyword-conditional-ternary {
  color: #c4746e;
}
.lumis-keyword-coroutine {
  color: #c4746e;
}
.lumis-keyword-debug {
  color: #8992a7;
}
.lumis-keyword-directive {
  color: #8ba4b0;
}
.lumis-keyword-directive-define {
  color: #8ba4b0;
}
.lumis-keyword-exception {
  color: #c4746e;
}
.lumis-keyword-export {
  color: #8992a7;
}
.lumis-keyword-function {
  color: #c4746e;
}
.lumis-keyword-import {
  color: #8ba4b0;
}
.lumis-keyword-modifier {
  color: #8992a7;
}
.lumis-keyword-operator {
  color: #8992a7;
}
.lumis-keyword-repeat {
  color: #c4746e;
}
.lumis-keyword-return {
  color: #c4746e;
}
.lumis-keyword-type {
  color: #8992a7;
}
.lumis-label {
  color: #8992a7;
}
.lumis-label-markdown {
  color: #737c73;
}
.lumis-markup-environment {
  color: #8992a7;
}
.lumis-markup-environment-name {
  color: #8992a7;
}
.lumis-markup-heading {
  color: #d6847e;
  background-color: #322323;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #d6847e;
  background-color: #322323;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #bf9380;
  background-color: #2e2623;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #ae9c74;
  background-color: #2c2721;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #94a486;
  background-color: #282924;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #8aa2af;
  background-color: #26282a;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #a898a9;
  background-color: #2b2729;
  font-weight: bold;
}
.lumis-markup-heading-gitcommit {
  color: #c4b28a;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #b6927b;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #b6927b;
  text-decoration: underline;
}
.lumis-markup-link-markdown_inline {
  color: #b6927b;
}
.lumis-markup-link-url {
  color: #657d88;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #9e9b93;
}
.lumis-markup-list-checked {
  color: #7a8a6c;
}
.lumis-markup-list-unchecked {
  color: #7a8a6c;
  background-color: #2c2d27;
}
.lumis-markup-math {
  color: #8992a7;
}
.lumis-markup-quote {
  color: #8992a7;
}
.lumis-markup-raw {
  color: #aba8a8;
}
.lumis-markup-raw-block {
  color: #aba8a8;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #8ea4a2;
}
.lumis-module-builtin {
  color: #8992a7;
}
.lumis-namespace {
  color: #8ea4a2;
}
.lumis-number {
  color: #b6927b;
}
.lumis-number-float {
  color: #b6927b;
}
.lumis-operator {
  color: #9e9b93;
}
.lumis-property {
  color: #d7d4d4;
}
.lumis-punctuation-bracket {
  color: #9e9b93;
}
.lumis-punctuation-delimiter {
  color: #9e9b93;
}
.lumis-punctuation-special {
  color: #9e9b93;
}
.lumis-string {
  color: #c4b28a;
}
.lumis-string-documentation {
  color: #8a9a7b;
}
.lumis-string-escape {
  color: #c4b28a;
}
.lumis-string-regexp {
  color: #c4b28a;
}
.lumis-string-special {
  color: #c4b28a;
}
.lumis-string-special-path {
  color: #657d88;
  text-decoration: underline;
}
.lumis-string-special-symbol {
  color: #c4b28a;
}
.lumis-string-special-url {
  color: #657d88;
  text-decoration: underline;
}
.lumis-tag {
  color: #8992a7;
}
.lumis-tag-attribute {
  color: #8ba4b0;
}
.lumis-tag-builtin {
  color: #8992a7;
}
.lumis-tag-delimiter {
  color: #9e9b93;
}
.lumis-type {
  color: #8ea4a2;
}
.lumis-type-builtin {
  color: #8ea4a2;
}
.lumis-type-definition {
  color: #8ea4a2;
}
.lumis-variable {
  color: #d7d4d4;
}
.lumis-variable-builtin {
  color: #8992a7;
}
.lumis-variable-member {
  color: #d7d4d4;
}
.lumis-variable-parameter {
  color: #d7d4d4;
}
.lumis-variable-parameter-builtin {
  color: #8992a7;
}
