/* mfd_gbl_dark
 * revision: 72ae627792960a7e490cb5242a78c570d02ba775
 */

pre.lumis {
  color: #02b582;
  background-color: #004f3a;
}
.lumis-attribute {
  color: #02b582;
}
.lumis-attribute-builtin {
  color: #02b582;
}
.lumis-boolean {
  color: #02b582;
  font-weight: bold;
}
.lumis-character {
  color: #02b582;
}
.lumis-character-special {
  color: #02b582;
  font-weight: bold;
}
.lumis-comment {
  color: #01694a;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #01694a;
  font-style: italic;
}
.lumis-comment-error {
  color: #02b582;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #01694a;
  font-style: italic;
}
.lumis-comment-note {
  color: #01694a;
}
.lumis-comment-todo {
  color: #004f3a;
  background-color: #02b582;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #02b582;
}
.lumis-constant {
  color: #02b582;
}
.lumis-constant-builtin {
  color: #02b582;
  font-weight: bold;
}
.lumis-constant-macro {
  color: #02b582;
  font-weight: bold;
}
.lumis-constructor {
  color: #02b582;
  font-weight: bold;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #02b582;
  font-weight: bold;
}
.lumis-function-builtin {
  color: #02b582;
  font-weight: bold;
  font-style: italic;
}
.lumis-function-call {
  color: #02b582;
}
.lumis-function-macro {
  color: #02b582;
  font-weight: bold;
}
.lumis-function-method {
  color: #02b582;
  font-weight: bold;
}
.lumis-function-method-call {
  color: #02b582;
  font-weight: bold;
}
.lumis-highlighted {
  background-color: #005a44;
}
.lumis-keyword {
  color: #009a70;
  font-weight: bold;
}
.lumis-keyword-conditional {
  color: #009a70;
  font-weight: bold;
}
.lumis-keyword-conditional-ternary {
  color: #009a70;
  font-weight: bold;
}
.lumis-keyword-coroutine {
  color: #009a70;
  font-weight: bold;
}
.lumis-keyword-debug {
  color: #009a70;
  font-weight: bold;
}
.lumis-keyword-directive {
  color: #009a70;
  font-weight: bold;
}
.lumis-keyword-directive-define {
  color: #009a70;
  font-weight: bold;
}
.lumis-keyword-exception {
  color: #009a70;
  font-weight: bold;
}
.lumis-keyword-export {
  color: #009a70;
  font-weight: bold;
}
.lumis-keyword-function {
  color: #009a70;
  font-weight: bold;
}
.lumis-keyword-import {
  color: #009a70;
  font-weight: bold;
}
.lumis-keyword-modifier {
  color: #009a70;
  font-weight: bold;
}
.lumis-keyword-operator {
  color: #02b582;
}
.lumis-keyword-repeat {
  color: #009a70;
  font-weight: bold;
}
.lumis-keyword-return {
  color: #009a70;
  font-weight: bold;
}
.lumis-keyword-type {
  color: #009a70;
  font-weight: bold;
}
.lumis-label {
  color: #02b582;
  font-weight: bold;
}
.lumis-markup {
  color: #02b582;
}
.lumis-markup-environment {
  color: #02b582;
}
.lumis-markup-environment-name {
  color: #02b582;
}
.lumis-markup-heading {
  color: #02b582;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #02b582;
  font-weight: bold;
}
.lumis-markup-heading-1-markdown {
  color: #009a70;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #02b582;
  font-weight: bold;
}
.lumis-markup-heading-2-markdown {
  color: #009a70;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #02b582;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #02b582;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #02b582;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #02b582;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #02b582;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #02b582;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #02b582;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #02b582;
}
.lumis-markup-list-checked {
  color: #02b582;
}
.lumis-markup-list-unchecked {
  color: #02b582;
}
.lumis-markup-math {
  color: #02b582;
}
.lumis-markup-quote {
  color: #02b582;
}
.lumis-markup-raw {
  color: #02b582;
}
.lumis-markup-raw-block {
  color: #02b582;
}
.lumis-markup-raw-markdown_inline {
  background-color: #008560;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #02b582;
}
.lumis-module-builtin {
  color: #02b582;
}
.lumis-normal {
  color: #02b582;
  background-color: #004f3a;
}
.lumis-number {
  color: #02b582;
}
.lumis-number-float {
  color: #02b582;
}
.lumis-operator {
  color: #02b582;
}
.lumis-property {
  color: #02b582;
}
.lumis-punctuation-bracket {
  color: #02b582;
}
.lumis-punctuation-delimiter {
  color: #02b582;
}
.lumis-punctuation-special {
  color: #02b582;
  font-weight: bold;
}
.lumis-string {
  color: #02b582;
  font-style: italic;
}
.lumis-string-documentation {
  color: #02b582;
  font-style: italic;
}
.lumis-string-escape {
  color: #02b582;
  font-weight: bold;
}
.lumis-string-regexp {
  color: #02b582;
  font-weight: bold;
}
.lumis-string-special {
  color: #02b582;
  font-weight: bold;
}
.lumis-string-special-path {
  color: #02b582;
  font-weight: bold;
}
.lumis-string-special-symbol {
  color: #02b582;
  font-weight: bold;
}
.lumis-string-special-url {
  color: #02b582;
  text-decoration: underline;
}
.lumis-tag {
  color: #02b582;
  font-weight: bold;
}
.lumis-tag-attribute {
  color: #02b582;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #02b582;
}
.lumis-tag-delimiter {
  color: #02b582;
}
.lumis-type {
  color: #02b582;
  text-decoration: underline;
}
.lumis-type-builtin {
  color: #02b582;
  text-decoration: underline;
}
.lumis-type-definition {
  color: #02b582;
  text-decoration: underline;
}
.lumis-variable {
  color: #02b582;
}
.lumis-variable-builtin {
  color: #02b582;
  font-style: italic;
}
.lumis-variable-member {
  color: #02b582;
}
.lumis-variable-parameter {
  color: #02b582;
  font-style: italic;
}
.lumis-variable-parameter-builtin {
  color: #02b582;
}
