/* monokai_nightasty_dark
 * revision: 1e9b92006782a1217d0a7a871b871768f1cbf5ed
 */

pre.lumis {
  color: #ffffff;
  background-color: #2b2b2b;
}
.lumis-attribute {
  color: #fc1a70;
}
.lumis-attribute-builtin {
  color: #fc1a70;
  font-style: italic;
}
.lumis-boolean {
  color: #af87ff;
}
.lumis-character {
  color: #af87ff;
}
.lumis-character-special {
  color: #af87ff;
}
.lumis-comment {
  color: #8a8a8a;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #8a8a8a;
  font-style: italic;
}
.lumis-comment-error {
  color: #ff005f;
}
.lumis-comment-hint {
  color: #8a8a8a;
  font-style: italic;
}
.lumis-comment-note {
  color: #0087ff;
}
.lumis-comment-todo {
  color: #ffff87;
  background-color: #585858;
}
.lumis-comment-warning {
  color: #ff9700;
}
.lumis-constant {
  color: #af87ff;
}
.lumis-constant-builtin {
  color: #af87ff;
}
.lumis-constant-macro {
  color: #fc1a70;
}
.lumis-constructor {
  color: #62d8f1;
  font-style: italic;
}
.lumis-constructor-lua {
  color: #fc1a70;
}
.lumis-diff-delta {
  background-color: #25394b;
}
.lumis-diff-minus {
  color: #fc1a70;
  background-color: #4b2533;
}
.lumis-diff-plus {
  color: #a4e400;
  background-color: #3d4725;
}
.lumis-function {
  color: #a4e400;
}
.lumis-function-builtin {
  color: #a4e400;
}
.lumis-function-builtin-bash {
  color: #62d8f1;
}
.lumis-function-call {
  color: #a4e400;
}
.lumis-function-macro {
  color: #fc1a70;
}
.lumis-function-method {
  color: #a4e400;
}
.lumis-function-method-call {
  color: #a4e400;
}
.lumis-highlighted {
  background-color: #404040;
}
.lumis-keyword {
  color: #fc1a70;
}
.lumis-keyword-conditional {
  color: #fc1a70;
}
.lumis-keyword-conditional-ternary {
  color: #fc1a70;
}
.lumis-keyword-coroutine {
  color: #fc1a70;
}
.lumis-keyword-debug {
  color: #ff9700;
}
.lumis-keyword-directive {
  color: #707070;
}
.lumis-keyword-directive-define {
  color: #fc1a70;
}
.lumis-keyword-exception {
  color: #fc1a70;
}
.lumis-keyword-export {
  color: #fc1a70;
}
.lumis-keyword-function {
  color: #62d8f1;
  font-style: italic;
}
.lumis-keyword-import {
  color: #fc1a70;
}
.lumis-keyword-modifier {
  color: #fc1a70;
}
.lumis-keyword-operator {
  color: #fc1a70;
}
.lumis-keyword-repeat {
  color: #fc1a70;
}
.lumis-keyword-return {
  color: #fc1a70;
}
.lumis-keyword-type {
  color: #fc1a70;
}
.lumis-label {
  color: #ffff87;
}
.lumis-markup-environment {
  color: #fc1a70;
}
.lumis-markup-heading {
  color: #ffffff;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #ffffff;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #ffffff;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #ffffff;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #ffffff;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #ffffff;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #ffffff;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #62d8f1;
}
.lumis-markup-link-label {
  color: #62d8f1;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #ff9700;
}
.lumis-markup-list {
  color: #fc1a70;
}
.lumis-markup-list-checked {
  color: #fc1a70;
}
.lumis-markup-list-unchecked {
  color: #fc1a70;
}
.lumis-markup-math {
  color: #af87ff;
}
.lumis-markup-quote {
  color: #ffffff;
  background-color: #262626;
  font-style: italic;
}
.lumis-markup-raw {
  color: #ffff87;
}
.lumis-markup-raw-block {
  color: #8a8a8a;
}
.lumis-markup-raw-markdown_inline {
  color: #af87ff;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #62d8f1;
}
.lumis-module-builtin {
  color: #af87ff;
}
.lumis-number {
  color: #af87ff;
}
.lumis-number-float {
  color: #af87ff;
}
.lumis-operator {
  color: #fc1a70;
}
.lumis-property {
  color: #e6e6e6;
}
.lumis-punctuation-bracket {
  color: #fc1a70;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #fc1a70;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #ffff87;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #0087ff;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #ff9700;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #a4e400;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #af87ff;
}
.lumis-punctuation-delimiter {
  color: #8a8a8a;
}
.lumis-punctuation-special {
  color: #fc1a70;
}
.lumis-string {
  color: #ffff87;
}
.lumis-string-escape {
  color: #af87ff;
}
.lumis-string-regexp {
  color: #ff9700;
}
.lumis-string-special {
  color: #af87ff;
}
.lumis-string-special-path {
  color: #af87ff;
}
.lumis-string-special-symbol {
  color: #af87ff;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #fc1a70;
}
.lumis-tag-attribute {
  color: #62d8f1;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #af87ff;
}
.lumis-tag-delimiter {
  color: #bcbcbc;
}
.lumis-type {
  color: #62d8f1;
}
.lumis-type-builtin {
  color: #62d8f1;
  font-style: italic;
}
.lumis-type-definition {
  color: #62d8f1;
}
.lumis-variable {
  color: #ffffff;
}
.lumis-variable-builtin {
  color: #bcbcbc;
  font-style: italic;
}
.lumis-variable-member {
  color: #ffffff;
}
.lumis-variable-parameter {
  color: #ff9700;
  font-style: italic;
}
.lumis-variable-parameter-builtin {
  color: #af87ff;
}
