/* monokai
 * revision: b8bd44d5796503173627d7a1fc51f77ec3a08a63
 */

pre.lumis {
  color: #f8f8f0;
  background-color: #26292c;
}
.lumis-attribute {
  color: #a6e22e;
}
.lumis-attribute-builtin {
  color: #f8f8f0;
}
.lumis-boolean {
  color: #ae81ff;
}
.lumis-character {
  color: #e6db74;
}
.lumis-character-special {
  color: #ae81ff;
}
.lumis-comment {
  color: #9ca0a4;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #9ca0a4;
  font-style: italic;
}
.lumis-comment-error {
  color: #ffc0b9;
}
.lumis-comment-hint {
  color: #9ca0a4;
  font-style: italic;
}
.lumis-comment-note {
  color: #8cf8f7;
}
.lumis-comment-todo {
  color: #fd971f;
}
.lumis-comment-warning {
  color: #fce094;
}
.lumis-constant {
  color: #66d9ef;
}
.lumis-constant-builtin {
  color: #ae81ff;
}
.lumis-constant-macro {
  color: #ae81ff;
}
.lumis-constructor {
  color: #66d9ef;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-error {
  color: #e95678;
}
.lumis-function {
  color: #a6e22e;
  font-style: italic;
}
.lumis-function-builtin {
  color: #66d9ef;
}
.lumis-function-call {
  color: #f8f8f0;
}
.lumis-function-macro {
  color: #a6e22e;
  font-style: italic;
}
.lumis-function-method {
  color: #a6e22e;
  font-style: italic;
}
.lumis-function-method-call {
  color: #a6e22e;
  font-style: italic;
}
.lumis-highlighted {
  background-color: #2e323c;
}
.lumis-keyword {
  color: #f92672;
  font-style: italic;
}
.lumis-keyword-conditional {
  color: #f92672;
  font-style: italic;
}
.lumis-keyword-conditional-ternary {
  color: #f92672;
  font-style: italic;
}
.lumis-keyword-coroutine {
  color: #f92672;
  font-style: italic;
}
.lumis-keyword-debug {
  color: #f92672;
  font-style: italic;
}
.lumis-keyword-directive {
  color: #f92672;
  font-style: italic;
}
.lumis-keyword-directive-define {
  color: #f92672;
  font-style: italic;
}
.lumis-keyword-exception {
  color: #f92672;
  font-style: italic;
}
.lumis-keyword-export {
  color: #f92672;
  font-style: italic;
}
.lumis-keyword-function {
  color: #66d9ef;
  font-style: italic;
}
.lumis-keyword-import {
  color: #f92672;
  font-style: italic;
}
.lumis-keyword-modifier {
  color: #f92672;
  font-style: italic;
}
.lumis-keyword-operator {
  color: #f92672;
}
.lumis-keyword-repeat {
  color: #f92672;
  font-style: italic;
}
.lumis-keyword-return {
  color: #f92672;
}
.lumis-keyword-type {
  color: #f92672;
  font-style: italic;
}
.lumis-label {
  color: #f92672;
}
.lumis-markup {
  color: #f8f8f0;
}
.lumis-markup-environment {
  color: #f8f8f0;
}
.lumis-markup-environment-name {
  color: #f8f8f0;
}
.lumis-markup-heading {
  color: #e6db74;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #e6db74;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #e6db74;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #e6db74;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #e6db74;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #e6db74;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #e6db74;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  text-decoration: underline;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #f8f8f0;
}
.lumis-markup-list-checked {
  color: #f8f8f0;
}
.lumis-markup-list-unchecked {
  color: #f8f8f0;
}
.lumis-markup-math {
  color: #f8f8f0;
}
.lumis-markup-quote {
  color: #f8f8f0;
}
.lumis-markup-raw {
  color: #f8f8f0;
}
.lumis-markup-raw-block {
  color: #f8f8f0;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #66d9ef;
}
.lumis-module-builtin {
  color: #f8f8f0;
}
.lumis-namespace {
  color: #ae81ff;
}
.lumis-normal {
  color: #f8f8f0;
  background-color: #26292c;
}
.lumis-number {
  color: #ae81ff;
}
.lumis-number-float {
  color: #ae81ff;
}
.lumis-operator {
  color: #f92672;
}
.lumis-property {
  color: #f8f8f0;
}
.lumis-punctuation-bracket {
  color: #f8f8f0;
}
.lumis-punctuation-delimiter {
  color: #f8f8f0;
}
.lumis-punctuation-special {
  color: #f92672;
}
.lumis-string {
  color: #e6db74;
}
.lumis-string-documentation {
  color: #e6db74;
}
.lumis-string-escape {
  color: #ae81ff;
}
.lumis-string-regex {
  color: #ae81ff;
}
.lumis-string-regexp {
  color: #ae81ff;
}
.lumis-string-special {
  color: #ae81ff;
}
.lumis-string-special-path {
  color: #ae81ff;
}
.lumis-string-special-symbol {
  color: #ae81ff;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #f92672;
}
.lumis-tag-attribute {
  color: #a6e22e;
}
.lumis-tag-builtin {
  color: #f8f8f0;
}
.lumis-tag-delimiter {
  color: #f8f8f0;
}
.lumis-type {
  color: #66d9ef;
}
.lumis-type-builtin {
  color: #66d9ef;
}
.lumis-type-definition {
  color: #66d9ef;
}
.lumis-variable {
  color: #f8f8f0;
}
.lumis-variable-builtin {
  color: #fd971f;
}
.lumis-variable-member {
  color: #f8f8f0;
}
.lumis-variable-parameter {
  color: #f8f8f0;
}
.lumis-variable-parameter-builtin {
  color: #f8f8f0;
}
