/* moonlight
 * revision: e24e4218ec680b6396532808abf57ca0ada82e66
 */

pre.lumis {
  color: #e4f3fa;
  background-color: #212337;
}
.lumis-attribute {
  color: #b994f1;
}
.lumis-attribute-builtin {
  color: #ff757f;
}
.lumis-boolean {
  color: #f67f81;
}
.lumis-character {
  color: #f67f81;
}
.lumis-character-special {
  color: #ecb2f0;
}
.lumis-comment {
  color: #7486d6;
}
.lumis-comment-documentation {
  color: #7486d6;
}
.lumis-comment-error {
  color: #ff5370;
}
.lumis-comment-hint {
  color: #7486d6;
}
.lumis-comment-note {
  color: #8cf8f7;
}
.lumis-comment-todo {
  color: #ffc777;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-warning {
  color: #fce094;
}
.lumis-constant {
  color: #ffc777;
}
.lumis-constant-builtin {
  color: #ff757f;
}
.lumis-constant-macro {
  color: #ffc777;
}
.lumis-constructor {
  color: #ff757f;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #04d1f9;
}
.lumis-function-builtin {
  color: #ff757f;
}
.lumis-function-call {
  color: #04d1f9;
}
.lumis-function-macro {
  color: #04d1f9;
}
.lumis-function-method {
  color: #04d1f9;
}
.lumis-function-method-call {
  color: #04d1f9;
}
.lumis-keyword {
  color: #b4a4f4;
}
.lumis-keyword-conditional {
  color: #b4a4f4;
}
.lumis-keyword-conditional-ternary {
  color: #b4a4f4;
}
.lumis-keyword-coroutine {
  color: #b4a4f4;
}
.lumis-keyword-debug {
  color: #b4a4f4;
}
.lumis-keyword-directive {
  color: #b4a4f4;
}
.lumis-keyword-directive-define {
  color: #b4a4f4;
}
.lumis-keyword-exception {
  color: #b4a4f4;
}
.lumis-keyword-export {
  color: #b4a4f4;
}
.lumis-keyword-function {
  color: #b4a4f4;
}
.lumis-keyword-import {
  color: #b4a4f4;
}
.lumis-keyword-modifier {
  color: #b4a4f4;
}
.lumis-keyword-operator {
  color: #b4a4f4;
}
.lumis-keyword-repeat {
  color: #b4a4f4;
}
.lumis-keyword-return {
  color: #b4a4f4;
}
.lumis-keyword-type {
  color: #b4a4f4;
}
.lumis-label {
  color: #b4a4f4;
}
.lumis-markup {
  color: #ff757f;
}
.lumis-markup-environment {
  color: #ff757f;
}
.lumis-markup-environment-name {
  color: #ff757f;
}
.lumis-markup-heading {
  color: #2df4c0;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #2df4c0;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #2df4c0;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #2df4c0;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #2df4c0;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #2df4c0;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #2df4c0;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #80cbc4;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #80cbc4;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #80cbc4;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #ff757f;
}
.lumis-markup-list-checked {
  color: #ff757f;
}
.lumis-markup-list-unchecked {
  color: #ff757f;
}
.lumis-markup-math {
  color: #ff757f;
}
.lumis-markup-quote {
  color: #ff757f;
}
.lumis-markup-raw {
  color: #ff757f;
}
.lumis-markup-raw-block {
  color: #ff757f;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module-builtin {
  color: #ff757f;
}
.lumis-normal {
  color: #e4f3fa;
  background-color: #212337;
}
.lumis-number {
  color: #f67f81;
}
.lumis-number-float {
  color: #f67f81;
}
.lumis-operator {
  color: #b994f1;
}
.lumis-property {
  color: #a6dbff;
}
.lumis-punctuation-bracket {
  color: #b994f1;
}
.lumis-punctuation-delimiter {
  color: #b994f1;
}
.lumis-punctuation-special {
  color: #ff757f;
}
.lumis-string {
  color: #2df4c0;
  font-style: italic;
}
.lumis-string-documentation {
  color: #2df4c0;
  font-style: italic;
}
.lumis-string-escape {
  color: #ecb2f0;
}
.lumis-string-regexp {
  color: #ecb2f0;
}
.lumis-string-special {
  color: #ecb2f0;
}
.lumis-string-special-path {
  color: #ecb2f0;
}
.lumis-string-special-symbol {
  color: #ecb2f0;
}
.lumis-string-special-url {
  color: #80cbc4;
  text-decoration: underline;
}
.lumis-tag {
  color: #ff757f;
}
.lumis-tag-attribute {
  color: #ff757f;
}
.lumis-tag-builtin {
  color: #ff757f;
}
.lumis-tag-delimiter {
  color: #ff757f;
}
.lumis-type {
  color: #b4a4f4;
}
.lumis-type-builtin {
  color: #ff757f;
}
.lumis-type-definition {
  color: #b4a4f4;
}
.lumis-variable {
  color: #e0e2ea;
}
.lumis-variable-builtin {
  color: #ff757f;
}
.lumis-variable-member {
  color: #e0e2ea;
}
.lumis-variable-parameter {
  color: #e0e2ea;
}
.lumis-variable-parameter-builtin {
  color: #ff757f;
}
