/* neomodern_moon_light
 * revision: d41469578922a23d75a0d9e8deef1e34837230a6
 */

pre.lumis {
  color: #48487e;
  background-color: #e6e6e6;
}
.attribute {
  color: #6781ad;
}
.attribute-builtin {
  color: #6778aa;
}
.boolean {
  color: #6f5532;
}
.character {
  color: #5e795e;
}
.character-special {
  color: #506689;
}
.comment {
  color: #a1a1c0;
}
.comment-documentation {
  color: #a1a1c0;
}
.comment-error {
  color: #bc8790;
  font-weight: bold;
  font-style: italic;
}
.comment-hint {
  color: #a1a1c0;
}
.comment-note {
  color: #8a9bd0;
  font-weight: bold;
  font-style: italic;
}
.comment-todo {
  color: #7d7da6;
  font-weight: bold;
  font-style: italic;
}
.comment-warning {
  color: #9c8f85;
  font-weight: bold;
  font-style: italic;
}
.constant {
  color: #434132;
}
.constant-builtin {
  color: #6778aa;
}
.constant-macro {
  color: #434132;
}
.constructor {
  color: #6778aa;
}
.constructor-lua {
  color: #2d2d5c;
}
.diff-delta {
  color: #7b97db;
}
.diff-minus {
  color: #ce7670;
}
.diff-plus {
  color: #64886a;
}
.function {
  color: #6781ad;
}
.function-builtin {
  color: #6781ad;
}
.function-call {
  color: #6781ad;
}
.function-macro {
  color: #6781ad;
}
.function-method {
  color: #6781ad;
}
.function-method-call {
  color: #6781ad;
}
.highlighted {
  background-color: #e8dedf;
}
.keyword {
  color: #506689;
}
.keyword-conditional {
  color: #506689;
}
.keyword-conditional-ternary {
  color: #506689;
}
.keyword-coroutine {
  color: #506689;
}
.keyword-debug {
  color: #506689;
}
.keyword-directive {
  color: #506689;
}
.keyword-directive-define {
  color: #506689;
}
.keyword-exception {
  color: #ce7670;
}
.keyword-export {
  color: #506689;
}
.keyword-function {
  color: #506689;
}
.keyword-import {
  color: #506689;
}
.keyword-modifier {
  color: #506689;
}
.keyword-operator {
  color: #506689;
}
.keyword-repeat {
  color: #506689;
}
.keyword-return {
  color: #506689;
}
.keyword-type {
  color: #506689;
}
.label {
  color: #506689;
}
.markup {
  color: #48487e;
}
.markup-environment {
  color: #48487e;
}
.markup-environment-name {
  color: #48487e;
}
.markup-heading {
  color: #506689;
}
.markup-heading-1 {
  color: #506689;
}
.markup-heading-2 {
  color: #506689;
}
.markup-heading-3 {
  color: #506689;
}
.markup-heading-4 {
  color: #506689;
}
.markup-heading-5 {
  color: #506689;
}
.markup-heading-6 {
  color: #506689;
}
.markup-italic {
  color: #48487e;
  font-style: italic;
}
.markup-link {
  color: #6778aa;
}
.markup-link-label {
  color: #6778aa;
}
.markup-link-url {
  color: #6778aa;
}
.markup-list {
  color: #6781ad;
}
.markup-list-checked {
  color: #6781ad;
}
.markup-list-unchecked {
  color: #6781ad;
}
.markup-math {
  color: #6778aa;
}
.markup-quote {
  color: #48487e;
}
.markup-quote-markdown {
  color: #a1a1c0;
}
.markup-raw {
  color: #6781ad;
}
.markup-raw-block {
  color: #6781ad;
}
.markup-strikethrough {
  color: #a1a1c0;
  text-decoration: line-through;
}
.markup-strong {
  color: #48487e;
  font-weight: bold;
}
.markup-underline {
  color: #48487e;
  text-decoration: underline;
}
.module {
  color: #6778aa;
}
.module-builtin {
  color: #6778aa;
}
.normal {
  color: #48487e;
  background-color: #e6e6e6;
}
.number {
  color: #6f5532;
}
.number-float {
  color: #6f5532;
}
.operator {
  color: #8191be;
}
.property {
  color: #8d6691;
}
.punctuation-bracket {
  color: #8191be;
}
.punctuation-delimiter {
  color: #48487e;
}
.punctuation-special {
  color: #506689;
}
.string {
  color: #5e795e;
}
.string-documentation {
  color: #5e795e;
}
.string-escape {
  color: #506689;
}
.string-regexp {
  color: #506689;
}
.string-special {
  color: #506689;
}
.string-special-path {
  color: #506689;
}
.string-special-symbol {
  color: #8d6691;
}
.string-special-url {
  text-decoration: underline;
}
.tag {
  color: #6778aa;
}
.tag-attribute {
  color: #8d6691;
}
.tag-builtin {
  color: #6778aa;
}
.tag-delimiter {
  color: #48487e;
}
.type {
  color: #6778aa;
}
.type-builtin {
  color: #6778aa;
}
.type-definition {
  color: #6778aa;
}
.variable {
  color: #48487e;
}
.variable-builtin {
  color: #6778aa;
}
.variable-member {
  color: #8d6691;
}
.variable-parameter {
  color: #2d2d5c;
}
.variable-parameter-builtin {
  color: #6778aa;
}
