/* neomodern_moon_light
 * revision: d41469578922a23d75a0d9e8deef1e34837230a6
 */

pre.lumis {
  color: #48487e;
  background-color: #e6e6e6;
}
.lumis-attribute {
  color: #6781ad;
}
.lumis-attribute-builtin {
  color: #6778aa;
}
.lumis-boolean {
  color: #6f5532;
}
.lumis-character {
  color: #5e795e;
}
.lumis-character-special {
  color: #506689;
}
.lumis-comment {
  color: #a1a1c0;
}
.lumis-comment-documentation {
  color: #a1a1c0;
}
.lumis-comment-error {
  color: #bc8790;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-hint {
  color: #a1a1c0;
}
.lumis-comment-note {
  color: #8a9bd0;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-todo {
  color: #7d7da6;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-warning {
  color: #9c8f85;
  font-weight: bold;
  font-style: italic;
}
.lumis-constant {
  color: #434132;
}
.lumis-constant-builtin {
  color: #6778aa;
}
.lumis-constant-macro {
  color: #434132;
}
.lumis-constructor {
  color: #6778aa;
}
.lumis-constructor-lua {
  color: #2d2d5c;
}
.lumis-diff-delta {
  color: #7b97db;
}
.lumis-diff-minus {
  color: #ce7670;
}
.lumis-diff-plus {
  color: #64886a;
}
.lumis-function {
  color: #6781ad;
}
.lumis-function-builtin {
  color: #6781ad;
}
.lumis-function-call {
  color: #6781ad;
}
.lumis-function-macro {
  color: #6781ad;
}
.lumis-function-method {
  color: #6781ad;
}
.lumis-function-method-call {
  color: #6781ad;
}
.lumis-highlighted {
  background-color: #e8dedf;
}
.lumis-keyword {
  color: #506689;
}
.lumis-keyword-conditional {
  color: #506689;
}
.lumis-keyword-conditional-ternary {
  color: #506689;
}
.lumis-keyword-coroutine {
  color: #506689;
}
.lumis-keyword-debug {
  color: #506689;
}
.lumis-keyword-directive {
  color: #506689;
}
.lumis-keyword-directive-define {
  color: #506689;
}
.lumis-keyword-exception {
  color: #ce7670;
}
.lumis-keyword-export {
  color: #506689;
}
.lumis-keyword-function {
  color: #506689;
}
.lumis-keyword-import {
  color: #506689;
}
.lumis-keyword-modifier {
  color: #506689;
}
.lumis-keyword-operator {
  color: #506689;
}
.lumis-keyword-repeat {
  color: #506689;
}
.lumis-keyword-return {
  color: #506689;
}
.lumis-keyword-type {
  color: #506689;
}
.lumis-label {
  color: #506689;
}
.lumis-markup {
  color: #48487e;
}
.lumis-markup-environment {
  color: #48487e;
}
.lumis-markup-environment-name {
  color: #48487e;
}
.lumis-markup-heading {
  color: #506689;
}
.lumis-markup-heading-1 {
  color: #506689;
}
.lumis-markup-heading-2 {
  color: #506689;
}
.lumis-markup-heading-3 {
  color: #506689;
}
.lumis-markup-heading-4 {
  color: #506689;
}
.lumis-markup-heading-5 {
  color: #506689;
}
.lumis-markup-heading-6 {
  color: #506689;
}
.lumis-markup-italic {
  color: #48487e;
  font-style: italic;
}
.lumis-markup-link {
  color: #6778aa;
}
.lumis-markup-link-label {
  color: #6778aa;
}
.lumis-markup-link-url {
  color: #6778aa;
}
.lumis-markup-list {
  color: #6781ad;
}
.lumis-markup-list-checked {
  color: #6781ad;
}
.lumis-markup-list-unchecked {
  color: #6781ad;
}
.lumis-markup-math {
  color: #6778aa;
}
.lumis-markup-quote {
  color: #48487e;
}
.lumis-markup-quote-markdown {
  color: #a1a1c0;
}
.lumis-markup-raw {
  color: #6781ad;
}
.lumis-markup-raw-block {
  color: #6781ad;
}
.lumis-markup-strikethrough {
  color: #a1a1c0;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #48487e;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #48487e;
  text-decoration: underline;
}
.lumis-module {
  color: #6778aa;
}
.lumis-module-builtin {
  color: #6778aa;
}
.lumis-number {
  color: #6f5532;
}
.lumis-number-float {
  color: #6f5532;
}
.lumis-operator {
  color: #8191be;
}
.lumis-property {
  color: #8d6691;
}
.lumis-punctuation-bracket {
  color: #8191be;
}
.lumis-punctuation-delimiter {
  color: #48487e;
}
.lumis-punctuation-special {
  color: #506689;
}
.lumis-string {
  color: #5e795e;
}
.lumis-string-documentation {
  color: #5e795e;
}
.lumis-string-escape {
  color: #506689;
}
.lumis-string-regexp {
  color: #506689;
}
.lumis-string-special {
  color: #506689;
}
.lumis-string-special-path {
  color: #506689;
}
.lumis-string-special-symbol {
  color: #8d6691;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #6778aa;
}
.lumis-tag-attribute {
  color: #8d6691;
}
.lumis-tag-builtin {
  color: #6778aa;
}
.lumis-tag-delimiter {
  color: #48487e;
}
.lumis-type {
  color: #6778aa;
}
.lumis-type-builtin {
  color: #6778aa;
}
.lumis-type-definition {
  color: #6778aa;
}
.lumis-variable {
  color: #48487e;
}
.lumis-variable-builtin {
  color: #6778aa;
}
.lumis-variable-member {
  color: #8d6691;
}
.lumis-variable-parameter {
  color: #2d2d5c;
}
.lumis-variable-parameter-builtin {
  color: #6778aa;
}
