/* neovim_light
 * revision: 306a05526ada86a7b30af95c5cc81ffba93fef97
 */

pre.lumis {
  color: #14161b;
  background-color: #e0e2ea;
}
.lumis-attribute {
  color: #14161b;
}
.lumis-attribute-builtin {
  color: #007373;
}
.lumis-boolean {
  color: #14161b;
}
.lumis-character {
  color: #14161b;
}
.lumis-character-special {
  color: #007373;
}
.lumis-comment {
  color: #4f5258;
}
.lumis-comment-documentation {
  color: #4f5258;
}
.lumis-comment-error {
  color: #590008;
}
.lumis-comment-hint {
  color: #4f5258;
}
.lumis-comment-note {
  color: #007373;
}
.lumis-comment-todo {
  color: #14161b;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #6b5300;
}
.lumis-constant {
  color: #14161b;
}
.lumis-constant-builtin {
  color: #007373;
}
.lumis-constant-macro {
  color: #14161b;
}
.lumis-constructor {
  color: #007373;
}
.lumis-diff-delta {
  color: #007373;
}
.lumis-diff-minus {
  color: #590008;
}
.lumis-diff-plus {
  color: #005523;
}
.lumis-function {
  color: #007373;
}
.lumis-function-builtin {
  color: #007373;
}
.lumis-function-call {
  color: #007373;
}
.lumis-function-macro {
  color: #007373;
}
.lumis-function-method {
  color: #007373;
}
.lumis-function-method-call {
  color: #007373;
}
.lumis-highlighted {
  background-color: #c4c6cd;
}
.lumis-keyword {
  color: #14161b;
  font-weight: bold;
}
.lumis-keyword-conditional {
  color: #14161b;
  font-weight: bold;
}
.lumis-keyword-conditional-ternary {
  color: #14161b;
  font-weight: bold;
}
.lumis-keyword-coroutine {
  color: #14161b;
  font-weight: bold;
}
.lumis-keyword-debug {
  color: #14161b;
  font-weight: bold;
}
.lumis-keyword-directive {
  color: #14161b;
  font-weight: bold;
}
.lumis-keyword-directive-define {
  color: #14161b;
  font-weight: bold;
}
.lumis-keyword-exception {
  color: #14161b;
  font-weight: bold;
}
.lumis-keyword-export {
  color: #14161b;
  font-weight: bold;
}
.lumis-keyword-function {
  color: #14161b;
  font-weight: bold;
}
.lumis-keyword-import {
  color: #14161b;
  font-weight: bold;
}
.lumis-keyword-modifier {
  color: #14161b;
  font-weight: bold;
}
.lumis-keyword-operator {
  color: #14161b;
  font-weight: bold;
}
.lumis-keyword-repeat {
  color: #14161b;
  font-weight: bold;
}
.lumis-keyword-return {
  color: #14161b;
  font-weight: bold;
}
.lumis-keyword-type {
  color: #14161b;
  font-weight: bold;
}
.lumis-label {
  color: #14161b;
  font-weight: bold;
}
.lumis-markup {
  color: #007373;
}
.lumis-markup-environment {
  color: #007373;
}
.lumis-markup-environment-name {
  color: #007373;
}
.lumis-markup-heading {
  color: #14161b;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #14161b;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #14161b;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #14161b;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #14161b;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #14161b;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #14161b;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  text-decoration: underline;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #007373;
}
.lumis-markup-list-checked {
  color: #007373;
}
.lumis-markup-list-unchecked {
  color: #007373;
}
.lumis-markup-math {
  color: #007373;
}
.lumis-markup-quote {
  color: #007373;
}
.lumis-markup-raw {
  color: #007373;
}
.lumis-markup-raw-block {
  color: #007373;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #14161b;
}
.lumis-module-builtin {
  color: #007373;
}
.lumis-number {
  color: #14161b;
}
.lumis-number-float {
  color: #14161b;
}
.lumis-operator {
  color: #14161b;
}
.lumis-property {
  color: #004c73;
}
.lumis-punctuation-bracket {
  color: #14161b;
}
.lumis-punctuation-delimiter {
  color: #14161b;
}
.lumis-punctuation-special {
  color: #007373;
}
.lumis-string {
  color: #005523;
}
.lumis-string-documentation {
  color: #005523;
}
.lumis-string-escape {
  color: #007373;
}
.lumis-string-regexp {
  color: #007373;
}
.lumis-string-special {
  color: #007373;
}
.lumis-string-special-path {
  color: #007373;
}
.lumis-string-special-symbol {
  color: #007373;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #007373;
}
.lumis-tag-attribute {
  color: #007373;
}
.lumis-tag-builtin {
  color: #007373;
}
.lumis-tag-delimiter {
  color: #007373;
}
.lumis-type {
  color: #14161b;
}
.lumis-type-builtin {
  color: #007373;
}
.lumis-type-definition {
  color: #14161b;
}
.lumis-variable {
  color: #14161b;
}
.lumis-variable-builtin {
  color: #007373;
}
.lumis-variable-member {
  color: #14161b;
}
.lumis-variable-parameter {
  color: #14161b;
}
.lumis-variable-parameter-builtin {
  color: #007373;
}
