/* one_monokai
 * revision: 903b3e8923d67d3ee4b67f462b2b112012d7a69d
 */

pre.lumis {
  color: #abb2bf;
  background-color: #282c34;
}
.lumis-attribute {
  color: #61afef;
}
.lumis-attribute-builtin {
  color: #c678dd;
}
.lumis-boolean {
  color: #56b6c2;
}
.lumis-character {
  color: #e5c07b;
}
.lumis-character-special {
  color: #e06c75;
}
.lumis-comment {
  color: #676e7b;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #676e7b;
  font-style: italic;
}
.lumis-comment-error {
  color: #f75f5f;
}
.lumis-comment-hint {
  color: #56b6c2;
}
.lumis-comment-note {
  color: #d7d7ff;
}
.lumis-comment-todo {
  color: #d19a66;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-warning {
  color: #e5c07b;
}
.lumis-constant {
  color: #61afef;
}
.lumis-constant-builtin {
  color: #61afef;
}
.lumis-constant-macro {
  color: #e06c75;
}
.lumis-constructor {
  color: #61afef;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #98c379;
}
.lumis-function-builtin {
  color: #98c379;
}
.lumis-function-call {
  color: #98c379;
}
.lumis-function-macro {
  color: #98c379;
}
.lumis-function-method {
  color: #98c379;
}
.lumis-function-method-call {
  color: #98c379;
}
.lumis-highlighted {
  background-color: #383a3e;
}
.lumis-keyword {
  color: #56b6c2;
}
.lumis-keyword-conditional {
  color: #e06c75;
}
.lumis-keyword-conditional-ternary {
  color: #e06c75;
}
.lumis-keyword-coroutine {
  color: #56b6c2;
}
.lumis-keyword-debug {
  color: #c678dd;
}
.lumis-keyword-directive {
  color: #98c379;
}
.lumis-keyword-directive-define {
  color: #98c379;
}
.lumis-keyword-exception {
  color: #e06c75;
}
.lumis-keyword-export {
  color: #56b6c2;
}
.lumis-keyword-function {
  color: #e06c75;
}
.lumis-keyword-import {
  color: #e06c75;
}
.lumis-keyword-modifier {
  color: #e06c75;
}
.lumis-keyword-operator {
  color: #e06c75;
}
.lumis-keyword-repeat {
  color: #e06c75;
}
.lumis-keyword-return {
  color: #e06c75;
}
.lumis-keyword-type {
  color: #61afef;
}
.lumis-label {
  color: #e06c75;
}
.lumis-markup {
  color: #c678dd;
}
.lumis-markup-environment {
  color: #c678dd;
}
.lumis-markup-environment-name {
  color: #c678dd;
}
.lumis-markup-heading {
  color: #e5c07b;
}
.lumis-markup-heading-1 {
  color: #e5c07b;
}
.lumis-markup-heading-2 {
  color: #e5c07b;
}
.lumis-markup-heading-3 {
  color: #e5c07b;
}
.lumis-markup-heading-4 {
  color: #e5c07b;
}
.lumis-markup-heading-5 {
  color: #e5c07b;
}
.lumis-markup-heading-6 {
  color: #e5c07b;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #61afef;
}
.lumis-markup-link-label {
  color: #e06c75;
}
.lumis-markup-link-url {
  color: #61afef;
  text-decoration: underline wavy;
}
.lumis-markup-list {
  color: #e06c75;
}
.lumis-markup-list-checked {
  color: #98c379;
}
.lumis-markup-list-unchecked {
  color: #e06c75;
}
.lumis-markup-math {
  color: #c678dd;
}
.lumis-markup-quote {
  color: #c678dd;
}
.lumis-markup-raw {
  color: #e5c07b;
}
.lumis-markup-raw-block {
  color: #e5c07b;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #e06c75;
}
.lumis-module-builtin {
  color: #e06c75;
}
.lumis-normal {
  color: #abb2bf;
  background-color: #282c34;
}
.lumis-number {
  color: #c678dd;
}
.lumis-number-float {
  color: #c678dd;
}
.lumis-operator {
  color: #e06c75;
}
.lumis-property {
  color: #98c379;
}
.lumis-punctuation-bracket {
  color: #e06c75;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #d03770;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #e5c07b;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #61afef;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #d19a66;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #98c379;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #c678dd;
}
.lumis-punctuation-delimiter {
  color: #e06c75;
}
.lumis-punctuation-special {
  color: #e06c75;
}
.lumis-string {
  color: #e5c07b;
}
.lumis-string-documentation {
  color: #56b6c2;
}
.lumis-string-escape {
  color: #e06c75;
}
.lumis-string-regexp {
  color: #e5c07b;
}
.lumis-string-special {
  color: #c678dd;
}
.lumis-string-special-path {
  color: #61afef;
  text-decoration: underline wavy;
}
.lumis-string-special-symbol {
  color: #98c379;
}
.lumis-string-special-url {
  color: #61afef;
  text-decoration: underline wavy;
}
.lumis-tag {
  color: #e06c75;
}
.lumis-tag-attribute {
  color: #98c379;
}
.lumis-tag-builtin {
  color: #c678dd;
}
.lumis-tag-delimiter {
  color: #e06c75;
}
.lumis-type {
  color: #61afef;
}
.lumis-type-builtin {
  color: #e06c75;
}
.lumis-type-definition {
  color: #61afef;
}
.lumis-variable {
  color: #abb2bf;
}
.lumis-variable-builtin {
  color: #e06c75;
}
.lumis-variable-member {
  color: #98c379;
}
.lumis-variable-parameter {
  color: #d19a66;
  font-style: italic;
}
.lumis-variable-parameter-builtin {
  color: #d19a66;
  font-style: italic;
}
