/* oxocarbon_light
 * revision: cf49e389c22dab56224e43ae16422ddcd5b61b28
 */

pre.lumis {
  color: #37474f;
  background-color: #ffffff;
}
.lumis-attribute {
  color: #ffab91;
}
.lumis-attribute-builtin {
  color: #37474f;
}
.lumis-boolean {
  color: #ee5396;
}
.lumis-character {
  color: #be95ff;
}
.lumis-character-special {
  color: #37474f;
}
.lumis-comment {
  color: #161616;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #161616;
  font-style: italic;
}
.lumis-comment-error {
  color: #ff6f00;
}
.lumis-comment-hint {
  color: #161616;
  font-style: italic;
}
.lumis-comment-note {
  color: #ee5396;
}
.lumis-comment-todo {
  color: #42be65;
}
.lumis-comment-warning {
  color: #be95ff;
}
.lumis-constant {
  color: #be95ff;
}
.lumis-constant-builtin {
  color: #08bdba;
}
.lumis-constant-macro {
  color: #08bdba;
}
.lumis-constructor {
  color: #ee5396;
}
.lumis-diff-delta {
  color: #007373;
}
.lumis-diff-minus {
  color: #590008;
}
.lumis-diff-plus {
  color: #005523;
}
.lumis-error {
  color: #0f62fe;
}
.lumis-function {
  color: #673ab7;
  font-weight: bold;
}
.lumis-function-builtin {
  color: #673ab7;
}
.lumis-function-call {
  color: #673ab7;
  font-weight: bold;
}
.lumis-function-macro {
  color: #08bdba;
}
.lumis-function-method {
  color: #673ab7;
  font-weight: bold;
}
.lumis-function-method-call {
  color: #673ab7;
  font-weight: bold;
}
.lumis-highlighted {
  background-color: #f2f2f2;
}
.lumis-keyword {
  color: #ee5396;
}
.lumis-keyword-conditional {
  color: #ee5396;
}
.lumis-keyword-conditional-ternary {
  color: #ee5396;
}
.lumis-keyword-coroutine {
  color: #ee5396;
}
.lumis-keyword-debug {
  color: #ee5396;
}
.lumis-keyword-directive {
  color: #ee5396;
}
.lumis-keyword-directive-define {
  color: #ee5396;
}
.lumis-keyword-exception {
  color: #ee5396;
}
.lumis-keyword-export {
  color: #ee5396;
}
.lumis-keyword-function {
  color: #ff7eb6;
}
.lumis-keyword-import {
  color: #ee5396;
}
.lumis-keyword-modifier {
  color: #ee5396;
}
.lumis-keyword-operator {
  color: #ff7eb6;
}
.lumis-keyword-repeat {
  color: #ee5396;
}
.lumis-keyword-return {
  color: #ee5396;
}
.lumis-keyword-type {
  color: #ee5396;
}
.lumis-label {
  color: #ffab91;
}
.lumis-markup-environment {
  color: #08bdba;
}
.lumis-markup-environment-name {
  color: #ee5396;
}
.lumis-markup-heading {
  color: #37474f;
}
.lumis-markup-heading-1 {
  color: #37474f;
}
.lumis-markup-heading-1-markdown {
  color: #ff6f00;
}
.lumis-markup-heading-2 {
  color: #37474f;
}
.lumis-markup-heading-2-markdown {
  color: #ff6f00;
}
.lumis-markup-heading-3 {
  color: #37474f;
}
.lumis-markup-heading-3-markdown {
  color: #ff6f00;
}
.lumis-markup-heading-4 {
  color: #37474f;
}
.lumis-markup-heading-4-markdown {
  color: #ff6f00;
}
.lumis-markup-heading-5 {
  color: #37474f;
}
.lumis-markup-heading-5-markdown {
  color: #ff6f00;
}
.lumis-markup-heading-6 {
  color: #37474f;
}
.lumis-markup-heading-6-markdown {
  color: #ff6f00;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #be95ff;
}
.lumis-markup-link-label {
  text-decoration: underline;
}
.lumis-markup-link-label-markdown_inline {
  font-style: italic;
}
.lumis-markup-link-url {
  color: #be95ff;
}
.lumis-markup-list {
  color: #ff7eb6;
}
.lumis-markup-list-checked {
  color: #ff7eb6;
}
.lumis-markup-list-unchecked {
  color: #ff7eb6;
}
.lumis-markup-math {
  color: #37474f;
}
.lumis-markup-quote {
  color: #ff7eb6;
}
.lumis-markup-raw {
  color: #be95ff;
}
.lumis-markup-raw-block {
  color: #be95ff;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #ee5396;
}
.lumis-module-builtin {
  color: #37474f;
}
.lumis-namespace {
  color: #08bdba;
}
.lumis-number {
  color: #ffab91;
}
.lumis-number-float {
  color: #ffab91;
}
.lumis-operator {
  color: #ee5396;
}
.lumis-property {
  color: #ff6f00;
}
.lumis-punctuation-bracket {
  color: #ff7eb6;
}
.lumis-punctuation-delimiter {
  color: #ff7eb6;
}
.lumis-punctuation-special {
  color: #ff7eb6;
}
.lumis-string {
  color: #be95ff;
}
.lumis-string-documentation {
  color: #be95ff;
}
.lumis-string-escape {
  color: #ffab91;
}
.lumis-string-regex {
  color: #08bdba;
}
.lumis-string-regexp {
  color: #37474f;
}
.lumis-string-special {
  color: #37474f;
}
.lumis-string-special-path {
  color: #37474f;
}
.lumis-string-special-symbol {
  color: #37474f;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #ee5396;
}
.lumis-tag-attribute {
  color: #ffab91;
}
.lumis-tag-builtin {
  color: #37474f;
}
.lumis-tag-builtin-tsx {
  color: #ee5396;
}
.lumis-tag-delimiter {
  color: #ffab91;
}
.lumis-type {
  color: #ee5396;
}
.lumis-type-builtin {
  color: #ee5396;
}
.lumis-type-definition {
  color: #ee5396;
}
.lumis-variable {
  color: #37474f;
}
.lumis-variable-builtin {
  color: #37474f;
}
.lumis-variable-member {
  color: #37474f;
}
.lumis-variable-parameter {
  color: #37474f;
}
.lumis-variable-parameter-builtin {
  color: #37474f;
}
