/* palenightfall
 * revision: 25a1e7d43256834a671174e5d83edb57f7bec1e0
 */

pre.lumis {
  color: #a6accd;
  background-color: #252837;
}
.lumis-attribute {
  color: #89ddff;
}
.lumis-attribute-builtin {
  color: #bb80b3;
}
.lumis-boolean {
  color: #f78c6c;
}
.lumis-character {
  color: #f78c6c;
}
.lumis-character-special {
  color: #bb80b3;
}
.lumis-comment {
  color: #676e95;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #676e95;
  font-style: italic;
}
.lumis-comment-error {
  color: #ff5370;
}
.lumis-comment-hint {
  color: #676e95;
  font-style: italic;
}
.lumis-comment-note {
  color: #82aaff;
}
.lumis-comment-todo {
  color: #f78c6c;
}
.lumis-comment-warning {
  color: #f78c6c;
}
.lumis-constant {
  color: #f78c6c;
}
.lumis-constant-builtin {
  color: #f78c6c;
}
.lumis-constant-macro {
  color: #f78c6c;
}
.lumis-constructor {
  color: #ffcb6b;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #82aaff;
}
.lumis-function-builtin {
  color: #82aaff;
}
.lumis-function-call {
  color: #82aaff;
}
.lumis-function-macro {
  color: #82aaff;
}
.lumis-function-method {
  color: #82aaff;
}
.lumis-function-method-call {
  color: #82aaff;
}
.lumis-highlighted {
  background-color: #232534;
}
.lumis-keyword {
  color: #d49bfd;
}
.lumis-keyword-conditional {
  color: #d49bfd;
}
.lumis-keyword-conditional-ternary {
  color: #d49bfd;
}
.lumis-keyword-coroutine {
  color: #d49bfd;
}
.lumis-keyword-debug {
  color: #d49bfd;
}
.lumis-keyword-directive {
  color: #d49bfd;
}
.lumis-keyword-directive-define {
  color: #d49bfd;
}
.lumis-keyword-exception {
  color: #d49bfd;
}
.lumis-keyword-export {
  color: #d49bfd;
}
.lumis-keyword-function {
  color: #d49bfd;
}
.lumis-keyword-import {
  color: #d49bfd;
}
.lumis-keyword-modifier {
  color: #d49bfd;
}
.lumis-keyword-operator {
  color: #d49bfd;
}
.lumis-keyword-repeat {
  color: #d49bfd;
}
.lumis-keyword-return {
  color: #d49bfd;
}
.lumis-keyword-type {
  color: #d49bfd;
}
.lumis-label {
  color: #d49bfd;
}
.lumis-markup {
  color: #bb80b3;
}
.lumis-markup-environment {
  color: #bb80b3;
}
.lumis-markup-environment-name {
  color: #bb80b3;
}
.lumis-markup-heading {
  color: #ffcb6b;
}
.lumis-markup-heading-1 {
  color: #ffcb6b;
}
.lumis-markup-heading-2 {
  color: #ffcb6b;
}
.lumis-markup-heading-3 {
  color: #ffcb6b;
}
.lumis-markup-heading-4 {
  color: #ffcb6b;
}
.lumis-markup-heading-5 {
  color: #ffcb6b;
}
.lumis-markup-heading-6 {
  color: #ffcb6b;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  text-decoration: underline;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #bb80b3;
}
.lumis-markup-list-checked {
  color: #bb80b3;
}
.lumis-markup-list-unchecked {
  color: #bb80b3;
}
.lumis-markup-math {
  color: #bb80b3;
}
.lumis-markup-quote {
  color: #bb80b3;
}
.lumis-markup-raw {
  color: #bb80b3;
}
.lumis-markup-raw-block {
  color: #bb80b3;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #ffcb6b;
}
.lumis-module-builtin {
  color: #bb80b3;
}
.lumis-normal {
  color: #a6accd;
  background-color: #252837;
}
.lumis-number {
  color: #f78c6c;
}
.lumis-number-float {
  color: #f78c6c;
}
.lumis-operator {
  color: #89ddff;
}
.lumis-property {
  color: #a6accd;
}
.lumis-punctuation-bracket {
  color: #89ddff;
}
.lumis-punctuation-delimiter {
  color: #89ddff;
}
.lumis-punctuation-special {
  color: #bb80b3;
}
.lumis-string {
  color: #c3e88d;
}
.lumis-string-documentation {
  color: #c3e88d;
}
.lumis-string-escape {
  color: #bb80b3;
}
.lumis-string-regexp {
  color: #bb80b3;
}
.lumis-string-special {
  color: #bb80b3;
}
.lumis-string-special-path {
  color: #bb80b3;
}
.lumis-string-special-symbol {
  color: #bb80b3;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #ffcb6b;
}
.lumis-tag-attribute {
  color: #a6accd;
  background-color: #252837;
}
.lumis-tag-builtin {
  color: #bb80b3;
}
.lumis-tag-delimiter {
  color: #7982b4;
}
.lumis-type {
  color: #ffcb6b;
}
.lumis-type-builtin {
  color: #bb80b3;
}
.lumis-type-definition {
  color: #ffcb6b;
}
.lumis-variable {
  color: #a6accd;
  background-color: #252837;
}
.lumis-variable-builtin {
  color: #f78c6c;
}
.lumis-variable-member {
  color: #a6accd;
  background-color: #252837;
}
.lumis-variable-parameter {
  color: #a6accd;
  background-color: #252837;
}
.lumis-variable-parameter-builtin {
  color: #bb80b3;
}
