/* rosebones_light
 * revision: 239bdb9a09c8d38c752c43590d02f654ed0da2b0
 */

pre.lumis {
  color: #724341;
  background-color: #fbf6f0;
}
.lumis-attribute {
  color: #286a84;
}
.lumis-attribute-builtin {
  color: #5795a0;
}
.lumis-boolean {
  color: #724341;
  font-style: italic;
}
.lumis-character {
  color: #ab6763;
  font-style: italic;
}
.lumis-character-special {
  color: #5795a0;
}
.lumis-comment {
  color: #a18e72;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #a18e72;
  font-style: italic;
}
.lumis-comment-error {
  color: #b5637a;
}
.lumis-comment-hint {
  color: #a18e72;
  font-style: italic;
}
.lumis-comment-note {
  color: #5795a0;
}
.lumis-comment-todo {
  font-weight: bold;
  text-decoration: underline;
}
.lumis-comment-warning {
  color: #ec9d33;
}
.lumis-constant {
  color: #935855;
  font-weight: bold;
}
.lumis-constant-builtin {
  color: #ab6763;
  font-style: italic;
}
.lumis-constant-macro {
  color: #ab6763;
  font-style: italic;
}
.lumis-constructor {
  color: #5795a0;
}
.lumis-constructor-lua {
  color: #9b835d;
}
.lumis-diff-delta {
  background-color: #d6e9ed;
}
.lumis-diff-minus {
  background-color: #f0e2e5;
}
.lumis-diff-plus {
  background-color: #dde7ed;
}
.lumis-function {
  color: #724341;
}
.lumis-function-builtin {
  color: #5795a0;
}
.lumis-function-call {
  color: #724341;
}
.lumis-function-macro {
  color: #286a84;
}
.lumis-function-method {
  color: #724341;
}
.lumis-function-method-call {
  color: #724341;
}
.lumis-highlighted {
  background-color: #f7ece0;
}
.lumis-keyword {
  color: #286a84;
}
.lumis-keyword-conditional {
  color: #286a84;
}
.lumis-keyword-conditional-ternary {
  color: #286a84;
}
.lumis-keyword-coroutine {
  color: #286a84;
}
.lumis-keyword-debug {
  color: #5795a0;
}
.lumis-keyword-directive {
  color: #286a84;
}
.lumis-keyword-directive-define {
  color: #286a84;
}
.lumis-keyword-exception {
  color: #286a84;
}
.lumis-keyword-export {
  color: #286a84;
}
.lumis-keyword-function {
  color: #286a84;
}
.lumis-keyword-import {
  color: #286a84;
}
.lumis-keyword-modifier {
  color: #286a84;
}
.lumis-keyword-operator {
  color: #286a84;
}
.lumis-keyword-repeat {
  color: #286a84;
}
.lumis-keyword-return {
  color: #286a84;
}
.lumis-keyword-type {
  color: #286a84;
}
.lumis-label {
  color: #286a84;
}
.lumis-markup {
  color: #5795a0;
}
.lumis-markup-environment {
  color: #286a84;
}
.lumis-markup-environment-name {
  color: #286a84;
}
.lumis-markup-heading {
  color: #724341;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #724341;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #724341;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #724341;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #724341;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #724341;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #724341;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #ab6763;
  font-style: italic;
}
.lumis-markup-link-label {
  color: #5795a0;
}
.lumis-markup-link-markdown {
  color: #935855;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #ab6763;
  font-style: italic;
}
.lumis-markup-link-url-markdown {
  color: #a18e72;
}
.lumis-markup-list {
  color: #5795a0;
}
.lumis-markup-list-checked {
  color: #5795a0;
}
.lumis-markup-list-unchecked {
  color: #5795a0;
}
.lumis-markup-math {
  color: #5795a0;
}
.lumis-markup-quote {
  color: #ab6763;
}
.lumis-markup-raw {
  color: #ab6763;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #ab6763;
  font-style: italic;
}
.lumis-markup-raw-markdown {
  color: #57527a;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #ab6763;
  font-style: italic;
}
.lumis-module-builtin {
  color: #ab6763;
  font-style: italic;
}
.lumis-number {
  color: #ab6763;
}
.lumis-number-float {
  color: #ab6763;
}
.lumis-operator {
  color: #286a84;
}
.lumis-property {
  color: #935855;
}
.lumis-punctuation-bracket {
  color: #9b835d;
}
.lumis-punctuation-delimiter {
  color: #9b835d;
}
.lumis-punctuation-special {
  color: #9b835d;
}
.lumis-punctuation-special-markdown {
  color: #5795a0;
}
.lumis-string {
  color: #ab6763;
  font-style: italic;
}
.lumis-string-documentation {
  color: #ab6763;
  font-style: italic;
}
.lumis-string-escape {
  color: #5795a0;
}
.lumis-string-escape-markdown {
  color: #ceaf7e;
  font-style: italic;
}
.lumis-string-regexp {
  color: #ab6763;
  font-style: italic;
}
.lumis-string-special {
  color: #5795a0;
}
.lumis-string-special-path {
  color: #5795a0;
}
.lumis-string-special-symbol {
  color: #935855;
}
.lumis-string-special-url {
  color: #5795a0;
}
.lumis-tag {
  color: #5795a0;
}
.lumis-tag-attribute {
  color: #935855;
}
.lumis-tag-builtin {
  color: #5795a0;
}
.lumis-tag-delimiter {
  color: #9b835d;
}
.lumis-type {
  color: #57527a;
}
.lumis-type-builtin {
  color: #57527a;
}
.lumis-type-definition {
  color: #57527a;
}
.lumis-variable {
  color: #935855;
}
.lumis-variable-builtin {
  color: #ab6763;
  font-style: italic;
}
.lumis-variable-member {
  color: #935855;
}
.lumis-variable-parameter {
  color: #935855;
}
.lumis-variable-parameter-builtin {
  color: #5795a0;
}
