/* terafox
 * revision: 26b61b1f856ec37cae3cb64f5690adb955f246a1
 */

pre.lumis {
  color: #e6eaea;
  background-color: #152528;
}
.lumis-attribute {
  color: #ff9664;
}
.lumis-attribute-builtin {
  color: #73a3b7;
}
.lumis-boolean {
  color: #ff8349;
}
.lumis-character {
  color: #7aa4a1;
}
.lumis-character-special {
  color: #73a3b7;
}
.lumis-comment {
  color: #6d7f8b;
}
.lumis-comment-documentation {
  color: #6d7f8b;
}
.lumis-comment-error {
  color: #152528;
  background-color: #e85c51;
}
.lumis-comment-hint {
  color: #6d7f8b;
}
.lumis-comment-note {
  color: #152528;
  background-color: #5a93aa;
}
.lumis-comment-todo {
  color: #152528;
  background-color: #7aa4a1;
}
.lumis-comment-warning {
  color: #152528;
  background-color: #fda47f;
}
.lumis-constant {
  color: #ff9664;
}
.lumis-constant-builtin {
  color: #ff9664;
}
.lumis-constant-macro {
  color: #d38d97;
}
.lumis-constructor {
  color: #a1cdd8;
}
.lumis-constructor-lua {
  color: #cbd9d8;
}
.lumis-diff-delta {
  color: #fda47f;
}
.lumis-diff-minus {
  color: #e85c51;
}
.lumis-diff-plus {
  color: #7aa4a1;
}
.lumis-function {
  color: #73a3b7;
}
.lumis-function-builtin {
  color: #e85c51;
}
.lumis-function-call {
  color: #73a3b7;
}
.lumis-function-macro {
  color: #e85c51;
}
.lumis-function-method {
  color: #73a3b7;
}
.lumis-function-method-call {
  color: #73a3b7;
}
.lumis-highlighted {
  background-color: #254147;
}
.lumis-keyword {
  color: #ad5c7c;
}
.lumis-keyword-conditional {
  color: #b97490;
}
.lumis-keyword-conditional-ternary {
  color: #b97490;
}
.lumis-keyword-coroutine {
  color: #ad5c7c;
}
.lumis-keyword-debug {
  color: #ad5c7c;
}
.lumis-keyword-directive {
  color: #ad5c7c;
}
.lumis-keyword-directive-define {
  color: #ad5c7c;
}
.lumis-keyword-exception {
  color: #ad5c7c;
}
.lumis-keyword-export {
  color: #ad5c7c;
}
.lumis-keyword-function {
  color: #ad5c7c;
}
.lumis-keyword-import {
  color: #d38d97;
}
.lumis-keyword-modifier {
  color: #ad5c7c;
}
.lumis-keyword-operator {
  color: #cbd9d8;
}
.lumis-keyword-repeat {
  color: #b97490;
}
.lumis-keyword-return {
  color: #e85c51;
}
.lumis-keyword-type {
  color: #ad5c7c;
}
.lumis-label {
  color: #b97490;
}
.lumis-label-json {
  color: #73a3b7;
}
.lumis-markup {
  color: #e6eaea;
}
.lumis-markup-environment {
  color: #e6eaea;
}
.lumis-markup-environment-name {
  color: #e6eaea;
}
.lumis-markup-heading {
  color: #73a3b7;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #73a3b7;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #73a3b7;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #73a3b7;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #73a3b7;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #73a3b7;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #73a3b7;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #ad5c7c;
  font-weight: bold;
}
.lumis-markup-link-label {
  color: #73a3b7;
}
.lumis-markup-link-url {
  color: #ff9664;
  font-style: italic;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #afd4de;
}
.lumis-markup-list-checked {
  color: #7aa4a1;
}
.lumis-markup-list-unchecked {
  color: #fda47f;
}
.lumis-markup-math {
  color: #73a3b7;
}
.lumis-markup-quote {
  color: #cbd9d8;
}
.lumis-markup-raw {
  color: #a1cdd8;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #cb7985;
}
.lumis-markup-strikethrough {
  color: #e6eaea;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #c54e45;
  font-weight: bold;
}
.lumis-module {
  color: #afd4de;
}
.lumis-module-builtin {
  color: #73a3b7;
}
.lumis-namespace {
  color: #afd4de;
}
.lumis-number {
  color: #ff8349;
}
.lumis-number-float {
  color: #ff8349;
}
.lumis-operator {
  color: #cbd9d8;
}
.lumis-property {
  color: #5a93aa;
}
.lumis-punctuation-bracket {
  color: #cbd9d8;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #e85c51;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #fda47f;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #5a93aa;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #ff8349;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #7aa4a1;
}
.lumis-punctuation-delimiter {
  color: #cbd9d8;
}
.lumis-punctuation-special {
  color: #afd4de;
}
.lumis-string {
  color: #7aa4a1;
}
.lumis-string-documentation {
  color: #7aa4a1;
}
.lumis-string-escape {
  color: #fdb292;
  font-weight: bold;
}
.lumis-string-regex {
  color: #fdb292;
}
.lumis-string-regexp {
  color: #fdb292;
}
.lumis-string-special {
  color: #73a3b7;
}
.lumis-string-special-path {
  color: #73a3b7;
}
.lumis-string-special-symbol {
  color: #73a3b7;
}
.lumis-string-special-url {
  color: #ff9664;
  font-style: italic;
  text-decoration: underline;
}
.lumis-tag {
  color: #ad5c7c;
}
.lumis-tag-attribute {
  color: #73a3b7;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #73a3b7;
}
.lumis-tag-delimiter {
  color: #afd4de;
}
.lumis-type {
  color: #fda47f;
}
.lumis-type-builtin {
  color: #afd4de;
}
.lumis-type-definition {
  color: #fda47f;
}
.lumis-variable {
  color: #ebebeb;
}
.lumis-variable-builtin {
  color: #e85c51;
}
.lumis-variable-member {
  color: #5a93aa;
}
.lumis-variable-parameter {
  color: #afd4de;
}
.lumis-variable-parameter-builtin {
  color: #73a3b7;
}
