/* tokyonight_day
 * revision: cdc07ac78467a233fd62c493de29a17e0cf2b2b6
 */

pre.lumis {
  color: #3760bf;
  background-color: #e1e2e7;
}
.lumis-attribute {
  color: #007197;
}
.lumis-attribute-builtin {
  color: #188092;
}
.lumis-boolean {
  color: #b15c00;
}
.lumis-character {
  color: #587539;
}
.lumis-character-special {
  color: #188092;
}
.lumis-comment {
  color: #848cb5;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #848cb5;
  font-style: italic;
}
.lumis-comment-error {
  color: #c64343;
}
.lumis-comment-hint {
  color: #118c74;
}
.lumis-comment-note {
  color: #118c74;
}
.lumis-comment-todo {
  color: #2e7de9;
}
.lumis-comment-warning {
  color: #8c6c3e;
}
.lumis-constant {
  color: #b15c00;
}
.lumis-constant-builtin {
  color: #188092;
}
.lumis-constant-macro {
  color: #007197;
}
.lumis-constructor {
  color: #9854f1;
}
.lumis-constructor-tsx {
  color: #188092;
}
.lumis-diff-delta {
  background-color: #d5d9e4;
}
.lumis-diff-minus {
  background-color: #dababe;
}
.lumis-diff-plus {
  background-color: #b7ced5;
}
.lumis-function {
  color: #2e7de9;
}
.lumis-function-builtin {
  color: #188092;
}
.lumis-function-call {
  color: #2e7de9;
}
.lumis-function-macro {
  color: #007197;
}
.lumis-function-method {
  color: #2e7de9;
}
.lumis-function-method-call {
  color: #2e7de9;
}
.lumis-highlighted {
  background-color: #c4c8da;
}
.lumis-keyword {
  color: #7847bd;
  font-style: italic;
}
.lumis-keyword-conditional {
  color: #9854f1;
}
.lumis-keyword-conditional-ternary {
  color: #9854f1;
}
.lumis-keyword-coroutine {
  color: #7847bd;
  font-style: italic;
}
.lumis-keyword-debug {
  color: #b15c00;
}
.lumis-keyword-directive {
  color: #007197;
}
.lumis-keyword-directive-define {
  color: #007197;
}
.lumis-keyword-exception {
  color: #9854f1;
}
.lumis-keyword-export {
  color: #7847bd;
  font-style: italic;
}
.lumis-keyword-function {
  color: #9854f1;
}
.lumis-keyword-import {
  color: #007197;
}
.lumis-keyword-modifier {
  color: #7847bd;
  font-style: italic;
}
.lumis-keyword-operator {
  color: #006a83;
}
.lumis-keyword-repeat {
  color: #9854f1;
}
.lumis-keyword-return {
  color: #7847bd;
  font-style: italic;
}
.lumis-keyword-type {
  color: #7847bd;
  font-style: italic;
}
.lumis-label {
  color: #2e7de9;
}
.lumis-markup-environment {
  color: #007197;
}
.lumis-markup-environment-name {
  color: #188092;
}
.lumis-markup-heading {
  color: #2e7de9;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #2e7de9;
  font-weight: bold;
}
.lumis-markup-heading-1-markdown {
  color: #2e7de9;
  background-color: #cfd8e7;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #2e7de9;
  font-weight: bold;
}
.lumis-markup-heading-2-markdown {
  color: #8c6c3e;
  background-color: #d9d6d6;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #2e7de9;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #587539;
  background-color: #d3d7d6;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #2e7de9;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #118c74;
  background-color: #ccd9dc;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #2e7de9;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #9854f1;
  background-color: #dad4e8;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #2e7de9;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #7847bd;
  background-color: #d7d3e3;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #118c74;
}
.lumis-markup-link-label {
  color: #188092;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #006a83;
}
.lumis-markup-list-checked {
  color: #387068;
}
.lumis-markup-list-markdown {
  color: #b15c00;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #2e7de9;
}
.lumis-markup-math {
  color: #188092;
}
.lumis-markup-raw {
  color: #587539;
}
.lumis-markup-raw-block {
  color: #587539;
}
.lumis-markup-raw-markdown_inline {
  color: #2e7de9;
  background-color: #a1a6c5;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #007197;
}
.lumis-module-builtin {
  color: #f52a65;
}
.lumis-number {
  color: #b15c00;
}
.lumis-number-float {
  color: #b15c00;
}
.lumis-operator {
  color: #006a83;
}
.lumis-property {
  color: #387068;
}
.lumis-punctuation-bracket {
  color: #6172b0;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #f52a65;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #8c6c3e;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #2e7de9;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #b15c00;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #587539;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #7847bd;
}
.lumis-punctuation-delimiter {
  color: #006a83;
}
.lumis-punctuation-special {
  color: #006a83;
}
.lumis-punctuation-special-markdown {
  color: #b15c00;
}
.lumis-string {
  color: #587539;
}
.lumis-string-documentation {
  color: #8c6c3e;
}
.lumis-string-escape {
  color: #9854f1;
}
.lumis-string-regexp {
  color: #2e5857;
}
.lumis-string-special {
  color: #188092;
}
.lumis-string-special-path {
  color: #188092;
}
.lumis-string-special-symbol {
  color: #188092;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #9854f1;
}
.lumis-tag-attribute {
  color: #387068;
}
.lumis-tag-builtin {
  color: #188092;
}
.lumis-tag-delimiter {
  color: #188092;
}
.lumis-tag-delimiter-tsx {
  color: #649be8;
}
.lumis-tag-javascript {
  color: #f52a65;
}
.lumis-tag-tsx {
  color: #f52a65;
}
.lumis-type {
  color: #188092;
}
.lumis-type-builtin {
  color: #4094a3;
}
.lumis-type-definition {
  color: #188092;
}
.lumis-variable {
  color: #3760bf;
}
.lumis-variable-builtin {
  color: #f52a65;
}
.lumis-variable-member {
  color: #387068;
}
.lumis-variable-parameter {
  color: #8c6c3e;
}
.lumis-variable-parameter-builtin {
  color: #7b6a58;
}
