/* vague
 * revision: 788697064264bed8390b52ca2ac9906a96712120
 */

pre.lumis {
  color: #cdcdcd;
  background-color: #141415;
}
.lumis-attribute {
  color: #6e94b2;
}
.lumis-attribute-builtin {
  color: #b4d4cf;
}
.lumis-boolean {
  color: #e0a363;
  font-weight: bold;
}
.lumis-character {
  color: #e8b589;
}
.lumis-character-special {
  color: #6e94b2;
}
.lumis-comment {
  color: #606079;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #606079;
  font-style: italic;
}
.lumis-comment-error {
  color: #d8647e;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #606079;
  font-style: italic;
}
.lumis-comment-note {
  color: #aeaed1;
  font-style: italic;
}
.lumis-comment-todo {
  color: #c48282;
  font-style: italic;
}
.lumis-comment-warning {
  color: #f3be7c;
  font-weight: bold;
}
.lumis-constant {
  color: #aeaed1;
}
.lumis-constant-builtin {
  color: #e0a363;
  font-weight: bold;
}
.lumis-constant-macro {
  color: #aeaed1;
}
.lumis-constructor {
  color: #aeaed1;
}
.lumis-constructor-lua {
  color: #9bb4bc;
}
.lumis-diff-delta {
  background-color: #41362a;
}
.lumis-diff-minus {
  background-color: #3b242a;
}
.lumis-diff-plus {
  background-color: #293125;
}
.lumis-function {
  color: #c48282;
}
.lumis-function-builtin {
  color: #c48282;
}
.lumis-function-call {
  color: #bb9dbd;
}
.lumis-function-macro {
  color: #6e94b2;
}
.lumis-function-method {
  color: #c48282;
}
.lumis-function-method-call {
  color: #9bb4bc;
}
.lumis-highlighted {
  background-color: #252530;
}
.lumis-keyword {
  color: #6e94b2;
}
.lumis-keyword-conditional {
  color: #6e94b2;
}
.lumis-keyword-conditional-ternary {
  color: #6e94b2;
}
.lumis-keyword-coroutine {
  color: #6e94b2;
}
.lumis-keyword-debug {
  color: #6e94b2;
}
.lumis-keyword-directive {
  color: #6e94b2;
}
.lumis-keyword-directive-define {
  color: #6e94b2;
}
.lumis-keyword-exception {
  color: #6e94b2;
}
.lumis-keyword-export {
  color: #6e94b2;
}
.lumis-keyword-function {
  color: #6e94b2;
}
.lumis-keyword-import {
  color: #6e94b2;
}
.lumis-keyword-modifier {
  color: #6e94b2;
}
.lumis-keyword-operator {
  color: #6e94b2;
}
.lumis-keyword-repeat {
  color: #6e94b2;
}
.lumis-keyword-return {
  color: #6e94b2;
  font-style: italic;
}
.lumis-keyword-type {
  color: #6e94b2;
}
.lumis-label {
  color: #6e94b2;
}
.lumis-markup {
  color: #cdcdcd;
}
.lumis-markup-environment {
  color: #cdcdcd;
}
.lumis-markup-environment-name {
  color: #cdcdcd;
}
.lumis-markup-heading {
  color: #6e94b2;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #6e94b2;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #6e94b2;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #6e94b2;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #6e94b2;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #6e94b2;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #6e94b2;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link-label {
  color: #e8b589;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #c48282;
}
.lumis-markup-list {
  color: #c48282;
}
.lumis-markup-list-checked {
  color: #c48282;
}
.lumis-markup-list-unchecked {
  color: #c48282;
}
.lumis-markup-math {
  color: #e8b589;
}
.lumis-markup-quote {
  color: #606079;
}
.lumis-markup-raw {
  color: #aeaed1;
}
.lumis-markup-raw-block {
  color: #aeaed1;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #aeaed1;
}
.lumis-module-builtin {
  color: #b4d4cf;
}
.lumis-number {
  color: #e0a363;
}
.lumis-number-float {
  color: #e0a363;
}
.lumis-operator {
  color: #90a0b5;
}
.lumis-property {
  color: #c3c3d5;
}
.lumis-punctuation-bracket {
  color: #cdcdcd;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #d8647e;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #f3be7c;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #7e98e8;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #c48282;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #7fa563;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #bb9dbd;
}
.lumis-punctuation-delimiter {
  color: #cdcdcd;
}
.lumis-punctuation-special {
  color: #6e94b2;
}
.lumis-string {
  color: #e8b589;
  font-style: italic;
}
.lumis-string-documentation {
  color: #e8b589;
  font-style: italic;
}
.lumis-string-escape {
  color: #6e94b2;
}
.lumis-string-regexp {
  color: #6e94b2;
}
.lumis-string-special {
  color: #6e94b2;
}
.lumis-string-special-path {
  color: #6e94b2;
}
.lumis-string-special-symbol {
  color: #aeaed1;
}
.lumis-string-special-url {
  color: #c48282;
}
.lumis-tag {
  color: #b4d4cf;
}
.lumis-tag-attribute {
  color: #aeaed1;
}
.lumis-tag-builtin {
  color: #b4d4cf;
}
.lumis-tag-delimiter {
  color: #cdcdcd;
}
.lumis-type {
  color: #9bb4bc;
}
.lumis-type-builtin {
  color: #b4d4cf;
  font-weight: bold;
}
.lumis-type-definition {
  color: #aeaed1;
}
.lumis-variable {
  color: #cdcdcd;
}
.lumis-variable-builtin {
  color: #b4d4cf;
}
.lumis-variable-member {
  color: #b4d4cf;
}
.lumis-variable-parameter {
  color: #bb9dbd;
}
.lumis-variable-parameter-builtin {
  color: #b4d4cf;
}
