/* xcode_light_hc
 * revision: c57b4df378952382eb0c8aa93614d1d70f35798a
 */

pre.lumis {
  color: #000000;
  background-color: #ffffff;
}
.lumis-attribute {
  color: #78492a;
}
.lumis-attribute-builtin {
  color: #174145;
}
.lumis-boolean {
  color: #9c2191;
  font-weight: bold;
}
.lumis-character {
  color: #272ad8;
}
.lumis-character-special {
  color: #174145;
}
.lumis-comment {
  color: #8a99a6;
}
.lumis-comment-documentation {
  color: #8a99a6;
}
.lumis-comment-error {
  color: #590008;
}
.lumis-comment-hint {
  color: #8a99a6;
}
.lumis-comment-note {
  color: #007373;
}
.lumis-comment-todo {
  color: #5c6873;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #6b5300;
}
.lumis-constant {
  color: #703daa;
}
.lumis-constant-builtin {
  color: #174145;
}
.lumis-constant-macro {
  color: #703daa;
}
.lumis-constructor {
  color: #174145;
}
.lumis-diff-delta {
  color: #007373;
}
.lumis-diff-minus {
  color: #590008;
}
.lumis-diff-plus {
  color: #005523;
}
.lumis-function {
  color: #703daa;
}
.lumis-function-builtin {
  color: #174145;
}
.lumis-function-call {
  color: #703daa;
}
.lumis-function-macro {
  color: #703daa;
}
.lumis-function-method {
  color: #703daa;
}
.lumis-function-method-call {
  color: #703daa;
}
.lumis-highlighted {
  background-color: #ecf5ff;
}
.lumis-keyword {
  color: #9c2191;
  font-weight: bold;
}
.lumis-keyword-conditional {
  color: #9c2191;
  font-weight: bold;
}
.lumis-keyword-conditional-ternary {
  color: #9c2191;
  font-weight: bold;
}
.lumis-keyword-coroutine {
  color: #9c2191;
  font-weight: bold;
}
.lumis-keyword-debug {
  color: #9c2191;
  font-weight: bold;
}
.lumis-keyword-directive {
  color: #9c2191;
  font-weight: bold;
}
.lumis-keyword-directive-define {
  color: #9c2191;
  font-weight: bold;
}
.lumis-keyword-exception {
  color: #9c2191;
  font-weight: bold;
}
.lumis-keyword-export {
  color: #9c2191;
  font-weight: bold;
}
.lumis-keyword-function {
  color: #9c2191;
  font-weight: bold;
}
.lumis-keyword-import {
  color: #9c2191;
  font-weight: bold;
}
.lumis-keyword-modifier {
  color: #9c2191;
  font-weight: bold;
}
.lumis-keyword-operator {
  color: #9c2191;
  font-weight: bold;
}
.lumis-keyword-repeat {
  color: #9c2191;
  font-weight: bold;
}
.lumis-keyword-return {
  color: #9c2191;
  font-weight: bold;
}
.lumis-keyword-type {
  color: #9c2191;
  font-weight: bold;
}
.lumis-label {
  color: #9c2191;
  font-weight: bold;
}
.lumis-markup {
  color: #174145;
}
.lumis-markup-environment {
  color: #174145;
}
.lumis-markup-environment-name {
  color: #174145;
}
.lumis-markup-heading {
  color: #000000;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #000000;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #000000;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #000000;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #000000;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #000000;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #000000;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #0058a1;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #0058a1;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #0058a1;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #174145;
}
.lumis-markup-list-checked {
  color: #174145;
}
.lumis-markup-list-unchecked {
  color: #174145;
}
.lumis-markup-math {
  color: #174145;
}
.lumis-markup-quote {
  color: #174145;
}
.lumis-markup-raw {
  color: #174145;
}
.lumis-markup-raw-block {
  color: #174145;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #9c2191;
  font-weight: bold;
}
.lumis-module-builtin {
  color: #174145;
}
.lumis-number {
  color: #272ad8;
}
.lumis-number-float {
  color: #272ad8;
}
.lumis-operator {
  color: #5c6873;
}
.lumis-property {
  color: #355d61;
}
.lumis-punctuation-bracket {
  color: #5c6873;
}
.lumis-punctuation-delimiter {
  color: #5c6873;
}
.lumis-punctuation-special {
  color: #174145;
}
.lumis-string {
  color: #ad1805;
}
.lumis-string-documentation {
  color: #ad1805;
}
.lumis-string-escape {
  color: #174145;
}
.lumis-string-regexp {
  color: #174145;
}
.lumis-string-special {
  color: #174145;
}
.lumis-string-special-path {
  color: #174145;
}
.lumis-string-special-symbol {
  color: #174145;
}
.lumis-string-special-url {
  color: #0058a1;
  text-decoration: underline;
}
.lumis-tag {
  color: #174145;
}
.lumis-tag-attribute {
  color: #174145;
}
.lumis-tag-builtin {
  color: #174145;
}
.lumis-tag-delimiter {
  color: #174145;
}
.lumis-type {
  color: #441ea1;
}
.lumis-type-builtin {
  color: #174145;
}
.lumis-type-definition {
  color: #441ea1;
}
.lumis-variable {
  color: #14161b;
}
.lumis-variable-builtin {
  color: #174145;
}
.lumis-variable-member {
  color: #14161b;
}
.lumis-variable-parameter {
  color: #14161b;
}
.lumis-variable-parameter-builtin {
  color: #174145;
}
