/* astrolight
 * revision: 95c046b763266a4873bdf0cbf6a1824c929dec3a
 */

pre.lumis {
  color: #4f4f4f;
  background-color: #f7f8f8;
}
.lumis-attribute {
  color: #7300b8;
}
.lumis-attribute-builtin {
  color: #7300b8;
}
.lumis-boolean {
  color: #a34500;
}
.lumis-character {
  color: #345e00;
}
.lumis-character-special {
  color: #00508a;
}
.lumis-comment {
  color: #8b9297;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #8b9297;
  font-style: italic;
}
.lumis-comment-error {
  color: #e72f1f;
}
.lumis-comment-hint {
  color: #21b386;
}
.lumis-comment-note {
  color: #3f8cea;
}
.lumis-comment-todo {
  color: #e69400;
}
.lumis-comment-warning {
  color: #e69400;
}
.lumis-constant {
  color: #7300b8;
}
.lumis-constant-builtin {
  color: #7300b8;
}
.lumis-constant-macro {
  color: #7300b8;
}
.lumis-constant-rust {
  color: #00615b;
}
.lumis-constructor {
  color: #00508a;
}
.lumis-constructor-lua {
  color: #a34500;
}
.lumis-constructor-tsx {
  color: #9e007c;
}
.lumis-constructor-typescript {
  color: #9e007c;
}
.lumis-diff-delta {
  background-color: #d6bae8;
}
.lumis-diff-minus {
  background-color: #e0baba;
}
.lumis-diff-plus {
  color: #345e00;
}
.lumis-error {
  color: #e72f1f;
}
.lumis-function {
  color: #00508a;
}
.lumis-function-builtin {
  color: #00615b;
}
.lumis-function-call {
  color: #00508a;
}
.lumis-function-macro {
  color: #7300b8;
}
.lumis-function-macro-rust {
  color: #990000;
}
.lumis-function-method {
  color: #00508a;
}
.lumis-function-method-call {
  color: #00508a;
}
.lumis-highlighted {
  background-color: #eaebeb;
}
.lumis-keyword {
  color: #9e007c;
}
.lumis-keyword-conditional {
  color: #9e007c;
}
.lumis-keyword-conditional-ternary {
  color: #9e007c;
}
.lumis-keyword-coroutine {
  color: #9e007c;
}
.lumis-keyword-debug {
  color: #3f8cea;
}
.lumis-keyword-directive {
  color: #9e007c;
}
.lumis-keyword-directive-define {
  color: #9e007c;
}
.lumis-keyword-exception {
  color: #9e007c;
}
.lumis-keyword-export {
  color: #9e007c;
}
.lumis-keyword-function {
  color: #9e007c;
}
.lumis-keyword-import {
  color: #9e007c;
}
.lumis-keyword-modifier {
  color: #7300b8;
}
.lumis-keyword-operator {
  color: #9e007c;
}
.lumis-keyword-repeat {
  color: #9e007c;
}
.lumis-keyword-return {
  color: #9e007c;
}
.lumis-keyword-type {
  color: #7300b8;
}
.lumis-label {
  color: #00508a;
}
.lumis-markup {
  color: #00508a;
}
.lumis-markup-environment {
  color: #a34500;
}
.lumis-markup-environment-name {
  color: #a34500;
}
.lumis-markup-heading {
  color: #4f4f4f;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #4f4f4f;
  font-weight: bold;
}
.lumis-markup-heading-1-markdown {
  color: #9e007c;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #4f4f4f;
  font-weight: bold;
}
.lumis-markup-heading-2-markdown {
  color: #00508a;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #4f4f4f;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #00615b;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #4f4f4f;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #345e00;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #4f4f4f;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #7300b8;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #4f4f4f;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #7300b8;
  font-weight: bold;
}
.lumis-markup-italic {
  color: #4f4f4f;
  font-style: italic;
}
.lumis-markup-link {
  color: #7300b8;
  font-weight: bold;
}
.lumis-markup-link-label {
  color: #345e00;
}
.lumis-markup-link-url {
  color: #00508a;
  font-style: italic;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #00508a;
}
.lumis-markup-list-checked {
  color: #21b386;
  font-weight: bold;
}
.lumis-markup-list-markdown {
  color: #a34500;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #3f8cea;
  font-weight: bold;
}
.lumis-markup-math {
  color: #00508a;
}
.lumis-markup-quote {
  color: #4f4f4f;
  font-style: italic;
}
.lumis-markup-raw {
  color: #990000;
}
.lumis-markup-raw-block {
  color: #4f4f4f;
}
.lumis-markup-strikethrough {
  color: #4f4f4f;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #4f4f4f;
  font-weight: bold;
}
.lumis-module {
  color: #9e007c;
}
.lumis-module-builtin {
  color: #7300b8;
}
.lumis-namespace {
  color: #9e007c;
}
.lumis-normal {
  color: #4f4f4f;
  background-color: #f7f8f8;
}
.lumis-number {
  color: #a34500;
}
.lumis-number-css {
  color: #00615b;
}
.lumis-number-float {
  color: #7300b8;
}
.lumis-operator {
  color: #4f4f4f;
}
.lumis-property {
  color: #990000;
}
.lumis-property-cpp {
  color: #a34500;
}
.lumis-property-css {
  color: #a34500;
}
.lumis-punctuation-bracket {
  color: #4f4f4f;
}
.lumis-punctuation-bracket-php {
  color: #9e007c;
  font-weight: bold;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #990000;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #7300b8;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #00508a;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #a34500;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #345e00;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #9e007c;
}
.lumis-punctuation-delimiter {
  color: #4f4f4f;
}
.lumis-punctuation-special {
  color: #4f4f4f;
}
.lumis-punctuation-special-rust {
  color: #9e007c;
}
.lumis-string {
  color: #345e00;
}
.lumis-string-documentation {
  color: #345e00;
}
.lumis-string-escape {
  color: #990000;
}
.lumis-string-regexp {
  color: #345e00;
}
.lumis-string-special {
  color: #345e00;
}
.lumis-string-special-path {
  color: #345e00;
}
.lumis-string-special-symbol {
  color: #345e00;
}
.lumis-string-special-symbol-ruby {
  color: #a34500;
}
.lumis-string-special-url {
  color: #00508a;
  font-style: italic;
  text-decoration: underline;
}
.lumis-tag {
  color: #990000;
}
.lumis-tag-attribute {
  color: #00615b;
}
.lumis-tag-attribute-tsx {
  color: #9e007c;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #00508a;
}
.lumis-tag-delimiter {
  color: #4f4f4f;
}
.lumis-type {
  color: #00508a;
}
.lumis-type-builtin {
  color: #7300b8;
}
.lumis-type-css {
  color: #a34500;
}
.lumis-type-definition {
  color: #00508a;
}
.lumis-type-rust {
  color: #00615b;
}
.lumis-variable {
  color: #4f4f4f;
}
.lumis-variable-builtin {
  color: #00615b;
}
.lumis-variable-member {
  color: #990000;
}
.lumis-variable-parameter {
  color: #a34500;
}
.lumis-variable-parameter-builtin {
  color: #a34500;
}
