/* astromars
 * revision: 95c046b763266a4873bdf0cbf6a1824c929dec3a
 */

pre.lumis {
  color: #a5b2bc;
  background-color: #1e1517;
}
.lumis-attribute {
  color: #c3963d;
}
.lumis-attribute-builtin {
  color: #c3963d;
}
.lumis-boolean {
  color: #ef9474;
}
.lumis-character {
  color: #84a860;
}
.lumis-character-special {
  color: #4fa9c6;
}
.lumis-comment {
  color: #63646a;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #63646a;
  font-style: italic;
}
.lumis-comment-error {
  color: #e77777;
}
.lumis-comment-hint {
  color: #88c3ab;
}
.lumis-comment-note {
  color: #9cbdc9;
}
.lumis-comment-todo {
  color: #ffa31a;
}
.lumis-comment-warning {
  color: #ffa31a;
}
.lumis-constant {
  color: #c3963d;
}
.lumis-constant-builtin {
  color: #c3963d;
}
.lumis-constant-macro {
  color: #c3963d;
}
.lumis-constant-rust {
  color: #4fad97;
}
.lumis-constructor {
  color: #4fa9c6;
}
.lumis-constructor-lua {
  color: #ef9474;
}
.lumis-constructor-tsx {
  color: #cd87ba;
}
.lumis-constructor-typescript {
  color: #cd87ba;
}
.lumis-diff-delta {
  background-color: #473521;
}
.lumis-diff-minus {
  background-color: #4e3134;
}
.lumis-diff-plus {
  color: #84a860;
}
.lumis-error {
  color: #e77777;
}
.lumis-function {
  color: #4fa9c6;
}
.lumis-function-builtin {
  color: #4fad97;
}
.lumis-function-call {
  color: #4fa9c6;
}
.lumis-function-macro {
  color: #c3963d;
}
.lumis-function-macro-rust {
  color: #df8489;
}
.lumis-function-method {
  color: #4fa9c6;
}
.lumis-function-method-call {
  color: #4fa9c6;
}
.lumis-highlighted {
  background-color: #22191b;
}
.lumis-keyword {
  color: #cd87ba;
}
.lumis-keyword-conditional {
  color: #cd87ba;
}
.lumis-keyword-conditional-ternary {
  color: #cd87ba;
}
.lumis-keyword-coroutine {
  color: #cd87ba;
}
.lumis-keyword-debug {
  color: #9cbdc9;
}
.lumis-keyword-directive {
  color: #cd87ba;
}
.lumis-keyword-directive-define {
  color: #cd87ba;
}
.lumis-keyword-exception {
  color: #cd87ba;
}
.lumis-keyword-export {
  color: #cd87ba;
}
.lumis-keyword-function {
  color: #cd87ba;
}
.lumis-keyword-import {
  color: #cd87ba;
}
.lumis-keyword-modifier {
  color: #c3963d;
}
.lumis-keyword-operator {
  color: #cd87ba;
}
.lumis-keyword-repeat {
  color: #cd87ba;
}
.lumis-keyword-return {
  color: #cd87ba;
}
.lumis-keyword-type {
  color: #c3963d;
}
.lumis-label {
  color: #4fa9c6;
}
.lumis-markup {
  color: #4fa9c6;
}
.lumis-markup-environment {
  color: #ef9474;
}
.lumis-markup-environment-name {
  color: #ef9474;
}
.lumis-markup-heading {
  color: #a5b2bc;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #a5b2bc;
  font-weight: bold;
}
.lumis-markup-heading-1-markdown {
  color: #cd87ba;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #a5b2bc;
  font-weight: bold;
}
.lumis-markup-heading-2-markdown {
  color: #4fa9c6;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #a5b2bc;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #4fad97;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #a5b2bc;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #84a860;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #a5b2bc;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #c3963d;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #a5b2bc;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #c3963d;
  font-weight: bold;
}
.lumis-markup-italic {
  color: #a5b2bc;
  font-style: italic;
}
.lumis-markup-link {
  color: #c3963d;
  font-weight: bold;
}
.lumis-markup-link-label {
  color: #84a860;
}
.lumis-markup-link-url {
  color: #4fa9c6;
  font-style: italic;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #4fa9c6;
}
.lumis-markup-list-checked {
  color: #88c3ab;
  font-weight: bold;
}
.lumis-markup-list-markdown {
  color: #ef9474;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #9cbdc9;
  font-weight: bold;
}
.lumis-markup-math {
  color: #4fa9c6;
}
.lumis-markup-quote {
  color: #a5b2bc;
  font-style: italic;
}
.lumis-markup-raw {
  color: #df8489;
}
.lumis-markup-raw-block {
  color: #a5b2bc;
}
.lumis-markup-strikethrough {
  color: #a5b2bc;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #a5b2bc;
  font-weight: bold;
}
.lumis-module {
  color: #cd87ba;
}
.lumis-module-builtin {
  color: #c3963d;
}
.lumis-namespace {
  color: #cd87ba;
}
.lumis-number {
  color: #ef9474;
}
.lumis-number-css {
  color: #4fad97;
}
.lumis-number-float {
  color: #c3963d;
}
.lumis-operator {
  color: #a5b2bc;
}
.lumis-property {
  color: #df8489;
}
.lumis-property-cpp {
  color: #ef9474;
}
.lumis-property-css {
  color: #ef9474;
}
.lumis-punctuation-bracket {
  color: #a5b2bc;
}
.lumis-punctuation-bracket-php {
  color: #cd87ba;
  font-weight: bold;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #df8489;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #c3963d;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #4fa9c6;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #ef9474;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #84a860;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #cd87ba;
}
.lumis-punctuation-delimiter {
  color: #a5b2bc;
}
.lumis-punctuation-special {
  color: #a5b2bc;
}
.lumis-punctuation-special-rust {
  color: #cd87ba;
}
.lumis-string {
  color: #84a860;
}
.lumis-string-documentation {
  color: #84a860;
}
.lumis-string-escape {
  color: #df8489;
}
.lumis-string-regexp {
  color: #84a860;
}
.lumis-string-special {
  color: #84a860;
}
.lumis-string-special-path {
  color: #84a860;
}
.lumis-string-special-symbol {
  color: #84a860;
}
.lumis-string-special-symbol-ruby {
  color: #ef9474;
}
.lumis-string-special-url {
  color: #4fa9c6;
  font-style: italic;
  text-decoration: underline;
}
.lumis-tag {
  color: #df8489;
}
.lumis-tag-attribute {
  color: #4fad97;
}
.lumis-tag-attribute-tsx {
  color: #cd87ba;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #4fa9c6;
}
.lumis-tag-delimiter {
  color: #a5b2bc;
}
.lumis-type {
  color: #4fa9c6;
}
.lumis-type-builtin {
  color: #c3963d;
}
.lumis-type-css {
  color: #ef9474;
}
.lumis-type-definition {
  color: #4fa9c6;
}
.lumis-type-rust {
  color: #4fad97;
}
.lumis-variable {
  color: #a5b2bc;
}
.lumis-variable-builtin {
  color: #4fad97;
}
.lumis-variable-member {
  color: #df8489;
}
.lumis-variable-parameter {
  color: #ef9474;
}
.lumis-variable-parameter-builtin {
  color: #ef9474;
}
