/* aurora
 * revision: c3879c696ba7298e35b01ec612aa32523b152778
 */

pre.lumis {
  color: #ddd0f4;
  background-color: #181030;
}
.lumis-attribute {
  color: #7fdbca;
}
.lumis-attribute-builtin {
  color: #7fdbca;
}
.lumis-boolean {
  color: #ff435b;
}
.lumis-character {
  color: #ffce51;
}
.lumis-character-special {
  color: #f92772;
  background-color: #181030;
}
.lumis-comment {
  color: #6189bb;
}
.lumis-comment-documentation {
  color: #6189bb;
}
.lumis-comment-error {
  color: #dc143c;
  background-color: #181030;
  text-decoration: underline wavy;
}
.lumis-comment-hint {
  color: #6189bb;
}
.lumis-comment-note {
  color: #637077;
  background-color: #181030;
}
.lumis-comment-todo {
  color: #e73c50;
  background-color: #6d3b66;
  text-decoration: underline;
}
.lumis-comment-warning {
  text-decoration: underline wavy;
}
.lumis-constant {
  color: #fbfcbf;
}
.lumis-constant-builtin {
  color: #e73c50;
}
.lumis-constant-macro {
  color: #f92772;
}
.lumis-constructor {
  color: #01d5f1;
}
.lumis-diff-delta {
  color: #fbfcbf;
  background-color: #28143f;
}
.lumis-diff-minus {
  color: #637077;
  background-color: #28143f;
  text-decoration: line-through;
}
.lumis-diff-plus {
  background-color: #123314;
}
.lumis-function {
  color: #66d9ef;
}
.lumis-function-builtin {
  color: #0fb9e0;
}
.lumis-function-call {
  color: #66d9ef;
}
.lumis-function-macro {
  color: #be9af7;
}
.lumis-function-method {
  color: #10aef8;
}
.lumis-function-method-call {
  color: #66d9ef;
}
.lumis-highlighted {
  background-color: #181030;
}
.lumis-keyword {
  color: #c4a2ff;
}
.lumis-keyword-conditional {
  color: #ee82ee;
}
.lumis-keyword-conditional-ternary {
  color: #ee82ee;
}
.lumis-keyword-coroutine {
  color: #f19bb6;
}
.lumis-keyword-debug {
  color: #6189bb;
  background-color: #181030;
}
.lumis-keyword-directive {
  color: #c4a2ff;
}
.lumis-keyword-directive-define {
  color: #c4a2ff;
}
.lumis-keyword-exception {
  color: #ff5874;
}
.lumis-keyword-export {
  color: #c4a2ff;
}
.lumis-keyword-function {
  color: #0fb9e0;
}
.lumis-keyword-import {
  color: #d57cd5;
  background-color: #181030;
}
.lumis-keyword-modifier {
  color: #67d5b5;
}
.lumis-keyword-operator {
  color: #fab1c2;
}
.lumis-keyword-repeat {
  color: #ff7273;
}
.lumis-keyword-return {
  color: #b376b3;
}
.lumis-keyword-type {
  color: #a1efe4;
}
.lumis-label {
  color: #1aad16;
}
.lumis-markup {
  color: #ddd0f4;
  background-color: #181030;
}
.lumis-markup-environment {
  color: #c33c4a;
  background-color: #181030;
}
.lumis-markup-environment-name {
  color: #67d5b5;
}
.lumis-markup-heading {
  color: #6c67ea;
}
.lumis-markup-heading-1 {
  color: #6c67ea;
}
.lumis-markup-heading-2 {
  color: #6c67ea;
}
.lumis-markup-heading-3 {
  color: #6c67ea;
}
.lumis-markup-heading-4 {
  color: #6c67ea;
}
.lumis-markup-heading-5 {
  color: #6c67ea;
}
.lumis-markup-heading-6 {
  color: #6c67ea;
}
.lumis-markup-link {
  color: #fbfcbf;
}
.lumis-markup-link-label {
  color: #f92772;
  background-color: #181030;
}
.lumis-markup-link-url {
  color: #67d5b5;
  background-color: #181030;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #4c77e4;
}
.lumis-markup-list-checked {
  color: #6189bb;
}
.lumis-markup-list-markdown {
  color: #fd9720;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #e73c50;
  background-color: #6d3b66;
  text-decoration: underline;
}
.lumis-markup-math {
  color: #ff6347;
  background-color: #181030;
}
.lumis-markup-quote {
  color: #ddd0f4;
  background-color: #181030;
}
.lumis-markup-raw {
  color: #1abc9c;
}
.lumis-markup-raw-block {
  color: #1abc9c;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #4c77e4;
}
.lumis-module-builtin {
  color: #4c77e4;
}
.lumis-normal {
  color: #ddd0f4;
  background-color: #181030;
}
.lumis-number {
  color: #fd9720;
}
.lumis-number-float {
  color: #f92772;
}
.lumis-operator {
  color: #a1efe4;
}
.lumis-property {
  color: #9e71cf;
}
.lumis-punctuation-bracket {
  color: #7aa6da;
}
.lumis-punctuation-delimiter {
  color: #e7c3fb;
  background-color: #181030;
}
.lumis-punctuation-special {
  color: #e7c547;
  background-color: #181030;
}
.lumis-string {
  color: #1abc9c;
}
.lumis-string-documentation {
  color: #1abc9c;
}
.lumis-string-escape {
  color: #a1efe4;
}
.lumis-string-regexp {
  color: #7fdbca;
}
.lumis-string-special {
  color: #f19bb6;
}
.lumis-string-special-path {
  color: #f19bb6;
}
.lumis-string-special-symbol {
  color: #f19bb6;
}
.lumis-string-special-url {
  color: #67d5b5;
  background-color: #181030;
  text-decoration: underline;
}
.lumis-tag {
  color: #addb67;
  background-color: #181030;
}
.lumis-tag-attribute {
  color: #a1efe4;
}
.lumis-tag-builtin {
  color: #addb67;
  background-color: #181030;
}
.lumis-tag-delimiter {
  color: #a1efe4;
  background-color: #181030;
}
.lumis-type {
  color: #67d5b5;
}
.lumis-type-builtin {
  color: #ffce51;
}
.lumis-type-definition {
  color: #66d9ef;
  background-color: #181030;
}
.lumis-variable {
  color: #e7c3fb;
}
.lumis-variable-builtin {
  color: #fd9720;
}
.lumis-variable-member {
  color: #9e71cf;
}
.lumis-variable-parameter {
  color: #fbec9f;
}
.lumis-variable-parameter-builtin {
  color: #fbec9f;
}
