/* ayu_dark
 * revision: e5a9f0fa2918d6b5f57c21b3ac014314ee5e41c8
 */

pre.lumis {
  color: #bfbdb6;
  background-color: #0b0e14;
}
.lumis-attribute {
  color: #e6b450;
}
.lumis-attribute-builtin {
  color: #e6b450;
}
.lumis-boolean {
  color: #d2a6ff;
}
.lumis-character {
  color: #d2a6ff;
}
.lumis-character-special {
  color: #e6b450;
}
.lumis-comment {
  color: #636a72;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #636a72;
  font-style: italic;
}
.lumis-comment-error {
  color: #d95757;
}
.lumis-comment-hint {
  color: #636a72;
  font-style: italic;
}
.lumis-comment-note {
  color: #39bae6;
}
.lumis-comment-todo {
  color: #f07178;
}
.lumis-comment-warning {
  color: #ff8f40;
}
.lumis-constant {
  color: #d2a6ff;
}
.lumis-constant-builtin {
  color: #e6b450;
}
.lumis-constant-macro {
  color: #d2a6ff;
}
.lumis-constructor {
  color: #e6b450;
}
.lumis-diff-delta {
  color: #73b8ff;
}
.lumis-diff-minus {
  color: #f26d78;
}
.lumis-diff-plus {
  color: #7fd962;
}
.lumis-function {
  color: #ffb454;
}
.lumis-function-builtin {
  color: #e6b450;
}
.lumis-function-call {
  color: #ffb454;
}
.lumis-function-macro {
  color: #ffb454;
}
.lumis-function-method {
  color: #ffb454;
}
.lumis-function-method-call {
  color: #ffb454;
}
.lumis-highlighted {
  background-color: #11151c;
}
.lumis-keyword {
  color: #ff8f40;
}
.lumis-keyword-conditional {
  color: #ff8f40;
}
.lumis-keyword-conditional-ternary {
  color: #ff8f40;
}
.lumis-keyword-coroutine {
  color: #ff8f40;
}
.lumis-keyword-debug {
  color: #ff8f40;
}
.lumis-keyword-directive {
  color: #ff8f40;
}
.lumis-keyword-directive-define {
  color: #ff8f40;
}
.lumis-keyword-exception {
  color: #ff8f40;
}
.lumis-keyword-export {
  color: #ff8f40;
}
.lumis-keyword-function {
  color: #ff8f40;
}
.lumis-keyword-import {
  color: #ff8f40;
}
.lumis-keyword-modifier {
  color: #ff8f40;
}
.lumis-keyword-operator {
  color: #ff8f40;
}
.lumis-keyword-repeat {
  color: #ff8f40;
}
.lumis-keyword-return {
  color: #ff8f40;
}
.lumis-keyword-type {
  color: #ff8f40;
}
.lumis-label {
  color: #ff8f40;
}
.lumis-markup {
  color: #e6b450;
}
.lumis-markup-environment {
  color: #e6b450;
}
.lumis-markup-environment-name {
  color: #e6b450;
}
.lumis-markup-heading {
  color: #ff8f40;
}
.lumis-markup-heading-1 {
  color: #ff8f40;
}
.lumis-markup-heading-2 {
  color: #ff8f40;
}
.lumis-markup-heading-3 {
  color: #ff8f40;
}
.lumis-markup-heading-4 {
  color: #ff8f40;
}
.lumis-markup-heading-5 {
  color: #ff8f40;
}
.lumis-markup-heading-6 {
  color: #ff8f40;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  text-decoration: underline;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #e6b450;
}
.lumis-markup-list-checked {
  color: #e6b450;
}
.lumis-markup-list-unchecked {
  color: #e6b450;
}
.lumis-markup-math {
  color: #e6b450;
}
.lumis-markup-quote {
  color: #e6b450;
}
.lumis-markup-raw {
  color: #e6b450;
}
.lumis-markup-raw-block {
  color: #e6b450;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #ffb454;
}
.lumis-module-builtin {
  color: #e6b450;
}
.lumis-number {
  color: #d2a6ff;
}
.lumis-number-float {
  color: #d2a6ff;
}
.lumis-operator {
  color: #f29668;
}
.lumis-property {
  color: #39bae6;
}
.lumis-punctuation-bracket {
  color: #e6b673;
}
.lumis-punctuation-delimiter {
  color: #e6b673;
}
.lumis-punctuation-special {
  color: #e6b450;
}
.lumis-string {
  color: #aad94c;
}
.lumis-string-documentation {
  color: #aad94c;
}
.lumis-string-escape {
  color: #e6b450;
}
.lumis-string-regexp {
  color: #e6b450;
}
.lumis-string-special {
  color: #e6b450;
}
.lumis-string-special-path {
  color: #e6b450;
}
.lumis-string-special-symbol {
  color: #e6b450;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #ff8f40;
}
.lumis-tag-attribute {
  color: #59c2ff;
}
.lumis-tag-builtin {
  color: #e6b450;
}
.lumis-tag-delimiter {
  color: #e6b673;
}
.lumis-type {
  color: #59c2ff;
}
.lumis-type-builtin {
  color: #e6b450;
}
.lumis-type-definition {
  color: #59c2ff;
}
.lumis-variable {
  color: #bfbdb6;
}
.lumis-variable-builtin {
  color: #ffb454;
}
.lumis-variable-member {
  color: #39bae6;
}
.lumis-variable-parameter {
  color: #bfbdb6;
}
.lumis-variable-parameter-builtin {
  color: #e6b450;
}
