/* catppuccin_macchiato
 * revision: 0303a7208dba448c459767486a38a6ec05c4216b
 */

pre.lumis {
  color: #cad3f5;
  background-color: #24273a;
}
.lumis-attribute {
  color: #f5a97f;
}
.lumis-attribute-builtin {
  color: #f5bde6;
}
.lumis-attribute-c_sharp {
  color: #eed49f;
}
.lumis-boolean {
  color: #f5a97f;
}
.lumis-character {
  color: #8bd5ca;
}
.lumis-character-special {
  color: #f5bde6;
}
.lumis-character-special-html {
  color: #ed8796;
}
.lumis-comment {
  color: #939ab7;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #939ab7;
  font-style: italic;
}
.lumis-comment-error {
  color: #24273a;
  background-color: #ed8796;
}
.lumis-comment-hint {
  color: #24273a;
  background-color: #8aadf4;
}
.lumis-comment-note {
  color: #24273a;
  background-color: #8aadf4;
}
.lumis-comment-todo {
  color: #24273a;
  background-color: #f0c6c6;
}
.lumis-comment-warning {
  color: #24273a;
  background-color: #eed49f;
}
.lumis-comment-warning-gitcommit {
  color: #eed49f;
}
.lumis-constant {
  color: #f5a97f;
}
.lumis-constant-builtin {
  color: #f5a97f;
}
.lumis-constant-java {
  color: #8bd5ca;
}
.lumis-constant-macro {
  color: #c6a0f6;
}
.lumis-constructor {
  color: #eed49f;
}
.lumis-constructor-lua {
  color: #939ab7;
}
.lumis-constructor-python {
  color: #91d7e3;
}
.lumis-diff-delta {
  color: #8aadf4;
}
.lumis-diff-minus {
  color: #ed8796;
}
.lumis-diff-plus {
  color: #a6da95;
}
.lumis-error {
  color: #ed8796;
}
.lumis-function {
  color: #8aadf4;
}
.lumis-function-builtin {
  color: #f5a97f;
}
.lumis-function-builtin-bash {
  color: #ed8796;
  font-style: italic;
}
.lumis-function-call {
  color: #8aadf4;
}
.lumis-function-macro {
  color: #f5bde6;
}
.lumis-function-method {
  color: #8aadf4;
}
.lumis-function-method-call {
  color: #8aadf4;
}
.lumis-highlighted {
  background-color: #303347;
}
.lumis-keyword {
  color: #c6a0f6;
}
.lumis-keyword-conditional {
  color: #c6a0f6;
  font-style: italic;
}
.lumis-keyword-conditional-ternary {
  color: #91d7e3;
}
.lumis-keyword-coroutine {
  color: #c6a0f6;
}
.lumis-keyword-debug {
  color: #c6a0f6;
}
.lumis-keyword-directive {
  color: #f5bde6;
}
.lumis-keyword-directive-css {
  color: #c6a0f6;
}
.lumis-keyword-directive-define {
  color: #f5bde6;
}
.lumis-keyword-exception {
  color: #c6a0f6;
}
.lumis-keyword-export {
  color: #c6a0f6;
}
.lumis-keyword-function {
  color: #c6a0f6;
}
.lumis-keyword-import {
  color: #c6a0f6;
}
.lumis-keyword-import-c {
  color: #eed49f;
}
.lumis-keyword-import-cpp {
  color: #eed49f;
}
.lumis-keyword-modifier {
  color: #c6a0f6;
}
.lumis-keyword-operator {
  color: #c6a0f6;
}
.lumis-keyword-repeat {
  color: #c6a0f6;
}
.lumis-keyword-return {
  color: #c6a0f6;
}
.lumis-keyword-type {
  color: #c6a0f6;
}
.lumis-label {
  color: #7dc4e4;
}
.lumis-label-yaml {
  color: #eed49f;
}
.lumis-markup {
  color: #cad3f5;
}
.lumis-markup-environment {
  color: #f5bde6;
}
.lumis-markup-environment-name {
  color: #8aadf4;
}
.lumis-markup-heading {
  color: #8aadf4;
}
.lumis-markup-heading-1 {
  color: #8aadf4;
}
.lumis-markup-heading-1-html {
  color: #cad3f5;
}
.lumis-markup-heading-1-markdown {
  color: #ed8796;
}
.lumis-markup-heading-2 {
  color: #8aadf4;
}
.lumis-markup-heading-2-html {
  color: #cad3f5;
}
.lumis-markup-heading-2-markdown {
  color: #f5a97f;
}
.lumis-markup-heading-3 {
  color: #8aadf4;
}
.lumis-markup-heading-3-html {
  color: #cad3f5;
}
.lumis-markup-heading-3-markdown {
  color: #eed49f;
}
.lumis-markup-heading-4 {
  color: #8aadf4;
}
.lumis-markup-heading-4-html {
  color: #cad3f5;
}
.lumis-markup-heading-4-markdown {
  color: #a6da95;
}
.lumis-markup-heading-5 {
  color: #8aadf4;
}
.lumis-markup-heading-5-html {
  color: #cad3f5;
}
.lumis-markup-heading-5-markdown {
  color: #7dc4e4;
}
.lumis-markup-heading-6 {
  color: #8aadf4;
}
.lumis-markup-heading-6-html {
  color: #cad3f5;
}
.lumis-markup-heading-6-markdown {
  color: #b7bdf8;
}
.lumis-markup-heading-html {
  color: #cad3f5;
}
.lumis-markup-heading-markdown {
  font-weight: bold;
}
.lumis-markup-italic {
  color: #ed8796;
  font-style: italic;
}
.lumis-markup-link {
  color: #b7bdf8;
}
.lumis-markup-link-label {
  color: #b7bdf8;
}
.lumis-markup-link-label-html {
  color: #cad3f5;
}
.lumis-markup-link-url {
  color: #8aadf4;
  font-style: italic;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #8bd5ca;
}
.lumis-markup-list-checked {
  color: #a6da95;
}
.lumis-markup-list-unchecked {
  color: #8087a2;
}
.lumis-markup-math {
  color: #8aadf4;
}
.lumis-markup-quote {
  color: #f5bde6;
}
.lumis-markup-raw {
  color: #a6da95;
}
.lumis-markup-raw-block {
  color: #a6da95;
}
.lumis-markup-strikethrough {
  color: #cad3f5;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #ed8796;
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #eed49f;
  font-style: italic;
}
.lumis-module-builtin {
  color: #f5bde6;
}
.lumis-namespace {
  color: #eed49f;
  font-style: italic;
}
.lumis-normal {
  color: #cad3f5;
  background-color: #24273a;
}
.lumis-number {
  color: #f5a97f;
}
.lumis-number-float {
  color: #f5a97f;
}
.lumis-operator {
  color: #91d7e3;
}
.lumis-property {
  color: #b7bdf8;
}
.lumis-property-css {
  color: #8aadf4;
}
.lumis-property-scss {
  color: #8aadf4;
}
.lumis-punctuation-bracket {
  color: #939ab7;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #ed8796;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #eed49f;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #8aadf4;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #f5a97f;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #a6da95;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #c6a0f6;
}
.lumis-punctuation-delimiter {
  color: #939ab7;
}
.lumis-punctuation-delimiter-regex {
  color: #f5bde6;
}
.lumis-punctuation-special {
  color: #f5bde6;
}
.lumis-string {
  color: #a6da95;
}
.lumis-string-documentation {
  color: #8bd5ca;
}
.lumis-string-escape {
  color: #f5bde6;
}
.lumis-string-regex {
  color: #f5bde6;
}
.lumis-string-regexp {
  color: #f5bde6;
}
.lumis-string-special {
  color: #f5bde6;
}
.lumis-string-special-path {
  color: #f5bde6;
}
.lumis-string-special-path-gitignore {
  color: #cad3f5;
}
.lumis-string-special-symbol {
  color: #f0c6c6;
}
.lumis-string-special-url {
  color: #8aadf4;
  font-style: italic;
  text-decoration: underline;
}
.lumis-string-special-url-html {
  color: #a6da95;
}
.lumis-tag {
  color: #8aadf4;
}
.lumis-tag-attribute {
  color: #eed49f;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #8aadf4;
}
.lumis-tag-delimiter {
  color: #8bd5ca;
}
.lumis-type {
  color: #eed49f;
}
.lumis-type-builtin {
  color: #c6a0f6;
}
.lumis-type-css {
  color: #b7bdf8;
}
.lumis-type-definition {
  color: #eed49f;
}
.lumis-variable {
  color: #cad3f5;
}
.lumis-variable-builtin {
  color: #ed8796;
}
.lumis-variable-member {
  color: #b7bdf8;
}
.lumis-variable-parameter {
  color: #ee99a0;
}
.lumis-variable-parameter-bash {
  color: #a6da95;
}
.lumis-variable-parameter-builtin {
  color: #f5bde6;
}
