/* citruszest
 * revision: e6fed9ec3d0ac190b1387379c138ba5e23a1f4f9
 */

pre.lumis {
  color: #bfbfbf;
  background-color: #121212;
}
.lumis-attribute {
  color: #ff7431;
}
.lumis-attribute-builtin {
  color: #ffaa54;
}
.lumis-boolean {
  color: #ffaa54;
}
.lumis-character {
  color: #ffd700;
}
.lumis-character-special {
  color: #ffaa54;
}
.lumis-comment {
  color: #659b75;
}
.lumis-comment-documentation {
  color: #9adcff;
}
.lumis-comment-error {
  color: #232323;
  background-color: #ff1a75;
}
.lumis-comment-hint {
  color: #659b75;
}
.lumis-comment-note {
  color: #232323;
  background-color: #00bfff;
}
.lumis-comment-todo {
  color: #232323;
  background-color: #ffaa54;
}
.lumis-comment-warning {
  color: #232323;
  background-color: #ffd700;
}
.lumis-constant {
  color: #ff7431;
}
.lumis-constant-builtin {
  color: #ff5454;
}
.lumis-constant-macro {
  color: #00bfff;
}
.lumis-constructor {
  color: #ffff00;
}
.lumis-constructor-lua {
  color: #ff7431;
}
.lumis-constructor-tsx {
  color: #1affa3;
}
.lumis-constructor-typescript {
  color: #1affa3;
}
.lumis-diff-delta {
  color: #ffff00;
}
.lumis-diff-minus {
  color: #ff5454;
}
.lumis-diff-plus {
  color: #00cc7a;
}
.lumis-error {
  color: #ff5454;
}
.lumis-function {
  color: #1affa3;
}
.lumis-function-builtin {
  color: #00bfff;
}
.lumis-function-call {
  color: #1affa3;
}
.lumis-function-macro {
  color: #00bfff;
}
.lumis-function-method {
  color: #1affa3;
}
.lumis-function-method-call {
  color: #1affa3;
}
.lumis-highlighted {
  background-color: #383838;
}
.lumis-keyword {
  color: #28c9ff;
}
.lumis-keyword-conditional {
  color: #33ffff;
}
.lumis-keyword-conditional-ternary {
  color: #ffff00;
}
.lumis-keyword-coroutine {
  color: #ff1a75;
}
.lumis-keyword-debug {
  color: #ff7431;
}
.lumis-keyword-directive {
  color: #ffd700;
}
.lumis-keyword-directive-define {
  color: #ffd700;
}
.lumis-keyword-exception {
  color: #00bfff;
}
.lumis-keyword-export {
  color: #33ffff;
}
.lumis-keyword-function {
  color: #ff1a75;
}
.lumis-keyword-import {
  color: #00bfff;
}
.lumis-keyword-modifier {
  color: #28c9ff;
}
.lumis-keyword-operator {
  color: #ffff00;
}
.lumis-keyword-repeat {
  color: #ffff00;
}
.lumis-keyword-return {
  color: #ffff00;
}
.lumis-keyword-type {
  color: #28c9ff;
}
.lumis-label {
  color: #ffaa54;
}
.lumis-label-json {
  color: #1affa3;
}
.lumis-markup {
  color: #f9f9f9;
}
.lumis-markup-environment {
  color: #ffaa54;
}
.lumis-markup-environment-name {
  color: #ffaa54;
}
.lumis-markup-heading {
  color: #00bfff;
}
.lumis-markup-heading-1 {
  color: #00bfff;
}
.lumis-markup-heading-1-markdown {
  color: #ff5454;
}
.lumis-markup-heading-2 {
  color: #00bfff;
}
.lumis-markup-heading-3 {
  color: #00bfff;
}
.lumis-markup-heading-3-markdown {
  color: #fff2b3;
}
.lumis-markup-heading-4 {
  color: #00bfff;
}
.lumis-markup-heading-4-markdown {
  color: #b2f3ac;
}
.lumis-markup-heading-5 {
  color: #00bfff;
}
.lumis-markup-heading-5-markdown {
  color: #ff7431;
}
.lumis-markup-heading-6 {
  color: #00bfff;
}
.lumis-markup-heading-6-markdown {
  color: #33ffff;
}
.lumis-markup-italic {
  color: #bfbfbf;
  font-style: italic;
}
.lumis-markup-link {
  color: #ffaa54;
}
.lumis-markup-link-label {
  color: #00ffff;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #ffaa54;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #ffaa54;
}
.lumis-markup-list-checked {
  color: #00cc7a;
}
.lumis-markup-list-unchecked {
  color: #bfbfbf;
}
.lumis-markup-math {
  color: #00bfff;
}
.lumis-markup-quote {
  color: #f9f9f9;
}
.lumis-markup-raw {
  color: #fff2b3;
}
.lumis-markup-raw-block {
  color: #9adcff;
}
.lumis-markup-strikethrough {
  color: #bfbfbf;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #bfbfbf;
  font-weight: bold;
}
.lumis-module {
  color: #ffff00;
  font-style: italic;
}
.lumis-module-builtin {
  color: #28c9ff;
  font-style: italic;
}
.lumis-normal {
  color: #bfbfbf;
  background-color: #121212;
}
.lumis-number {
  color: #fff2b3;
}
.lumis-number-css {
  color: #ffd700;
}
.lumis-number-float {
  color: #fff2b3;
}
.lumis-operator {
  color: #ffff00;
}
.lumis-property {
  color: #33ffff;
}
.lumis-property-cpp {
  color: #ffaa54;
}
.lumis-property-css {
  color: #ffaa54;
}
.lumis-property-toml {
  color: #00ffff;
}
.lumis-punctuation-bracket {
  color: #ff7431;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #ff1a75;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #ffff00;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #00bfff;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #ff7431;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #1affa3;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #af74ee;
}
.lumis-punctuation-delimiter {
  color: #ffaa54;
}
.lumis-punctuation-special {
  color: #ffaa54;
}
.lumis-string {
  color: #b2f3ac;
}
.lumis-string-documentation {
  color: #b2f3ac;
}
.lumis-string-documentation-python {
  color: #9adcff;
}
.lumis-string-escape {
  color: #ff1a75;
}
.lumis-string-regexp {
  color: #ffaa54;
}
.lumis-string-special {
  color: #ffaa54;
}
.lumis-string-special-path {
  color: #b2f3ac;
}
.lumis-string-special-symbol {
  color: #ffd700;
}
.lumis-string-special-symbol-ruby {
  color: #ffff00;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #00bfff;
}
.lumis-tag-attribute {
  color: #ffd700;
  font-style: italic;
}
.lumis-tag-attribute-tsx {
  color: #ffff00;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #ffaa54;
}
.lumis-tag-delimiter {
  color: #ff5454;
}
.lumis-type {
  color: #ffaa54;
}
.lumis-type-builtin {
  color: #ffaa54;
}
.lumis-type-css {
  color: #00bfff;
}
.lumis-type-definition {
  color: #ffaa54;
}
.lumis-variable {
  color: #f9f9f9;
}
.lumis-variable-builtin {
  color: #ffff00;
  font-style: italic;
}
.lumis-variable-member {
  color: #ffaa54;
}
.lumis-variable-member-yaml {
  color: #28c9ff;
}
.lumis-variable-parameter {
  color: #28c9ff;
  font-style: italic;
}
.lumis-variable-parameter-builtin {
  color: #ffaa54;
}
