/* duckbones_dark
 * revision: 239bdb9a09c8d38c752c43590d02f654ed0da2b0
 */

pre.lumis {
  color: #ebefc0;
  background-color: #0e101a;
}
.lumis-attribute {
  color: #00a3cb;
}
.lumis-attribute-builtin {
  color: #5dcd97;
}
.lumis-boolean {
  color: #ebefc0;
  font-style: italic;
}
.lumis-character {
  color: #aeb18d;
  font-style: italic;
}
.lumis-character-special {
  color: #5dcd97;
}
.lumis-comment {
  color: #5a5f7b;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #5a5f7b;
  font-style: italic;
}
.lumis-comment-error {
  color: #e03600;
}
.lumis-comment-hint {
  color: #5a5f7b;
  font-style: italic;
}
.lumis-comment-note {
  color: #00a3cb;
}
.lumis-comment-todo {
  font-weight: bold;
  text-decoration: underline;
}
.lumis-comment-warning {
  color: #e39500;
}
.lumis-constant {
  color: #c6caa1;
  font-weight: bold;
}
.lumis-constant-builtin {
  color: #aeb18d;
  font-style: italic;
}
.lumis-constant-macro {
  color: #aeb18d;
  font-style: italic;
}
.lumis-constructor {
  color: #5dcd97;
}
.lumis-constructor-lua {
  color: #6d759d;
}
.lumis-diff-delta {
  background-color: #17232a;
}
.lumis-diff-minus {
  background-color: #311c1a;
}
.lumis-diff-plus {
  background-color: #15251c;
}
.lumis-function {
  color: #ebefc0;
}
.lumis-function-builtin {
  color: #5dcd97;
}
.lumis-function-call {
  color: #ebefc0;
}
.lumis-function-macro {
  color: #00a3cb;
}
.lumis-function-method {
  color: #ebefc0;
}
.lumis-function-method-call {
  color: #ebefc0;
}
.lumis-highlighted {
  background-color: #161926;
}
.lumis-keyword {
  color: #795ccc;
  font-weight: bold;
}
.lumis-keyword-conditional {
  color: #795ccc;
  font-weight: bold;
}
.lumis-keyword-conditional-ternary {
  color: #795ccc;
  font-weight: bold;
}
.lumis-keyword-coroutine {
  color: #795ccc;
  font-weight: bold;
}
.lumis-keyword-debug {
  color: #5dcd97;
}
.lumis-keyword-directive {
  color: #00a3cb;
}
.lumis-keyword-directive-define {
  color: #00a3cb;
}
.lumis-keyword-exception {
  color: #795ccc;
  font-weight: bold;
}
.lumis-keyword-export {
  color: #795ccc;
  font-weight: bold;
}
.lumis-keyword-function {
  color: #795ccc;
  font-weight: bold;
}
.lumis-keyword-import {
  color: #00a3cb;
}
.lumis-keyword-modifier {
  color: #795ccc;
  font-weight: bold;
}
.lumis-keyword-operator {
  color: #795ccc;
  font-weight: bold;
}
.lumis-keyword-repeat {
  color: #795ccc;
  font-weight: bold;
}
.lumis-keyword-return {
  color: #795ccc;
  font-weight: bold;
}
.lumis-keyword-type {
  color: #795ccc;
  font-weight: bold;
}
.lumis-label {
  color: #795ccc;
  font-weight: bold;
}
.lumis-markup {
  color: #5dcd97;
}
.lumis-markup-environment {
  color: #00a3cb;
}
.lumis-markup-environment-name {
  color: #00a3cb;
}
.lumis-markup-heading {
  color: #ebefc0;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #ebefc0;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #ebefc0;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #ebefc0;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #ebefc0;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #ebefc0;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #ebefc0;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #aeb18d;
  font-style: italic;
}
.lumis-markup-link-label {
  color: #5dcd97;
}
.lumis-markup-link-markdown {
  color: #c6caa1;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #aeb18d;
  font-style: italic;
}
.lumis-markup-link-url-markdown {
  color: #5a5f7b;
}
.lumis-markup-list {
  color: #5dcd97;
}
.lumis-markup-list-checked {
  color: #5dcd97;
}
.lumis-markup-list-unchecked {
  color: #5dcd97;
}
.lumis-markup-math {
  color: #5dcd97;
}
.lumis-markup-quote {
  color: #aeb18d;
}
.lumis-markup-raw {
  color: #aeb18d;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #aeb18d;
  font-style: italic;
}
.lumis-markup-raw-markdown {
  color: #898fb1;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #aeb18d;
  font-style: italic;
}
.lumis-module-builtin {
  color: #aeb18d;
  font-style: italic;
}
.lumis-number {
  color: #aeb18d;
}
.lumis-number-float {
  color: #aeb18d;
}
.lumis-operator {
  color: #795ccc;
  font-weight: bold;
}
.lumis-property {
  color: #c6caa1;
}
.lumis-punctuation-bracket {
  color: #6d759d;
}
.lumis-punctuation-delimiter {
  color: #6d759d;
}
.lumis-punctuation-special {
  color: #6d759d;
}
.lumis-punctuation-special-markdown {
  color: #5dcd97;
}
.lumis-string {
  color: #aeb18d;
  font-style: italic;
}
.lumis-string-documentation {
  color: #aeb18d;
  font-style: italic;
}
.lumis-string-escape {
  color: #5dcd97;
}
.lumis-string-escape-markdown {
  color: #484e6d;
  font-style: italic;
}
.lumis-string-regexp {
  color: #aeb18d;
  font-style: italic;
}
.lumis-string-special {
  color: #5dcd97;
}
.lumis-string-special-path {
  color: #5dcd97;
}
.lumis-string-special-symbol {
  color: #c6caa1;
}
.lumis-string-special-url {
  color: #5dcd97;
}
.lumis-tag {
  color: #5dcd97;
}
.lumis-tag-attribute {
  color: #c6caa1;
}
.lumis-tag-builtin {
  color: #5dcd97;
}
.lumis-tag-delimiter {
  color: #6d759d;
}
.lumis-type {
  color: #898fb1;
}
.lumis-type-builtin {
  color: #898fb1;
}
.lumis-type-definition {
  color: #898fb1;
}
.lumis-variable {
  color: #c6caa1;
}
.lumis-variable-builtin {
  color: #aeb18d;
  font-style: italic;
}
.lumis-variable-member {
  color: #c6caa1;
}
.lumis-variable-parameter {
  color: #c6caa1;
}
.lumis-variable-parameter-builtin {
  color: #5dcd97;
}
