/* edge_light
 * revision: 7ec78c21bd8f0b2b0b47043bb1e730c561647c72
 */

pre.lumis {
  color: #4b505b;
  background-color: #fafafa;
}
.lumis-attribute {
  color: #be7e05;
}
.lumis-attribute-builtin {
  color: #be7e05;
}
.lumis-boolean {
  color: #608e32;
}
.lumis-character {
  color: #608e32;
}
.lumis-character-special {
  color: #be7e05;
}
.lumis-comment {
  color: #8790a0;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #8790a0;
  font-style: italic;
}
.lumis-comment-error {
  color: #fafafa;
  background-color: #d05858;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #8790a0;
  font-style: italic;
}
.lumis-comment-note {
  color: #fafafa;
  background-color: #608e32;
  font-weight: bold;
}
.lumis-comment-todo {
  color: #fafafa;
  background-color: #5079be;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #fafafa;
  background-color: #be7e05;
  font-weight: bold;
}
.lumis-constant {
  color: #d05858;
}
.lumis-constant-builtin {
  color: #3a8b84;
}
.lumis-constant-macro {
  color: #3a8b84;
}
.lumis-constructor {
  color: #5079be;
}
.lumis-constructor-lua {
  color: #4b505b;
}
.lumis-constructor-tsx {
  color: #be7e05;
}
.lumis-diff-delta {
  color: #5079be;
}
.lumis-diff-minus {
  color: #d05858;
}
.lumis-diff-plus {
  color: #608e32;
}
.lumis-error {
  color: #d05858;
}
.lumis-function {
  color: #5079be;
}
.lumis-function-builtin {
  color: #5079be;
}
.lumis-function-call {
  color: #5079be;
}
.lumis-function-macro {
  color: #5079be;
}
.lumis-function-method {
  color: #5079be;
}
.lumis-function-method-call {
  color: #5079be;
}
.lumis-highlighted {
  background-color: #eef1f4;
}
.lumis-keyword {
  color: #b05ccc;
}
.lumis-keyword-conditional {
  color: #b05ccc;
}
.lumis-keyword-conditional-ternary {
  color: #b05ccc;
}
.lumis-keyword-coroutine {
  color: #b05ccc;
}
.lumis-keyword-debug {
  color: #be7e05;
}
.lumis-keyword-directive {
  color: #b05ccc;
}
.lumis-keyword-directive-define {
  color: #b05ccc;
}
.lumis-keyword-exception {
  color: #b05ccc;
}
.lumis-keyword-export {
  color: #b05ccc;
}
.lumis-keyword-function {
  color: #b05ccc;
}
.lumis-keyword-import {
  color: #b05ccc;
}
.lumis-keyword-modifier {
  color: #b05ccc;
}
.lumis-keyword-operator {
  color: #b05ccc;
}
.lumis-keyword-repeat {
  color: #b05ccc;
}
.lumis-keyword-return {
  color: #b05ccc;
}
.lumis-keyword-type {
  color: #b05ccc;
}
.lumis-label {
  color: #b05ccc;
}
.lumis-markup {
  color: #be7e05;
}
.lumis-markup-environment {
  color: #be7e05;
}
.lumis-markup-environment-name {
  color: #d05858;
}
.lumis-markup-heading {
  color: #b05ccc;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #b05ccc;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #b05ccc;
  font-weight: bold;
}
.lumis-markup-heading-2-markdown {
  color: #d05858;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #b05ccc;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #5079be;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #b05ccc;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #be7e05;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #b05ccc;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #608e32;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #b05ccc;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #3a8b84;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #be7e05;
}
.lumis-markup-link-label {
  color: #be7e05;
}
.lumis-markup-link-url {
  color: #608e32;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #be7e05;
}
.lumis-markup-list-checked {
  color: #608e32;
}
.lumis-markup-list-unchecked {
  color: #8790a0;
}
.lumis-markup-math {
  color: #608e32;
}
.lumis-markup-quote {
  color: #8790a0;
}
.lumis-markup-raw {
  color: #608e32;
}
.lumis-markup-raw-block {
  color: #608e32;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #be7e05;
}
.lumis-module-builtin {
  color: #be7e05;
}
.lumis-namespace {
  color: #be7e05;
}
.lumis-number {
  color: #608e32;
}
.lumis-number-float {
  color: #608e32;
}
.lumis-operator {
  color: #b05ccc;
}
.lumis-property {
  color: #3a8b84;
}
.lumis-punctuation-bracket {
  color: #8790a0;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #d05858;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #be7e05;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #5079be;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #b05ccc;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #608e32;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #b05ccc;
}
.lumis-punctuation-delimiter {
  color: #8790a0;
}
.lumis-punctuation-special {
  color: #be7e05;
}
.lumis-string {
  color: #608e32;
}
.lumis-string-documentation {
  color: #608e32;
}
.lumis-string-escape {
  color: #be7e05;
}
.lumis-string-regex {
  color: #be7e05;
}
.lumis-string-regexp {
  color: #be7e05;
}
.lumis-string-special {
  color: #be7e05;
}
.lumis-string-special-path {
  color: #be7e05;
}
.lumis-string-special-symbol {
  color: #d05858;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #d05858;
}
.lumis-tag-attribute {
  color: #5079be;
}
.lumis-tag-builtin {
  color: #be7e05;
}
.lumis-tag-delimiter {
  color: #b05ccc;
}
.lumis-type {
  color: #be7e05;
}
.lumis-type-builtin {
  color: #be7e05;
}
.lumis-type-definition {
  color: #be7e05;
}
.lumis-variable {
  color: #d05858;
}
.lumis-variable-builtin {
  color: #3a8b84;
}
.lumis-variable-member {
  color: #3a8b84;
}
.lumis-variable-parameter {
  color: #d05858;
}
.lumis-variable-parameter-builtin {
  color: #be7e05;
}
