/* fluoromachine_retrowave
 * revision: a279f667168e742df059caf1f1f4daf1de24f4f8
 */

pre.lumis {
  color: #f8f8f8;
  background-color: #262335;
}
.lumis-attribute {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-attribute-builtin {
  color: #ffcc00;
}
.lumis-boolean {
  color: #fe4450;
  background-color: #312536;
  font-weight: bold;
}
.lumis-character {
  color: #ff8b39;
}
.lumis-character-special {
  color: #fe4450;
  background-color: #312536;
  font-weight: bold;
}
.lumis-comment {
  color: #495495;
}
.lumis-comment-documentation {
  color: #495495;
}
.lumis-comment-error {
  color: #fe4450;
}
.lumis-comment-hint {
  color: #495495;
}
.lumis-comment-note {
  color: #61e2ff;
}
.lumis-comment-todo {
  color: #fe4450;
}
.lumis-comment-warning {
  color: #ff8b39;
}
.lumis-constant {
  color: #fe4450;
  background-color: #312536;
  font-weight: bold;
}
.lumis-constant-builtin {
  color: #fe4450;
  background-color: #312536;
  font-weight: bold;
}
.lumis-constant-html {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-constant-macro {
  color: #fe4450;
  background-color: #312536;
  font-weight: bold;
}
.lumis-constructor {
  color: #ff7edb;
}
.lumis-diff-delta {
  color: #ff8b39;
}
.lumis-diff-minus {
  color: #fe4450;
}
.lumis-diff-plus {
  color: #72f1b8;
}
.lumis-function {
  color: #ffcc00;
  background-color: #312b32;
  font-weight: bold;
}
.lumis-function-builtin {
  color: #ff7edb;
}
.lumis-function-call {
  color: #ffcc00;
  background-color: #312b32;
  font-weight: bold;
}
.lumis-function-macro {
  color: #ffcc00;
  background-color: #312b32;
  font-weight: bold;
}
.lumis-function-method {
  color: #ffcc00;
  background-color: #312b32;
  font-weight: bold;
}
.lumis-function-method-call {
  color: #ffcc00;
  background-color: #312b32;
  font-weight: bold;
}
.lumis-highlighted {
  background-color: #463465;
}
.lumis-keyword {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-keyword-conditional {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-keyword-conditional-ternary {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-keyword-coroutine {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-keyword-debug {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-keyword-directive {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-keyword-directive-define {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-keyword-exception {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-keyword-export {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-keyword-function {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-keyword-import {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-keyword-modifier {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-keyword-operator {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-keyword-repeat {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-keyword-return {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-keyword-type {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-label {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-markup {
  color: #ffcc00;
}
.lumis-markup-environment {
  color: #495495;
}
.lumis-markup-environment-name {
  color: #495495;
}
.lumis-markup-heading {
  color: #fe4450;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #fe4450;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #fe4450;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #fe4450;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #fe4450;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #fe4450;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #fe4450;
  font-weight: bold;
}
.lumis-markup-italic {
  color: #ffcc00;
  font-style: italic;
}
.lumis-markup-link {
  color: #ff8b39;
  font-weight: bold;
}
.lumis-markup-link-label {
  color: #61e2ff;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #61e2ff;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #af6df9;
}
.lumis-markup-list-checked {
  color: #72f1b8;
}
.lumis-markup-list-unchecked {
  color: #ff8b39;
}
.lumis-markup-math {
  color: #af6df9;
}
.lumis-markup-quote {
  color: #495495;
}
.lumis-markup-raw {
  color: #495495;
}
.lumis-markup-raw-block {
  color: #f8f8f8;
}
.lumis-markup-strikethrough {
  color: #495495;
}
.lumis-markup-strong {
  color: #ff8b39;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #61e2ff;
  text-decoration: underline;
}
.lumis-module {
  color: #f8f8f8;
}
.lumis-module-builtin {
  color: #fe4450;
}
.lumis-normal {
  color: #f8f8f8;
  background-color: #262335;
}
.lumis-number {
  color: #fe4450;
  background-color: #312536;
  font-weight: bold;
}
.lumis-number-float {
  color: #fe4450;
  background-color: #312536;
  font-weight: bold;
}
.lumis-operator {
  color: #ff7edb;
}
.lumis-property {
  color: #61e2ff;
}
.lumis-punctuation-bracket {
  color: #af6df9;
}
.lumis-punctuation-delimiter {
  color: #f8f8f8;
}
.lumis-punctuation-special {
  color: #ff7edb;
}
.lumis-string {
  color: #ff8b39;
}
.lumis-string-documentation {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-string-escape {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-string-regexp {
  color: #fe4450;
}
.lumis-string-special {
  color: #fe4450;
  background-color: #312536;
  font-weight: bold;
}
.lumis-string-special-path {
  color: #fe4450;
  background-color: #312536;
  font-weight: bold;
}
.lumis-string-special-symbol {
  color: #fe4450;
  background-color: #312536;
  font-weight: bold;
}
.lumis-string-special-url {
  color: #61e2ff;
  text-decoration: underline;
}
.lumis-tag {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-tag-attribute {
  color: #61e2ff;
  background-color: #292d3f;
  font-weight: bold;
}
.lumis-tag-builtin {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-tag-delimiter {
  color: #61e2ff;
  background-color: #292d3f;
}
.lumis-type {
  color: #ff7edb;
}
.lumis-type-builtin {
  color: #72f1b8;
  background-color: #2a2d3c;
  font-weight: bold;
}
.lumis-type-definition {
  color: #ff7edb;
}
.lumis-variable {
  color: #f8f8f8;
}
.lumis-variable-builtin {
  color: #fe4450;
}
.lumis-variable-member {
  color: #61e2ff;
}
.lumis-variable-parameter {
  color: #ff8b39;
}
.lumis-variable-parameter-builtin {
  color: #ffcc00;
}
