/* fluoromachine_delta
 * revision: a279f667168e742df059caf1f1f4daf1de24f4f8
 */

pre.lumis {
  color: #efeffd;
  background-color: #2b2233;
}
.lumis-attribute {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-attribute-builtin {
  color: #edff98;
}
.lumis-boolean {
  color: #98fffb;
}
.lumis-character {
  color: #d598ff;
}
.lumis-character-special {
  color: #ff98b3;
  background-color: #362839;
  font-weight: bold;
}
.lumis-comment {
  color: #925393;
}
.lumis-comment-documentation {
  color: #925393;
}
.lumis-comment-error {
  color: #ff98b3;
}
.lumis-comment-hint {
  color: #925393;
}
.lumis-comment-note {
  color: #98fffb;
}
.lumis-comment-todo {
  color: #ff98b3;
}
.lumis-comment-warning {
  color: #ffd298;
}
.lumis-constant {
  color: #ff98b3;
  background-color: #362839;
  font-weight: bold;
}
.lumis-constant-builtin {
  color: #ff98b3;
  background-color: #362839;
  font-weight: bold;
}
.lumis-constant-html {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-constant-macro {
  color: #ff98b3;
  background-color: #362839;
  font-weight: bold;
}
.lumis-constructor {
  color: #c0ff98;
}
.lumis-diff-delta {
  color: #ffd298;
}
.lumis-diff-minus {
  color: #ff98b3;
}
.lumis-diff-plus {
  color: #c0ff98;
}
.lumis-function {
  color: #edff98;
  background-color: #352d38;
  font-weight: bold;
}
.lumis-function-builtin {
  color: #c0ff98;
}
.lumis-function-call {
  color: #edff98;
  background-color: #352d38;
  font-weight: bold;
}
.lumis-function-macro {
  color: #edff98;
  background-color: #352d38;
  font-weight: bold;
}
.lumis-function-method {
  color: #edff98;
  background-color: #352d38;
  font-weight: bold;
}
.lumis-function-method-call {
  color: #edff98;
  background-color: #352d38;
  font-weight: bold;
}
.lumis-highlighted {
  background-color: #492949;
}
.lumis-keyword {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-keyword-conditional {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-keyword-conditional-ternary {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-keyword-coroutine {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-keyword-debug {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-keyword-directive {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-keyword-directive-define {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-keyword-exception {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-keyword-export {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-keyword-function {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-keyword-import {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-keyword-modifier {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-keyword-operator {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-keyword-repeat {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-keyword-return {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-keyword-type {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-label {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-markup {
  color: #edff98;
}
.lumis-markup-environment {
  color: #925393;
}
.lumis-markup-environment-name {
  color: #925393;
}
.lumis-markup-heading {
  color: #c0ff98;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #c0ff98;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #c0ff98;
  font-weight: bold;
}
.lumis-markup-heading-2-markdown {
  color: #edff98;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #c0ff98;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #98fffb;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #c0ff98;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #ff98b3;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #c0ff98;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #ff67d4;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #c0ff98;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #d598ff;
  font-weight: bold;
}
.lumis-markup-italic {
  color: #ff98b3;
  font-style: italic;
}
.lumis-markup-link {
  color: #ffd298;
  font-weight: bold;
}
.lumis-markup-link-label {
  color: #98fffb;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #98fffb;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #d598ff;
}
.lumis-markup-list-checked {
  color: #c0ff98;
}
.lumis-markup-list-unchecked {
  color: #ffd298;
}
.lumis-markup-math {
  color: #d598ff;
}
.lumis-markup-quote {
  color: #925393;
}
.lumis-markup-raw {
  color: #925393;
}
.lumis-markup-raw-block {
  color: #efeffd;
}
.lumis-markup-strikethrough {
  color: #925393;
}
.lumis-markup-strong {
  color: #ffd298;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #98fffb;
  text-decoration: underline;
}
.lumis-module {
  color: #efeffd;
}
.lumis-module-builtin {
  color: #ff98b3;
}
.lumis-normal {
  color: #efeffd;
  background-color: #2b2233;
}
.lumis-number {
  color: #98fffb;
}
.lumis-number-float {
  color: #98fffb;
}
.lumis-operator {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-property {
  color: #efeffd;
}
.lumis-punctuation-bracket {
  color: #efeffd;
}
.lumis-punctuation-delimiter {
  color: #efeffd;
}
.lumis-punctuation-special {
  color: #ff67d4;
}
.lumis-string {
  color: #d598ff;
}
.lumis-string-documentation {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-string-escape {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-string-regexp {
  color: #ff98b3;
}
.lumis-string-special {
  color: #ff98b3;
  background-color: #362839;
  font-weight: bold;
}
.lumis-string-special-path {
  color: #ff98b3;
  background-color: #362839;
  font-weight: bold;
}
.lumis-string-special-symbol {
  color: #ff98b3;
  background-color: #362839;
  font-weight: bold;
}
.lumis-string-special-url {
  color: #98fffb;
  text-decoration: underline;
}
.lumis-tag {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-tag-attribute {
  color: #c0ff98;
  background-color: #322d38;
  font-weight: bold;
}
.lumis-tag-builtin {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-tag-delimiter {
  color: #efeffd;
  background-color: #352c3d;
}
.lumis-type {
  color: #c0ff98;
}
.lumis-type-builtin {
  color: #ff67d4;
  background-color: #36253b;
  font-weight: bold;
}
.lumis-type-definition {
  color: #c0ff98;
}
.lumis-variable {
  color: #efeffd;
}
.lumis-variable-builtin {
  color: #ff98b3;
}
.lumis-variable-member {
  color: #efeffd;
}
.lumis-variable-parameter {
  color: #ffd298;
}
.lumis-variable-parameter-builtin {
  color: #edff98;
}
