/* gruvbox_material_light
 * revision: 11d779b26a9ab2b3db8c22c6ac9fb6e8ed4fea79
 */

pre.lumis {
  color: #654735;
  background-color: #fbf1c7;
}
.lumis-attribute {
  color: #945e80;
}
.lumis-attribute-builtin {
  color: #b47109;
}
.lumis-boolean {
  color: #945e80;
}
.lumis-character {
  color: #4c7a5d;
}
.lumis-character-special {
  color: #b47109;
}
.lumis-comment {
  color: #928374;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #928374;
  font-style: italic;
}
.lumis-comment-error {
  color: #fbf1c7;
  background-color: #c14a4a;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #928374;
  font-style: italic;
}
.lumis-comment-note {
  color: #fbf1c7;
  background-color: #6c782e;
  font-weight: bold;
}
.lumis-comment-todo {
  color: #fbf1c7;
  background-color: #45707a;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #fbf1c7;
  background-color: #b47109;
  font-weight: bold;
}
.lumis-constant {
  color: #654735;
}
.lumis-constant-builtin {
  color: #945e80;
}
.lumis-constant-builtin-go {
  color: #4c7a5d;
}
.lumis-constant-macro {
  color: #945e80;
}
.lumis-constructor {
  color: #6c782e;
}
.lumis-constructor-lua {
  color: #654735;
}
.lumis-constructor-tsx {
  color: #b47109;
}
.lumis-diff-delta {
  color: #45707a;
}
.lumis-diff-minus {
  color: #c14a4a;
}
.lumis-diff-plus {
  color: #6c782e;
}
.lumis-error {
  color: #c14a4a;
}
.lumis-function {
  color: #6c782e;
}
.lumis-function-builtin {
  color: #6c782e;
}
.lumis-function-call {
  color: #6c782e;
}
.lumis-function-macro {
  color: #6c782e;
}
.lumis-function-method {
  color: #6c782e;
}
.lumis-function-method-call {
  color: #6c782e;
}
.lumis-highlighted {
  background-color: #f4e8be;
}
.lumis-keyword {
  color: #c14a4a;
}
.lumis-keyword-conditional {
  color: #c14a4a;
}
.lumis-keyword-conditional-ternary {
  color: #c14a4a;
}
.lumis-keyword-coroutine {
  color: #c14a4a;
}
.lumis-keyword-debug {
  color: #c35e0a;
}
.lumis-keyword-directive {
  color: #945e80;
}
.lumis-keyword-directive-define {
  color: #945e80;
}
.lumis-keyword-exception {
  color: #c14a4a;
}
.lumis-keyword-export {
  color: #c14a4a;
}
.lumis-keyword-function {
  color: #c14a4a;
}
.lumis-keyword-import {
  color: #c14a4a;
}
.lumis-keyword-modifier {
  color: #c14a4a;
}
.lumis-keyword-operator {
  color: #c35e0a;
}
.lumis-keyword-repeat {
  color: #c14a4a;
}
.lumis-keyword-return {
  color: #c14a4a;
}
.lumis-keyword-type {
  color: #c14a4a;
}
.lumis-label {
  color: #c35e0a;
}
.lumis-markup {
  color: #b47109;
}
.lumis-markup-environment {
  color: #4c7a5d;
}
.lumis-markup-environment-name {
  color: #b47109;
}
.lumis-markup-heading {
  color: #c35e0a;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #c35e0a;
  font-weight: bold;
}
.lumis-markup-heading-1-markdown {
  color: #c14a4a;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #c35e0a;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #c35e0a;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #b47109;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #c35e0a;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #6c782e;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #c35e0a;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #45707a;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #c35e0a;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #945e80;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #4c7a5d;
}
.lumis-markup-link-label {
  color: #b47109;
}
.lumis-markup-link-url {
  color: #45707a;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #45707a;
}
.lumis-markup-list-checked {
  color: #6c782e;
}
.lumis-markup-list-unchecked {
  color: #928374;
}
.lumis-markup-math {
  color: #45707a;
}
.lumis-markup-quote {
  color: #928374;
}
.lumis-markup-raw {
  color: #6c782e;
}
.lumis-markup-raw-block {
  color: #6c782e;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #b47109;
}
.lumis-module-builtin {
  color: #b47109;
}
.lumis-module-go {
  color: #654735;
}
.lumis-namespace {
  color: #b47109;
}
.lumis-namespace-go {
  color: #654735;
}
.lumis-normal {
  color: #654735;
  background-color: #fbf1c7;
}
.lumis-number {
  color: #945e80;
}
.lumis-number-float {
  color: #945e80;
}
.lumis-operator {
  color: #c35e0a;
}
.lumis-property {
  color: #45707a;
}
.lumis-punctuation-bracket {
  color: #654735;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #c14a4a;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #b47109;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #45707a;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #c35e0a;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #6c782e;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #945e80;
}
.lumis-punctuation-delimiter {
  color: #928374;
}
.lumis-punctuation-special {
  color: #45707a;
}
.lumis-punctuation-special-tsx {
  color: #c35e0a;
}
.lumis-punctuation-special-typescript {
  color: #c35e0a;
}
.lumis-string {
  color: #4c7a5d;
}
.lumis-string-documentation {
  color: #4c7a5d;
}
.lumis-string-escape {
  color: #6c782e;
}
.lumis-string-regex {
  color: #6c782e;
}
.lumis-string-regexp {
  color: #6c782e;
}
.lumis-string-special {
  color: #b47109;
}
.lumis-string-special-path {
  color: #b47109;
}
.lumis-string-special-symbol {
  color: #654735;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #c35e0a;
}
.lumis-tag-attribute {
  color: #6c782e;
}
.lumis-tag-builtin {
  color: #b47109;
}
.lumis-tag-delimiter {
  color: #6c782e;
}
.lumis-type {
  color: #b47109;
}
.lumis-type-builtin {
  color: #b47109;
}
.lumis-type-definition {
  color: #b47109;
}
.lumis-variable {
  color: #654735;
}
.lumis-variable-builtin {
  color: #945e80;
}
.lumis-variable-member {
  color: #45707a;
}
.lumis-variable-parameter {
  color: #654735;
}
.lumis-variable-parameter-builtin {
  color: #b47109;
}
