/* melange_dark
 * revision: ce42f6b629beeaa00591ba73a77d3eeac4cf28ce
 */

pre.lumis {
  color: #ece1d7;
  background-color: #292522;
}
.lumis-attribute {
  color: #85b695;
}
.lumis-attribute-builtin {
  color: #ebc06d;
}
.lumis-boolean {
  color: #cf9bc2;
}
.lumis-character {
  color: #7f91b2;
}
.lumis-character-special {
  color: #ebc06d;
}
.lumis-comment {
  color: #c1a78e;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #c1a78e;
}
.lumis-comment-error {
  color: #c1a78e;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #c1a78e;
  font-style: italic;
}
.lumis-comment-note {
  color: #c1a78e;
  font-weight: bold;
}
.lumis-comment-todo {
  color: #c1a78e;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #c1a78e;
  font-weight: bold;
}
.lumis-constant {
  color: #ece1d7;
}
.lumis-constant-builtin {
  color: #b380b0;
}
.lumis-constant-macro {
  color: #b380b0;
}
.lumis-constructor {
  color: #ebc06d;
}
.lumis-diff-delta {
  background-color: #422741;
}
.lumis-diff-minus {
  color: #c1a78e;
  background-color: #7d2a2f;
}
.lumis-diff-plus {
  background-color: #233524;
}
.lumis-function {
  color: #ebc06d;
}
.lumis-function-builtin {
  color: #ebc06d;
}
.lumis-function-call {
  color: #ebc06d;
}
.lumis-function-macro {
  color: #ebc06d;
}
.lumis-function-method {
  color: #ebc06d;
}
.lumis-function-method-call {
  color: #ebc06d;
}
.lumis-highlighted {
  background-color: #34302c;
}
.lumis-keyword {
  color: #e49b5d;
}
.lumis-keyword-conditional {
  color: #e49b5d;
}
.lumis-keyword-conditional-ternary {
  color: #e49b5d;
}
.lumis-keyword-coroutine {
  color: #e49b5d;
}
.lumis-keyword-debug {
  color: #e49b5d;
}
.lumis-keyword-directive {
  color: #85b695;
}
.lumis-keyword-directive-define {
  color: #85b695;
}
.lumis-keyword-exception {
  color: #e49b5d;
}
.lumis-keyword-export {
  color: #e49b5d;
}
.lumis-keyword-function {
  color: #85b695;
}
.lumis-keyword-import {
  color: #85b695;
}
.lumis-keyword-modifier {
  color: #e49b5d;
}
.lumis-keyword-operator {
  color: #e49b5d;
}
.lumis-keyword-repeat {
  color: #e49b5d;
}
.lumis-keyword-return {
  color: #e49b5d;
}
.lumis-keyword-type {
  color: #e49b5d;
}
.lumis-label {
  color: #89b3b6;
}
.lumis-markup {
  color: #ebc06d;
}
.lumis-markup-environment {
  color: #ebc06d;
}
.lumis-markup-environment-name {
  color: #ebc06d;
}
.lumis-markup-heading {
  color: #e49b5d;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #e49b5d;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #ebc06d;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #85b695;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #e49b5d;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #ebc06d;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #85b695;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #7f91b2;
}
.lumis-markup-list {
  color: #8b7449;
}
.lumis-markup-list-checked {
  color: #8b7449;
}
.lumis-markup-list-unchecked {
  color: #8b7449;
}
.lumis-markup-math {
  color: #89b3b6;
}
.lumis-markup-quote {
  color: #c1a78e;
  font-style: italic;
}
.lumis-markup-raw {
  color: #89b3b6;
}
.lumis-markup-raw-block {
  color: #c1a78e;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #ece1d7;
}
.lumis-module-builtin {
  color: #ece1d7;
}
.lumis-normal {
  color: #ece1d7;
  background-color: #292522;
}
.lumis-number {
  color: #cf9bc2;
}
.lumis-number-float {
  color: #cf9bc2;
}
.lumis-operator {
  color: #d47766;
}
.lumis-property {
  color: #ece1d7;
}
.lumis-punctuation-bracket {
  color: #8b7449;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #d47766;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #ebc06d;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #a3a9ce;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #e49b5d;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #85b695;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #b380b0;
}
.lumis-punctuation-delimiter {
  color: #bd8183;
}
.lumis-punctuation-special {
  color: #ebc06d;
}
.lumis-string {
  color: #a3a9ce;
  font-style: italic;
}
.lumis-string-documentation {
  color: #a3a9ce;
}
.lumis-string-escape {
  color: #7f91b2;
}
.lumis-string-regexp {
  color: #a3a9ce;
}
.lumis-string-special {
  color: #89b3b6;
}
.lumis-string-special-path {
  color: #78997a;
}
.lumis-string-special-symbol {
  color: #ece1d7;
  font-style: italic;
}
.lumis-string-special-url {
  color: #7f91b2;
}
.lumis-tag {
  color: #ebc06d;
}
.lumis-tag-attribute {
  color: #89b3b6;
}
.lumis-tag-builtin {
  color: #ebc06d;
}
.lumis-tag-delimiter {
  color: #8b7449;
}
.lumis-type {
  color: #7b9695;
}
.lumis-type-builtin {
  color: #7b9695;
}
.lumis-type-definition {
  color: #7b9695;
}
.lumis-variable {
  color: #ece1d7;
}
.lumis-variable-builtin {
  color: #ece1d7;
  font-style: italic;
}
.lumis-variable-member {
  color: #ece1d7;
}
.lumis-variable-parameter {
  color: #ece1d7;
}
.lumis-variable-parameter-builtin {
  color: #ebc06d;
}
