/* mellifluous_dark
 * revision: ec0575bdb63594c5e7fba6eb9607b009aa1fb74e
 */

pre.lumis {
  color: #dadada;
  background-color: #1a1a1a;
}
.lumis-attribute {
  color: #cbaa88;
}
.lumis-attribute-builtin {
  color: #cbaa88;
}
.lumis-boolean {
  color: #b99bb5;
}
.lumis-character {
  color: #bfaf8e;
}
.lumis-character-special {
  color: #bfaf8e;
}
.lumis-comment {
  color: #737246;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #b3b393;
  font-style: italic;
}
.lumis-comment-error {
  color: #be7c7d;
  background-color: #3b2e2e;
}
.lumis-comment-hint {
  color: #737246;
  font-style: italic;
}
.lumis-comment-note {
  color: #a3869f;
  background-color: #353035;
}
.lumis-comment-todo {
  color: #939374;
  background-color: #32322c;
}
.lumis-comment-warning {
  color: #aa8a69;
  background-color: #37302a;
}
.lumis-constant {
  color: #b99bb5;
}
.lumis-constant-builtin {
  color: #b99bb5;
}
.lumis-constant-macro {
  color: #b99bb5;
}
.lumis-constructor {
  color: #a8a1be;
}
.lumis-diff-delta {
  background-color: #342a1f;
}
.lumis-diff-minus {
  background-color: #3d2425;
}
.lumis-diff-plus {
  background-color: #2d2d21;
}
.lumis-function {
  color: #a8a1be;
}
.lumis-function-builtin {
  color: #a8a1be;
}
.lumis-function-call {
  color: #a8a1be;
}
.lumis-function-macro {
  color: #a8a1be;
}
.lumis-function-method {
  color: #a8a1be;
}
.lumis-function-method-call {
  color: #a8a1be;
}
.lumis-highlighted {
  background-color: #242424;
}
.lumis-keyword {
  color: #cbaa88;
}
.lumis-keyword-conditional {
  color: #d59192;
}
.lumis-keyword-conditional-ternary {
  color: #d59192;
}
.lumis-keyword-coroutine {
  color: #d59192;
}
.lumis-keyword-debug {
  color: #cbaa88;
}
.lumis-keyword-directive {
  color: #a8a1be;
}
.lumis-keyword-directive-define {
  color: #a8a1be;
}
.lumis-keyword-exception {
  color: #d59192;
}
.lumis-keyword-export {
  color: #cbaa88;
}
.lumis-keyword-function {
  color: #d59192;
}
.lumis-keyword-import {
  color: #a8a1be;
}
.lumis-keyword-modifier {
  color: #cbaa88;
}
.lumis-keyword-operator {
  color: #cbaa88;
}
.lumis-keyword-repeat {
  color: #d59192;
}
.lumis-keyword-return {
  color: #d59192;
}
.lumis-keyword-type {
  color: #cbaa88;
}
.lumis-label {
  color: #cbaa88;
}
.lumis-label-markdown {
  color: #737246;
}
.lumis-markup-environment {
  color: #cbaa88;
}
.lumis-markup-environment-name {
  color: #cbaa88;
}
.lumis-markup-heading {
  color: #db9697;
  background-color: #342a2a;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #db9697;
  background-color: #342a2a;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #c6a583;
  background-color: #312c27;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #baaa89;
  background-color: #2f2d28;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #aeae8e;
  background-color: #2d2d28;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #aea6c3;
  background-color: #2d2c31;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #bea0ba;
  background-color: #302b2f;
  font-weight: bold;
}
.lumis-markup-heading-gitcommit {
  color: #bfaf8e;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #b99bb5;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #b99bb5;
  text-decoration: underline;
}
.lumis-markup-link-markdown_inline {
  color: #b99bb5;
}
.lumis-markup-link-url {
  color: #817a95;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #bfad9d;
}
.lumis-markup-list-checked {
  color: #939374;
}
.lumis-markup-list-unchecked {
  color: #939374;
  background-color: #32322c;
}
.lumis-markup-math {
  color: #cbaa88;
}
.lumis-markup-quote {
  color: #cbaa88;
}
.lumis-markup-raw {
  color: #aeaeae;
}
.lumis-markup-raw-block {
  color: #aeaeae;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #bfad9d;
}
.lumis-module-builtin {
  color: #cbaa88;
}
.lumis-namespace {
  color: #bfad9d;
}
.lumis-number {
  color: #b99bb5;
}
.lumis-number-float {
  color: #b99bb5;
}
.lumis-operator {
  color: #bfad9d;
}
.lumis-property {
  color: #dadada;
}
.lumis-punctuation-bracket {
  color: #bfad9d;
}
.lumis-punctuation-delimiter {
  color: #bfad9d;
}
.lumis-punctuation-special {
  color: #bfad9d;
}
.lumis-string {
  color: #bfaf8e;
}
.lumis-string-documentation {
  color: #b3b393;
}
.lumis-string-escape {
  color: #bfaf8e;
}
.lumis-string-regexp {
  color: #bfaf8e;
}
.lumis-string-special {
  color: #bfaf8e;
}
.lumis-string-special-path {
  color: #817a95;
  text-decoration: underline;
}
.lumis-string-special-symbol {
  color: #bfaf8e;
}
.lumis-string-special-url {
  color: #817a95;
  text-decoration: underline;
}
.lumis-tag {
  color: #cbaa88;
}
.lumis-tag-attribute {
  color: #a8a1be;
}
.lumis-tag-builtin {
  color: #cbaa88;
}
.lumis-tag-delimiter {
  color: #bfad9d;
}
.lumis-type {
  color: #bfad9d;
}
.lumis-type-builtin {
  color: #bfad9d;
}
.lumis-type-definition {
  color: #bfad9d;
}
.lumis-variable {
  color: #dadada;
}
.lumis-variable-builtin {
  color: #cbaa88;
}
.lumis-variable-member {
  color: #dadada;
}
.lumis-variable-parameter {
  color: #dadada;
}
.lumis-variable-parameter-builtin {
  color: #cbaa88;
}
