/* mellifluous_alduin
 * revision: ec0575bdb63594c5e7fba6eb9607b009aa1fb74e
 */

pre.lumis {
  color: #dfdfaf;
  background-color: #1c1c1c;
}
.lumis-attribute {
  color: #878787;
}
.lumis-attribute-builtin {
  color: #878787;
}
.lumis-boolean {
  color: #af5f00;
}
.lumis-character {
  color: #ffdf87;
}
.lumis-character-special {
  color: #ffdf87;
}
.lumis-comment {
  color: #87875f;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #87875f;
  font-style: italic;
}
.lumis-comment-error {
  color: #ac5c5c;
  background-color: #392929;
}
.lumis-comment-hint {
  color: #87875f;
  font-style: italic;
}
.lumis-comment-note {
  color: #597f7f;
  background-color: #283030;
}
.lumis-comment-todo {
  color: #7a7a52;
  background-color: #2f2f27;
}
.lumis-comment-warning {
  color: #986c46;
  background-color: #352c24;
}
.lumis-constant {
  color: #af5f00;
}
.lumis-constant-builtin {
  color: #af5f00;
}
.lumis-constant-macro {
  color: #af5f00;
}
.lumis-constructor {
  color: #875f5f;
}
.lumis-diff-delta {
  background-color: #34271b;
}
.lumis-diff-minus {
  background-color: #3b2122;
}
.lumis-diff-plus {
  background-color: #2b2a1d;
}
.lumis-function {
  color: #875f5f;
}
.lumis-function-builtin {
  color: #875f5f;
}
.lumis-function-call {
  color: #875f5f;
}
.lumis-function-macro {
  color: #875f5f;
}
.lumis-function-method {
  color: #875f5f;
}
.lumis-function-method-call {
  color: #875f5f;
}
.lumis-highlighted {
  background-color: #262626;
}
.lumis-keyword {
  color: #878787;
}
.lumis-keyword-conditional {
  color: #af5f5f;
}
.lumis-keyword-conditional-ternary {
  color: #af5f5f;
}
.lumis-keyword-coroutine {
  color: #af5f5f;
}
.lumis-keyword-debug {
  color: #878787;
}
.lumis-keyword-directive {
  color: #875f5f;
}
.lumis-keyword-directive-define {
  color: #875f5f;
}
.lumis-keyword-exception {
  color: #af5f5f;
}
.lumis-keyword-export {
  color: #878787;
}
.lumis-keyword-function {
  color: #af5f5f;
}
.lumis-keyword-import {
  color: #875f5f;
}
.lumis-keyword-modifier {
  color: #878787;
}
.lumis-keyword-operator {
  color: #878787;
}
.lumis-keyword-repeat {
  color: #af5f5f;
}
.lumis-keyword-return {
  color: #af5f5f;
}
.lumis-keyword-type {
  color: #878787;
}
.lumis-label {
  color: #878787;
}
.lumis-label-markdown {
  color: #87875f;
}
.lumis-markup-environment {
  color: #878787;
}
.lumis-markup-environment-name {
  color: #878787;
}
.lumis-markup-heading {
  color: #c97675;
  background-color: #332626;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #c97675;
  background-color: #332626;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #b3865f;
  background-color: #302923;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #ac8d33;
  background-color: #2f2a19;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #94946b;
  background-color: #2b2b25;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #919191;
  background-color: #2b2b2b;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #729999;
  background-color: #262c2c;
  font-weight: bold;
}
.lumis-markup-heading-gitcommit {
  color: #ffdf87;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #af5f00;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #af5f00;
  text-decoration: underline;
}
.lumis-markup-link-markdown_inline {
  color: #af5f00;
}
.lumis-markup-link-url {
  color: #616161;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #878787;
}
.lumis-markup-list-checked {
  color: #7a7a52;
}
.lumis-markup-list-unchecked {
  color: #7a7a52;
  background-color: #2f2f27;
}
.lumis-markup-math {
  color: #878787;
}
.lumis-markup-quote {
  color: #878787;
}
.lumis-markup-raw {
  color: #bcbcbc;
}
.lumis-markup-raw-block {
  color: #bcbcbc;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #af875f;
}
.lumis-module-builtin {
  color: #878787;
}
.lumis-namespace {
  color: #af875f;
}
.lumis-normal {
  color: #dfdfaf;
  background-color: #1c1c1c;
}
.lumis-number {
  color: #af5f00;
}
.lumis-number-float {
  color: #af5f00;
}
.lumis-operator {
  color: #878787;
}
.lumis-property {
  color: #dfdfaf;
}
.lumis-punctuation-bracket {
  color: #878787;
}
.lumis-punctuation-delimiter {
  color: #878787;
}
.lumis-punctuation-special {
  color: #878787;
}
.lumis-string {
  color: #ffdf87;
}
.lumis-string-documentation {
  color: #87875f;
}
.lumis-string-escape {
  color: #ffdf87;
}
.lumis-string-regexp {
  color: #ffdf87;
}
.lumis-string-special {
  color: #ffdf87;
}
.lumis-string-special-path {
  color: #616161;
  text-decoration: underline;
}
.lumis-string-special-symbol {
  color: #ffdf87;
}
.lumis-string-special-url {
  color: #616161;
  text-decoration: underline;
}
.lumis-tag {
  color: #878787;
}
.lumis-tag-attribute {
  color: #875f5f;
}
.lumis-tag-builtin {
  color: #878787;
}
.lumis-tag-delimiter {
  color: #878787;
}
.lumis-type {
  color: #af875f;
}
.lumis-type-builtin {
  color: #af875f;
}
.lumis-type-definition {
  color: #af875f;
}
.lumis-variable {
  color: #dfdfaf;
}
.lumis-variable-builtin {
  color: #878787;
}
.lumis-variable-member {
  color: #dfdfaf;
}
.lumis-variable-parameter {
  color: #dfdfaf;
}
.lumis-variable-parameter-builtin {
  color: #878787;
}
