/* miasma
 * revision: 627f2e1cac91de0d1d4dd7472b506a30f41b2b7d
 */

pre.lumis {
  color: #d7c483;
  background-color: #222222;
}
.lumis-attribute {
  color: #5f875f;
}
.lumis-attribute-builtin {
  color: #bb7744;
}
.lumis-boolean {
  color: #78834b;
}
.lumis-character {
  color: #bb7744;
}
.lumis-character-special {
  color: #bb7744;
}
.lumis-comment {
  color: #666666;
}
.lumis-comment-documentation {
  color: #666666;
}
.lumis-comment-error {
  color: #b36d43;
}
.lumis-comment-hint {
  color: #666666;
}
.lumis-comment-note {
  color: #5f875f;
}
.lumis-comment-todo {
  color: #d7c483;
  font-weight: bold;
  text-decoration: underline;
}
.lumis-comment-warning {
  color: #685742;
}
.lumis-constant {
  color: #bb7744;
}
.lumis-constant-builtin {
  color: #bb7744;
}
.lumis-constant-macro {
  color: #bb7744;
}
.lumis-constructor {
  color: #bb7744;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #78834b;
}
.lumis-function-builtin {
  color: #bb7744;
}
.lumis-function-call {
  color: #78834b;
}
.lumis-function-macro {
  color: #78834b;
}
.lumis-function-method {
  color: #78834b;
}
.lumis-function-method-call {
  color: #78834b;
}
.lumis-highlighted {
  background-color: #1c1c1c;
}
.lumis-keyword {
  color: #5f875f;
}
.lumis-keyword-conditional {
  color: #5f875f;
}
.lumis-keyword-conditional-ternary {
  color: #5f875f;
}
.lumis-keyword-coroutine {
  color: #5f875f;
}
.lumis-keyword-debug {
  color: #5f875f;
}
.lumis-keyword-directive {
  color: #5f875f;
}
.lumis-keyword-directive-define {
  color: #5f875f;
}
.lumis-keyword-exception {
  color: #5f875f;
}
.lumis-keyword-export {
  color: #5f875f;
}
.lumis-keyword-function {
  color: #5f875f;
}
.lumis-keyword-import {
  color: #5f875f;
}
.lumis-keyword-modifier {
  color: #5f875f;
}
.lumis-keyword-operator {
  color: #5f875f;
}
.lumis-keyword-repeat {
  color: #5f875f;
}
.lumis-keyword-return {
  color: #5f875f;
}
.lumis-keyword-type {
  color: #5f875f;
}
.lumis-label {
  color: #5f875f;
  font-weight: bold;
}
.lumis-markup {
  color: #bb7744;
}
.lumis-markup-environment {
  color: #bb7744;
}
.lumis-markup-environment-name {
  color: #bb7744;
}
.lumis-markup-heading {
  color: #b36d43;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #b36d43;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #b36d43;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #b36d43;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #b36d43;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #b36d43;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #b36d43;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #78834b;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #78834b;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #78834b;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #bb7744;
}
.lumis-markup-list-checked {
  color: #bb7744;
}
.lumis-markup-list-unchecked {
  color: #bb7744;
}
.lumis-markup-math {
  color: #bb7744;
}
.lumis-markup-quote {
  color: #bb7744;
}
.lumis-markup-raw {
  color: #bb7744;
}
.lumis-markup-raw-block {
  color: #bb7744;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #78834b;
  font-weight: bold;
}
.lumis-module-builtin {
  color: #bb7744;
}
.lumis-namespace {
  color: #d7c483;
}
.lumis-normal {
  color: #d7c483;
  background-color: #222222;
}
.lumis-number {
  color: #78824b;
}
.lumis-number-float {
  color: #78824b;
}
.lumis-operator {
  color: #d7c483;
}
.lumis-property {
  color: #d7c483;
}
.lumis-punctuation-bracket {
  color: #d7c483;
}
.lumis-punctuation-delimiter {
  color: #d7c483;
}
.lumis-punctuation-special {
  color: #bb7744;
}
.lumis-string {
  color: #685742;
}
.lumis-string-documentation {
  color: #685742;
}
.lumis-string-escape {
  color: #bb7744;
}
.lumis-string-regexp {
  color: #bb7744;
}
.lumis-string-special {
  color: #bb7744;
}
.lumis-string-special-path {
  color: #bb7744;
}
.lumis-string-special-symbol {
  color: #bb7744;
}
.lumis-string-special-url {
  color: #78834b;
  text-decoration: underline;
}
.lumis-tag {
  color: #bb7744;
}
.lumis-tag-attribute {
  color: #bb7744;
}
.lumis-tag-builtin {
  color: #bb7744;
}
.lumis-tag-delimiter {
  color: #bb7744;
}
.lumis-type {
  color: #78834b;
  font-weight: bold;
}
.lumis-type-builtin {
  color: #bb7744;
}
.lumis-type-definition {
  color: #78834b;
  font-weight: bold;
}
.lumis-variable {
  color: #d7c483;
}
.lumis-variable-builtin {
  color: #bb7744;
}
.lumis-variable-member {
  color: #d7c483;
}
.lumis-variable-parameter {
  color: #d7c483;
}
.lumis-variable-parameter-builtin {
  color: #bb7744;
}
