/* modus_vivendi
 * revision: 17a64464c27c1be605adca13dbe48f2f402fe107
 */

pre.lumis {
  color: #ffffff;
  background-color: #000000;
}
.lumis-attribute {
  color: #ff7f9f;
}
.lumis-attribute-builtin {
  color: #ff7f9f;
}
.lumis-boolean {
  color: #2fafff;
  font-weight: bold;
}
.lumis-character {
  color: #79a8ff;
}
.lumis-character-special {
  color: #9ac8e0;
}
.lumis-comment {
  color: #989898;
  font-style: italic;
}
.lumis-comment-documentation {
  font-style: italic;
}
.lumis-comment-error {
  color: #ff7f9f;
}
.lumis-comment-hint {
  color: #989898;
  font-style: italic;
}
.lumis-comment-note {
  color: #9ac8e0;
}
.lumis-comment-todo {
  color: #feacd0;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #dfaf7a;
}
.lumis-constant {
  color: #ffffff;
}
.lumis-constant-builtin {
  color: #f78fe7;
}
.lumis-constant-macro {
  color: #ffffff;
}
.lumis-constructor {
  color: #dfaf7a;
}
.lumis-constructor-tsx {
  color: #2fafff;
}
.lumis-diff-delta {
  color: #efef80;
  background-color: #363300;
}
.lumis-diff-minus {
  color: #ffbfbf;
  background-color: #4f1119;
}
.lumis-diff-plus {
  color: #a0e0a0;
  background-color: #00381f;
}
.lumis-function {
  color: #feacd0;
}
.lumis-function-builtin {
  color: #f78fe7;
}
.lumis-function-call {
  color: #feacd0;
}
.lumis-function-macro {
  color: #feacd0;
}
.lumis-function-method {
  color: #feacd0;
}
.lumis-function-method-call {
  color: #feacd0;
}
.lumis-highlighted {
  background-color: #2f3849;
}
.lumis-keyword {
  color: #b6a0ff;
  font-style: italic;
}
.lumis-keyword-conditional {
  color: #b6a0ff;
}
.lumis-keyword-conditional-ternary {
  color: #b6a0ff;
}
.lumis-keyword-coroutine {
  color: #b6a0ff;
  font-style: italic;
}
.lumis-keyword-debug {
  color: #f78fe7;
}
.lumis-keyword-directive {
  color: #ff7f9f;
}
.lumis-keyword-directive-define {
  color: #ff7f9f;
}
.lumis-keyword-exception {
  color: #b6a0ff;
}
.lumis-keyword-export {
  color: #b6a0ff;
  font-style: italic;
}
.lumis-keyword-function {
  color: #feacd0;
}
.lumis-keyword-import {
  color: #ff7f9f;
}
.lumis-keyword-modifier {
  color: #b6a0ff;
  font-style: italic;
}
.lumis-keyword-operator {
  color: #ffffff;
}
.lumis-keyword-repeat {
  color: #b6a0ff;
}
.lumis-keyword-return {
  color: #b6a0ff;
  font-style: italic;
}
.lumis-keyword-type {
  color: #b6a0ff;
  font-style: italic;
}
.lumis-label {
  color: #00d3d0;
}
.lumis-markup {
  color: #f78fe7;
}
.lumis-markup-environment {
  color: #f78fe7;
}
.lumis-markup-environment-name {
  color: #f78fe7;
}
.lumis-markup-heading {
  color: #c6daff;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #2fafff;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #d0bc00;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #feacd0;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #44bc44;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #ff5f59;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #4ae2f0;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #6ae4b9;
}
.lumis-markup-link-label {
  color: #9ac8e0;
}
.lumis-markup-link-url {
  color: #c6daff;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #ffffff;
}
.lumis-markup-list-checked {
  color: #44bc44;
}
.lumis-markup-list-unchecked {
  color: #d0bc00;
}
.lumis-markup-math {
  color: #f78fe7;
}
.lumis-markup-quote {
  font-style: italic;
}
.lumis-markup-raw {
  color: #79a8ff;
}
.lumis-markup-raw-block {
  color: #79a8ff;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #ff7f9f;
}
.lumis-module-builtin {
  color: #b6a0ff;
}
.lumis-number {
  color: #82b0ec;
}
.lumis-number-float {
  color: #82b0ec;
}
.lumis-operator {
  color: #ffffff;
}
.lumis-punctuation-bracket {
  color: #ffffff;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #ff5f59;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #d0bc00;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #2fafff;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #fec43f;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #44bc44;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #b6a0ff;
}
.lumis-punctuation-delimiter {
  color: #ffffff;
}
.lumis-punctuation-special {
  color: #ffffff;
}
.lumis-string {
  color: #79a8ff;
}
.lumis-string-documentation {
  font-style: italic;
}
.lumis-string-escape {
  color: #d2b580;
}
.lumis-string-regex {
  color: #00c06f;
}
.lumis-string-regexp {
  color: #ff9580;
}
.lumis-string-special {
  color: #ff9580;
}
.lumis-string-special-path {
  color: #2fafff;
}
.lumis-string-special-symbol {
  color: #00d3d0;
}
.lumis-string-special-url {
  color: #6ae4b9;
}
.lumis-tag {
  color: #00d3d0;
}
.lumis-tag-builtin {
  color: #f78fe7;
}
.lumis-tag-delimiter {
  color: #ffffff;
}
.lumis-tag-delimiter-tsx {
  color: #00bcff;
}
.lumis-tag-tsx {
  color: #ff5f59;
}
.lumis-type {
  color: #6ae4b9;
}
.lumis-type-builtin {
  color: #6ae4b9;
}
.lumis-type-definition {
  color: #4ae2f0;
}
.lumis-variable {
  color: #00d3d0;
}
.lumis-variable-builtin {
  color: #b6a0ff;
}
.lumis-variable-member {
  color: #00d3d0;
}
.lumis-variable-parameter {
  color: #00d3d0;
}
.lumis-variable-parameter-builtin {
  color: #9ac8e0;
}
