/* monokai_nightasty_light
 * revision: 1e9b92006782a1217d0a7a871b871768f1cbf5ed
 */

pre.lumis {
  color: #333333;
  background-color: #ffffff;
}
.lumis-attribute {
  color: #ff004b;
}
.lumis-attribute-builtin {
  color: #ff004b;
  font-style: italic;
}
.lumis-boolean {
  color: #6054d0;
}
.lumis-character {
  color: #6054d0;
}
.lumis-character-special {
  color: #6054d0;
}
.lumis-comment {
  color: #7f7f7f;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #7f7f7f;
  font-style: italic;
}
.lumis-comment-error {
  color: #ff005f;
}
.lumis-comment-hint {
  color: #7f7f7f;
  font-style: italic;
}
.lumis-comment-note {
  color: #0087ff;
}
.lumis-comment-todo {
  color: #ff8f00;
  background-color: #a5a5a5;
}
.lumis-comment-warning {
  color: #ff4d00;
}
.lumis-constant {
  color: #6054d0;
}
.lumis-constant-builtin {
  color: #6054d0;
}
.lumis-constant-macro {
  color: #ff004b;
}
.lumis-constructor {
  color: #00b3e3;
  font-style: italic;
}
.lumis-constructor-lua {
  color: #ff004b;
}
.lumis-diff-delta {
  background-color: #d9edff;
}
.lumis-diff-minus {
  color: #ff004b;
  background-color: #ffd9e7;
}
.lumis-diff-plus {
  color: #4fb000;
  background-color: #e5f3d9;
}
.lumis-function {
  color: #4fb000;
}
.lumis-function-builtin {
  color: #4fb000;
}
.lumis-function-builtin-bash {
  color: #00b3e3;
}
.lumis-function-call {
  color: #4fb000;
}
.lumis-function-macro {
  color: #ff004b;
}
.lumis-function-method {
  color: #4fb000;
}
.lumis-function-method-call {
  color: #4fb000;
}
.lumis-highlighted {
  background-color: #ebebeb;
}
.lumis-keyword {
  color: #ff004b;
}
.lumis-keyword-conditional {
  color: #ff004b;
}
.lumis-keyword-conditional-ternary {
  color: #ff004b;
}
.lumis-keyword-coroutine {
  color: #ff004b;
}
.lumis-keyword-debug {
  color: #ff4d00;
}
.lumis-keyword-directive {
  color: #a2a2a2;
}
.lumis-keyword-directive-define {
  color: #ff004b;
}
.lumis-keyword-exception {
  color: #ff004b;
}
.lumis-keyword-export {
  color: #ff004b;
}
.lumis-keyword-function {
  color: #00b3e3;
  font-style: italic;
}
.lumis-keyword-import {
  color: #ff004b;
}
.lumis-keyword-modifier {
  color: #ff004b;
}
.lumis-keyword-operator {
  color: #ff004b;
}
.lumis-keyword-repeat {
  color: #ff004b;
}
.lumis-keyword-return {
  color: #ff004b;
}
.lumis-keyword-type {
  color: #ff004b;
}
.lumis-label {
  color: #ff8f00;
}
.lumis-markup-environment {
  color: #ff004b;
}
.lumis-markup-heading {
  color: #333333;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #333333;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #333333;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #333333;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #333333;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #333333;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #333333;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #00b3e3;
}
.lumis-markup-link-label {
  color: #00b3e3;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #ff4d00;
}
.lumis-markup-list {
  color: #ff004b;
}
.lumis-markup-list-checked {
  color: #ff004b;
}
.lumis-markup-list-unchecked {
  color: #ff004b;
}
.lumis-markup-math {
  color: #6054d0;
}
.lumis-markup-quote {
  color: #333333;
  background-color: #e3e3e3;
  font-style: italic;
}
.lumis-markup-raw {
  color: #ff8f00;
}
.lumis-markup-raw-block {
  color: #7f7f7f;
}
.lumis-markup-raw-markdown_inline {
  color: #6054d0;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #00b3e3;
}
.lumis-module-builtin {
  color: #6054d0;
}
.lumis-normal {
  color: #333333;
  background-color: #ffffff;
}
.lumis-number {
  color: #6054d0;
}
.lumis-number-float {
  color: #6054d0;
}
.lumis-operator {
  color: #ff004b;
}
.lumis-property {
  color: #0e0e0e;
}
.lumis-punctuation-bracket {
  color: #ff004b;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #ff004b;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #ff8f00;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #0087ff;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #ff4d00;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #4fb000;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #6054d0;
}
.lumis-punctuation-delimiter {
  color: #7f7f7f;
}
.lumis-punctuation-special {
  color: #ff004b;
}
.lumis-string {
  color: #ff8f00;
}
.lumis-string-escape {
  color: #6054d0;
}
.lumis-string-regexp {
  color: #ff4d00;
}
.lumis-string-special {
  color: #6054d0;
}
.lumis-string-special-path {
  color: #6054d0;
}
.lumis-string-special-symbol {
  color: #6054d0;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #ff004b;
}
.lumis-tag-attribute {
  color: #00b3e3;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #6054d0;
}
.lumis-tag-delimiter {
  color: #4c4c4c;
}
.lumis-type {
  color: #00b3e3;
}
.lumis-type-builtin {
  color: #00b3e3;
  font-style: italic;
}
.lumis-type-definition {
  color: #00b3e3;
}
.lumis-variable {
  color: #333333;
}
.lumis-variable-builtin {
  color: #4c4c4c;
  font-style: italic;
}
.lumis-variable-member {
  color: #333333;
}
.lumis-variable-parameter {
  color: #ff4d00;
  font-style: italic;
}
.lumis-variable-parameter-builtin {
  color: #6054d0;
}
