/* moonfly
 * revision: 261664f92ed51cf0c077555b2d4b2530307eac17
 */

pre.lumis {
  color: #c6c6c6;
  background-color: #080808;
}
.lumis-attribute {
  color: #74b2ff;
}
.lumis-attribute-builtin {
  color: #e65e72;
}
.lumis-attribute-zig {
  color: #cf87e8;
}
.lumis-boolean {
  color: #e65e72;
}
.lumis-character {
  color: #ae81ff;
}
.lumis-character-special {
  color: #e65e72;
}
.lumis-character-special-vim {
  color: #74b2ff;
}
.lumis-comment {
  color: #949494;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #949494;
  font-style: italic;
}
.lumis-comment-error {
  color: #ff5d5d;
}
.lumis-comment-hint {
  color: #949494;
  font-style: italic;
}
.lumis-comment-note {
  color: #949494;
}
.lumis-comment-todo {
  color: #e3c78a;
  background-color: #262626;
}
.lumis-comment-warning {
  color: #e3c78a;
}
.lumis-constant {
  color: #79dac8;
}
.lumis-constant-builtin {
  color: #8cc85f;
}
.lumis-constant-macro {
  color: #cf87e8;
}
.lumis-constructor {
  color: #36c692;
}
.lumis-diff-delta {
  color: #74b2ff;
}
.lumis-diff-minus {
  color: #ff5d5d;
}
.lumis-diff-plus {
  color: #8cc85f;
}
.lumis-function {
  color: #74b2ff;
}
.lumis-function-builtin {
  color: #74b2ff;
}
.lumis-function-call {
  color: #74b2ff;
}
.lumis-function-macro {
  color: #79dac8;
}
.lumis-function-macro-vim {
  color: #74b2ff;
}
.lumis-function-method {
  color: #74b2ff;
}
.lumis-function-method-call {
  color: #74b2ff;
}
.lumis-highlighted {
  background-color: #1c1c1c;
}
.lumis-keyword {
  color: #cf87e8;
}
.lumis-keyword-conditional {
  color: #cf87e8;
}
.lumis-keyword-conditional-ternary {
  color: #cf87e8;
}
.lumis-keyword-coroutine {
  color: #cf87e8;
}
.lumis-keyword-debug {
  color: #cf87e8;
}
.lumis-keyword-directive {
  color: #e65e72;
}
.lumis-keyword-directive-define {
  color: #e65e72;
}
.lumis-keyword-exception {
  color: #cf87e8;
}
.lumis-keyword-export {
  color: #cf87e8;
}
.lumis-keyword-function {
  color: #cf87e8;
}
.lumis-keyword-gitcommit {
  color: #74b2ff;
}
.lumis-keyword-import {
  color: #e65e72;
}
.lumis-keyword-import-bash {
  color: #cf87e8;
}
.lumis-keyword-import-rust {
  color: #cf87e8;
}
.lumis-keyword-modifier {
  color: #cf87e8;
}
.lumis-keyword-operator {
  color: #cf87e8;
}
.lumis-keyword-repeat {
  color: #cf87e8;
}
.lumis-keyword-return {
  color: #cf87e8;
}
.lumis-keyword-type {
  color: #cf87e8;
}
.lumis-label {
  color: #79dac8;
}
.lumis-markup {
  color: #e65e72;
}
.lumis-markup-environment {
  color: #cf87e8;
}
.lumis-markup-environment-name {
  color: #36c692;
}
.lumis-markup-heading {
  color: #cf87e8;
}
.lumis-markup-heading-1 {
  color: #cf87e8;
}
.lumis-markup-heading-1-markdown {
  color: #adadf3;
}
.lumis-markup-heading-2 {
  color: #cf87e8;
}
.lumis-markup-heading-2-markdown {
  color: #adadf3;
}
.lumis-markup-heading-3 {
  color: #cf87e8;
}
.lumis-markup-heading-3-markdown {
  color: #79dac8;
}
.lumis-markup-heading-4 {
  color: #cf87e8;
}
.lumis-markup-heading-4-markdown {
  color: #de935f;
}
.lumis-markup-heading-5 {
  color: #cf87e8;
}
.lumis-markup-heading-5-markdown {
  color: #74b2ff;
}
.lumis-markup-heading-6 {
  color: #cf87e8;
}
.lumis-markup-heading-markdown {
  color: #74b2ff;
}
.lumis-markup-italic {
  color: #e196a2;
  font-style: italic;
}
.lumis-markup-link {
  color: #8cc85f;
}
.lumis-markup-link-gitcommit {
  color: #36c692;
}
.lumis-markup-link-label {
  color: #8cc85f;
}
.lumis-markup-link-url {
  color: #ae81ff;
  text-decoration: underline;
}
.lumis-markup-link-url-astro {
  color: #cf87e8;
  font-style: italic;
}
.lumis-markup-link-url-gitcommit {
  color: #36c692;
}
.lumis-markup-link-url-html {
  color: #cf87e8;
  font-style: italic;
}
.lumis-markup-link-url-svelte {
  color: #cf87e8;
  font-style: italic;
}
.lumis-markup-link-url-vue {
  color: #cf87e8;
  font-style: italic;
}
.lumis-markup-list {
  color: #e65e72;
}
.lumis-markup-list-checked {
  color: #79dac8;
}
.lumis-markup-list-latex {
  color: #ae81ff;
}
.lumis-markup-list-unchecked {
  color: #80a0ff;
}
.lumis-markup-math {
  color: #74b2ff;
}
.lumis-markup-quote {
  color: #949494;
}
.lumis-markup-raw {
  color: #c6c684;
}
.lumis-markup-raw-block {
  color: #c6c684;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #e196a2;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #79dac8;
}
.lumis-module-builtin {
  color: #8cc85f;
}
.lumis-namespace-latex {
  color: #adadf3;
}
.lumis-number {
  color: #de935f;
}
.lumis-number-float {
  color: #de935f;
}
.lumis-operator {
  color: #e65e72;
}
.lumis-property {
  color: #adadf3;
}
.lumis-punctuation-bracket {
  color: #c6c6c6;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #ff5d5d;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #e3c78a;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #80a0ff;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #de935f;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #8cc85f;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #cf87e8;
}
.lumis-punctuation-delimiter {
  color: #c6c6c6;
}
.lumis-punctuation-delimiter-astro {
  color: #e65e72;
}
.lumis-punctuation-delimiter-css {
  color: #e65e72;
}
.lumis-punctuation-delimiter-rust {
  color: #e65e72;
}
.lumis-punctuation-delimiter-scss {
  color: #e65e72;
}
.lumis-punctuation-delimiter-yaml {
  color: #e65e72;
}
.lumis-punctuation-special {
  color: #e65e72;
}
.lumis-string {
  color: #c6c684;
}
.lumis-string-documentation {
  color: #88a2b7;
}
.lumis-string-escape {
  color: #e65e72;
}
.lumis-string-json {
  color: #85dc85;
}
.lumis-string-regexp {
  color: #79dac8;
}
.lumis-string-special {
  color: #e65e72;
}
.lumis-string-special-path {
  color: #e196a2;
}
.lumis-string-special-symbol {
  color: #ae81ff;
}
.lumis-string-special-url {
  color: #ae81ff;
}
.lumis-tag {
  color: #80a0ff;
}
.lumis-tag-attribute {
  color: #79dac8;
}
.lumis-tag-builtin {
  color: #80a0ff;
}
.lumis-tag-delimiter {
  color: #8cc85f;
}
.lumis-tag-javascript {
  color: #36c692;
}
.lumis-tag-jsx {
  color: #36c692;
}
.lumis-tag-tsx {
  color: #36c692;
}
.lumis-tag-typescript {
  color: #36c692;
}
.lumis-type {
  color: #36c692;
}
.lumis-type-builtin {
  color: #36c692;
}
.lumis-type-definition {
  color: #36c692;
}
.lumis-variable {
  color: #c6c6c6;
}
.lumis-variable-builtin {
  color: #8cc85f;
}
.lumis-variable-builtin-vim {
  color: #36c692;
}
.lumis-variable-member {
  color: #adadf3;
}
.lumis-variable-member-ruby {
  color: #79dac8;
}
.lumis-variable-member-yaml {
  color: #80a0ff;
}
.lumis-variable-parameter {
  color: #e196a2;
}
.lumis-variable-parameter-bash {
  color: #79dac8;
}
.lumis-variable-parameter-builtin {
  color: #e65e72;
}
.lumis-variable-scss {
  color: #79dac8;
}
.lumis-variable-vim {
  color: #79dac8;
}
