/* neobones_dark
 * revision: 239bdb9a09c8d38c752c43590d02f654ed0da2b0
 */

pre.lumis {
  color: #c6d5cf;
  background-color: #0f191f;
}
.lumis-attribute {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-attribute-builtin {
  color: #9aa6a1;
  font-weight: bold;
}
.lumis-boolean {
  color: #c6d5cf;
  font-style: italic;
}
.lumis-character {
  color: #939e99;
  font-style: italic;
}
.lumis-character-special {
  color: #9aa6a1;
  font-weight: bold;
}
.lumis-comment {
  color: #536977;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #536977;
  font-style: italic;
}
.lumis-comment-error {
  color: #de6e7c;
}
.lumis-comment-hint {
  color: #536977;
  font-style: italic;
}
.lumis-comment-note {
  color: #8190d4;
}
.lumis-comment-todo {
  font-weight: bold;
  text-decoration: underline;
}
.lumis-comment-warning {
  color: #b77e64;
}
.lumis-constant {
  color: #a7b3ae;
  font-weight: bold;
}
.lumis-constant-builtin {
  color: #939e99;
  font-style: italic;
}
.lumis-constant-macro {
  color: #939e99;
  font-style: italic;
}
.lumis-constructor {
  color: #9aa6a1;
  font-weight: bold;
}
.lumis-constructor-lua {
  color: #5b7e94;
}
.lumis-diff-delta {
  background-color: #1f2645;
}
.lumis-diff-minus {
  background-color: #3b2023;
}
.lumis-diff-plus {
  background-color: #1c2c19;
}
.lumis-function {
  color: #c6d5cf;
}
.lumis-function-builtin {
  color: #9aa6a1;
  font-weight: bold;
}
.lumis-function-call {
  color: #c6d5cf;
}
.lumis-function-macro {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-function-method {
  color: #c6d5cf;
}
.lumis-function-method-call {
  color: #c6d5cf;
}
.lumis-highlighted {
  background-color: #152128;
}
.lumis-keyword {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-keyword-conditional {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-keyword-conditional-ternary {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-keyword-coroutine {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-keyword-debug {
  color: #9aa6a1;
  font-weight: bold;
}
.lumis-keyword-directive {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-keyword-directive-define {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-keyword-exception {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-keyword-export {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-keyword-function {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-keyword-import {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-keyword-modifier {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-keyword-operator {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-keyword-repeat {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-keyword-return {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-keyword-type {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-label {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-markup {
  color: #9aa6a1;
  font-weight: bold;
}
.lumis-markup-environment {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-markup-environment-name {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-markup-heading {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #939e99;
  font-style: italic;
}
.lumis-markup-link-label {
  color: #9aa6a1;
  font-weight: bold;
}
.lumis-markup-link-markdown {
  color: #a7b3ae;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #939e99;
  font-style: italic;
}
.lumis-markup-link-url-markdown {
  color: #536977;
}
.lumis-markup-list {
  color: #9aa6a1;
  font-weight: bold;
}
.lumis-markup-list-checked {
  color: #9aa6a1;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #9aa6a1;
  font-weight: bold;
}
.lumis-markup-math {
  color: #9aa6a1;
  font-weight: bold;
}
.lumis-markup-quote {
  color: #939e99;
}
.lumis-markup-raw {
  color: #939e99;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #939e99;
  font-style: italic;
}
.lumis-markup-raw-markdown {
  color: #6e99b2;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #939e99;
  font-style: italic;
}
.lumis-module-builtin {
  color: #939e99;
  font-style: italic;
}
.lumis-number {
  color: #939e99;
}
.lumis-number-float {
  color: #939e99;
}
.lumis-operator {
  color: #c6d5cf;
  font-weight: bold;
}
.lumis-property {
  color: #a7b3ae;
}
.lumis-punctuation-bracket {
  color: #5b7e94;
}
.lumis-punctuation-delimiter {
  color: #5b7e94;
}
.lumis-punctuation-special {
  color: #5b7e94;
}
.lumis-punctuation-special-markdown {
  color: #9aa6a1;
  font-weight: bold;
}
.lumis-string {
  color: #939e99;
  font-style: italic;
}
.lumis-string-documentation {
  color: #939e99;
  font-style: italic;
}
.lumis-string-escape {
  color: #9aa6a1;
  font-weight: bold;
}
.lumis-string-escape-markdown {
  color: #3e5868;
  font-style: italic;
}
.lumis-string-regexp {
  color: #939e99;
  font-style: italic;
}
.lumis-string-special {
  color: #9aa6a1;
  font-weight: bold;
}
.lumis-string-special-path {
  color: #9aa6a1;
  font-weight: bold;
}
.lumis-string-special-symbol {
  color: #a7b3ae;
}
.lumis-string-special-url {
  color: #9aa6a1;
  font-weight: bold;
}
.lumis-tag {
  color: #9aa6a1;
  font-weight: bold;
}
.lumis-tag-attribute {
  color: #a7b3ae;
}
.lumis-tag-builtin {
  color: #9aa6a1;
  font-weight: bold;
}
.lumis-tag-delimiter {
  color: #5b7e94;
}
.lumis-type {
  color: #6e99b2;
}
.lumis-type-builtin {
  color: #6e99b2;
}
.lumis-type-definition {
  color: #6e99b2;
}
.lumis-variable {
  color: #a7b3ae;
}
.lumis-variable-builtin {
  color: #939e99;
  font-style: italic;
}
.lumis-variable-member {
  color: #a7b3ae;
}
.lumis-variable-parameter {
  color: #a7b3ae;
}
.lumis-variable-parameter-builtin {
  color: #9aa6a1;
  font-weight: bold;
}
