/* neomodern_gyokuro_dark
 * revision: d41469578922a23d75a0d9e8deef1e34837230a6
 */

pre.lumis {
  color: #afb0a6;
  background-color: #1b1c1d;
}
.lumis-attribute {
  color: #61765e;
}
.lumis-attribute-builtin {
  color: #afbfac;
}
.lumis-boolean {
  color: #d6a9b3;
}
.lumis-character {
  color: #a69e6f;
}
.lumis-character-special {
  color: #799475;
}
.lumis-comment {
  color: #6b6b67;
}
.lumis-comment-documentation {
  color: #6b6b67;
}
.lumis-comment-error {
  color: #b37c7c;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-hint {
  color: #6b6b67;
}
.lumis-comment-note {
  color: #798ab0;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-todo {
  color: #868780;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-warning {
  color: #928468;
  font-weight: bold;
  font-style: italic;
}
.lumis-constant {
  color: #868db5;
}
.lumis-constant-builtin {
  color: #afbfac;
}
.lumis-constant-macro {
  color: #868db5;
}
.lumis-constructor {
  color: #afbfac;
}
.lumis-constructor-lua {
  color: #94a991;
}
.lumis-diff-delta {
  color: #829fe1;
}
.lumis-diff-minus {
  color: #e3878a;
}
.lumis-diff-plus {
  color: #698e6f;
}
.lumis-function {
  color: #61765e;
}
.lumis-function-builtin {
  color: #61765e;
}
.lumis-function-call {
  color: #61765e;
}
.lumis-function-macro {
  color: #61765e;
}
.lumis-function-method {
  color: #61765e;
}
.lumis-function-method-call {
  color: #61765e;
}
.lumis-highlighted {
  background-color: #232425;
}
.lumis-keyword {
  color: #799475;
}
.lumis-keyword-conditional {
  color: #799475;
}
.lumis-keyword-conditional-ternary {
  color: #799475;
}
.lumis-keyword-coroutine {
  color: #799475;
}
.lumis-keyword-debug {
  color: #799475;
}
.lumis-keyword-directive {
  color: #799475;
}
.lumis-keyword-directive-define {
  color: #799475;
}
.lumis-keyword-exception {
  color: #e3878a;
}
.lumis-keyword-export {
  color: #799475;
}
.lumis-keyword-function {
  color: #799475;
}
.lumis-keyword-import {
  color: #799475;
}
.lumis-keyword-modifier {
  color: #799475;
}
.lumis-keyword-operator {
  color: #799475;
}
.lumis-keyword-repeat {
  color: #799475;
}
.lumis-keyword-return {
  color: #799475;
}
.lumis-keyword-type {
  color: #799475;
}
.lumis-label {
  color: #799475;
}
.lumis-markup {
  color: #afb0a6;
}
.lumis-markup-environment {
  color: #afb0a6;
}
.lumis-markup-environment-name {
  color: #afb0a6;
}
.lumis-markup-heading {
  color: #799475;
}
.lumis-markup-heading-1 {
  color: #799475;
}
.lumis-markup-heading-2 {
  color: #799475;
}
.lumis-markup-heading-3 {
  color: #799475;
}
.lumis-markup-heading-4 {
  color: #799475;
}
.lumis-markup-heading-5 {
  color: #799475;
}
.lumis-markup-heading-6 {
  color: #799475;
}
.lumis-markup-italic {
  color: #afb0a6;
  font-style: italic;
}
.lumis-markup-link {
  color: #afbfac;
}
.lumis-markup-link-label {
  color: #afbfac;
}
.lumis-markup-link-url {
  color: #afbfac;
}
.lumis-markup-list {
  color: #61765e;
}
.lumis-markup-list-checked {
  color: #61765e;
}
.lumis-markup-list-unchecked {
  color: #61765e;
}
.lumis-markup-math {
  color: #afbfac;
}
.lumis-markup-quote {
  color: #afb0a6;
}
.lumis-markup-quote-markdown {
  color: #6b6b67;
}
.lumis-markup-raw {
  color: #61765e;
}
.lumis-markup-raw-block {
  color: #61765e;
}
.lumis-markup-strikethrough {
  color: #6b6b67;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #afb0a6;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #afb0a6;
  text-decoration: underline;
}
.lumis-module {
  color: #afbfac;
}
.lumis-module-builtin {
  color: #afbfac;
}
.lumis-number {
  color: #d6a9b3;
}
.lumis-number-float {
  color: #d6a9b3;
}
.lumis-operator {
  color: #b08c7d;
}
.lumis-property {
  color: #748fa6;
}
.lumis-punctuation-bracket {
  color: #b08c7d;
}
.lumis-punctuation-delimiter {
  color: #afb0a6;
}
.lumis-punctuation-special {
  color: #799475;
}
.lumis-string {
  color: #a69e6f;
}
.lumis-string-documentation {
  color: #a69e6f;
}
.lumis-string-escape {
  color: #799475;
}
.lumis-string-regexp {
  color: #799475;
}
.lumis-string-special {
  color: #799475;
}
.lumis-string-special-path {
  color: #799475;
}
.lumis-string-special-symbol {
  color: #748fa6;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #afbfac;
}
.lumis-tag-attribute {
  color: #748fa6;
}
.lumis-tag-builtin {
  color: #afbfac;
}
.lumis-tag-delimiter {
  color: #afb0a6;
}
.lumis-type {
  color: #afbfac;
}
.lumis-type-builtin {
  color: #afbfac;
}
.lumis-type-definition {
  color: #afbfac;
}
.lumis-variable {
  color: #afb0a6;
}
.lumis-variable-builtin {
  color: #afbfac;
}
.lumis-variable-member {
  color: #748fa6;
}
.lumis-variable-parameter {
  color: #94a991;
}
.lumis-variable-parameter-builtin {
  color: #afbfac;
}
