/* neon_light
 * revision: 7765aaa7d1cd3804176140644640766e4411c766
 */

pre.lumis {
  color: #4c566a;
  background-color: #d3d3d3;
}
.lumis-attribute {
  color: #2257a0;
}
.lumis-attribute-builtin {
  color: #2257a0;
  font-style: italic;
}
.lumis-character {
  color: #da8548;
}
.lumis-character-special {
  color: #da8548;
}
.lumis-comment {
  color: #7e8294;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #7e8294;
  font-style: italic;
}
.lumis-comment-error {
  color: #ff6655;
}
.lumis-comment-hint {
  color: #7e8294;
  font-style: italic;
}
.lumis-comment-note {
  color: #007373;
}
.lumis-comment-todo {
  color: #0997b3;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-warning {
  color: #6b5300;
}
.lumis-constant {
  color: #9370db;
}
.lumis-constant-builtin {
  color: #2257a0;
  font-style: italic;
}
.lumis-constant-macro {
  color: #9370db;
}
.lumis-constructor {
  color: #2257a0;
  font-style: italic;
}
.lumis-diff-delta {
  color: #007373;
}
.lumis-diff-minus {
  color: #590008;
}
.lumis-diff-plus {
  color: #005523;
}
.lumis-function {
  color: #2257a0;
}
.lumis-function-builtin {
  color: #2257a0;
  font-style: italic;
}
.lumis-function-call {
  color: #2257a0;
}
.lumis-function-macro {
  color: #2257a0;
}
.lumis-function-method {
  color: #2257a0;
}
.lumis-function-method-call {
  color: #2257a0;
}
.lumis-highlighted {
  background-color: #d0d0d0;
}
.lumis-keyword {
  color: #2257a0;
}
.lumis-keyword-conditional {
  color: #2257a0;
}
.lumis-keyword-conditional-ternary {
  color: #2257a0;
}
.lumis-keyword-coroutine {
  color: #2257a0;
}
.lumis-keyword-debug {
  color: #2257a0;
}
.lumis-keyword-directive {
  color: #2257a0;
}
.lumis-keyword-directive-define {
  color: #2257a0;
}
.lumis-keyword-exception {
  color: #2257a0;
}
.lumis-keyword-export {
  color: #2257a0;
}
.lumis-keyword-function {
  color: #2257a0;
}
.lumis-keyword-import {
  color: #2257a0;
}
.lumis-keyword-modifier {
  color: #2257a0;
}
.lumis-keyword-operator {
  color: #2257a0;
}
.lumis-keyword-repeat {
  color: #2257a0;
}
.lumis-keyword-return {
  color: #2257a0;
}
.lumis-keyword-type {
  color: #2257a0;
}
.lumis-label {
  color: #0997b3;
}
.lumis-markup {
  color: #2257a0;
  font-style: italic;
}
.lumis-markup-environment {
  color: #2257a0;
  font-style: italic;
}
.lumis-markup-environment-name {
  color: #2257a0;
  font-style: italic;
}
.lumis-markup-heading {
  color: #0997b3;
}
.lumis-markup-heading-1 {
  color: #0997b3;
}
.lumis-markup-heading-2 {
  color: #0997b3;
}
.lumis-markup-heading-3 {
  color: #0997b3;
}
.lumis-markup-heading-4 {
  color: #0997b3;
}
.lumis-markup-heading-5 {
  color: #0997b3;
}
.lumis-markup-heading-6 {
  color: #0997b3;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #0997b3;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #0997b3;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #0997b3;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #2257a0;
  font-style: italic;
}
.lumis-markup-list-checked {
  color: #2257a0;
  font-style: italic;
}
.lumis-markup-list-unchecked {
  color: #2257a0;
  font-style: italic;
}
.lumis-markup-math {
  color: #2257a0;
  font-style: italic;
}
.lumis-markup-quote {
  color: #2257a0;
  font-style: italic;
}
.lumis-markup-raw {
  color: #2257a0;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #2257a0;
  font-style: italic;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #da8548;
}
.lumis-module-builtin {
  color: #2257a0;
  font-style: italic;
}
.lumis-normal {
  color: #4c566a;
  background-color: #d3d3d3;
}
.lumis-number {
  color: #ff6655;
}
.lumis-number-float {
  color: #ff6655;
}
.lumis-operator {
  color: #2257a0;
}
.lumis-property {
  color: #2257a0;
}
.lumis-punctuation-bracket {
  color: #c18401;
}
.lumis-punctuation-delimiter {
  color: #c18401;
}
.lumis-punctuation-special {
  color: #2257a0;
  font-style: italic;
}
.lumis-string {
  color: #50a14f;
}
.lumis-string-documentation {
  color: #50a14f;
}
.lumis-string-escape {
  color: #da8548;
}
.lumis-string-regexp {
  color: #da8548;
}
.lumis-string-special {
  color: #da8548;
}
.lumis-string-special-path {
  color: #da8548;
}
.lumis-string-special-symbol {
  color: #da8548;
}
.lumis-string-special-url {
  color: #0997b3;
  text-decoration: underline;
}
.lumis-tag {
  color: #ff6655;
}
.lumis-tag-attribute {
  color: #ff6655;
}
.lumis-tag-builtin {
  color: #2257a0;
  font-style: italic;
}
.lumis-tag-delimiter {
  color: #ff6655;
}
.lumis-type {
  color: #0997b3;
}
.lumis-type-builtin {
  color: #2257a0;
  font-style: italic;
}
.lumis-type-definition {
  color: #0997b3;
}
.lumis-variable {
  color: #14161b;
}
.lumis-variable-builtin {
  color: #2257a0;
  font-style: italic;
}
.lumis-variable-member {
  color: #14161b;
}
.lumis-variable-parameter {
  color: #14161b;
}
.lumis-variable-parameter-builtin {
  color: #2257a0;
  font-style: italic;
}
