/* no_clown_fiesta
 * revision: 04b808e9769ded988089772ffcaf08d92d75d927
 */

pre.lumis {
  color: #e1e1e1;
  background-color: #151515;
}
.lumis-attribute {
  color: #e1e1e1;
}
.lumis-attribute-builtin {
  color: #e1e1e1;
}
.lumis-boolean {
  color: #b46958;
}
.lumis-character {
  color: #90a959;
}
.lumis-character-special {
  color: #a2b5c1;
}
.lumis-comment {
  color: #727272;
}
.lumis-comment-documentation {
  color: #727272;
}
.lumis-comment-error {
  color: #984936;
}
.lumis-comment-hint {
  color: #727272;
}
.lumis-comment-note {
  color: #afafaf;
}
.lumis-comment-todo {
  color: #578266;
}
.lumis-comment-warning {
  color: #ab8550;
}
.lumis-constant {
  color: #e1e1e1;
}
.lumis-constant-builtin {
  color: #e1e1e1;
}
.lumis-constant-macro {
  color: #e1e1e1;
}
.lumis-constructor {
  color: #88afa2;
}
.lumis-diff-delta {
  color: #7e97ab;
  background-color: #18191b;
  font-weight: bold;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-error {
  color: #984936;
}
.lumis-function {
  color: #88afa2;
}
.lumis-function-builtin {
  color: #88afa2;
}
.lumis-function-call {
  color: #88afa2;
}
.lumis-function-macro {
  color: #88afa2;
}
.lumis-function-method {
  color: #88afa2;
}
.lumis-function-method-call {
  color: #88afa2;
}
.lumis-highlighted {
  background-color: #171717;
}
.lumis-keyword {
  color: #7e97ab;
}
.lumis-keyword-conditional {
  color: #7e97ab;
}
.lumis-keyword-conditional-ternary {
  color: #7e97ab;
}
.lumis-keyword-coroutine {
  color: #7e97ab;
}
.lumis-keyword-debug {
  color: #7e97ab;
}
.lumis-keyword-directive {
  color: #7e97ab;
}
.lumis-keyword-directive-define {
  color: #7e97ab;
}
.lumis-keyword-exception {
  color: #b46958;
}
.lumis-keyword-export {
  color: #7e97ab;
}
.lumis-keyword-function {
  color: #7e97ab;
}
.lumis-keyword-import {
  color: #b46958;
}
.lumis-keyword-modifier {
  color: #7e97ab;
}
.lumis-keyword-operator {
  color: #7e97ab;
}
.lumis-keyword-repeat {
  color: #7e97ab;
}
.lumis-keyword-return {
  color: #7e97ab;
}
.lumis-keyword-type {
  color: #7e97ab;
}
.lumis-label {
  color: #e1e1e1;
}
.lumis-markup {
  color: #e1e1e1;
}
.lumis-markup-environment {
  color: #e1e1e1;
}
.lumis-markup-environment-name {
  color: #e1e1e1;
}
.lumis-markup-heading {
  color: #bad7ff;
}
.lumis-markup-heading-1 {
  color: #bad7ff;
}
.lumis-markup-heading-2 {
  color: #bad7ff;
}
.lumis-markup-heading-3 {
  color: #bad7ff;
}
.lumis-markup-heading-4 {
  color: #bad7ff;
}
.lumis-markup-heading-5 {
  color: #bad7ff;
}
.lumis-markup-heading-6 {
  color: #bad7ff;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #a2b5c1;
}
.lumis-markup-link-label {
  color: #a2b5c1;
}
.lumis-markup-link-url {
  color: #a2b5c1;
}
.lumis-markup-list {
  color: #e1e1e1;
}
.lumis-markup-list-checked {
  color: #e1e1e1;
}
.lumis-markup-list-unchecked {
  color: #e1e1e1;
}
.lumis-markup-math {
  color: #e1e1e1;
}
.lumis-markup-quote {
  color: #e1e1e1;
}
.lumis-markup-raw {
  color: #e1e1e1;
}
.lumis-markup-raw-block {
  color: #e1e1e1;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #727272;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #e1e1e1;
}
.lumis-module-builtin {
  color: #e1e1e1;
}
.lumis-normal {
  color: #e1e1e1;
  background-color: #151515;
}
.lumis-number {
  color: #b46958;
}
.lumis-number-float {
  color: #b46958;
}
.lumis-operator {
  color: #e1e1e1;
}
.lumis-property {
  color: #e1e1e1;
}
.lumis-punctuation-bracket {
  color: #e1e1e1;
}
.lumis-punctuation-delimiter {
  color: #e1e1e1;
}
.lumis-punctuation-special {
  color: #e1e1e1;
}
.lumis-string {
  color: #a2b5c1;
}
.lumis-string-documentation {
  color: #a2b5c1;
}
.lumis-string-escape {
  color: #a2b5c1;
}
.lumis-string-regexp {
  color: #a2b5c1;
}
.lumis-string-special {
  color: #a2b5c1;
}
.lumis-string-special-path {
  color: #afafaf;
}
.lumis-string-special-symbol {
  color: #727272;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #bad7ff;
}
.lumis-tag-attribute {
  color: #e1e1e1;
}
.lumis-tag-builtin {
  color: #e1e1e1;
}
.lumis-tag-delimiter {
  color: #e1e1e1;
}
.lumis-type {
  color: #e1e1e1;
}
.lumis-type-builtin {
  color: #e1e1e1;
}
.lumis-type-definition {
  color: #e1e1e1;
}
.lumis-variable {
  color: #e1e1e1;
}
.lumis-variable-builtin {
  color: #e1e1e1;
}
.lumis-variable-member {
  color: #e1e1e1;
}
.lumis-variable-parameter {
  color: #e1e1e1;
}
.lumis-variable-parameter-builtin {
  color: #e1e1e1;
}
