/* nordic
 * revision: 9fb62116b891184049c50ca6ffb0d3bc100a1a6e
 */

pre.lumis {
  color: #c0c8d8;
  background-color: #242933;
}
.lumis-attribute {
  color: #bf616a;
}
.lumis-attribute-builtin {
  color: #81a1c1;
}
.lumis-boolean {
  color: #be9db8;
}
.lumis-character {
  color: #a3be8c;
}
.lumis-character-special {
  color: #81a1c1;
}
.lumis-comment {
  color: #4c566a;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #4c566a;
  font-style: italic;
}
.lumis-comment-error {
  color: #c5727a;
}
.lumis-comment-hint {
  color: #b1c89d;
}
.lumis-comment-note {
  color: #b1c89d;
}
.lumis-comment-warning {
  color: #ebcb8b;
}
.lumis-constant {
  color: #be9db8;
}
.lumis-constant-builtin {
  color: #be9db8;
}
.lumis-constant-macro {
  color: #be9db8;
}
.lumis-constructor {
  color: #88c0d0;
}
.lumis-constructor-tsx {
  color: #81a1c1;
}
.lumis-diff-delta {
  background-color: #292f3a;
}
.lumis-diff-minus {
  background-color: #43343e;
  font-weight: bold;
}
.lumis-diff-plus {
  background-color: #3d4745;
  font-weight: bold;
}
.lumis-function {
  color: #88c0d0;
}
.lumis-function-builtin {
  color: #88c0d0;
}
.lumis-function-call {
  color: #88c0d0;
}
.lumis-function-macro {
  color: #bf616a;
}
.lumis-function-method {
  color: #88c0d0;
}
.lumis-function-method-call {
  color: #88c0d0;
}
.lumis-highlighted {
  background-color: #1b1f26;
}
.lumis-keyword {
  color: #d08770;
}
.lumis-keyword-conditional {
  color: #d08770;
}
.lumis-keyword-conditional-ternary {
  color: #d08770;
}
.lumis-keyword-coroutine {
  color: #bf616a;
}
.lumis-keyword-debug {
  color: #81a1c1;
}
.lumis-keyword-directive {
  color: #bf616a;
}
.lumis-keyword-directive-define {
  color: #bf616a;
}
.lumis-keyword-exception {
  color: #bf616a;
}
.lumis-keyword-export {
  color: #d08770;
}
.lumis-keyword-function {
  color: #d08770;
}
.lumis-keyword-import {
  color: #bf616a;
}
.lumis-keyword-modifier {
  color: #d08770;
}
.lumis-keyword-operator {
  color: #d08770;
}
.lumis-keyword-repeat {
  color: #d08770;
}
.lumis-keyword-return {
  color: #d08770;
}
.lumis-keyword-type {
  color: #d08770;
}
.lumis-label {
  color: #d08770;
}
.lumis-markup-environment {
  color: #bf616a;
}
.lumis-markup-environment-name {
  color: #ebcb8b;
}
.lumis-markup-heading {
  color: #d8dee9;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #ebcb8b;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #d08770;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #b48ead;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #a3be8c;
}
.lumis-markup-heading-5 {
  color: #88c0d0;
  font-style: italic;
}
.lumis-markup-heading-6 {
  color: #8fbcbb;
  font-style: italic;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #8fbcbb;
}
.lumis-markup-link-label {
  color: #81a1c1;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #c0c8d8;
}
.lumis-markup-list-checked {
  color: #8fbcbb;
}
.lumis-markup-list-markdown {
  color: #ebcb8b;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #c0c8d8;
}
.lumis-markup-math {
  color: #81a1c1;
}
.lumis-markup-raw {
  color: #a3be8c;
}
.lumis-markup-raw-block {
  color: #a3be8c;
}
.lumis-markup-raw-markdown_inline {
  color: #c0c8d8;
  background-color: #222630;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #ebcb8b;
}
.lumis-module-builtin {
  color: #5e81ac;
}
.lumis-namespace {
  color: #e7c173;
}
.lumis-number {
  color: #be9db8;
}
.lumis-number-float {
  color: #be9db8;
}
.lumis-operator {
  color: #c0c8d8;
}
.lumis-property {
  color: #8fbcbb;
}
.lumis-punctuation-bracket {
  color: #c0c8d8;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #c5727a;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #efd49f;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #88c0d0;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #d08770;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #b1c89d;
}
.lumis-punctuation-delimiter {
  color: #60728a;
  font-style: italic;
}
.lumis-punctuation-special {
  color: #bf616a;
}
.lumis-punctuation-special-markdown {
  color: #d08770;
  font-weight: bold;
}
.lumis-string {
  color: #a3be8c;
}
.lumis-string-documentation {
  color: #a3be8c;
}
.lumis-string-escape {
  color: #be9db8;
}
.lumis-string-regex {
  color: #be9db8;
}
.lumis-string-regexp {
  color: #ebcb8b;
}
.lumis-string-special {
  color: #ebcb8b;
}
.lumis-string-special-path {
  color: #ebcb8b;
}
.lumis-string-special-symbol {
  color: #ebcb8b;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #81a1c1;
}
.lumis-tag-attribute {
  color: #ebcb8b;
}
.lumis-tag-builtin {
  color: #81a1c1;
}
.lumis-tag-delimiter {
  color: #c0c8d8;
}
.lumis-tag-delimiter-tsx {
  color: #81a1c1;
}
.lumis-type {
  color: #ebcb8b;
}
.lumis-type-builtin {
  color: #ebcb8b;
}
.lumis-type-definition {
  color: #ebcb8b;
}
.lumis-variable {
  color: #c0c8d8;
}
.lumis-variable-builtin {
  color: #5e81ac;
}
.lumis-variable-member {
  color: #8fbcbb;
}
.lumis-variable-parameter {
  color: #c0c8d8;
}
.lumis-variable-parameter-builtin {
  color: #81a1c1;
}
