/* obscure
 * revision: 6c2ee734099de2f95a79a1577cd231f7fe2d38a6
 */

pre.lumis {
  color: #c9c7cd;
  background-color: #161617;
}
.lumis-attribute {
  color: #c45570;
}
.lumis-attribute-builtin {
  color: #6a8cbc;
}
.lumis-boolean {
  color: #c88477;
}
.lumis-character {
  color: #90b99f;
}
.lumis-character-special {
  color: #bc9781;
}
.lumis-comment {
  color: #8b8693;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #8b8693;
  font-style: italic;
}
.lumis-comment-error {
  color: #c45570;
}
.lumis-comment-hint {
  color: #85b5ba;
}
.lumis-comment-note {
  color: #8787bf;
}
.lumis-comment-todo {
  color: #6a8cbc;
}
.lumis-comment-warning {
  color: #bc9781;
}
.lumis-constant {
  color: #c9c7cd;
}
.lumis-constant-builtin {
  color: #6a8cbc;
}
.lumis-constant-macro {
  color: #c9c7cd;
}
.lumis-constructor {
  color: #b4b1ba;
}
.lumis-constructor-javascript {
  color: #c45570;
}
.lumis-constructor-tsx {
  color: #6a8cbc;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #6a8cbc;
}
.lumis-function-builtin {
  color: #6a8cbc;
}
.lumis-function-call {
  color: #6a8cbc;
}
.lumis-function-macro {
  color: #c45570;
}
.lumis-function-method {
  color: #6a8cbc;
}
.lumis-function-method-call {
  color: #6a8cbc;
}
.lumis-highlighted {
  background-color: #1b1b1c;
}
.lumis-keyword {
  color: #8787bf;
  font-style: italic;
}
.lumis-keyword-clojure {
  color: #d17286;
  font-style: italic;
}
.lumis-keyword-conditional {
  color: #6a8cbc;
}
.lumis-keyword-conditional-ternary {
  color: #6a8cbc;
}
.lumis-keyword-coroutine {
  color: #8787bf;
  font-style: italic;
}
.lumis-keyword-debug {
  color: #bc9781;
}
.lumis-keyword-directive {
  color: #8787bf;
  font-style: italic;
}
.lumis-keyword-directive-define {
  color: #8787bf;
  font-style: italic;
}
.lumis-keyword-exception {
  color: #8787bf;
  font-style: italic;
}
.lumis-keyword-export {
  color: #8787bf;
  font-style: italic;
}
.lumis-keyword-function {
  color: #8787bf;
}
.lumis-keyword-import {
  color: #8787bf;
}
.lumis-keyword-modifier {
  color: #8787bf;
  font-style: italic;
}
.lumis-keyword-operator {
  color: #8787bf;
}
.lumis-keyword-repeat {
  color: #8787bf;
  font-style: italic;
}
.lumis-keyword-return {
  color: #c88477;
  font-style: italic;
}
.lumis-keyword-type {
  color: #8787bf;
  font-style: italic;
}
.lumis-label {
  color: #8787bf;
}
.lumis-markup {
  color: #6a8cbc;
}
.lumis-markup-environment {
  color: #6a8cbc;
}
.lumis-markup-environment-name {
  color: #6a8cbc;
}
.lumis-markup-heading {
  color: #c9c7cd;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #8787bf;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #6a8cbc;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #6a8cbc;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #6a8cbc;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #6a8cbc;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #6a8cbc;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #b4b1ba;
}
.lumis-markup-link-label {
  color: #c88477;
}
.lumis-markup-link-url {
  color: #8787bf;
}
.lumis-markup-list {
  color: #6c6874;
  font-weight: bold;
}
.lumis-markup-list-checked {
  color: #6c6874;
}
.lumis-markup-list-checked-markdown {
  color: #90b99f;
}
.lumis-markup-list-unchecked {
  color: #6c6874;
}
.lumis-markup-math {
  color: #6a8cbc;
}
.lumis-markup-quote {
  color: #b4b1ba;
}
.lumis-markup-raw {
  color: #6a8cbc;
}
.lumis-markup-raw-block {
  color: #6c6874;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #8787bf;
}
.lumis-module-builtin {
  color: #8787bf;
}
.lumis-namespace {
  color: #c45570;
  font-style: italic;
}
.lumis-normal {
  color: #c9c7cd;
  background-color: #161617;
}
.lumis-number {
  color: #b882a5;
}
.lumis-number-float {
  color: #b882a5;
}
.lumis-operator {
  color: #8787bf;
}
.lumis-property {
  color: #bc9781;
}
.lumis-punctuation-bracket {
  color: #b4b1ba;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #c45570;
  background-color: #161617;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #bc9781;
  background-color: #161617;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #6a8cbc;
  background-color: #161617;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #c88477;
  background-color: #161617;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #90b99f;
  background-color: #161617;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #8787bf;
  background-color: #161617;
}
.lumis-punctuation-delimiter {
  color: #b4b1ba;
}
.lumis-punctuation-special {
  color: #b4b1ba;
}
.lumis-string {
  color: #90b99f;
}
.lumis-string-documentation {
  color: #90b99f;
  font-style: italic;
}
.lumis-string-escape {
  color: #b882a5;
}
.lumis-string-regex {
  color: #8787bf;
}
.lumis-string-regexp {
  color: #bc9781;
}
.lumis-string-special {
  color: #bc9781;
}
.lumis-string-special-path {
  color: #bc9781;
}
.lumis-string-special-symbol {
  color: #bc9781;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #c45570;
}
.lumis-tag-attribute {
  color: #8787bf;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #6a8cbc;
}
.lumis-tag-delimiter {
  color: #b4b1ba;
}
.lumis-tag-jsx {
  color: #bc9781;
}
.lumis-tag-tsx {
  color: #bc9781;
}
.lumis-type {
  color: #bc9781;
}
.lumis-type-builtin {
  color: #8787bf;
}
.lumis-type-definition {
  color: #bc9781;
}
.lumis-variable {
  color: #c9c7cd;
}
.lumis-variable-builtin {
  color: #8787bf;
}
.lumis-variable-member {
  color: #bc9781;
}
.lumis-variable-member-vue {
  color: #8787bf;
}
.lumis-variable-parameter {
  color: #b882a5;
}
.lumis-variable-parameter-builtin {
  color: #6a8cbc;
}
