/* oldworld_cooler
 * revision: db072a0bd2c90035fc3a57a73014cb54d3902f1f
 */

pre.lumis {
  color: #c8c7cd;
  background-color: #161617;
}
.lumis-attribute {
  color: #ea83bf;
}
.lumis-attribute-builtin {
  color: #92b3d5;
}
.lumis-boolean {
  color: #f5919a;
}
.lumis-character {
  color: #90b995;
}
.lumis-character-special {
  color: #e6a79d;
}
.lumis-comment {
  color: #888693;
}
.lumis-comment-documentation {
  color: #888693;
}
.lumis-comment-error {
  color: #ea83bf;
}
.lumis-comment-hint {
  color: #888693;
}
.lumis-comment-note {
  color: #a1a1cf;
}
.lumis-comment-todo {
  color: #e6a79d;
}
.lumis-comment-warning {
  color: #e6a79d;
}
.lumis-constant {
  color: #ea83bf;
}
.lumis-constant-builtin {
  color: #e6a79d;
}
.lumis-constant-macro {
  color: #ea83bf;
}
.lumis-constructor {
  color: #888693;
}
.lumis-constructor-javascript {
  color: #ea83bf;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #92b3d5;
}
.lumis-function-builtin {
  color: #92b3d5;
}
.lumis-function-call {
  color: #92b3d5;
}
.lumis-function-macro {
  color: #92b3d5;
}
.lumis-function-method {
  color: #92b3d5;
}
.lumis-function-method-call {
  color: #92b3d5;
}
.lumis-highlighted {
  background-color: #1b1b1c;
}
.lumis-keyword {
  color: #a1a1cf;
}
.lumis-keyword-clojure {
  color: #d9a5c6;
}
.lumis-keyword-conditional {
  color: #a1a1cf;
}
.lumis-keyword-conditional-ternary {
  color: #a1a1cf;
}
.lumis-keyword-coroutine {
  color: #a1a1cf;
}
.lumis-keyword-debug {
  color: #a1a1cf;
}
.lumis-keyword-directive {
  color: #a1a1cf;
}
.lumis-keyword-directive-define {
  color: #a1a1cf;
}
.lumis-keyword-exception {
  color: #a1a1cf;
}
.lumis-keyword-export {
  color: #a1a1cf;
}
.lumis-keyword-function {
  color: #a1a1cf;
}
.lumis-keyword-import {
  color: #ea83bf;
}
.lumis-keyword-modifier {
  color: #a1a1cf;
}
.lumis-keyword-operator {
  color: #a1a1cf;
}
.lumis-keyword-repeat {
  color: #a1a1cf;
}
.lumis-keyword-return {
  color: #a1a1cf;
}
.lumis-keyword-type {
  color: #a1a1cf;
}
.lumis-label {
  color: #a1a1cf;
}
.lumis-markup {
  color: #92b3d5;
}
.lumis-markup-environment {
  color: #92b3d5;
}
.lumis-markup-environment-name {
  color: #92b3d5;
}
.lumis-markup-heading {
  color: #c8c7cd;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #92b3d5;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #92b3d5;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #92b3d5;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #92b3d5;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #92b3d5;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #92b3d5;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #b2b1ba;
}
.lumis-markup-link-label {
  color: #ea83bf;
}
.lumis-markup-link-url {
  color: #a1a1cf;
}
.lumis-markup-list {
  color: #696874;
  font-weight: bold;
}
.lumis-markup-list-checked {
  color: #696874;
}
.lumis-markup-list-checked-markdown {
  color: #90b995;
}
.lumis-markup-list-unchecked {
  color: #696874;
}
.lumis-markup-math {
  color: #92b3d5;
}
.lumis-markup-quote {
  color: #b2b1ba;
}
.lumis-markup-raw {
  color: #92b3d5;
}
.lumis-markup-raw-block {
  color: #696874;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #ea83bf;
}
.lumis-module-builtin {
  color: #92b3d5;
}
.lumis-namespace {
  color: #ea83bf;
  font-style: italic;
}
.lumis-number {
  color: #e29edb;
}
.lumis-number-float {
  color: #e29edb;
}
.lumis-operator {
  color: #e6a79d;
}
.lumis-property {
  color: #c8c7cd;
}
.lumis-punctuation-bracket {
  color: #888693;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #ea83bf;
  background-color: #161617;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #e6a79d;
  background-color: #161617;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #92b3d5;
  background-color: #161617;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #f5919a;
  background-color: #161617;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #90b995;
  background-color: #161617;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #a1a1cf;
  background-color: #161617;
}
.lumis-punctuation-delimiter {
  color: #b2b1ba;
}
.lumis-punctuation-special {
  color: #b2b1ba;
}
.lumis-string {
  color: #90b995;
}
.lumis-string-documentation {
  color: #90b995;
}
.lumis-string-escape {
  color: #e29edb;
}
.lumis-string-regex {
  color: #a1a1cf;
}
.lumis-string-regexp {
  color: #e6a79d;
}
.lumis-string-special {
  color: #e6a79d;
}
.lumis-string-special-path {
  color: #e6a79d;
}
.lumis-string-special-symbol {
  color: #e6a79d;
}
.lumis-string-special-url {
  color: #acc0b1;
  text-decoration: underline;
}
.lumis-tag {
  color: #ea83bf;
}
.lumis-tag-attribute {
  color: #85bab2;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #92b3d5;
}
.lumis-tag-delimiter {
  color: #b2b1ba;
}
.lumis-type {
  color: #e6a79d;
}
.lumis-type-builtin {
  color: #e29edb;
}
.lumis-type-definition {
  color: #e6a79d;
}
.lumis-variable {
  color: #c8c7cd;
}
.lumis-variable-builtin {
  color: #a1a1cf;
}
.lumis-variable-member {
  color: #c8c7cd;
}
.lumis-variable-parameter-builtin {
  color: #92b3d5;
}
