/* onedark_cool
 * revision: df4792accde9db0043121f32628bcf8e645d9aea
 */

pre.lumis {
  color: #a5b0c5;
  background-color: #242b38;
}
.lumis-attribute {
  color: #4dbdcb;
}
.lumis-attribute-builtin {
  color: #5ab0f6;
}
.lumis-boolean {
  color: #d99a5e;
}
.lumis-character {
  color: #d99a5e;
}
.lumis-character-special {
  color: #ef5f6b;
}
.lumis-comment {
  color: #546178;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #546178;
  font-style: italic;
}
.lumis-comment-error {
  color: #ef5f6b;
  font-style: italic;
}
.lumis-comment-hint {
  color: #546178;
  font-style: italic;
}
.lumis-comment-note {
  color: #5ab0f6;
  font-style: italic;
}
.lumis-comment-todo {
  color: #ca72e4;
  font-style: italic;
}
.lumis-comment-warning {
  color: #ebc275;
  font-style: italic;
}
.lumis-constant {
  color: #d99a5e;
}
.lumis-constant-builtin {
  color: #d99a5e;
}
.lumis-constant-macro {
  color: #d99a5e;
}
.lumis-constructor {
  color: #ebc275;
  font-weight: bold;
}
.lumis-diff-delta {
  color: #5ab0f6;
}
.lumis-diff-minus {
  color: #ef5f6b;
}
.lumis-diff-plus {
  color: #97ca72;
}
.lumis-function {
  color: #5ab0f6;
}
.lumis-function-builtin {
  color: #4dbdcb;
}
.lumis-function-call {
  color: #5ab0f6;
}
.lumis-function-macro {
  color: #4dbdcb;
}
.lumis-function-method {
  color: #5ab0f6;
}
.lumis-function-method-call {
  color: #5ab0f6;
}
.lumis-highlighted {
  background-color: #2d3343;
}
.lumis-keyword {
  color: #ca72e4;
}
.lumis-keyword-conditional {
  color: #ca72e4;
}
.lumis-keyword-conditional-ternary {
  color: #ca72e4;
}
.lumis-keyword-coroutine {
  color: #ca72e4;
}
.lumis-keyword-debug {
  color: #ef5f6b;
}
.lumis-keyword-directive {
  color: #ca72e4;
}
.lumis-keyword-directive-define {
  color: #ca72e4;
}
.lumis-keyword-exception {
  color: #ca72e4;
}
.lumis-keyword-export {
  color: #ca72e4;
}
.lumis-keyword-function {
  color: #ca72e4;
}
.lumis-keyword-import {
  color: #ca72e4;
}
.lumis-keyword-modifier {
  color: #ca72e4;
}
.lumis-keyword-operator {
  color: #ca72e4;
}
.lumis-keyword-repeat {
  color: #ca72e4;
}
.lumis-keyword-return {
  color: #ca72e4;
}
.lumis-keyword-type {
  color: #ca72e4;
}
.lumis-label {
  color: #ef5f6b;
}
.lumis-markup {
  color: #ef5f6b;
}
.lumis-markup-environment {
  color: #ef5f6b;
}
.lumis-markup-environment-name {
  color: #ef5f6b;
}
.lumis-markup-heading {
  color: #d99a5e;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #ef5f6b;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #ca72e4;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #d99a5e;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #ef5f6b;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #ca72e4;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #d99a5e;
  font-weight: bold;
}
.lumis-markup-italic {
  color: #a5b0c5;
  font-style: italic;
}
.lumis-markup-link {
  color: #5ab0f6;
}
.lumis-markup-link-label {
  color: #4dbdcb;
}
.lumis-markup-link-url {
  color: #4dbdcb;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #ef5f6b;
}
.lumis-markup-list-checked {
  color: #97ca72;
  font-style: italic;
}
.lumis-markup-list-unchecked {
  color: #ef5f6b;
  font-style: italic;
}
.lumis-markup-math {
  color: #a5b0c5;
}
.lumis-markup-quote {
  color: #546178;
  font-style: italic;
}
.lumis-markup-raw {
  color: #97ca72;
}
.lumis-markup-raw-block {
  color: #97ca72;
}
.lumis-markup-strikethrough {
  color: #a5b0c5;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #a5b0c5;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #a5b0c5;
  text-decoration: underline;
}
.lumis-module {
  color: #ebc275;
}
.lumis-module-builtin {
  color: #d99a5e;
}
.lumis-normal {
  color: #a5b0c5;
  background-color: #242b38;
}
.lumis-number {
  color: #d99a5e;
}
.lumis-number-float {
  color: #d99a5e;
}
.lumis-operator {
  color: #a5b0c5;
}
.lumis-property {
  color: #4dbdcb;
}
.lumis-punctuation-bracket {
  color: #7d899f;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #ef5f6b;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #ebc275;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #5ab0f6;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #d99a5e;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #97ca72;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #ca72e4;
}
.lumis-punctuation-delimiter {
  color: #7d899f;
}
.lumis-punctuation-special {
  color: #ef5f6b;
}
.lumis-string {
  color: #97ca72;
}
.lumis-string-documentation {
  color: #97ca72;
}
.lumis-string-escape {
  color: #ef5f6b;
}
.lumis-string-regexp {
  color: #d99a5e;
}
.lumis-string-special {
  color: #25747d;
}
.lumis-string-special-path {
  color: #97ca72;
}
.lumis-string-special-symbol {
  color: #4dbdcb;
}
.lumis-string-special-url {
  color: #4dbdcb;
  text-decoration: underline;
}
.lumis-tag {
  color: #ca72e4;
}
.lumis-tag-attribute {
  color: #ebc275;
}
.lumis-tag-builtin {
  color: #ca72e4;
}
.lumis-tag-delimiter {
  color: #ca72e4;
}
.lumis-type {
  color: #ebc275;
}
.lumis-type-builtin {
  color: #d99a5e;
}
.lumis-type-definition {
  color: #ebc275;
}
.lumis-variable {
  color: #a5b0c5;
}
.lumis-variable-builtin {
  color: #ef5f6b;
}
.lumis-variable-member {
  color: #4dbdcb;
}
.lumis-variable-parameter {
  color: #ef5f6b;
}
.lumis-variable-parameter-builtin {
  color: #d99a5e;
}
