/* onelight
 * revision: f5fddfd5122fe00421e199151ae4fe8571a02898
 */

pre.lumis {
  color: #6a6a6a;
  background-color: #fafafa;
}
.lumis-attribute {
  color: #9a77cf;
}
.lumis-attribute-builtin {
  color: #118dc3;
}
.lumis-boolean {
  color: #ee9025;
}
.lumis-character {
  color: #1da912;
}
.lumis-character-special {
  color: #9a77cf;
}
.lumis-comment {
  color: #9b9fa6;
}
.lumis-comment-documentation {
  color: #9b9fa6;
}
.lumis-comment-error {
  color: #fafafa;
  background-color: #e05661;
}
.lumis-comment-hint {
  color: #9b9fa6;
}
.lumis-comment-note {
  color: #fafafa;
  background-color: #56b6c2;
}
.lumis-comment-todo {
  color: #fafafa;
  background-color: #118dc3;
}
.lumis-comment-warning {
  color: #fafafa;
  background-color: #eea825;
}
.lumis-constant {
  color: #ee9025;
}
.lumis-constant-builtin {
  color: #9a77cf;
}
.lumis-constant-builtin-c {
  color: #eea825;
}
.lumis-constant-builtin-php {
  color: #ee9025;
}
.lumis-constant-builtin-python {
  color: #ee9025;
}
.lumis-constant-builtin-ruby {
  color: #ee9025;
}
.lumis-constant-builtin-rust {
  color: #eea825;
}
.lumis-constant-c {
  color: #eea825;
}
.lumis-constant-go {
  color: #e05661;
}
.lumis-constant-macro {
  color: #ee9025;
}
.lumis-constructor {
  color: #eea825;
}
.lumis-diff-delta {
  color: #007373;
}
.lumis-diff-minus {
  color: #590008;
}
.lumis-diff-plus {
  color: #1da912;
}
.lumis-function {
  color: #118dc3;
}
.lumis-function-builtin {
  color: #eea825;
}
.lumis-function-builtin-c {
  color: #56b6c2;
}
.lumis-function-builtin-go {
  color: #56b6c2;
}
.lumis-function-builtin-lua {
  color: #56b6c2;
}
.lumis-function-builtin-php {
  color: #56b6c2;
}
.lumis-function-call {
  color: #118dc3;
}
.lumis-function-call-yaml {
  color: #1da912;
}
.lumis-function-macro {
  color: #118dc3;
}
.lumis-function-method {
  color: #118dc3;
}
.lumis-function-method-call {
  color: #118dc3;
}
.lumis-highlighted {
  background-color: #fafafa;
}
.lumis-keyword {
  color: #9a77cf;
}
.lumis-keyword-conditional {
  color: #9a77cf;
}
.lumis-keyword-conditional-ternary {
  color: #9a77cf;
}
.lumis-keyword-coroutine {
  color: #9a77cf;
}
.lumis-keyword-debug {
  color: #9a77cf;
}
.lumis-keyword-directive {
  color: #9a77cf;
}
.lumis-keyword-directive-define {
  color: #9a77cf;
}
.lumis-keyword-exception {
  color: #9a77cf;
}
.lumis-keyword-export {
  color: #9a77cf;
}
.lumis-keyword-function {
  color: #9a77cf;
}
.lumis-keyword-import {
  color: #9a77cf;
}
.lumis-keyword-modifier {
  color: #9a77cf;
}
.lumis-keyword-operator {
  color: #9a77cf;
}
.lumis-keyword-operator-lua {
  color: #6a6a6a;
}
.lumis-keyword-repeat {
  color: #9a77cf;
}
.lumis-keyword-return {
  color: #9a77cf;
}
.lumis-keyword-type {
  color: #9a77cf;
}
.lumis-label {
  color: #9a77cf;
}
.lumis-label-c {
  color: #e05661;
}
.lumis-label-json {
  color: #e05661;
}
.lumis-label-markdown {
  color: #6a6a6a;
}
.lumis-label-ruby {
  color: #e05661;
}
.lumis-markup {
  color: #118dc3;
}
.lumis-markup-environment {
  color: #118dc3;
}
.lumis-markup-environment-name {
  color: #118dc3;
}
.lumis-markup-heading {
  color: #e05661;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #e05661;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #e05661;
  font-weight: bold;
}
.lumis-markup-heading-2-markdown {
  color: #ee9025;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #e05661;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #eea825;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #e05661;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #1da912;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #e05661;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #118dc3;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #e05661;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #56b6c2;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-italic-markdown_inline {
  color: #9a77cf;
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #118dc3;
}
.lumis-markup-link-url {
  color: #9a77cf;
}
.lumis-markup-list {
  color: #e05661;
}
.lumis-markup-list-checked {
  color: #9a77cf;
}
.lumis-markup-list-markdown {
  color: #eea825;
}
.lumis-markup-list-unchecked {
  color: #6a6a6a;
}
.lumis-markup-math {
  color: #118dc3;
}
.lumis-markup-math-latex {
  color: #ee9025;
}
.lumis-markup-quote {
  color: #118dc3;
}
.lumis-markup-quote-markdown {
  color: #9b9fa6;
}
.lumis-markup-raw {
  color: #1da912;
}
.lumis-markup-raw-block {
  color: #1da912;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #eea825;
  font-weight: bold;
}
.lumis-markup-strong-markdown_inline {
  color: #ee9025;
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #eea825;
}
.lumis-module-builtin {
  color: #118dc3;
}
.lumis-module-latex {
  color: #56b6c2;
}
.lumis-namespace-php {
  color: #eea825;
}
.lumis-normal {
  color: #6a6a6a;
  background-color: #fafafa;
}
.lumis-number {
  color: #ee9025;
}
.lumis-number-float {
  color: #ee9025;
}
.lumis-operator {
  color: #56b6c2;
}
.lumis-operator-html {
  color: #6a6a6a;
}
.lumis-operator-lua {
  color: #6a6a6a;
}
.lumis-operator-rust {
  color: #6a6a6a;
}
.lumis-operator-toml {
  color: #6a6a6a;
}
.lumis-operator-vue {
  color: #6a6a6a;
}
.lumis-property {
  color: #e05661;
}
.lumis-property-scss {
  color: #6a6a6a;
}
.lumis-property-toml {
  color: #9a77cf;
}
.lumis-punctuation-bracket {
  color: #9a77cf;
}
.lumis-punctuation-bracket-lua {
  color: #ee9025;
}
.lumis-punctuation-bracket-python {
  color: #ee9025;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #e05661;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #eea825;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #118dc3;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #ee9025;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #1da912;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #9a77cf;
}
.lumis-punctuation-bracket-ruby {
  color: #ee9025;
}
.lumis-punctuation-bracket-rust {
  color: #ee9025;
}
.lumis-punctuation-bracket-scss {
  color: #ee9025;
}
.lumis-punctuation-bracket-tsx {
  color: #ee9025;
}
.lumis-punctuation-bracket-typescript {
  color: #ee9025;
}
.lumis-punctuation-bracket-yaml {
  color: #ee9025;
}
.lumis-punctuation-delimiter {
  color: #6a6a6a;
}
.lumis-punctuation-delimiter-markdown_inline {
  color: #ee9025;
}
.lumis-punctuation-special {
  color: #6a6a6a;
}
.lumis-punctuation-special-markdown {
  color: #9b9fa6;
}
.lumis-string {
  color: #1da912;
}
.lumis-string-documentation {
  color: #1da912;
}
.lumis-string-escape {
  color: #56b6c2;
}
.lumis-string-regexp {
  color: #118dc3;
}
.lumis-string-scss {
  color: #ee9025;
}
.lumis-string-special {
  color: #118dc3;
}
.lumis-string-special-path {
  color: #118dc3;
}
.lumis-string-special-symbol {
  color: #e05661;
}
.lumis-string-special-url {
  color: #118dc3;
  font-style: italic;
  text-decoration: underline;
}
.lumis-string-special-url-html {
  text-decoration: underline;
}
.lumis-tag {
  color: #e05661;
}
.lumis-tag-attribute {
  color: #e05661;
}
.lumis-tag-attribute-html {
  color: #ee9025;
}
.lumis-tag-attribute-tsx {
  color: #ee9025;
}
.lumis-tag-attribute-vue {
  color: #ee9025;
}
.lumis-tag-builtin {
  color: #118dc3;
}
.lumis-tag-delimiter {
  color: #6a6a6a;
}
.lumis-type {
  color: #eea825;
}
.lumis-type-builtin {
  color: #eea825;
}
.lumis-type-builtin-c {
  color: #9a77cf;
}
.lumis-type-builtin-go {
  color: #9a77cf;
}
.lumis-type-builtin-java {
  color: #9a77cf;
}
.lumis-type-builtin-tsx {
  color: #9a77cf;
}
.lumis-type-definition {
  color: #eea825;
}
.lumis-type-scss {
  color: #e05661;
}
.lumis-variable {
  color: #e05661;
}
.lumis-variable-builtin {
  color: #eea825;
}
.lumis-variable-member {
  color: #e05661;
}
.lumis-variable-parameter {
  color: #e05661;
}
.lumis-variable-parameter-builtin {
  color: #118dc3;
}
