/* papercolor_light
 * revision: 0cfe64ffb24c21a6101b5f994ca342a74c977aef
 */

pre.lumis {
  color: #444444;
  background-color: #eeeeee;
}
.lumis-attribute {
  color: #005faf;
}
.lumis-attribute-builtin {
  color: #444444;
}
.lumis-boolean {
  color: #008700;
  font-weight: bold;
}
.lumis-character {
  color: #5f8700;
}
.lumis-character-special {
  color: #444444;
}
.lumis-comment {
  color: #878787;
}
.lumis-comment-documentation {
  color: #878787;
}
.lumis-comment-error {
  color: #af0000;
  background-color: #ffd7ff;
}
.lumis-comment-hint {
  color: #878787;
}
.lumis-comment-note {
  color: #00af5f;
  background-color: #eeeeee;
  font-weight: bold;
}
.lumis-comment-todo {
  color: #00af5f;
  background-color: #eeeeee;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #00af5f;
  background-color: #eeeeee;
  font-weight: bold;
}
.lumis-constant {
  color: #d75f00;
}
.lumis-constant-builtin {
  color: #444444;
}
.lumis-constant-macro {
  color: #d75f00;
}
.lumis-constructor {
  color: #444444;
}
.lumis-diff-delta {
  color: #007373;
}
.lumis-diff-minus {
  color: #590008;
}
.lumis-diff-plus {
  color: #005523;
}
.lumis-function {
  color: #444444;
}
.lumis-function-builtin {
  color: #444444;
}
.lumis-function-call {
  color: #444444;
}
.lumis-function-macro {
  color: #444444;
}
.lumis-function-method {
  color: #444444;
}
.lumis-function-method-call {
  color: #444444;
}
.lumis-highlighted {
  background-color: #e4e4e4;
}
.lumis-keyword {
  color: #005faf;
}
.lumis-keyword-conditional {
  color: #005faf;
}
.lumis-keyword-conditional-ternary {
  color: #005faf;
}
.lumis-keyword-coroutine {
  color: #005faf;
}
.lumis-keyword-debug {
  color: #005faf;
}
.lumis-keyword-directive {
  color: #005faf;
}
.lumis-keyword-directive-define {
  color: #005faf;
}
.lumis-keyword-exception {
  color: #005faf;
}
.lumis-keyword-export {
  color: #005faf;
}
.lumis-keyword-function {
  color: #005faf;
}
.lumis-keyword-import {
  color: #005faf;
}
.lumis-keyword-modifier {
  color: #005faf;
}
.lumis-keyword-operator {
  color: #005faf;
}
.lumis-keyword-repeat {
  color: #005faf;
}
.lumis-keyword-return {
  color: #005faf;
}
.lumis-keyword-type {
  color: #005faf;
}
.lumis-label {
  color: #005faf;
}
.lumis-markup {
  color: #444444;
}
.lumis-markup-environment {
  color: #444444;
}
.lumis-markup-environment-name {
  color: #444444;
}
.lumis-markup-heading {
  color: #878787;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #878787;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #878787;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #878787;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #878787;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #878787;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #878787;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  text-decoration: underline;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #444444;
}
.lumis-markup-list-checked {
  color: #444444;
}
.lumis-markup-list-unchecked {
  color: #444444;
}
.lumis-markup-math {
  color: #444444;
}
.lumis-markup-quote {
  color: #444444;
}
.lumis-markup-raw {
  color: #444444;
}
.lumis-markup-raw-block {
  color: #444444;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #005faf;
  font-weight: bold;
}
.lumis-module-builtin {
  color: #444444;
}
.lumis-normal {
  color: #444444;
  background-color: #eeeeee;
}
.lumis-number {
  color: #d75f00;
}
.lumis-number-float {
  color: #d75f00;
}
.lumis-operator {
  color: #0087af;
}
.lumis-property {
  color: #005f87;
}
.lumis-punctuation-bracket {
  color: #0087af;
}
.lumis-punctuation-delimiter {
  color: #0087af;
}
.lumis-punctuation-special {
  color: #444444;
}
.lumis-string {
  color: #5f8700;
}
.lumis-string-documentation {
  color: #5f8700;
}
.lumis-string-escape {
  color: #444444;
}
.lumis-string-regexp {
  color: #444444;
}
.lumis-string-special {
  color: #444444;
}
.lumis-string-special-path {
  color: #444444;
}
.lumis-string-special-symbol {
  color: #444444;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #008700;
}
.lumis-tag-attribute {
  color: #008700;
}
.lumis-tag-builtin {
  color: #444444;
}
.lumis-tag-delimiter {
  color: #008700;
}
.lumis-type {
  color: #d70087;
  font-weight: bold;
}
.lumis-type-builtin {
  color: #444444;
}
.lumis-type-definition {
  color: #d70087;
  font-weight: bold;
}
.lumis-variable {
  color: #14161b;
}
.lumis-variable-builtin {
  color: #444444;
}
.lumis-variable-member {
  color: #14161b;
}
.lumis-variable-parameter {
  color: #14161b;
}
.lumis-variable-parameter-builtin {
  color: #444444;
}
