/* poimandres
 * revision: a488957d803943a4201ac3b774913fcafa9e6b3a
 */

pre.lumis {
  color: #e4f0fb;
  background-color: #1b1e28;
}
.lumis-attribute {
  color: #e4f0fb;
}
.lumis-attribute-builtin {
  color: #767c9d;
}
.lumis-boolean {
  color: #5de4c7;
}
.lumis-character {
  color: #d0679d;
}
.lumis-character-special {
  color: #767c9d;
}
.lumis-comment {
  color: #a6accd;
}
.lumis-comment-documentation {
  color: #a6accd;
}
.lumis-comment-error {
  color: #d0679d;
}
.lumis-comment-hint {
  color: #a6accd;
}
.lumis-comment-note {
  color: #91b4d5;
}
.lumis-comment-todo {
  color: #171922;
  background-color: #fffac2;
}
.lumis-comment-warning {
  color: #fffac2;
}
.lumis-constant {
  color: #e4f0fb;
}
.lumis-constant-builtin {
  color: #add7ff;
}
.lumis-constant-macro {
  color: #e4f0fb;
}
.lumis-constructor {
  color: #5de4c7;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #add7ff;
}
.lumis-function-builtin {
  color: #add7ff;
}
.lumis-function-call {
  color: #a6accd;
}
.lumis-function-macro {
  color: #add7ff;
}
.lumis-function-method {
  color: #add7ff;
}
.lumis-function-method-call {
  color: #add7ff;
}
.lumis-highlighted {
  background-color: #303340;
}
.lumis-keyword {
  color: #91b4d5;
}
.lumis-keyword-conditional {
  color: #91b4d5;
}
.lumis-keyword-conditional-ternary {
  color: #91b4d5;
}
.lumis-keyword-coroutine {
  color: #91b4d5;
}
.lumis-keyword-debug {
  color: #91b4d5;
}
.lumis-keyword-directive {
  color: #91b4d5;
}
.lumis-keyword-directive-define {
  color: #91b4d5;
}
.lumis-keyword-exception {
  color: #91b4d5;
}
.lumis-keyword-export {
  color: #91b4d5;
}
.lumis-keyword-export-tsx {
  color: #5de4c7;
}
.lumis-keyword-export-typescript {
  color: #5de4c7;
}
.lumis-keyword-function {
  color: #add7ff;
}
.lumis-keyword-import {
  color: #91b4d5;
}
.lumis-keyword-import-tsx {
  color: #5de4c7;
}
.lumis-keyword-import-typescript {
  color: #5de4c7;
}
.lumis-keyword-modifier {
  color: #91b4d5;
}
.lumis-keyword-operator {
  color: #5de4c7;
}
.lumis-keyword-repeat {
  color: #91b4d5;
}
.lumis-keyword-return {
  color: #5fb3a1;
}
.lumis-keyword-type {
  color: #91b4d5;
}
.lumis-label {
  color: #91b4d5;
}
.lumis-markup {
  color: #767c9d;
}
.lumis-markup-environment {
  color: #767c9d;
}
.lumis-markup-environment-name {
  color: #767c9d;
}
.lumis-markup-heading {
  color: #e4f0fb;
}
.lumis-markup-heading-1 {
  color: #e4f0fb;
}
.lumis-markup-heading-2 {
  color: #e4f0fb;
}
.lumis-markup-heading-3 {
  color: #e4f0fb;
}
.lumis-markup-heading-4 {
  color: #e4f0fb;
}
.lumis-markup-heading-5 {
  color: #e4f0fb;
}
.lumis-markup-heading-6 {
  color: #e4f0fb;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  text-decoration: underline;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #767c9d;
}
.lumis-markup-list-checked {
  color: #767c9d;
}
.lumis-markup-list-unchecked {
  color: #767c9d;
}
.lumis-markup-math {
  color: #767c9d;
}
.lumis-markup-quote {
  color: #767c9d;
}
.lumis-markup-raw {
  color: #767c9d;
}
.lumis-markup-raw-block {
  color: #767c9d;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #a6accd;
}
.lumis-module-builtin {
  color: #767c9d;
}
.lumis-number {
  color: #5de4c7;
}
.lumis-number-float {
  color: #5de4c7;
}
.lumis-operator {
  color: #add7ff;
}
.lumis-property {
  color: #add7ff;
}
.lumis-punctuation-bracket {
  color: #e4f0fb;
}
.lumis-punctuation-delimiter {
  color: #91b4d5;
}
.lumis-punctuation-special {
  color: #91b4d5;
}
.lumis-string {
  color: #5de4c7;
}
.lumis-string-documentation {
  color: #5de4c7;
}
.lumis-string-escape {
  color: #d0679d;
}
.lumis-string-regexp {
  color: #767c9d;
}
.lumis-string-special {
  color: #767c9d;
}
.lumis-string-special-path {
  color: #767c9d;
}
.lumis-string-special-symbol {
  color: #767c9d;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #5de4c7;
}
.lumis-tag-attribute {
  color: #91b4d5;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #767c9d;
}
.lumis-tag-delimiter {
  color: #e4f0fb;
}
.lumis-type {
  color: #a6accd;
}
.lumis-type-builtin {
  color: #a6accd;
}
.lumis-type-definition {
  color: #a6accd;
}
.lumis-variable {
  color: #e4f0fb;
}
.lumis-variable-builtin {
  color: #add7ff;
}
.lumis-variable-member {
  color: #e4f0fb;
}
.lumis-variable-parameter {
  color: #e4f0fb;
}
.lumis-variable-parameter-builtin {
  color: #767c9d;
}
