/* sonokai_atlantis
 * revision: b023c5280b16fe2366f5e779d8d2756b3e5ee9c3
 */

pre.lumis {
  color: #e1e3e4;
  background-color: #2a2f38;
}
.lumis-attribute {
  color: #72cce8;
}
.lumis-attribute-builtin {
  color: #ba9cf3;
}
.lumis-boolean {
  color: #ba9cf3;
}
.lumis-character {
  color: #eacb64;
}
.lumis-character-special {
  color: #ba9cf3;
}
.lumis-comment {
  color: #828a9a;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #828a9a;
  font-style: italic;
}
.lumis-comment-error {
  color: #2a2f38;
  background-color: #ff6578;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #828a9a;
  font-style: italic;
}
.lumis-comment-note {
  color: #2a2f38;
  background-color: #9dd274;
  font-weight: bold;
}
.lumis-comment-todo {
  color: #2a2f38;
  background-color: #72cce8;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #2a2f38;
  background-color: #eacb64;
  font-weight: bold;
}
.lumis-constant {
  color: #e1e3e4;
}
.lumis-constant-builtin {
  color: #ba9cf3;
}
.lumis-constant-macro {
  color: #ba9cf3;
}
.lumis-constructor {
  color: #9dd274;
}
.lumis-constructor-lua {
  color: #e1e3e4;
}
.lumis-constructor-tsx {
  color: #72cce8;
}
.lumis-diff-delta {
  color: #72cce8;
}
.lumis-diff-minus {
  color: #ff6578;
}
.lumis-diff-plus {
  color: #9dd274;
}
.lumis-error {
  color: #ff6578;
}
.lumis-function {
  color: #9dd274;
}
.lumis-function-builtin {
  color: #9dd274;
}
.lumis-function-call {
  color: #9dd274;
}
.lumis-function-macro {
  color: #9dd274;
}
.lumis-function-method {
  color: #9dd274;
}
.lumis-function-method-call {
  color: #9dd274;
}
.lumis-highlighted {
  background-color: #333846;
}
.lumis-keyword {
  color: #ff6578;
}
.lumis-keyword-conditional {
  color: #ff6578;
}
.lumis-keyword-conditional-ternary {
  color: #ff6578;
}
.lumis-keyword-coroutine {
  color: #ff6578;
}
.lumis-keyword-debug {
  color: #eacb64;
}
.lumis-keyword-directive {
  color: #ff6578;
}
.lumis-keyword-directive-define {
  color: #ff6578;
}
.lumis-keyword-exception {
  color: #ff6578;
}
.lumis-keyword-export {
  color: #ff6578;
}
.lumis-keyword-function {
  color: #ff6578;
}
.lumis-keyword-import {
  color: #ff6578;
}
.lumis-keyword-modifier {
  color: #ff6578;
}
.lumis-keyword-operator {
  color: #ff6578;
}
.lumis-keyword-repeat {
  color: #ff6578;
}
.lumis-keyword-return {
  color: #ff6578;
}
.lumis-keyword-type {
  color: #ff6578;
}
.lumis-label {
  color: #ff6578;
}
.lumis-markup {
  color: #ba9cf3;
}
.lumis-markup-environment {
  color: #ba9cf3;
}
.lumis-markup-environment-name {
  color: #72cce8;
}
.lumis-markup-heading {
  color: #ff6578;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #ff6578;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #ff6578;
  font-weight: bold;
}
.lumis-markup-heading-2-markdown {
  color: #f69c5e;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #ff6578;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #eacb64;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #ff6578;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #9dd274;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #ff6578;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #72cce8;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #ff6578;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #ba9cf3;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #f69c5e;
}
.lumis-markup-link-label {
  color: #ba9cf3;
}
.lumis-markup-link-url {
  color: #72cce8;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #eacb64;
}
.lumis-markup-list-checked {
  color: #9dd274;
}
.lumis-markup-list-unchecked {
  color: #828a9a;
}
.lumis-markup-math {
  color: #eacb64;
}
.lumis-markup-quote {
  color: #828a9a;
}
.lumis-markup-raw {
  color: #eacb64;
}
.lumis-markup-raw-block {
  color: #eacb64;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #72cce8;
}
.lumis-module-builtin {
  color: #ba9cf3;
}
.lumis-namespace {
  color: #72cce8;
}
.lumis-number {
  color: #ba9cf3;
}
.lumis-number-float {
  color: #ba9cf3;
}
.lumis-operator {
  color: #ff6578;
}
.lumis-property {
  color: #f69c5e;
}
.lumis-punctuation-bracket {
  color: #828a9a;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #ff6578;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #eacb64;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #72cce8;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #f69c5e;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #9dd274;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #ba9cf3;
}
.lumis-punctuation-delimiter {
  color: #828a9a;
}
.lumis-punctuation-special {
  color: #eacb64;
}
.lumis-string {
  color: #eacb64;
}
.lumis-string-documentation {
  color: #eacb64;
}
.lumis-string-escape {
  color: #9dd274;
}
.lumis-string-regex {
  color: #9dd274;
}
.lumis-string-regexp {
  color: #9dd274;
}
.lumis-string-special {
  color: #ba9cf3;
}
.lumis-string-special-path {
  color: #ba9cf3;
}
.lumis-string-special-symbol {
  color: #e1e3e4;
}
.lumis-string-special-symbol-elixir {
  color: #f69c5e;
}
.lumis-string-special-symbol-ruby {
  color: #f69c5e;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #72cce8;
}
.lumis-tag-attribute {
  color: #9dd274;
}
.lumis-tag-builtin {
  color: #ba9cf3;
}
.lumis-tag-delimiter {
  color: #ff6578;
}
.lumis-tag-tsx {
  color: #f69c5e;
}
.lumis-type {
  color: #72cce8;
}
.lumis-type-builtin {
  color: #72cce8;
}
.lumis-type-definition {
  color: #72cce8;
}
.lumis-variable {
  color: #e1e3e4;
}
.lumis-variable-builtin {
  color: #ba9cf3;
}
.lumis-variable-member {
  color: #f69c5e;
}
.lumis-variable-parameter {
  color: #e1e3e4;
}
.lumis-variable-parameter-builtin {
  color: #ba9cf3;
}
