/* srcery
 * revision: c7acaf66f7369cbae86b4b4596496a980da7c2b7
 */

pre.lumis {
  color: #fce8c3;
  background-color: #121110;
}
.attribute {
  color: #ff8700;
}
.attribute-builtin {
  color: #2c78bf;
}
.boolean {
  color: #ff5c8f;
}
.character {
  color: #519f50;
}
.character-special {
  color: #fbb829;
}
.comment {
  color: #917e6b;
  font-style: italic;
}
.comment-documentation {
  color: #917e6b;
  font-style: italic;
}
.comment-error {
  color: #f75341;
}
.comment-hint {
  color: #917e6b;
  font-style: italic;
}
.comment-note {
  color: #98bc37;
}
.comment-todo {
  color: #ff8700;
  font-weight: bold;
  font-style: italic;
}
.comment-warning {
  color: #fed06e;
}
.constant {
  color: #ff5c8f;
}
.constant-builtin {
  color: #ff5c8f;
}
.constant-macro {
  color: #ff5c8f;
}
.constructor {
  color: #fbb829;
}
.diff-delta {
  color: #8cf8f7;
}
.diff-minus {
  color: #ffc0b9;
}
.diff-plus {
  color: #b3f6c0;
}
.function {
  color: #fbb829;
}
.function-builtin {
  color: #fbb829;
}
.function-call {
  color: #fbb829;
}
.function-macro {
  color: #fed06e;
}
.function-method {
  color: #fbb829;
}
.function-method-call {
  color: #fbb829;
}
.highlighted {
  background-color: #1c1b19;
}
.keyword {
  color: #ef2f27;
}
.keyword-conditional {
  color: #ef2f27;
}
.keyword-conditional-ternary {
  color: #ef2f27;
}
.keyword-coroutine {
  color: #ef2f27;
}
.keyword-debug {
  color: #ef2f27;
}
.keyword-directive {
  color: #0aaeb3;
}
.keyword-directive-define {
  color: #ff5f00;
}
.keyword-exception {
  color: #ef2f27;
}
.keyword-export {
  color: #ef2f27;
}
.keyword-function {
  color: #ef2f27;
}
.keyword-import {
  color: #f75341;
}
.keyword-modifier {
  color: #68a8e4;
}
.keyword-operator {
  color: #c5b088;
}
.keyword-repeat {
  color: #fbb829;
}
.keyword-return {
  color: #ef2f27;
}
.keyword-type {
  color: #ef2f27;
}
.label {
  color: #c5b088;
}
.markup {
  color: #2c78bf;
}
.markup-environment {
  color: #2c78bf;
}
.markup-environment-name {
  color: #2c78bf;
}
.markup-heading {
  color: #519f50;
  font-weight: bold;
}
.markup-heading-1 {
  color: #519f50;
  font-weight: bold;
}
.markup-heading-1-markdown {
  color: #68a8e4;
  background-color: #1c1b19;
  font-weight: bold;
}
.markup-heading-2 {
  color: #519f50;
  font-weight: bold;
}
.markup-heading-2-markdown {
  color: #fbb829;
  background-color: #1c1b19;
  font-weight: bold;
}
.markup-heading-3 {
  color: #519f50;
  font-weight: bold;
}
.markup-heading-3-markdown {
  color: #fed06e;
  background-color: #1c1b19;
  font-weight: bold;
}
.markup-heading-4 {
  color: #519f50;
  font-weight: bold;
}
.markup-heading-4-markdown {
  color: #519f50;
  background-color: #1c1b19;
  font-weight: bold;
}
.markup-heading-5 {
  color: #519f50;
  font-weight: bold;
}
.markup-heading-5-markdown {
  color: #e02c6d;
  background-color: #1c1b19;
  font-weight: bold;
}
.markup-heading-6 {
  color: #519f50;
  font-weight: bold;
}
.markup-heading-6-markdown {
  color: #ff5c8f;
  background-color: #1c1b19;
  font-weight: bold;
}
.markup-italic {
  font-style: italic;
}
.markup-link {
  color: #c5b088;
  text-decoration: underline;
}
.markup-link-label {
  color: #c5b088;
  text-decoration: underline;
}
.markup-link-url {
  color: #98bc37;
}
.markup-list {
  color: #2c78bf;
}
.markup-list-checked {
  color: #2c78bf;
}
.markup-list-unchecked {
  color: #2c78bf;
}
.markup-math {
  color: #2c78bf;
}
.markup-quote {
  color: #2c78bf;
}
.markup-raw {
  color: #2c78bf;
}
.markup-raw-block {
  color: #2c78bf;
}
.markup-strikethrough {
  text-decoration: line-through;
}
.markup-strong {
  font-weight: bold;
}
.markup-underline {
  text-decoration: underline;
}
.module {
  color: #0aaeb3;
}
.module-builtin {
  color: #2c78bf;
}
.normal {
  color: #fce8c3;
  background-color: #121110;
}
.number {
  color: #ff5c8f;
}
.number-float {
  color: #ff5c8f;
}
.operator {
  color: #c5b088;
}
.property {
  color: #68a8e4;
}
.punctuation-bracket {
  color: #917e6b;
}
.punctuation-delimiter {
  color: #917e6b;
}
.punctuation-special {
  color: #2c78bf;
}
.string {
  color: #98bc37;
}
.string-documentation {
  color: #98bc37;
}
.string-escape {
  color: #fbb829;
}
.string-regex {
  color: #fbb829;
}
.string-regexp {
  color: #fbb829;
}
.string-special {
  color: #fbb829;
}
.string-special-path {
  color: #fbb829;
}
.string-special-symbol {
  color: #fbb829;
}
.string-special-url {
  text-decoration: underline;
}
.tag {
  color: #2c78bf;
}
.tag-attribute {
  color: #fbb829;
}
.tag-builtin {
  color: #2c78bf;
}
.tag-delimiter {
  color: #917e6b;
}
.type {
  color: #68a8e4;
  font-style: italic;
}
.type-builtin {
  color: #68a8e4;
  font-style: italic;
}
.type-definition {
  color: #68a8e4;
  font-style: italic;
}
.variable {
  color: #fce8c3;
}
.variable-builtin {
  color: #ef2f27;
}
.variable-member {
  color: #68a8e4;
}
.variable-parameter {
  color: #fce8c3;
}
.variable-parameter-builtin {
  color: #2c78bf;
}
