/* srcery
 * revision: c7acaf66f7369cbae86b4b4596496a980da7c2b7
 */

pre.lumis {
  color: #fce8c3;
  background-color: #121110;
}
.lumis-attribute {
  color: #ff8700;
}
.lumis-attribute-builtin {
  color: #2c78bf;
}
.lumis-boolean {
  color: #ff5c8f;
}
.lumis-character {
  color: #519f50;
}
.lumis-character-special {
  color: #fbb829;
}
.lumis-comment {
  color: #917e6b;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #917e6b;
  font-style: italic;
}
.lumis-comment-error {
  color: #f75341;
}
.lumis-comment-hint {
  color: #917e6b;
  font-style: italic;
}
.lumis-comment-note {
  color: #98bc37;
}
.lumis-comment-todo {
  color: #ff8700;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-warning {
  color: #fed06e;
}
.lumis-constant {
  color: #ff5c8f;
}
.lumis-constant-builtin {
  color: #ff5c8f;
}
.lumis-constant-macro {
  color: #ff5c8f;
}
.lumis-constructor {
  color: #fbb829;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #fbb829;
}
.lumis-function-builtin {
  color: #fbb829;
}
.lumis-function-call {
  color: #fbb829;
}
.lumis-function-macro {
  color: #fed06e;
}
.lumis-function-method {
  color: #fbb829;
}
.lumis-function-method-call {
  color: #fbb829;
}
.lumis-highlighted {
  background-color: #1c1b19;
}
.lumis-keyword {
  color: #ef2f27;
}
.lumis-keyword-conditional {
  color: #ef2f27;
}
.lumis-keyword-conditional-ternary {
  color: #ef2f27;
}
.lumis-keyword-coroutine {
  color: #ef2f27;
}
.lumis-keyword-debug {
  color: #ef2f27;
}
.lumis-keyword-directive {
  color: #0aaeb3;
}
.lumis-keyword-directive-define {
  color: #ff5f00;
}
.lumis-keyword-exception {
  color: #ef2f27;
}
.lumis-keyword-export {
  color: #ef2f27;
}
.lumis-keyword-function {
  color: #ef2f27;
}
.lumis-keyword-import {
  color: #f75341;
}
.lumis-keyword-modifier {
  color: #68a8e4;
}
.lumis-keyword-operator {
  color: #c5b088;
}
.lumis-keyword-repeat {
  color: #fbb829;
}
.lumis-keyword-return {
  color: #ef2f27;
}
.lumis-keyword-type {
  color: #ef2f27;
}
.lumis-label {
  color: #c5b088;
}
.lumis-markup {
  color: #2c78bf;
}
.lumis-markup-environment {
  color: #2c78bf;
}
.lumis-markup-environment-name {
  color: #2c78bf;
}
.lumis-markup-heading {
  color: #519f50;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #519f50;
  font-weight: bold;
}
.lumis-markup-heading-1-markdown {
  color: #68a8e4;
  background-color: #1c1b19;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #519f50;
  font-weight: bold;
}
.lumis-markup-heading-2-markdown {
  color: #fbb829;
  background-color: #1c1b19;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #519f50;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #fed06e;
  background-color: #1c1b19;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #519f50;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #519f50;
  background-color: #1c1b19;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #519f50;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #e02c6d;
  background-color: #1c1b19;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #519f50;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #ff5c8f;
  background-color: #1c1b19;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #c5b088;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #c5b088;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #98bc37;
}
.lumis-markup-list {
  color: #2c78bf;
}
.lumis-markup-list-checked {
  color: #2c78bf;
}
.lumis-markup-list-unchecked {
  color: #2c78bf;
}
.lumis-markup-math {
  color: #2c78bf;
}
.lumis-markup-quote {
  color: #2c78bf;
}
.lumis-markup-raw {
  color: #2c78bf;
}
.lumis-markup-raw-block {
  color: #2c78bf;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #0aaeb3;
}
.lumis-module-builtin {
  color: #2c78bf;
}
.lumis-normal {
  color: #fce8c3;
  background-color: #121110;
}
.lumis-number {
  color: #ff5c8f;
}
.lumis-number-float {
  color: #ff5c8f;
}
.lumis-operator {
  color: #c5b088;
}
.lumis-property {
  color: #68a8e4;
}
.lumis-punctuation-bracket {
  color: #917e6b;
}
.lumis-punctuation-delimiter {
  color: #917e6b;
}
.lumis-punctuation-special {
  color: #2c78bf;
}
.lumis-string {
  color: #98bc37;
}
.lumis-string-documentation {
  color: #98bc37;
}
.lumis-string-escape {
  color: #fbb829;
}
.lumis-string-regex {
  color: #fbb829;
}
.lumis-string-regexp {
  color: #fbb829;
}
.lumis-string-special {
  color: #fbb829;
}
.lumis-string-special-path {
  color: #fbb829;
}
.lumis-string-special-symbol {
  color: #fbb829;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #2c78bf;
}
.lumis-tag-attribute {
  color: #fbb829;
}
.lumis-tag-builtin {
  color: #2c78bf;
}
.lumis-tag-delimiter {
  color: #917e6b;
}
.lumis-type {
  color: #68a8e4;
  font-style: italic;
}
.lumis-type-builtin {
  color: #68a8e4;
  font-style: italic;
}
.lumis-type-definition {
  color: #68a8e4;
  font-style: italic;
}
.lumis-variable {
  color: #fce8c3;
}
.lumis-variable-builtin {
  color: #ef2f27;
}
.lumis-variable-member {
  color: #68a8e4;
}
.lumis-variable-parameter {
  color: #fce8c3;
}
.lumis-variable-parameter-builtin {
  color: #2c78bf;
}
