/* synthweave_aqua
 * revision: 0520bc260674745cdd3b5465f322de5731217dc6
 */

pre.lumis {
  color: #a2c7e5;
  background-color: #262335;
}
.lumis-attribute {
  color: #ffe347;
}
.lumis-attribute-builtin {
  color: #8fffe0;
}
.lumis-boolean {
  color: #f39237;
}
.lumis-boolean-json {
  color: #f39237;
  font-style: italic;
}
.lumis-character {
  color: #7df9ff;
}
.lumis-character-special {
  color: #8fffe0;
}
.lumis-comment {
  color: #848bbd;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #848bbd;
  font-style: italic;
}
.lumis-comment-error {
  color: #fe4450;
  font-style: italic;
}
.lumis-comment-hint {
  color: #848bbd;
  font-style: italic;
}
.lumis-comment-note {
  color: #f39237;
  font-style: italic;
}
.lumis-comment-todo {
  color: #fe4450;
}
.lumis-comment-warning {
  color: #ffe347;
  font-style: italic;
}
.lumis-constant {
  color: #ff7edb;
}
.lumis-constant-bash {
  color: #8fffe0;
}
.lumis-constant-builtin {
  color: #8fffe0;
}
.lumis-constant-go {
  color: #59f3ff;
}
.lumis-constant-macro {
  color: #ff7edb;
}
.lumis-constructor {
  color: #fe4450;
}
.lumis-constructor-lua {
  color: #ffe347;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #7df9ff;
}
.lumis-function-builtin {
  color: #8fffe0;
}
.lumis-function-call {
  color: #7df9ff;
}
.lumis-function-macro {
  color: #7df9ff;
}
.lumis-function-method {
  color: #7df9ff;
}
.lumis-function-method-call {
  color: #7df9ff;
}
.lumis-highlighted {
  background-color: #2e2a4f;
}
.lumis-keyword {
  color: #ffe347;
}
.lumis-keyword-conditional {
  color: #ffe347;
}
.lumis-keyword-conditional-ternary {
  color: #ffe347;
}
.lumis-keyword-coroutine {
  color: #ffe347;
}
.lumis-keyword-debug {
  color: #ffe347;
}
.lumis-keyword-directive {
  color: #ffe347;
}
.lumis-keyword-directive-define {
  color: #ffe347;
}
.lumis-keyword-exception {
  color: #ffe347;
}
.lumis-keyword-export {
  color: #ffe347;
}
.lumis-keyword-function {
  color: #ffe347;
}
.lumis-keyword-import {
  color: #ffe347;
}
.lumis-keyword-modifier {
  color: #ffe347;
}
.lumis-keyword-operator {
  color: #ffe347;
}
.lumis-keyword-repeat {
  color: #ffe347;
}
.lumis-keyword-return {
  color: #ffe347;
}
.lumis-keyword-sql {
  color: #ff7edb;
}
.lumis-keyword-type {
  color: #ffe347;
}
.lumis-label {
  color: #8fffe0;
}
.lumis-markup {
  color: #8fffe0;
}
.lumis-markup-environment {
  color: #8fffe0;
}
.lumis-markup-environment-name {
  color: #8fffe0;
}
.lumis-markup-heading {
  color: #f39237;
}
.lumis-markup-heading-1 {
  color: #f39237;
}
.lumis-markup-heading-2 {
  color: #f39237;
}
.lumis-markup-heading-3 {
  color: #f39237;
}
.lumis-markup-heading-4 {
  color: #f39237;
}
.lumis-markup-heading-5 {
  color: #f39237;
}
.lumis-markup-heading-6 {
  color: #f39237;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  text-decoration: underline;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #8fffe0;
}
.lumis-markup-list-checked {
  color: #8fffe0;
}
.lumis-markup-list-unchecked {
  color: #8fffe0;
}
.lumis-markup-math {
  color: #8fffe0;
}
.lumis-markup-quote {
  color: #8fffe0;
}
.lumis-markup-raw {
  color: #8fffe0;
}
.lumis-markup-raw-block {
  color: #8fffe0;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #ff7edb;
  font-style: italic;
}
.lumis-module-builtin {
  color: #8fffe0;
}
.lumis-normal {
  color: #a2c7e5;
  background-color: #262335;
}
.lumis-number {
  color: #f39237;
}
.lumis-number-float {
  color: #f39237;
}
.lumis-operator {
  color: #ffe347;
}
.lumis-property {
  color: #ff7edb;
}
.lumis-property-css {
  color: #8fffe0;
}
.lumis-property-javascript {
  color: #7df9ff;
}
.lumis-punctuation-bracket {
  color: #ffe347;
}
.lumis-punctuation-bracket-javascript {
  color: #ff7edb;
}
.lumis-punctuation-delimiter {
  color: #ff7edb;
}
.lumis-punctuation-special {
  color: #8fffe0;
}
.lumis-string {
  color: #f39237;
}
.lumis-string-documentation {
  color: #f39237;
}
.lumis-string-escape {
  color: #8fffe0;
}
.lumis-string-regexp {
  color: #8fffe0;
}
.lumis-string-special {
  color: #8fffe0;
}
.lumis-string-special-path {
  color: #8fffe0;
}
.lumis-string-special-symbol {
  color: #8fffe0;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #59f3ff;
}
.lumis-tag-attribute {
  color: #ffe347;
}
.lumis-tag-builtin {
  color: #8fffe0;
}
.lumis-tag-delimiter {
  color: #59f3ff;
}
.lumis-tag-javascript {
  color: #8fffe0;
}
.lumis-type {
  color: #fe4450;
}
.lumis-type-builtin {
  color: #8fffe0;
}
.lumis-type-builtin-python {
  color: #fe4450;
}
.lumis-type-definition {
  color: #fe4450;
}
.lumis-type-javascript {
  color: #ff7edb;
}
.lumis-variable {
  color: #ff7edb;
}
.lumis-variable-builtin {
  color: #fe4450;
}
.lumis-variable-member {
  color: #ff7edb;
}
.lumis-variable-parameter {
  color: #ff7edb;
}
.lumis-variable-parameter-builtin {
  color: #8fffe0;
}
