/* tokyobones_light
 * revision: 239bdb9a09c8d38c752c43590d02f654ed0da2b0
 */

pre.lumis {
  color: #333a57;
  background-color: #d6d7dc;
}
.lumis-attribute {
  color: #5a4a79;
}
.lumis-attribute-builtin {
  color: #34548c;
}
.lumis-boolean {
  color: #333a57;
  font-style: italic;
}
.lumis-character {
  color: #5b6694;
  font-style: italic;
}
.lumis-character-special {
  color: #34548c;
}
.lumis-comment {
  color: #7c7e89;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #7c7e89;
  font-style: italic;
}
.lumis-comment-error {
  color: #8b4351;
}
.lumis-comment-hint {
  color: #7c7e89;
  font-style: italic;
}
.lumis-comment-note {
  color: #34548c;
}
.lumis-comment-todo {
  font-weight: bold;
  text-decoration: underline;
}
.lumis-comment-warning {
  color: #8f5e14;
}
.lumis-constant {
  color: #4a537a;
  font-weight: bold;
}
.lumis-constant-builtin {
  color: #5b6694;
  font-style: italic;
}
.lumis-constant-macro {
  color: #5b6694;
  font-style: italic;
}
.lumis-constructor {
  color: #34548c;
}
.lumis-constructor-lua {
  color: #737686;
}
.lumis-diff-delta {
  background-color: #c0c6d8;
}
.lumis-diff-minus {
  background-color: #dfbec3;
}
.lumis-diff-plus {
  background-color: #a9cec7;
}
.lumis-function {
  color: #333a57;
}
.lumis-function-builtin {
  color: #34548c;
}
.lumis-function-call {
  color: #333a57;
}
.lumis-function-macro {
  color: #5a4a79;
}
.lumis-function-method {
  color: #333a57;
}
.lumis-function-method-call {
  color: #333a57;
}
.lumis-highlighted {
  background-color: #cdced4;
}
.lumis-keyword {
  color: #5a4a79;
  font-weight: bold;
}
.lumis-keyword-conditional {
  color: #5a4a79;
  font-weight: bold;
}
.lumis-keyword-conditional-ternary {
  color: #5a4a79;
  font-weight: bold;
}
.lumis-keyword-coroutine {
  color: #5a4a79;
  font-weight: bold;
}
.lumis-keyword-debug {
  color: #34548c;
}
.lumis-keyword-directive {
  color: #5a4a79;
}
.lumis-keyword-directive-define {
  color: #5a4a79;
}
.lumis-keyword-exception {
  color: #5a4a79;
  font-weight: bold;
}
.lumis-keyword-export {
  color: #5a4a79;
  font-weight: bold;
}
.lumis-keyword-function {
  color: #5a4a79;
  font-weight: bold;
}
.lumis-keyword-import {
  color: #5a4a79;
}
.lumis-keyword-modifier {
  color: #5a4a79;
  font-weight: bold;
}
.lumis-keyword-operator {
  color: #5a4a79;
  font-weight: bold;
}
.lumis-keyword-repeat {
  color: #5a4a79;
  font-weight: bold;
}
.lumis-keyword-return {
  color: #5a4a79;
  font-weight: bold;
}
.lumis-keyword-type {
  color: #5a4a79;
  font-weight: bold;
}
.lumis-label {
  color: #5a4a79;
  font-weight: bold;
}
.lumis-markup {
  color: #34548c;
}
.lumis-markup-environment {
  color: #5a4a79;
}
.lumis-markup-environment-name {
  color: #5a4a79;
}
.lumis-markup-heading {
  color: #333a57;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #333a57;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #333a57;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #333a57;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #333a57;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #333a57;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #333a57;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #5b6694;
  font-style: italic;
}
.lumis-markup-link-label {
  color: #34548c;
}
.lumis-markup-link-markdown {
  color: #4a537a;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #5b6694;
  font-style: italic;
}
.lumis-markup-link-url-markdown {
  color: #7c7e89;
}
.lumis-markup-list {
  color: #34548c;
}
.lumis-markup-list-checked {
  color: #34548c;
}
.lumis-markup-list-unchecked {
  color: #34548c;
}
.lumis-markup-math {
  color: #34548c;
}
.lumis-markup-quote {
  color: #5b6694;
}
.lumis-markup-raw {
  color: #5b6694;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #5b6694;
  font-style: italic;
}
.lumis-markup-raw-markdown {
  color: #484f6b;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #5b6694;
  font-style: italic;
}
.lumis-module-builtin {
  color: #5b6694;
  font-style: italic;
}
.lumis-normal {
  color: #333a57;
  background-color: #d6d7dc;
}
.lumis-number {
  color: #176775;
}
.lumis-number-float {
  color: #176775;
}
.lumis-operator {
  color: #5a4a79;
  font-weight: bold;
}
.lumis-property {
  color: #4a537a;
}
.lumis-punctuation-bracket {
  color: #737686;
}
.lumis-punctuation-delimiter {
  color: #737686;
}
.lumis-punctuation-special {
  color: #737686;
}
.lumis-punctuation-special-markdown {
  color: #34548c;
}
.lumis-string {
  color: #5b6694;
  font-style: italic;
}
.lumis-string-documentation {
  color: #5b6694;
  font-style: italic;
}
.lumis-string-escape {
  color: #34548c;
}
.lumis-string-escape-markdown {
  color: #9b9da9;
  font-style: italic;
}
.lumis-string-regexp {
  color: #5b6694;
  font-style: italic;
}
.lumis-string-special {
  color: #34548c;
}
.lumis-string-special-path {
  color: #34548c;
}
.lumis-string-special-symbol {
  color: #4a537a;
}
.lumis-string-special-url {
  color: #34548c;
}
.lumis-tag {
  color: #34548c;
}
.lumis-tag-attribute {
  color: #4a537a;
}
.lumis-tag-builtin {
  color: #34548c;
}
.lumis-tag-delimiter {
  color: #737686;
}
.lumis-type {
  color: #484f6b;
}
.lumis-type-builtin {
  color: #484f6b;
}
.lumis-type-definition {
  color: #484f6b;
}
.lumis-variable {
  color: #4a537a;
}
.lumis-variable-builtin {
  color: #5b6694;
  font-style: italic;
}
.lumis-variable-member {
  color: #4a537a;
}
.lumis-variable-parameter {
  color: #4a537a;
}
.lumis-variable-parameter-builtin {
  color: #34548c;
}
