/* tokyodark
 * revision: 659aff3c73dc2e0159314050a81671f0b2eaad01
 */

pre.lumis {
  color: #a0a8cd;
  background-color: #11121d;
}
.lumis-attribute {
  color: #ee6d85;
}
.lumis-attribute-builtin {
  color: #a485dd;
}
.lumis-boolean {
  color: #a485dd;
}
.lumis-character {
  color: #d7a65f;
}
.lumis-character-special {
  color: #a485dd;
}
.lumis-comment {
  color: #4a5057;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #4a5057;
  font-style: italic;
}
.lumis-comment-error {
  color: #ffc0b9;
}
.lumis-comment-hint {
  color: #4a5057;
  font-style: italic;
}
.lumis-comment-note {
  color: #8cf8f7;
}
.lumis-comment-todo {
  color: #7199ee;
  font-style: italic;
}
.lumis-comment-warning {
  color: #fce094;
}
.lumis-constant {
  color: #f6955b;
}
.lumis-constant-builtin {
  color: #a485dd;
}
.lumis-constant-macro {
  color: #ee6d85;
}
.lumis-constructor {
  color: #a485dd;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-error {
  color: #ee6d85;
}
.lumis-function {
  color: #95c561;
}
.lumis-function-builtin {
  color: #a485dd;
}
.lumis-function-call {
  color: #95c561;
}
.lumis-function-macro {
  color: #a485dd;
}
.lumis-function-method {
  color: #95c561;
}
.lumis-function-method-call {
  color: #95c561;
}
.lumis-highlighted {
  background-color: #1a1b2a;
}
.lumis-keyword {
  color: #ee6d85;
  font-style: italic;
}
.lumis-keyword-conditional {
  color: #ee6d85;
  font-style: italic;
}
.lumis-keyword-conditional-ternary {
  color: #ee6d85;
  font-style: italic;
}
.lumis-keyword-coroutine {
  color: #ee6d85;
  font-style: italic;
}
.lumis-keyword-debug {
  color: #ee6d85;
  font-style: italic;
}
.lumis-keyword-directive {
  color: #ee6d85;
  font-style: italic;
}
.lumis-keyword-directive-define {
  color: #ee6d85;
  font-style: italic;
}
.lumis-keyword-exception {
  color: #ee6d85;
  font-style: italic;
}
.lumis-keyword-export {
  color: #ee6d85;
  font-style: italic;
}
.lumis-keyword-function {
  color: #ee6d85;
  font-style: italic;
}
.lumis-keyword-import {
  color: #ee6d85;
  font-style: italic;
}
.lumis-keyword-modifier {
  color: #ee6d85;
  font-style: italic;
}
.lumis-keyword-operator {
  color: #ee6d85;
}
.lumis-keyword-repeat {
  color: #ee6d85;
  font-style: italic;
}
.lumis-keyword-return {
  color: #ee6d85;
  font-style: italic;
}
.lumis-keyword-type {
  color: #ee6d85;
  font-style: italic;
}
.lumis-label {
  color: #a485dd;
}
.lumis-markup-heading {
  color: #d7a65f;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #d7a65f;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #d7a65f;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #d7a65f;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #d7a65f;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #d7a65f;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #d7a65f;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #a485dd;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #7199ee;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #a485dd;
}
.lumis-markup-list-checked {
  color: #7199ee;
}
.lumis-markup-list-unchecked {
  color: #7199ee;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #7199ee;
  font-style: italic;
}
.lumis-module-builtin {
  color: #a485dd;
}
.lumis-namespace {
  color: #ee6d85;
}
.lumis-normal {
  color: #a0a8cd;
  background-color: #11121d;
}
.lumis-number {
  color: #a485dd;
}
.lumis-number-float {
  color: #a485dd;
}
.lumis-operator {
  color: #ee6d85;
}
.lumis-property {
  color: #f6955b;
  font-style: italic;
}
.lumis-punctuation-bracket {
  color: #a0a8cd;
}
.lumis-punctuation-delimiter {
  color: #a0a8cd;
}
.lumis-punctuation-special {
  color: #a0a8cd;
}
.lumis-string {
  color: #d7a65f;
}
.lumis-string-documentation {
  color: #d7a65f;
}
.lumis-string-escape {
  color: #a485dd;
}
.lumis-string-regexp {
  color: #a485dd;
}
.lumis-string-special {
  color: #a485dd;
}
.lumis-string-special-path {
  color: #a485dd;
}
.lumis-string-special-symbol {
  color: #a485dd;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #a485dd;
}
.lumis-tag-attribute {
  color: #f6955b;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #a485dd;
}
.lumis-tag-delimiter {
  color: #a0a8cd;
}
.lumis-type {
  color: #7199ee;
  font-style: italic;
}
.lumis-type-builtin {
  color: #7199ee;
  font-style: italic;
}
.lumis-type-definition {
  color: #ee6d85;
}
.lumis-variable {
  color: #e0e2ea;
}
.lumis-variable-builtin {
  color: #a485dd;
}
.lumis-variable-member {
  color: #e0e2ea;
}
.lumis-variable-parameter {
  color: #e0e2ea;
}
.lumis-variable-parameter-builtin {
  color: #a485dd;
}
