/* tokyonight_night
 * revision: cdc07ac78467a233fd62c493de29a17e0cf2b2b6
 */

pre.lumis {
  color: #c0caf5;
  background-color: #1a1b26;
}
.lumis-attribute {
  color: #7dcfff;
}
.lumis-attribute-builtin {
  color: #2ac3de;
}
.lumis-boolean {
  color: #ff9e64;
}
.lumis-character {
  color: #9ece6a;
}
.lumis-character-special {
  color: #2ac3de;
}
.lumis-comment {
  color: #565f89;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #565f89;
  font-style: italic;
}
.lumis-comment-error {
  color: #db4b4b;
}
.lumis-comment-hint {
  color: #1abc9c;
}
.lumis-comment-note {
  color: #1abc9c;
}
.lumis-comment-todo {
  color: #7aa2f7;
}
.lumis-comment-warning {
  color: #e0af68;
}
.lumis-constant {
  color: #ff9e64;
}
.lumis-constant-builtin {
  color: #2ac3de;
}
.lumis-constant-macro {
  color: #7dcfff;
}
.lumis-constructor {
  color: #bb9af7;
}
.lumis-constructor-tsx {
  color: #2ac3de;
}
.lumis-diff-delta {
  background-color: #1f2231;
}
.lumis-diff-minus {
  background-color: #4a272f;
}
.lumis-diff-plus {
  background-color: #243e4a;
}
.lumis-function {
  color: #7aa2f7;
}
.lumis-function-builtin {
  color: #2ac3de;
}
.lumis-function-call {
  color: #7aa2f7;
}
.lumis-function-macro {
  color: #7dcfff;
}
.lumis-function-method {
  color: #7aa2f7;
}
.lumis-function-method-call {
  color: #7aa2f7;
}
.lumis-highlighted {
  background-color: #292e42;
}
.lumis-keyword {
  color: #9d7cd8;
  font-style: italic;
}
.lumis-keyword-conditional {
  color: #bb9af7;
}
.lumis-keyword-conditional-ternary {
  color: #bb9af7;
}
.lumis-keyword-coroutine {
  color: #9d7cd8;
  font-style: italic;
}
.lumis-keyword-debug {
  color: #ff9e64;
}
.lumis-keyword-directive {
  color: #7dcfff;
}
.lumis-keyword-directive-define {
  color: #7dcfff;
}
.lumis-keyword-exception {
  color: #bb9af7;
}
.lumis-keyword-export {
  color: #9d7cd8;
  font-style: italic;
}
.lumis-keyword-function {
  color: #bb9af7;
}
.lumis-keyword-import {
  color: #7dcfff;
}
.lumis-keyword-modifier {
  color: #9d7cd8;
  font-style: italic;
}
.lumis-keyword-operator {
  color: #89ddff;
}
.lumis-keyword-repeat {
  color: #bb9af7;
}
.lumis-keyword-return {
  color: #9d7cd8;
  font-style: italic;
}
.lumis-keyword-type {
  color: #9d7cd8;
  font-style: italic;
}
.lumis-label {
  color: #7aa2f7;
}
.lumis-markup-environment {
  color: #7dcfff;
}
.lumis-markup-environment-name {
  color: #2ac3de;
}
.lumis-markup-heading {
  color: #7aa2f7;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #7aa2f7;
  font-weight: bold;
}
.lumis-markup-heading-1-markdown {
  color: #7aa2f7;
  background-color: #24293b;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #7aa2f7;
  font-weight: bold;
}
.lumis-markup-heading-2-markdown {
  color: #e0af68;
  background-color: #2e2a2d;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #7aa2f7;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #9ece6a;
  background-color: #272d2d;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #7aa2f7;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #1abc9c;
  background-color: #1a2b32;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #7aa2f7;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #bb9af7;
  background-color: #2a283b;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #7aa2f7;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #9d7cd8;
  background-color: #272538;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #1abc9c;
}
.lumis-markup-link-label {
  color: #2ac3de;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #89ddff;
}
.lumis-markup-list-checked {
  color: #73daca;
}
.lumis-markup-list-markdown {
  color: #ff9e64;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #7aa2f7;
}
.lumis-markup-math {
  color: #2ac3de;
}
.lumis-markup-raw {
  color: #9ece6a;
}
.lumis-markup-raw-block {
  color: #9ece6a;
}
.lumis-markup-raw-markdown_inline {
  color: #7aa2f7;
  background-color: #414868;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #7dcfff;
}
.lumis-module-builtin {
  color: #f7768e;
}
.lumis-number {
  color: #ff9e64;
}
.lumis-number-float {
  color: #ff9e64;
}
.lumis-operator {
  color: #89ddff;
}
.lumis-property {
  color: #73daca;
}
.lumis-punctuation-bracket {
  color: #a9b1d6;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #f7768e;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #e0af68;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #7aa2f7;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #ff9e64;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #9ece6a;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #9d7cd8;
}
.lumis-punctuation-delimiter {
  color: #89ddff;
}
.lumis-punctuation-special {
  color: #89ddff;
}
.lumis-punctuation-special-markdown {
  color: #ff9e64;
}
.lumis-string {
  color: #9ece6a;
}
.lumis-string-documentation {
  color: #e0af68;
}
.lumis-string-escape {
  color: #bb9af7;
}
.lumis-string-regexp {
  color: #b4f9f8;
}
.lumis-string-special {
  color: #2ac3de;
}
.lumis-string-special-path {
  color: #2ac3de;
}
.lumis-string-special-symbol {
  color: #2ac3de;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #bb9af7;
}
.lumis-tag-attribute {
  color: #73daca;
}
.lumis-tag-builtin {
  color: #2ac3de;
}
.lumis-tag-delimiter {
  color: #2ac3de;
}
.lumis-tag-delimiter-tsx {
  color: #5d7ab8;
}
.lumis-tag-javascript {
  color: #f7768e;
}
.lumis-tag-tsx {
  color: #f7768e;
}
.lumis-type {
  color: #2ac3de;
}
.lumis-type-builtin {
  color: #27a1b9;
}
.lumis-type-definition {
  color: #2ac3de;
}
.lumis-variable {
  color: #c0caf5;
}
.lumis-variable-builtin {
  color: #f7768e;
}
.lumis-variable-member {
  color: #73daca;
}
.lumis-variable-parameter {
  color: #e0af68;
}
.lumis-variable-parameter-builtin {
  color: #dab484;
}
