/* vesper
 * revision: 1717b1ad657c94bec3fc2bdebb0c55452d9fe46d
 */

pre.lumis {
  color: #cccccc;
  background-color: #101010;
}
.lumis-attribute {
  color: #a0a0a0;
}
.lumis-attribute-builtin {
  color: #65737e;
}
.lumis-boolean {
  color: #82d9c2;
}
.lumis-character {
  color: #82d9c2;
}
.lumis-character-special {
  color: #ffcfa8;
}
.lumis-comment {
  color: #7d7d7d;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #7d7d7d;
  font-style: italic;
}
.lumis-comment-error {
  color: #ff8080;
}
.lumis-comment-hint {
  color: #7d7d7d;
  font-style: italic;
}
.lumis-comment-note {
  color: #99ffe4;
}
.lumis-comment-todo {
  color: #ffcfa8;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #ffc799;
}
.lumis-constant {
  color: #ffffff;
}
.lumis-constant-builtin {
  color: #ffffff;
}
.lumis-constant-macro {
  color: #ffffff;
}
.lumis-constructor {
  color: #a0a0a0;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-error {
  color: #ff8080;
}
.lumis-function {
  color: #ffcfa8;
}
.lumis-function-builtin {
  color: #ffcfa8;
}
.lumis-function-call {
  color: #ffcfa8;
}
.lumis-function-macro {
  color: #ffcfa8;
}
.lumis-function-method {
  color: #ffcfa8;
}
.lumis-function-method-call {
  color: #ffcfa8;
}
.lumis-highlighted {
  background-color: #343434;
}
.lumis-keyword {
  color: #a0a0a0;
}
.lumis-keyword-conditional {
  color: #a0a0a0;
}
.lumis-keyword-conditional-ternary {
  color: #a0a0a0;
}
.lumis-keyword-coroutine {
  color: #a0a0a0;
}
.lumis-keyword-debug {
  color: #a0a0a0;
}
.lumis-keyword-directive {
  color: #a0a0a0;
}
.lumis-keyword-directive-define {
  color: #a0a0a0;
}
.lumis-keyword-exception {
  color: #a0a0a0;
}
.lumis-keyword-export {
  color: #a0a0a0;
}
.lumis-keyword-function {
  color: #a0a0a0;
}
.lumis-keyword-import {
  color: #a0a0a0;
}
.lumis-keyword-modifier {
  color: #a0a0a0;
}
.lumis-keyword-operator {
  color: #a0a0a0;
}
.lumis-keyword-repeat {
  color: #a0a0a0;
}
.lumis-keyword-return {
  color: #a0a0a0;
}
.lumis-keyword-type {
  color: #a0a0a0;
}
.lumis-label {
  color: #82d9c2;
}
.lumis-markup {
  color: #65737e;
}
.lumis-markup-environment {
  color: #65737e;
}
.lumis-markup-environment-name {
  color: #65737e;
}
.lumis-markup-heading {
  color: #82d9c2;
}
.lumis-markup-heading-1 {
  color: #82d9c2;
}
.lumis-markup-heading-2 {
  color: #82d9c2;
}
.lumis-markup-heading-3 {
  color: #82d9c2;
}
.lumis-markup-heading-4 {
  color: #82d9c2;
}
.lumis-markup-heading-5 {
  color: #82d9c2;
}
.lumis-markup-heading-6 {
  color: #82d9c2;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #65737e;
}
.lumis-markup-list-checked {
  color: #65737e;
}
.lumis-markup-list-unchecked {
  color: #65737e;
}
.lumis-markup-math {
  color: #65737e;
}
.lumis-markup-quote {
  color: #65737e;
}
.lumis-markup-raw {
  color: #65737e;
}
.lumis-markup-raw-block {
  color: #65737e;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #cccccc;
}
.lumis-module-builtin {
  color: #65737e;
}
.lumis-namespace {
  color: #cccccc;
}
.lumis-number {
  color: #ffffff;
  font-weight: bold;
}
.lumis-number-float {
  color: #ffffff;
  font-weight: bold;
}
.lumis-operator {
  color: #a0a0a0;
}
.lumis-property {
  color: #ffcfa8;
}
.lumis-punctuation-bracket {
  color: #a0a0a0;
}
.lumis-punctuation-delimiter {
  color: #65737e;
}
.lumis-punctuation-special {
  color: #65737e;
}
.lumis-string {
  color: #82d9c2;
  font-style: italic;
}
.lumis-string-documentation {
  color: #82d9c2;
  font-style: italic;
}
.lumis-string-escape {
  color: #ffe6d1;
}
.lumis-string-regexp {
  color: #ffe6d1;
}
.lumis-string-special {
  color: #ffe6d1;
}
.lumis-string-special-path {
  color: #ffe6d1;
}
.lumis-string-special-symbol {
  color: #ffe6d1;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #ffcfa8;
}
.lumis-tag-attribute {
  color: #a0a0a0;
}
.lumis-tag-builtin {
  color: #ffcfa8;
}
.lumis-tag-delimiter {
  color: #a0a0a0;
}
.lumis-type {
  color: #ffcfa8;
}
.lumis-type-builtin {
  color: #ffcfa8;
}
.lumis-type-definition {
  color: #cccccc;
}
.lumis-variable {
  color: #ffffff;
  font-style: italic;
}
.lumis-variable-builtin {
  color: #ffffff;
  font-style: italic;
}
.lumis-variable-member {
  color: #ffffff;
  font-style: italic;
}
.lumis-variable-parameter {
  color: #ffffff;
  font-style: italic;
}
.lumis-variable-parameter-builtin {
  color: #65737e;
}
