/* vimbones_light
 * revision: 239bdb9a09c8d38c752c43590d02f654ed0da2b0
 */

pre.lumis {
  color: #353535;
  background-color: #f0f0ca;
}
.lumis-attribute {
  color: #35663d;
}
.lumis-attribute-builtin {
  color: #5c5c5c;
  font-weight: bold;
}
.lumis-boolean {
  color: #353535;
  font-style: italic;
}
.lumis-character {
  color: #636363;
  font-style: italic;
}
.lumis-character-special {
  color: #5c5c5c;
  font-weight: bold;
}
.lumis-comment {
  color: #8c8c7c;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #8c8c7c;
  font-style: italic;
}
.lumis-comment-error {
  color: #a8334c;
}
.lumis-comment-hint {
  color: #8c8c7c;
  font-style: italic;
}
.lumis-comment-note {
  color: #286486;
}
.lumis-comment-todo {
  font-weight: bold;
  text-decoration: underline;
}
.lumis-comment-warning {
  color: #944927;
}
.lumis-constant {
  color: #505050;
  font-weight: bold;
}
.lumis-constant-builtin {
  color: #636363;
  font-style: italic;
}
.lumis-constant-macro {
  color: #636363;
  font-style: italic;
}
.lumis-constructor {
  color: #5c5c5c;
  font-weight: bold;
}
.lumis-constructor-lua {
  color: #85856f;
}
.lumis-diff-delta {
  background-color: #d4dee7;
}
.lumis-diff-minus {
  background-color: #ebd8da;
}
.lumis-diff-plus {
  background-color: #cbe5b8;
}
.lumis-function {
  color: #353535;
}
.lumis-function-builtin {
  color: #5c5c5c;
  font-weight: bold;
}
.lumis-function-call {
  color: #353535;
}
.lumis-function-macro {
  color: #35663d;
}
.lumis-function-method {
  color: #353535;
}
.lumis-function-method-call {
  color: #353535;
}
.lumis-highlighted {
  background-color: #e7e8c3;
}
.lumis-keyword {
  color: #156a29;
  font-weight: bold;
}
.lumis-keyword-conditional {
  color: #156a29;
  font-weight: bold;
}
.lumis-keyword-conditional-ternary {
  color: #156a29;
  font-weight: bold;
}
.lumis-keyword-coroutine {
  color: #156a29;
  font-weight: bold;
}
.lumis-keyword-debug {
  color: #5c5c5c;
  font-weight: bold;
}
.lumis-keyword-directive {
  color: #35663d;
}
.lumis-keyword-directive-define {
  color: #35663d;
}
.lumis-keyword-exception {
  color: #156a29;
  font-weight: bold;
}
.lumis-keyword-export {
  color: #156a29;
  font-weight: bold;
}
.lumis-keyword-function {
  color: #156a29;
  font-weight: bold;
}
.lumis-keyword-import {
  color: #35663d;
}
.lumis-keyword-modifier {
  color: #156a29;
  font-weight: bold;
}
.lumis-keyword-operator {
  color: #156a29;
  font-weight: bold;
}
.lumis-keyword-repeat {
  color: #156a29;
  font-weight: bold;
}
.lumis-keyword-return {
  color: #156a29;
  font-weight: bold;
}
.lumis-keyword-type {
  color: #156a29;
  font-weight: bold;
}
.lumis-label {
  color: #156a29;
  font-weight: bold;
}
.lumis-markup {
  color: #5c5c5c;
  font-weight: bold;
}
.lumis-markup-environment {
  color: #35663d;
}
.lumis-markup-environment-name {
  color: #35663d;
}
.lumis-markup-heading {
  color: #353535;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #353535;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #353535;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #353535;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #353535;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #353535;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #353535;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #636363;
  font-style: italic;
}
.lumis-markup-link-label {
  color: #5c5c5c;
  font-weight: bold;
}
.lumis-markup-link-markdown {
  color: #505050;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #636363;
  font-style: italic;
}
.lumis-markup-link-url-markdown {
  color: #8c8c7c;
}
.lumis-markup-list {
  color: #5c5c5c;
  font-weight: bold;
}
.lumis-markup-list-checked {
  color: #5c5c5c;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #5c5c5c;
  font-weight: bold;
}
.lumis-markup-math {
  color: #5c5c5c;
  font-weight: bold;
}
.lumis-markup-quote {
  color: #636363;
}
.lumis-markup-raw {
  color: #636363;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #636363;
  font-style: italic;
}
.lumis-markup-raw-markdown {
  color: #5b5b42;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #636363;
  font-style: italic;
}
.lumis-module-builtin {
  color: #636363;
  font-style: italic;
}
.lumis-number {
  color: #2a6535;
  font-style: italic;
}
.lumis-number-float {
  color: #2a6535;
  font-style: italic;
}
.lumis-operator {
  color: #156a29;
  font-weight: bold;
}
.lumis-property {
  color: #505050;
}
.lumis-punctuation-bracket {
  color: #85856f;
}
.lumis-punctuation-delimiter {
  color: #85856f;
}
.lumis-punctuation-special {
  color: #85856f;
}
.lumis-punctuation-special-markdown {
  color: #5c5c5c;
  font-weight: bold;
}
.lumis-string {
  color: #636363;
  font-style: italic;
}
.lumis-string-documentation {
  color: #636363;
  font-style: italic;
}
.lumis-string-escape {
  color: #5c5c5c;
  font-weight: bold;
}
.lumis-string-escape-markdown {
  color: #b0b093;
  font-style: italic;
}
.lumis-string-regexp {
  color: #636363;
  font-style: italic;
}
.lumis-string-special {
  color: #5c5c5c;
  font-weight: bold;
}
.lumis-string-special-path {
  color: #5c5c5c;
  font-weight: bold;
}
.lumis-string-special-symbol {
  color: #505050;
}
.lumis-string-special-url {
  color: #5c5c5c;
  font-weight: bold;
}
.lumis-tag {
  color: #5c5c5c;
  font-weight: bold;
}
.lumis-tag-attribute {
  color: #505050;
}
.lumis-tag-builtin {
  color: #5c5c5c;
  font-weight: bold;
}
.lumis-tag-delimiter {
  color: #85856f;
}
.lumis-type {
  color: #5b5b42;
}
.lumis-type-builtin {
  color: #5b5b42;
}
.lumis-type-definition {
  color: #5b5b42;
}
.lumis-variable {
  color: #505050;
}
.lumis-variable-builtin {
  color: #636363;
  font-style: italic;
}
.lumis-variable-member {
  color: #505050;
}
.lumis-variable-parameter {
  color: #505050;
}
.lumis-variable-parameter-builtin {
  color: #5c5c5c;
  font-weight: bold;
}
