/* xcode_wwdc
 * revision: c57b4df378952382eb0c8aa93614d1d70f35798a
 */

pre.lumis {
  color: #e7e8eb;
  background-color: #292c36;
}
.lumis-attribute {
  color: #d28e5d;
}
.lumis-attribute-builtin {
  color: #8884c5;
}
.lumis-boolean {
  color: #b73999;
}
.lumis-character {
  color: #d28e5d;
}
.lumis-character-special {
  color: #8884c5;
}
.lumis-comment {
  color: #7f869e;
}
.lumis-comment-documentation {
  color: #7f869e;
}
.lumis-comment-error {
  color: #ffc0b9;
}
.lumis-comment-hint {
  color: #7f869e;
}
.lumis-comment-note {
  color: #8cf8f7;
}
.lumis-comment-todo {
  color: #b3b6c0;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #fce094;
}
.lumis-constant {
  color: #00aba4;
}
.lumis-constant-builtin {
  color: #8884c5;
}
.lumis-constant-macro {
  color: #00aba4;
}
.lumis-constructor {
  color: #8884c5;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #00aba4;
}
.lumis-function-builtin {
  color: #8884c5;
}
.lumis-function-call {
  color: #00aba4;
}
.lumis-function-macro {
  color: #00aba4;
}
.lumis-function-method {
  color: #00aba4;
}
.lumis-function-method-call {
  color: #00aba4;
}
.lumis-highlighted {
  background-color: #2f323d;
}
.lumis-keyword {
  color: #b73999;
}
.lumis-keyword-conditional {
  color: #b73999;
}
.lumis-keyword-conditional-ternary {
  color: #b73999;
}
.lumis-keyword-coroutine {
  color: #b73999;
}
.lumis-keyword-debug {
  color: #b73999;
}
.lumis-keyword-directive {
  color: #b73999;
}
.lumis-keyword-directive-define {
  color: #b73999;
}
.lumis-keyword-exception {
  color: #b73999;
}
.lumis-keyword-export {
  color: #b73999;
}
.lumis-keyword-function {
  color: #b73999;
}
.lumis-keyword-import {
  color: #b73999;
}
.lumis-keyword-modifier {
  color: #b73999;
}
.lumis-keyword-operator {
  color: #b73999;
}
.lumis-keyword-repeat {
  color: #b73999;
}
.lumis-keyword-return {
  color: #b73999;
}
.lumis-keyword-type {
  color: #b73999;
}
.lumis-label {
  color: #b73999;
}
.lumis-markup {
  color: #8884c5;
}
.lumis-markup-environment {
  color: #8884c5;
}
.lumis-markup-environment-name {
  color: #8884c5;
}
.lumis-markup-heading {
  color: #e7e8eb;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #e7e8eb;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #e7e8eb;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #e7e8eb;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #e7e8eb;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #e7e8eb;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #e7e8eb;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #00aba4;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #00aba4;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #00aba4;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #8884c5;
}
.lumis-markup-list-checked {
  color: #8884c5;
}
.lumis-markup-list-unchecked {
  color: #8884c5;
}
.lumis-markup-math {
  color: #8884c5;
}
.lumis-markup-quote {
  color: #8884c5;
}
.lumis-markup-raw {
  color: #8884c5;
}
.lumis-markup-raw-block {
  color: #8884c5;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #b73999;
}
.lumis-module-builtin {
  color: #8884c5;
}
.lumis-normal {
  color: #e7e8eb;
  background-color: #292c36;
}
.lumis-number {
  color: #d28e5d;
}
.lumis-number-float {
  color: #d28e5d;
}
.lumis-operator {
  color: #b3b6c0;
}
.lumis-property {
  color: #94c66e;
}
.lumis-punctuation-bracket {
  color: #b3b6c0;
}
.lumis-punctuation-delimiter {
  color: #b3b6c0;
}
.lumis-punctuation-special {
  color: #8884c5;
}
.lumis-string {
  color: #bb383a;
}
.lumis-string-documentation {
  color: #bb383a;
}
.lumis-string-escape {
  color: #8884c5;
}
.lumis-string-regexp {
  color: #8884c5;
}
.lumis-string-special {
  color: #8884c5;
}
.lumis-string-special-path {
  color: #8884c5;
}
.lumis-string-special-symbol {
  color: #8884c5;
}
.lumis-string-special-url {
  color: #00aba4;
  text-decoration: underline;
}
.lumis-tag {
  color: #8884c5;
}
.lumis-tag-attribute {
  color: #8884c5;
}
.lumis-tag-builtin {
  color: #8884c5;
}
.lumis-tag-delimiter {
  color: #8884c5;
}
.lumis-type {
  color: #64dcd4;
}
.lumis-type-builtin {
  color: #8884c5;
}
.lumis-type-definition {
  color: #64dcd4;
}
.lumis-variable {
  color: #e0e2ea;
}
.lumis-variable-builtin {
  color: #8884c5;
}
.lumis-variable-member {
  color: #e0e2ea;
}
.lumis-variable-parameter {
  color: #e0e2ea;
}
.lumis-variable-parameter-builtin {
  color: #8884c5;
}
