/* zenwritten_dark
 * revision: 239bdb9a09c8d38c752c43590d02f654ed0da2b0
 */

pre.lumis {
  color: #bbbbbb;
  background-color: #191919;
}
.lumis-attribute {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-attribute-builtin {
  color: #939393;
  font-weight: bold;
}
.lumis-boolean {
  color: #bbbbbb;
  font-style: italic;
}
.lumis-character {
  color: #8b8b8b;
  font-style: italic;
}
.lumis-character-special {
  color: #939393;
  font-weight: bold;
}
.lumis-comment {
  color: #686868;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #686868;
  font-style: italic;
}
.lumis-comment-error {
  color: #de6e7c;
}
.lumis-comment-hint {
  color: #686868;
  font-style: italic;
}
.lumis-comment-note {
  color: #6099c0;
}
.lumis-comment-todo {
  font-weight: bold;
  text-decoration: underline;
}
.lumis-comment-warning {
  color: #b77e64;
}
.lumis-constant {
  color: #9e9e9e;
  font-weight: bold;
}
.lumis-constant-builtin {
  color: #8b8b8b;
  font-style: italic;
}
.lumis-constant-macro {
  color: #8b8b8b;
  font-style: italic;
}
.lumis-constructor {
  color: #939393;
  font-weight: bold;
}
.lumis-constructor-lua {
  color: #7c7c7c;
}
.lumis-diff-delta {
  background-color: #1d2c36;
}
.lumis-diff-minus {
  background-color: #3e2225;
}
.lumis-diff-plus {
  background-color: #232d1a;
}
.lumis-function {
  color: #bbbbbb;
}
.lumis-function-builtin {
  color: #939393;
  font-weight: bold;
}
.lumis-function-call {
  color: #bbbbbb;
}
.lumis-function-macro {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-function-method {
  color: #bbbbbb;
}
.lumis-function-method-call {
  color: #bbbbbb;
}
.lumis-highlighted {
  background-color: #222222;
}
.lumis-keyword {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-keyword-conditional {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-keyword-conditional-ternary {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-keyword-coroutine {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-keyword-debug {
  color: #939393;
  font-weight: bold;
}
.lumis-keyword-directive {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-keyword-directive-define {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-keyword-exception {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-keyword-export {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-keyword-function {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-keyword-import {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-keyword-modifier {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-keyword-operator {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-keyword-repeat {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-keyword-return {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-keyword-type {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-label {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-markup {
  color: #939393;
  font-weight: bold;
}
.lumis-markup-environment {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-markup-environment-name {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-markup-heading {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #8b8b8b;
  font-style: italic;
}
.lumis-markup-link-label {
  color: #939393;
  font-weight: bold;
}
.lumis-markup-link-markdown {
  color: #9e9e9e;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #8b8b8b;
  font-style: italic;
}
.lumis-markup-link-url-markdown {
  color: #686868;
}
.lumis-markup-list {
  color: #939393;
  font-weight: bold;
}
.lumis-markup-list-checked {
  color: #939393;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #939393;
  font-weight: bold;
}
.lumis-markup-math {
  color: #939393;
  font-weight: bold;
}
.lumis-markup-quote {
  color: #8b8b8b;
}
.lumis-markup-raw {
  color: #8b8b8b;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #8b8b8b;
  font-style: italic;
}
.lumis-markup-raw-markdown {
  color: #969696;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #8b8b8b;
  font-style: italic;
}
.lumis-module-builtin {
  color: #8b8b8b;
  font-style: italic;
}
.lumis-number {
  color: #8b8b8b;
}
.lumis-number-float {
  color: #8b8b8b;
}
.lumis-operator {
  color: #bbbbbb;
  font-weight: bold;
}
.lumis-property {
  color: #9e9e9e;
}
.lumis-punctuation-bracket {
  color: #7c7c7c;
}
.lumis-punctuation-delimiter {
  color: #7c7c7c;
}
.lumis-punctuation-special {
  color: #7c7c7c;
}
.lumis-punctuation-special-markdown {
  color: #939393;
  font-weight: bold;
}
.lumis-string {
  color: #8b8b8b;
  font-style: italic;
}
.lumis-string-documentation {
  color: #8b8b8b;
  font-style: italic;
}
.lumis-string-escape {
  color: #939393;
  font-weight: bold;
}
.lumis-string-escape-markdown {
  color: #555555;
  font-style: italic;
}
.lumis-string-regexp {
  color: #8b8b8b;
  font-style: italic;
}
.lumis-string-special {
  color: #939393;
  font-weight: bold;
}
.lumis-string-special-path {
  color: #939393;
  font-weight: bold;
}
.lumis-string-special-symbol {
  color: #9e9e9e;
}
.lumis-string-special-url {
  color: #939393;
  font-weight: bold;
}
.lumis-tag {
  color: #939393;
  font-weight: bold;
}
.lumis-tag-attribute {
  color: #9e9e9e;
}
.lumis-tag-builtin {
  color: #939393;
  font-weight: bold;
}
.lumis-tag-delimiter {
  color: #7c7c7c;
}
.lumis-type {
  color: #969696;
}
.lumis-type-builtin {
  color: #969696;
}
.lumis-type-definition {
  color: #969696;
}
.lumis-variable {
  color: #9e9e9e;
}
.lumis-variable-builtin {
  color: #8b8b8b;
  font-style: italic;
}
.lumis-variable-member {
  color: #9e9e9e;
}
.lumis-variable-parameter {
  color: #9e9e9e;
}
.lumis-variable-parameter-builtin {
  color: #939393;
  font-weight: bold;
}
