/* arctic
 * revision: 46da33aeb3a8ee48533f41911b3aaf4f1541dd6f
 */

pre.lumis {
  color: #d4d4d4;
  background-color: #1e1e1e;
}
.lumis-attribute {
  color: #4ec9b0;
}
.lumis-attribute-builtin {
  color: #4ec9b0;
}
.lumis-boolean {
  color: #569cd6;
}
.lumis-character {
  color: #569cd6;
}
.lumis-character-special {
  color: #d7ba7d;
}
.lumis-comment {
  color: #6a9955;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #6a9955;
  font-style: italic;
}
.lumis-comment-error {
  color: #f14c4c;
}
.lumis-comment-hint {
  color: #b0b0b0;
}
.lumis-comment-note {
  color: #3794ff;
}
.lumis-comment-todo {
  color: #1e1e1e;
  background-color: #d7ba7d;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #cca700;
}
.lumis-constant {
  color: #569cd6;
}
.lumis-constant-builtin {
  color: #569cd6;
}
.lumis-constant-macro {
  color: #569cd6;
}
.lumis-constructor {
  color: #4ec9b0;
}
.lumis-diff-delta {
  background-color: #0000ff;
}
.lumis-diff-minus {
  background-color: #781212;
}
.lumis-diff-plus {
  background-color: #386229;
}
.lumis-function {
  color: #dcdcaa;
}
.lumis-function-builtin {
  color: #dcdcaa;
}
.lumis-function-call {
  color: #dcdcaa;
}
.lumis-function-macro {
  color: #dcdcaa;
}
.lumis-function-method {
  color: #dcdcaa;
}
.lumis-function-method-call {
  color: #dcdcaa;
}
.lumis-highlighted {
  background-color: #2a2d2e;
}
.lumis-keyword {
  color: #569cd6;
}
.lumis-keyword-conditional {
  color: #c586c0;
}
.lumis-keyword-conditional-ternary {
  color: #d4d4d4;
}
.lumis-keyword-coroutine {
  color: #c586c0;
}
.lumis-keyword-debug {
  color: #d7ba7d;
}
.lumis-keyword-directive {
  color: #c586c0;
}
.lumis-keyword-directive-define {
  color: #c586c0;
}
.lumis-keyword-exception {
  color: #c586c0;
}
.lumis-keyword-export {
  color: #569cd6;
}
.lumis-keyword-function {
  color: #569cd6;
}
.lumis-keyword-import {
  color: #c586c0;
}
.lumis-keyword-modifier {
  color: #569cd6;
}
.lumis-keyword-operator {
  color: #d4d4d4;
}
.lumis-keyword-repeat {
  color: #c586c0;
}
.lumis-keyword-return {
  color: #c586c0;
}
.lumis-keyword-type {
  color: #569cd6;
}
.lumis-label {
  color: #c8c8c8;
}
.lumis-markup {
  color: #d7ba7d;
}
.lumis-markup-environment {
  color: #d7ba7d;
}
.lumis-markup-environment-name {
  color: #d7ba7d;
}
.lumis-markup-heading {
  color: #569cd6;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #569cd6;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #569cd6;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #569cd6;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #569cd6;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #569cd6;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #569cd6;
  font-weight: bold;
}
.lumis-markup-italic {
  color: #d4d4d4;
  font-style: italic;
}
.lumis-markup-link {
  color: #ce9178;
}
.lumis-markup-link-label {
  color: #ce9178;
}
.lumis-markup-link-url {
  color: #ce9178;
}
.lumis-markup-list {
  color: #6796e6;
}
.lumis-markup-list-checked {
  color: #6796e6;
}
.lumis-markup-list-unchecked {
  color: #6796e6;
}
.lumis-markup-math {
  color: #4ec9b0;
}
.lumis-markup-quote {
  color: #6a9955;
}
.lumis-markup-raw {
  color: #ce9178;
}
.lumis-markup-raw-block {
  color: #d4d4d4;
}
.lumis-markup-strikethrough {
  color: #d4d4d4;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #d4d4d4;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #d4d4d4;
  text-decoration: underline;
}
.lumis-module {
  color: #4ec9b0;
}
.lumis-module-builtin {
  color: #4ec9b0;
}
.lumis-normal {
  color: #d4d4d4;
  background-color: #1e1e1e;
}
.lumis-number {
  color: #b5cea8;
}
.lumis-number-float {
  color: #b5cea8;
}
.lumis-operator {
  color: #d4d4d4;
}
.lumis-property {
  color: #9cdcfe;
}
.lumis-punctuation-bracket {
  color: #d4d4d4;
}
.lumis-punctuation-delimiter {
  color: #d4d4d4;
}
.lumis-punctuation-special {
  color: #569cd6;
}
.lumis-string {
  color: #ce9178;
}
.lumis-string-documentation {
  color: #ce9178;
}
.lumis-string-escape {
  color: #d7ba7d;
}
.lumis-string-regexp {
  color: #d16969;
}
.lumis-string-special {
  color: #d7ba7d;
}
.lumis-string-special-path {
  color: #d7ba7d;
}
.lumis-string-special-symbol {
  color: #d7ba7d;
}
.lumis-string-special-url {
  color: #d7ba7d;
}
.lumis-tag {
  color: #569cd6;
}
.lumis-tag-attribute {
  color: #9cdcfe;
}
.lumis-tag-builtin {
  color: #569cd6;
}
.lumis-tag-delimiter {
  color: #808080;
}
.lumis-type {
  color: #4ec9b0;
}
.lumis-type-builtin {
  color: #569cd6;
}
.lumis-type-definition {
  color: #4ec9b0;
}
.lumis-variable {
  color: #9cdcfe;
}
.lumis-variable-builtin {
  color: #569cd6;
}
.lumis-variable-member {
  color: #9cdcfe;
}
.lumis-variable-member-lua {
  color: #4ec9b0;
}
.lumis-variable-parameter {
  color: #f9ae28;
}
.lumis-variable-parameter-builtin {
  color: #f9ae28;
}
