/* aurora
 * revision: c3879c696ba7298e35b01ec612aa32523b152778
 */

pre.lumis {
  color: #ddd0f4;
  background-color: #181030;
}
.attribute {
  color: #7fdbca;
}
.attribute-builtin {
  color: #7fdbca;
}
.boolean {
  color: #ff435b;
}
.character {
  color: #ffce51;
}
.character-special {
  color: #f92772;
  background-color: #181030;
}
.comment {
  color: #6189bb;
}
.comment-documentation {
  color: #6189bb;
}
.comment-error {
  color: #dc143c;
  background-color: #181030;
  text-decoration: underline wavy;
}
.comment-hint {
  color: #6189bb;
}
.comment-note {
  color: #637077;
  background-color: #181030;
}
.comment-todo {
  color: #e73c50;
  background-color: #6d3b66;
  text-decoration: underline;
}
.comment-warning {
  text-decoration: underline wavy;
}
.constant {
  color: #fbfcbf;
}
.constant-builtin {
  color: #e73c50;
}
.constant-macro {
  color: #f92772;
}
.constructor {
  color: #01d5f1;
}
.diff-delta {
  color: #fbfcbf;
  background-color: #28143f;
}
.diff-minus {
  color: #637077;
  background-color: #28143f;
  text-decoration: line-through;
}
.diff-plus {
  background-color: #123314;
}
.function {
  color: #66d9ef;
}
.function-builtin {
  color: #0fb9e0;
}
.function-call {
  color: #66d9ef;
}
.function-macro {
  color: #be9af7;
}
.function-method {
  color: #10aef8;
}
.function-method-call {
  color: #66d9ef;
}
.highlighted {
  background-color: #181030;
}
.keyword {
  color: #c4a2ff;
}
.keyword-conditional {
  color: #ee82ee;
}
.keyword-conditional-ternary {
  color: #ee82ee;
}
.keyword-coroutine {
  color: #f19bb6;
}
.keyword-debug {
  color: #6189bb;
  background-color: #181030;
}
.keyword-directive {
  color: #c4a2ff;
}
.keyword-directive-define {
  color: #c4a2ff;
}
.keyword-exception {
  color: #ff5874;
}
.keyword-export {
  color: #c4a2ff;
}
.keyword-function {
  color: #0fb9e0;
}
.keyword-import {
  color: #d57cd5;
  background-color: #181030;
}
.keyword-modifier {
  color: #67d5b5;
}
.keyword-operator {
  color: #fab1c2;
}
.keyword-repeat {
  color: #ff7273;
}
.keyword-return {
  color: #b376b3;
}
.keyword-type {
  color: #a1efe4;
}
.label {
  color: #1aad16;
}
.markup {
  color: #ddd0f4;
  background-color: #181030;
}
.markup-environment {
  color: #c33c4a;
  background-color: #181030;
}
.markup-environment-name {
  color: #67d5b5;
}
.markup-heading {
  color: #6c67ea;
}
.markup-heading-1 {
  color: #6c67ea;
}
.markup-heading-2 {
  color: #6c67ea;
}
.markup-heading-3 {
  color: #6c67ea;
}
.markup-heading-4 {
  color: #6c67ea;
}
.markup-heading-5 {
  color: #6c67ea;
}
.markup-heading-6 {
  color: #6c67ea;
}
.markup-link {
  color: #fbfcbf;
}
.markup-link-label {
  color: #f92772;
  background-color: #181030;
}
.markup-link-url {
  color: #67d5b5;
  background-color: #181030;
  text-decoration: underline;
}
.markup-list {
  color: #4c77e4;
}
.markup-list-checked {
  color: #6189bb;
}
.markup-list-markdown {
  color: #fd9720;
  font-weight: bold;
}
.markup-list-unchecked {
  color: #e73c50;
  background-color: #6d3b66;
  text-decoration: underline;
}
.markup-math {
  color: #ff6347;
  background-color: #181030;
}
.markup-quote {
  color: #ddd0f4;
  background-color: #181030;
}
.markup-raw {
  color: #1abc9c;
}
.markup-raw-block {
  color: #1abc9c;
}
.markup-strikethrough {
  text-decoration: line-through;
}
.markup-strong {
  font-weight: bold;
}
.markup-underline {
  text-decoration: underline;
}
.module {
  color: #4c77e4;
}
.module-builtin {
  color: #4c77e4;
}
.normal {
  color: #ddd0f4;
  background-color: #181030;
}
.number {
  color: #fd9720;
}
.number-float {
  color: #f92772;
}
.operator {
  color: #a1efe4;
}
.property {
  color: #9e71cf;
}
.punctuation-bracket {
  color: #7aa6da;
}
.punctuation-delimiter {
  color: #e7c3fb;
  background-color: #181030;
}
.punctuation-special {
  color: #e7c547;
  background-color: #181030;
}
.string {
  color: #1abc9c;
}
.string-documentation {
  color: #1abc9c;
}
.string-escape {
  color: #a1efe4;
}
.string-regexp {
  color: #7fdbca;
}
.string-special {
  color: #f19bb6;
}
.string-special-path {
  color: #f19bb6;
}
.string-special-symbol {
  color: #f19bb6;
}
.string-special-url {
  color: #67d5b5;
  background-color: #181030;
  text-decoration: underline;
}
.tag {
  color: #addb67;
  background-color: #181030;
}
.tag-attribute {
  color: #a1efe4;
}
.tag-builtin {
  color: #addb67;
  background-color: #181030;
}
.tag-delimiter {
  color: #a1efe4;
  background-color: #181030;
}
.type {
  color: #67d5b5;
}
.type-builtin {
  color: #ffce51;
}
.type-definition {
  color: #66d9ef;
  background-color: #181030;
}
.variable {
  color: #e7c3fb;
}
.variable-builtin {
  color: #fd9720;
}
.variable-member {
  color: #9e71cf;
}
.variable-parameter {
  color: #fbec9f;
}
.variable-parameter-builtin {
  color: #fbec9f;
}
