/* ayu_mirage
 * revision: e5a9f0fa2918d6b5f57c21b3ac014314ee5e41c8
 */

pre.lumis {
  color: #cccac2;
  background-color: #1f2430;
}
.lumis-attribute {
  color: #ffcc66;
}
.lumis-attribute-builtin {
  color: #ffcc66;
}
.lumis-boolean {
  color: #dfbfff;
}
.lumis-character {
  color: #dfbfff;
}
.lumis-character-special {
  color: #ffcc66;
}
.lumis-comment {
  color: #6c7a8b;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #6c7a8b;
  font-style: italic;
}
.lumis-comment-error {
  color: #ff6666;
}
.lumis-comment-hint {
  color: #6c7a8b;
  font-style: italic;
}
.lumis-comment-note {
  color: #5ccfe6;
}
.lumis-comment-todo {
  color: #f28779;
}
.lumis-comment-warning {
  color: #ffad66;
}
.lumis-constant {
  color: #dfbfff;
}
.lumis-constant-builtin {
  color: #ffcc66;
}
.lumis-constant-macro {
  color: #dfbfff;
}
.lumis-constructor {
  color: #ffcc66;
}
.lumis-diff-delta {
  color: #80bfff;
}
.lumis-diff-minus {
  color: #f27983;
}
.lumis-diff-plus {
  color: #87d96c;
}
.lumis-function {
  color: #ffd173;
}
.lumis-function-builtin {
  color: #ffcc66;
}
.lumis-function-call {
  color: #ffd173;
}
.lumis-function-macro {
  color: #ffd173;
}
.lumis-function-method {
  color: #ffd173;
}
.lumis-function-method-call {
  color: #ffd173;
}
.lumis-highlighted {
  background-color: #171b24;
}
.lumis-keyword {
  color: #ffad66;
}
.lumis-keyword-conditional {
  color: #ffad66;
}
.lumis-keyword-conditional-ternary {
  color: #ffad66;
}
.lumis-keyword-coroutine {
  color: #ffad66;
}
.lumis-keyword-debug {
  color: #ffad66;
}
.lumis-keyword-directive {
  color: #ffad66;
}
.lumis-keyword-directive-define {
  color: #ffad66;
}
.lumis-keyword-exception {
  color: #ffad66;
}
.lumis-keyword-export {
  color: #ffad66;
}
.lumis-keyword-function {
  color: #ffad66;
}
.lumis-keyword-import {
  color: #ffad66;
}
.lumis-keyword-modifier {
  color: #ffad66;
}
.lumis-keyword-operator {
  color: #ffad66;
}
.lumis-keyword-repeat {
  color: #ffad66;
}
.lumis-keyword-return {
  color: #ffad66;
}
.lumis-keyword-type {
  color: #ffad66;
}
.lumis-label {
  color: #ffad66;
}
.lumis-markup {
  color: #ffcc66;
}
.lumis-markup-environment {
  color: #ffcc66;
}
.lumis-markup-environment-name {
  color: #ffcc66;
}
.lumis-markup-heading {
  color: #ffad66;
}
.lumis-markup-heading-1 {
  color: #ffad66;
}
.lumis-markup-heading-2 {
  color: #ffad66;
}
.lumis-markup-heading-3 {
  color: #ffad66;
}
.lumis-markup-heading-4 {
  color: #ffad66;
}
.lumis-markup-heading-5 {
  color: #ffad66;
}
.lumis-markup-heading-6 {
  color: #ffad66;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  text-decoration: underline;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #ffcc66;
}
.lumis-markup-list-checked {
  color: #ffcc66;
}
.lumis-markup-list-unchecked {
  color: #ffcc66;
}
.lumis-markup-math {
  color: #ffcc66;
}
.lumis-markup-quote {
  color: #ffcc66;
}
.lumis-markup-raw {
  color: #ffcc66;
}
.lumis-markup-raw-block {
  color: #ffcc66;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #ffd173;
}
.lumis-module-builtin {
  color: #ffcc66;
}
.lumis-normal {
  color: #cccac2;
  background-color: #1f2430;
}
.lumis-number {
  color: #dfbfff;
}
.lumis-number-float {
  color: #dfbfff;
}
.lumis-operator {
  color: #f29e74;
}
.lumis-property {
  color: #5ccfe6;
}
.lumis-punctuation-bracket {
  color: #ffdfb3;
}
.lumis-punctuation-delimiter {
  color: #ffdfb3;
}
.lumis-punctuation-special {
  color: #ffcc66;
}
.lumis-string {
  color: #d5ff80;
}
.lumis-string-documentation {
  color: #d5ff80;
}
.lumis-string-escape {
  color: #ffcc66;
}
.lumis-string-regexp {
  color: #ffcc66;
}
.lumis-string-special {
  color: #ffcc66;
}
.lumis-string-special-path {
  color: #ffcc66;
}
.lumis-string-special-symbol {
  color: #ffcc66;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #ffad66;
}
.lumis-tag-attribute {
  color: #73d0ff;
}
.lumis-tag-builtin {
  color: #ffcc66;
}
.lumis-tag-delimiter {
  color: #ffdfb3;
}
.lumis-type {
  color: #73d0ff;
}
.lumis-type-builtin {
  color: #ffcc66;
}
.lumis-type-definition {
  color: #73d0ff;
}
.lumis-variable {
  color: #cccac2;
}
.lumis-variable-builtin {
  color: #ffd173;
}
.lumis-variable-member {
  color: #5ccfe6;
}
.lumis-variable-parameter {
  color: #cccac2;
}
.lumis-variable-parameter-builtin {
  color: #ffcc66;
}
