/* catppuccin_latte
 * revision: 0303a7208dba448c459767486a38a6ec05c4216b
 */

pre.lumis {
  color: #4c4f69;
  background-color: #eff1f5;
}
.lumis-attribute {
  color: #fe640b;
}
.lumis-attribute-builtin {
  color: #ea76cb;
}
.lumis-attribute-c_sharp {
  color: #df8e1d;
}
.lumis-boolean {
  color: #fe640b;
}
.lumis-character {
  color: #179299;
}
.lumis-character-special {
  color: #ea76cb;
}
.lumis-character-special-html {
  color: #d20f39;
}
.lumis-comment {
  color: #7c7f93;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #7c7f93;
  font-style: italic;
}
.lumis-comment-error {
  color: #eff1f5;
  background-color: #d20f39;
}
.lumis-comment-hint {
  color: #eff1f5;
  background-color: #1e66f5;
}
.lumis-comment-note {
  color: #eff1f5;
  background-color: #1e66f5;
}
.lumis-comment-todo {
  color: #eff1f5;
  background-color: #dd7878;
}
.lumis-comment-warning {
  color: #eff1f5;
  background-color: #df8e1d;
}
.lumis-comment-warning-gitcommit {
  color: #df8e1d;
}
.lumis-constant {
  color: #fe640b;
}
.lumis-constant-builtin {
  color: #fe640b;
}
.lumis-constant-java {
  color: #179299;
}
.lumis-constant-macro {
  color: #8839ef;
}
.lumis-constructor {
  color: #df8e1d;
}
.lumis-constructor-lua {
  color: #7c7f93;
}
.lumis-constructor-python {
  color: #04a5e5;
}
.lumis-diff-delta {
  color: #1e66f5;
}
.lumis-diff-minus {
  color: #d20f39;
}
.lumis-diff-plus {
  color: #40a02b;
}
.lumis-error {
  color: #d20f39;
}
.lumis-function {
  color: #1e66f5;
}
.lumis-function-builtin {
  color: #fe640b;
}
.lumis-function-builtin-bash {
  color: #d20f39;
  font-style: italic;
}
.lumis-function-call {
  color: #1e66f5;
}
.lumis-function-macro {
  color: #ea76cb;
}
.lumis-function-method {
  color: #1e66f5;
}
.lumis-function-method-call {
  color: #1e66f5;
}
.lumis-highlighted {
  background-color: #e9ebf1;
}
.lumis-keyword {
  color: #8839ef;
}
.lumis-keyword-conditional {
  color: #8839ef;
  font-style: italic;
}
.lumis-keyword-conditional-ternary {
  color: #04a5e5;
}
.lumis-keyword-coroutine {
  color: #8839ef;
}
.lumis-keyword-debug {
  color: #8839ef;
}
.lumis-keyword-directive {
  color: #ea76cb;
}
.lumis-keyword-directive-css {
  color: #8839ef;
}
.lumis-keyword-directive-define {
  color: #ea76cb;
}
.lumis-keyword-exception {
  color: #8839ef;
}
.lumis-keyword-export {
  color: #8839ef;
}
.lumis-keyword-function {
  color: #8839ef;
}
.lumis-keyword-import {
  color: #8839ef;
}
.lumis-keyword-import-c {
  color: #df8e1d;
}
.lumis-keyword-import-cpp {
  color: #df8e1d;
}
.lumis-keyword-modifier {
  color: #8839ef;
}
.lumis-keyword-operator {
  color: #8839ef;
}
.lumis-keyword-repeat {
  color: #8839ef;
}
.lumis-keyword-return {
  color: #8839ef;
}
.lumis-keyword-type {
  color: #8839ef;
}
.lumis-label {
  color: #209fb5;
}
.lumis-label-yaml {
  color: #df8e1d;
}
.lumis-markup {
  color: #4c4f69;
}
.lumis-markup-environment {
  color: #ea76cb;
}
.lumis-markup-environment-name {
  color: #1e66f5;
}
.lumis-markup-heading {
  color: #1e66f5;
}
.lumis-markup-heading-1 {
  color: #1e66f5;
}
.lumis-markup-heading-1-html {
  color: #4c4f69;
}
.lumis-markup-heading-1-markdown {
  color: #d20f39;
}
.lumis-markup-heading-2 {
  color: #1e66f5;
}
.lumis-markup-heading-2-html {
  color: #4c4f69;
}
.lumis-markup-heading-2-markdown {
  color: #fe640b;
}
.lumis-markup-heading-3 {
  color: #1e66f5;
}
.lumis-markup-heading-3-html {
  color: #4c4f69;
}
.lumis-markup-heading-3-markdown {
  color: #df8e1d;
}
.lumis-markup-heading-4 {
  color: #1e66f5;
}
.lumis-markup-heading-4-html {
  color: #4c4f69;
}
.lumis-markup-heading-4-markdown {
  color: #40a02b;
}
.lumis-markup-heading-5 {
  color: #1e66f5;
}
.lumis-markup-heading-5-html {
  color: #4c4f69;
}
.lumis-markup-heading-5-markdown {
  color: #209fb5;
}
.lumis-markup-heading-6 {
  color: #1e66f5;
}
.lumis-markup-heading-6-html {
  color: #4c4f69;
}
.lumis-markup-heading-6-markdown {
  color: #7287fd;
}
.lumis-markup-heading-html {
  color: #4c4f69;
}
.lumis-markup-heading-markdown {
  font-weight: bold;
}
.lumis-markup-italic {
  color: #d20f39;
  font-style: italic;
}
.lumis-markup-link {
  color: #7287fd;
}
.lumis-markup-link-label {
  color: #7287fd;
}
.lumis-markup-link-label-html {
  color: #4c4f69;
}
.lumis-markup-link-url {
  color: #1e66f5;
  font-style: italic;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #179299;
}
.lumis-markup-list-checked {
  color: #40a02b;
}
.lumis-markup-list-unchecked {
  color: #8c8fa1;
}
.lumis-markup-math {
  color: #1e66f5;
}
.lumis-markup-quote {
  color: #ea76cb;
}
.lumis-markup-raw {
  color: #40a02b;
}
.lumis-markup-raw-block {
  color: #40a02b;
}
.lumis-markup-strikethrough {
  color: #4c4f69;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #d20f39;
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #df8e1d;
  font-style: italic;
}
.lumis-module-builtin {
  color: #ea76cb;
}
.lumis-namespace {
  color: #df8e1d;
  font-style: italic;
}
.lumis-normal {
  color: #4c4f69;
  background-color: #eff1f5;
}
.lumis-number {
  color: #fe640b;
}
.lumis-number-float {
  color: #fe640b;
}
.lumis-operator {
  color: #04a5e5;
}
.lumis-property {
  color: #7287fd;
}
.lumis-property-css {
  color: #1e66f5;
}
.lumis-property-scss {
  color: #1e66f5;
}
.lumis-punctuation-bracket {
  color: #7c7f93;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #d20f39;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #df8e1d;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #1e66f5;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #fe640b;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #40a02b;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #8839ef;
}
.lumis-punctuation-delimiter {
  color: #7c7f93;
}
.lumis-punctuation-delimiter-regex {
  color: #ea76cb;
}
.lumis-punctuation-special {
  color: #ea76cb;
}
.lumis-string {
  color: #40a02b;
}
.lumis-string-documentation {
  color: #179299;
}
.lumis-string-escape {
  color: #ea76cb;
}
.lumis-string-regex {
  color: #ea76cb;
}
.lumis-string-regexp {
  color: #ea76cb;
}
.lumis-string-special {
  color: #ea76cb;
}
.lumis-string-special-path {
  color: #ea76cb;
}
.lumis-string-special-path-gitignore {
  color: #4c4f69;
}
.lumis-string-special-symbol {
  color: #dd7878;
}
.lumis-string-special-url {
  color: #1e66f5;
  font-style: italic;
  text-decoration: underline;
}
.lumis-string-special-url-html {
  color: #40a02b;
}
.lumis-tag {
  color: #1e66f5;
}
.lumis-tag-attribute {
  color: #df8e1d;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #1e66f5;
}
.lumis-tag-delimiter {
  color: #179299;
}
.lumis-type {
  color: #df8e1d;
}
.lumis-type-builtin {
  color: #8839ef;
}
.lumis-type-css {
  color: #7287fd;
}
.lumis-type-definition {
  color: #df8e1d;
}
.lumis-variable {
  color: #4c4f69;
}
.lumis-variable-builtin {
  color: #d20f39;
}
.lumis-variable-member {
  color: #7287fd;
}
.lumis-variable-parameter {
  color: #e64553;
}
.lumis-variable-parameter-bash {
  color: #40a02b;
}
.lumis-variable-parameter-builtin {
  color: #ea76cb;
}
