/* cyberdream_dark
 * revision: 4fbdeb7376faed87ead7c7c805c02092ca7bac01
 */

pre.lumis {
  color: #ffffff;
  background-color: #16181a;
}
.lumis-attribute {
  color: #5ef1ff;
}
.lumis-attribute-builtin {
  color: #ff5ea0;
}
.lumis-boolean {
  color: #5ef1ff;
}
.lumis-character {
  color: #5eff6c;
}
.lumis-character-special {
  color: #ff5ea0;
}
.lumis-comment {
  color: #7b8496;
}
.lumis-comment-documentation {
  color: #7b8496;
}
.lumis-comment-error {
  color: #ff6e5e;
}
.lumis-comment-hint {
  color: #7b8496;
}
.lumis-comment-note {
  color: #5ea1ff;
}
.lumis-comment-todo {
  color: #bd5eff;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #f1ff5e;
}
.lumis-constant {
  color: #ff5ea0;
}
.lumis-constant-builtin {
  color: #ff5ea0;
}
.lumis-constant-macro {
  color: #5ef1ff;
}
.lumis-constructor {
  color: #ff5ea0;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ff6e5e;
}
.lumis-diff-plus {
  color: #5eff6c;
}
.lumis-function {
  color: #5ea1ff;
}
.lumis-function-builtin {
  color: #5ea1ff;
}
.lumis-function-call {
  color: #5ea1ff;
}
.lumis-function-macro {
  color: #5ef1ff;
}
.lumis-function-method {
  color: #5ea1ff;
}
.lumis-function-method-call {
  color: #5ea1ff;
}
.lumis-highlighted {
  background-color: #3c4048;
}
.lumis-keyword {
  color: #ffbd5e;
}
.lumis-keyword-conditional {
  color: #ffbd5e;
}
.lumis-keyword-conditional-ternary {
  color: #ffbd5e;
}
.lumis-keyword-coroutine {
  color: #ffbd5e;
}
.lumis-keyword-debug {
  color: #ffbd5e;
}
.lumis-keyword-directive {
  color: #ffbd5e;
}
.lumis-keyword-directive-define {
  color: #ffbd5e;
}
.lumis-keyword-exception {
  color: #ffbd5e;
}
.lumis-keyword-export {
  color: #ffbd5e;
}
.lumis-keyword-function {
  color: #ffbd5e;
}
.lumis-keyword-import {
  color: #ffbd5e;
}
.lumis-keyword-modifier {
  color: #ffbd5e;
}
.lumis-keyword-operator {
  color: #bd5eff;
}
.lumis-keyword-repeat {
  color: #ffbd5e;
}
.lumis-keyword-return {
  color: #ffbd5e;
}
.lumis-keyword-type {
  color: #ffbd5e;
  font-style: italic;
}
.lumis-label {
  color: #ffbd5e;
}
.lumis-markup {
  color: #ff5ea0;
}
.lumis-markup-environment {
  color: #ff5ea0;
}
.lumis-markup-environment-name {
  color: #ff5ea0;
}
.lumis-markup-heading {
  color: #ffffff;
}
.lumis-markup-heading-1 {
  color: #ffbd5e;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #5ef1ff;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #5ea1ff;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #bd5eff;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #ff5ef1;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #5eff6c;
  font-weight: bold;
}
.lumis-markup-italic {
  color: #5ea1ff;
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #ffbd5e;
}
.lumis-markup-link-label-markdown_inline {
  color: #5ef1ff;
}
.lumis-markup-link-markdown_inline {
  color: #5ea1ff;
}
.lumis-markup-link-url {
  color: #5ea1ff;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #ff5ea0;
}
.lumis-markup-list-checked {
  color: #5eff6c;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #ff5ef1;
  font-weight: bold;
}
.lumis-markup-math {
  color: #ff5ea0;
}
.lumis-markup-quote {
  color: #7b8496;
}
.lumis-markup-raw {
  color: #ff5ea0;
}
.lumis-markup-raw-block {
  color: #ff5ea0;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #ff5ea0;
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #ff5ef1;
}
.lumis-module-builtin {
  color: #ff5ea0;
}
.lumis-namespace {
  color: #5ef1ff;
}
.lumis-number {
  color: #ffbd5e;
}
.lumis-number-float {
  color: #ffbd5e;
}
.lumis-operator {
  color: #bd5eff;
}
.lumis-property {
  color: #ffffff;
}
.lumis-punctuation-bracket {
  color: #ffffff;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #ff6e5e;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #f1ff5e;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #5ea1ff;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #ffbd5e;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #5eff6c;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #bd5eff;
}
.lumis-punctuation-delimiter {
  color: #ffffff;
}
.lumis-punctuation-special {
  color: #ffffff;
}
.lumis-string {
  color: #5eff6c;
}
.lumis-string-documentation {
  color: #7b8496;
}
.lumis-string-escape {
  color: #ff5ea0;
}
.lumis-string-regexp {
  color: #ff5ea0;
}
.lumis-string-special {
  color: #ff5ea0;
}
.lumis-string-special-path {
  color: #ff5ea0;
}
.lumis-string-special-symbol {
  color: #ff5ea0;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #ffbd5e;
}
.lumis-tag-attribute {
  color: #ffffff;
}
.lumis-tag-builtin {
  color: #ff5ea0;
}
.lumis-tag-delimiter {
  color: #ffffff;
}
.lumis-type {
  color: #bd5eff;
}
.lumis-type-builtin {
  color: #d45edd;
}
.lumis-type-definition {
  color: #bd5eff;
}
.lumis-variable {
  color: #ffffff;
}
.lumis-variable-builtin {
  color: #ff5ea0;
}
.lumis-variable-member {
  color: #ffffff;
}
.lumis-variable-parameter {
  color: #ffffff;
}
.lumis-variable-parameter-builtin {
  color: #ff5ea0;
}
