/* dracula
 * revision: ae752c13e95fb7c5f58da4b5123cb804ea7568ee
 */

pre.lumis {
  color: #f8f8f2;
  background-color: #282a36;
}
.lumis-attribute {
  color: #8be9fd;
}
.lumis-attribute-builtin {
  color: #50fa7b;
  font-style: italic;
}
.lumis-boolean {
  color: #bd93f9;
}
.lumis-character {
  color: #50fa7b;
}
.lumis-character-special {
  color: #50fa7b;
  font-style: italic;
}
.lumis-comment {
  color: #6272a4;
}
.lumis-comment-documentation {
  color: #6272a4;
}
.lumis-comment-error {
  color: #ff5555;
}
.lumis-comment-hint {
  color: #6272a4;
}
.lumis-comment-note {
  color: #8be9fd;
}
.lumis-comment-todo {
  color: #bd93f9;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-warning {
  color: #f1fa8c;
}
.lumis-constant {
  color: #bd93f9;
}
.lumis-constant-builtin {
  color: #bd93f9;
}
.lumis-constant-macro {
  color: #8be9fd;
}
.lumis-constructor {
  color: #8be9fd;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-error {
  color: #ff6e6e;
}
.lumis-function {
  color: #50fa7b;
}
.lumis-function-builtin {
  color: #8be9fd;
}
.lumis-function-call {
  color: #50fa7b;
}
.lumis-function-macro {
  color: #50fa7b;
}
.lumis-function-method {
  color: #50fa7b;
}
.lumis-function-method-call {
  color: #50fa7b;
}
.lumis-highlighted {
  background-color: #44475a;
}
.lumis-keyword {
  color: #ff79c6;
}
.lumis-keyword-conditional {
  color: #ff79c6;
}
.lumis-keyword-conditional-ternary {
  color: #ff79c6;
}
.lumis-keyword-coroutine {
  color: #ff79c6;
}
.lumis-keyword-debug {
  color: #ff79c6;
}
.lumis-keyword-directive {
  color: #ff79c6;
}
.lumis-keyword-directive-define {
  color: #ff79c6;
}
.lumis-keyword-exception {
  color: #bd93f9;
}
.lumis-keyword-export {
  color: #ff79c6;
}
.lumis-keyword-function {
  color: #8be9fd;
}
.lumis-keyword-function-ruby {
  color: #ff79c6;
}
.lumis-keyword-import {
  color: #ff79c6;
}
.lumis-keyword-modifier {
  color: #ff79c6;
}
.lumis-keyword-operator {
  color: #ff79c6;
}
.lumis-keyword-repeat {
  color: #ff79c6;
}
.lumis-keyword-return {
  color: #ff79c6;
}
.lumis-keyword-type {
  color: #ff79c6;
}
.lumis-label {
  color: #8be9fd;
}
.lumis-markup {
  color: #ffb86c;
}
.lumis-markup-environment {
  color: #ffb86c;
}
.lumis-markup-environment-name {
  color: #ffb86c;
}
.lumis-markup-heading {
  color: #ff79c6;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #ff79c6;
  font-weight: bold;
}
.lumis-markup-heading-1-markdown {
  color: #f8f8f2;
}
.lumis-markup-heading-2 {
  color: #ff79c6;
  font-weight: bold;
}
.lumis-markup-heading-2-markdown {
  color: #ff79c6;
}
.lumis-markup-heading-3 {
  color: #ff79c6;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #8be9fd;
}
.lumis-markup-heading-4 {
  color: #ff79c6;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #50fa7b;
}
.lumis-markup-heading-5 {
  color: #ff79c6;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #bd93f9;
}
.lumis-markup-heading-6 {
  color: #ff79c6;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #ffb86c;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #ffb86c;
  font-weight: bold;
}
.lumis-markup-link-label {
  color: #ffb86c;
  font-weight: bold;
}
.lumis-markup-link-url {
  color: #f1fa8c;
  font-style: italic;
}
.lumis-markup-list {
  color: #8be9fd;
}
.lumis-markup-list-checked {
  color: #8be9fd;
}
.lumis-markup-list-unchecked {
  color: #8be9fd;
}
.lumis-markup-math {
  color: #ffb86c;
}
.lumis-markup-quote {
  color: #ffb86c;
}
.lumis-markup-raw {
  color: #f1fa8c;
}
.lumis-markup-raw-block {
  color: #f1fa8c;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #ffb86c;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #ffb86c;
}
.lumis-module {
  color: #ffb86c;
}
.lumis-module-builtin {
  color: #50fa7b;
  font-style: italic;
}
.lumis-number {
  color: #bd93f9;
}
.lumis-number-float {
  color: #50fa7b;
}
.lumis-operator {
  color: #ff79c6;
}
.lumis-property {
  color: #bd93f9;
}
.lumis-punctuation-bracket {
  color: #f8f8f2;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #f8f8f2;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #ff79c6;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #8be9fd;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #50fa7b;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #bd93f9;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #ffb86c;
}
.lumis-punctuation-delimiter {
  color: #f8f8f2;
}
.lumis-punctuation-special {
  color: #50fa7b;
  font-style: italic;
}
.lumis-string {
  color: #f1fa8c;
}
.lumis-string-documentation {
  color: #f1fa8c;
}
.lumis-string-escape {
  color: #8be9fd;
}
.lumis-string-regexp {
  color: #ff5555;
}
.lumis-string-special {
  color: #50fa7b;
  font-style: italic;
}
.lumis-string-special-path {
  color: #50fa7b;
  font-style: italic;
}
.lumis-string-special-symbol {
  color: #bd93f9;
}
.lumis-string-special-url {
  color: #8be9fd;
  text-decoration: underline;
}
.lumis-tag {
  color: #8be9fd;
}
.lumis-tag-attribute {
  color: #50fa7b;
}
.lumis-tag-builtin {
  color: #50fa7b;
  font-style: italic;
}
.lumis-tag-delimiter {
  color: #8be9fd;
}
.lumis-type {
  color: #a4ffff;
}
.lumis-type-builtin {
  color: #8be9fd;
  font-style: italic;
}
.lumis-type-definition {
  color: #a4ffff;
}
.lumis-variable {
  color: #f8f8f2;
}
.lumis-variable-builtin {
  color: #bd93f9;
}
.lumis-variable-member {
  color: #ffb86c;
}
.lumis-variable-parameter {
  color: #ffb86c;
}
.lumis-variable-parameter-builtin {
  color: #50fa7b;
  font-style: italic;
}
