/* everforest_light
 * revision: d235ca0aa6a29546e661a020e2618612acbbffbe
 */

pre.lumis {
  color: #5c6a72;
  background-color: #fdf6e3;
}
.lumis-attribute {
  color: #df69ba;
}
.lumis-attribute-builtin {
  color: #dfa000;
}
.lumis-boolean {
  color: #df69ba;
}
.lumis-boolean-yaml {
  color: #f57d26;
}
.lumis-character {
  color: #35a77c;
}
.lumis-character-special {
  color: #dfa000;
}
.lumis-comment {
  color: #939f91;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #939f91;
  font-style: italic;
}
.lumis-comment-error {
  color: #fdf6e3;
  background-color: #f85552;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #939f91;
  font-style: italic;
}
.lumis-comment-note {
  color: #fdf6e3;
  background-color: #8da101;
  font-weight: bold;
}
.lumis-comment-todo {
  color: #fdf6e3;
  background-color: #3a94c5;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #fdf6e3;
  background-color: #dfa000;
  font-weight: bold;
}
.lumis-constant {
  color: #35a77c;
}
.lumis-constant-builtin {
  color: #df69ba;
}
.lumis-constant-builtin-go {
  color: #35a77c;
}
.lumis-constant-builtin-yaml {
  color: #f57d26;
}
.lumis-constant-macro {
  color: #df69ba;
}
.lumis-constant-regex {
  color: #df69ba;
}
.lumis-constructor {
  color: #8da101;
}
.lumis-constructor-lua {
  color: #5c6a72;
}
.lumis-constructor-tsx {
  color: #dfa000;
}
.lumis-diff-delta {
  color: #3a94c5;
}
.lumis-diff-minus {
  color: #f85552;
}
.lumis-diff-plus {
  color: #8da101;
}
.lumis-error {
  color: #f85552;
}
.lumis-function {
  color: #8da101;
}
.lumis-function-builtin {
  color: #8da101;
}
.lumis-function-call {
  color: #8da101;
}
.lumis-function-macro {
  color: #8da101;
}
.lumis-function-method {
  color: #8da101;
}
.lumis-function-method-call {
  color: #8da101;
}
.lumis-highlighted {
  background-color: #f4f0d9;
}
.lumis-keyword {
  color: #f85552;
}
.lumis-keyword-conditional {
  color: #f85552;
}
.lumis-keyword-conditional-ternary {
  color: #f85552;
}
.lumis-keyword-coroutine {
  color: #f85552;
}
.lumis-keyword-debug {
  color: #f57d26;
}
.lumis-keyword-directive {
  color: #df69ba;
}
.lumis-keyword-directive-define {
  color: #df69ba;
}
.lumis-keyword-exception {
  color: #f85552;
}
.lumis-keyword-export {
  color: #f85552;
}
.lumis-keyword-function {
  color: #f85552;
}
.lumis-keyword-import {
  color: #f85552;
}
.lumis-keyword-import-go {
  color: #df69ba;
}
.lumis-keyword-import-javascript {
  color: #df69ba;
}
.lumis-keyword-import-typescript {
  color: #df69ba;
}
.lumis-keyword-modifier {
  color: #f57d26;
}
.lumis-keyword-operator {
  color: #f57d26;
}
.lumis-keyword-repeat {
  color: #f85552;
}
.lumis-keyword-return {
  color: #f85552;
}
.lumis-keyword-type {
  color: #f85552;
}
.lumis-label {
  color: #f57d26;
}
.lumis-label-json {
  color: #8da101;
}
.lumis-markup {
  color: #dfa000;
}
.lumis-markup-environment {
  color: #35a77c;
}
.lumis-markup-environment-name {
  color: #dfa000;
}
.lumis-markup-heading {
  color: #f57d26;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #f57d26;
  font-weight: bold;
}
.lumis-markup-heading-1-markdown {
  color: #f85552;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #f57d26;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #f57d26;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #dfa000;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #f57d26;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #8da101;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #f57d26;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #3a94c5;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #f57d26;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #df69ba;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #35a77c;
}
.lumis-markup-link-label {
  color: #dfa000;
}
.lumis-markup-link-url {
  color: #3a94c5;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #3a94c5;
}
.lumis-markup-list-checked {
  color: #8da101;
}
.lumis-markup-list-unchecked {
  color: #939f91;
}
.lumis-markup-math {
  color: #3a94c5;
}
.lumis-markup-quote {
  color: #939f91;
}
.lumis-markup-raw {
  color: #8da101;
}
.lumis-markup-raw-block {
  color: #8da101;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #dfa000;
}
.lumis-module-builtin {
  color: #dfa000;
}
.lumis-module-go {
  color: #5c6a72;
}
.lumis-namespace {
  color: #dfa000;
}
.lumis-namespace-go {
  color: #5c6a72;
}
.lumis-number {
  color: #df69ba;
}
.lumis-number-float {
  color: #df69ba;
}
.lumis-operator {
  color: #f57d26;
}
.lumis-property {
  color: #3a94c5;
}
.lumis-property-toml {
  color: #8da101;
}
.lumis-punctuation-bracket {
  color: #5c6a72;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #f85552;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #dfa000;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #3a94c5;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #f57d26;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #8da101;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #df69ba;
}
.lumis-punctuation-bracket-regex {
  color: #8da101;
}
.lumis-punctuation-delimiter {
  color: #939f91;
}
.lumis-punctuation-special {
  color: #3a94c5;
}
.lumis-punctuation-special-typescript {
  color: #f57d26;
}
.lumis-string {
  color: #35a77c;
}
.lumis-string-documentation {
  color: #35a77c;
}
.lumis-string-escape {
  color: #8da101;
}
.lumis-string-escape-json {
  color: #dfa000;
}
.lumis-string-escape-yaml {
  color: #dfa000;
}
.lumis-string-json {
  color: #5c6a72;
}
.lumis-string-regex {
  color: #8da101;
}
.lumis-string-regexp {
  color: #8da101;
}
.lumis-string-special {
  color: #dfa000;
}
.lumis-string-special-path {
  color: #dfa000;
}
.lumis-string-special-symbol {
  color: #35a77c;
}
.lumis-string-special-url {
  color: #3a94c5;
  text-decoration: underline;
}
.lumis-string-toml {
  color: #5c6a72;
}
.lumis-string-yaml {
  color: #5c6a72;
}
.lumis-tag {
  color: #f57d26;
}
.lumis-tag-attribute {
  color: #8da101;
}
.lumis-tag-builtin {
  color: #dfa000;
}
.lumis-tag-delimiter {
  color: #8da101;
}
.lumis-type {
  color: #dfa000;
}
.lumis-type-builtin {
  color: #dfa000;
}
.lumis-type-definition {
  color: #dfa000;
}
.lumis-variable {
  color: #5c6a72;
}
.lumis-variable-builtin {
  color: #df69ba;
}
.lumis-variable-member {
  color: #3a94c5;
}
.lumis-variable-member-yaml {
  color: #8da101;
}
.lumis-variable-parameter {
  color: #5c6a72;
}
.lumis-variable-parameter-builtin {
  color: #dfa000;
}
