/* gruber_darker
 * revision: aba065c3a79b58cc3863d5c9db319255abd1258a
 */

pre.lumis {
  color: #e4e4e4;
  background-color: #181818;
}
.lumis-attribute {
  color: #95a99f;
}
.lumis-attribute-builtin {
  color: #ffdd33;
}
.lumis-boolean {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-character {
  color: #73d936;
  font-style: italic;
}
.lumis-character-special {
  color: #95a99f;
}
.lumis-comment {
  color: #cc8c3c;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #73d936;
}
.lumis-comment-error {
  color: #f43841;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #cc8c3c;
  font-style: italic;
}
.lumis-comment-note {
  color: #73d936;
  font-weight: bold;
}
.lumis-comment-todo {
  color: #181818;
  background-color: #ffdd33;
}
.lumis-comment-warning {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-constant {
  color: #95a99f;
}
.lumis-constant-builtin {
  color: #ffdd33;
}
.lumis-constant-macro {
  color: #95a99f;
}
.lumis-constructor {
  color: #96a6c8;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #96a6c8;
}
.lumis-function-builtin {
  color: #ffdd33;
}
.lumis-function-call {
  color: #96a6c8;
}
.lumis-function-macro {
  color: #95a99f;
}
.lumis-function-method {
  color: #96a6c8;
}
.lumis-function-method-call {
  color: #96a6c8;
}
.lumis-highlighted {
  background-color: #282828;
}
.lumis-keyword {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-keyword-conditional {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-keyword-conditional-ternary {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-keyword-coroutine {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-keyword-debug {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-keyword-directive {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-keyword-directive-define {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-keyword-exception {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-keyword-export {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-keyword-function {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-keyword-import {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-keyword-modifier {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-keyword-operator {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-keyword-repeat {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-keyword-return {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-keyword-type {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-label {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-markup {
  color: #ffdd33;
}
.lumis-markup-environment {
  color: #ffdd33;
}
.lumis-markup-environment-name {
  color: #ffdd33;
}
.lumis-markup-heading {
  color: #95a99f;
}
.lumis-markup-heading-1 {
  color: #95a99f;
}
.lumis-markup-heading-2 {
  color: #95a99f;
}
.lumis-markup-heading-3 {
  color: #95a99f;
}
.lumis-markup-heading-4 {
  color: #95a99f;
}
.lumis-markup-heading-5 {
  color: #95a99f;
}
.lumis-markup-heading-6 {
  color: #95a99f;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #9e95c7;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #9e95c7;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #9e95c7;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #ffdd33;
}
.lumis-markup-list-checked {
  color: #ffdd33;
}
.lumis-markup-list-unchecked {
  color: #ffdd33;
}
.lumis-markup-math {
  color: #ffdd33;
}
.lumis-markup-quote {
  color: #ffdd33;
}
.lumis-markup-raw {
  color: #ffdd33;
}
.lumis-markup-raw-block {
  color: #ffdd33;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-module-builtin {
  color: #ffdd33;
}
.lumis-normal {
  color: #e4e4e4;
  background-color: #181818;
}
.lumis-number {
  color: #9e95c7;
}
.lumis-number-float {
  color: #9e95c7;
}
.lumis-operator {
  color: #e4e4e4;
}
.lumis-property {
  color: #565f73;
}
.lumis-punctuation-bracket {
  color: #9e95c7;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #ff4f58;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #ffdd33;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #96a6c8;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #cc8c3c;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #73d936;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #9e95c7;
}
.lumis-punctuation-delimiter {
  color: #e4e4e4;
}
.lumis-punctuation-special {
  color: #cc8c3c;
}
.lumis-string {
  color: #73d936;
  font-style: italic;
}
.lumis-string-documentation {
  color: #73d936;
  font-style: italic;
}
.lumis-string-escape {
  color: #95a99f;
}
.lumis-string-regex {
  color: #95a99f;
}
.lumis-string-regexp {
  color: #95a99f;
}
.lumis-string-special {
  color: #95a99f;
}
.lumis-string-special-path {
  color: #95a99f;
}
.lumis-string-special-symbol {
  color: #95a99f;
}
.lumis-string-special-url {
  color: #9e95c7;
  text-decoration: underline;
}
.lumis-tag {
  color: #ffdd33;
}
.lumis-tag-attribute {
  color: #96a6c8;
}
.lumis-tag-builtin {
  color: #ffdd33;
}
.lumis-tag-delimiter {
  color: #e4e4e4;
}
.lumis-type {
  color: #95a99f;
}
.lumis-type-builtin {
  color: #ffdd33;
}
.lumis-type-definition {
  color: #ffdd33;
  font-weight: bold;
}
.lumis-variable {
  color: #f4f4ff;
}
.lumis-variable-builtin {
  color: #ffdd33;
}
.lumis-variable-member {
  color: #f4f4ff;
}
.lumis-variable-parameter {
  color: #f4f4ff;
}
.lumis-variable-parameter-builtin {
  color: #ffdd33;
}
