/* gruvbox_baby
 * revision: bd52e62d8134647090108189e69c8b3cd18bdbbf
 */

pre.lumis {
  color: #ebdbb2;
  background-color: #282828;
}
.lumis-attribute {
  color: #b16286;
}
.lumis-attribute-builtin {
  color: #83a598;
}
.lumis-attribute-python {
  color: #d65d0e;
  font-weight: bold;
}
.lumis-boolean {
  color: #d65d0e;
}
.lumis-character {
  color: #98971a;
}
.lumis-character-special {
  color: #83a598;
}
.lumis-comment {
  color: #665c54;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #665c54;
  font-style: italic;
}
.lumis-comment-error {
  color: #fb4934;
}
.lumis-comment-hint {
  color: #665c54;
  font-style: italic;
}
.lumis-comment-note {
  color: #8cf8f7;
}
.lumis-comment-todo {
  color: #b16286;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #fce094;
}
.lumis-constant {
  color: #d4879c;
  font-weight: bold;
}
.lumis-constant-builtin {
  color: #d4879c;
}
.lumis-constant-macro {
  color: #d4879c;
  font-weight: bold;
}
.lumis-constructor {
  color: #8ec07c;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-error {
  color: #fb4934;
}
.lumis-function {
  color: #eebd35;
  font-weight: bold;
}
.lumis-function-builtin {
  color: #eebd35;
  font-weight: bold;
}
.lumis-function-call {
  color: #eebd35;
  font-weight: bold;
}
.lumis-function-macro {
  color: #eebd35;
  font-weight: bold;
}
.lumis-function-method {
  color: #eebd35;
  font-weight: bold;
}
.lumis-function-method-call {
  color: #eebd35;
  font-weight: bold;
}
.lumis-highlighted {
  background-color: #32302f;
}
.lumis-keyword {
  color: #fb4934;
  font-style: italic;
}
.lumis-keyword-conditional {
  color: #fb4934;
}
.lumis-keyword-conditional-ternary {
  color: #fb4934;
}
.lumis-keyword-coroutine {
  color: #fb4934;
  font-style: italic;
}
.lumis-keyword-debug {
  color: #fb4934;
  font-style: italic;
}
.lumis-keyword-directive {
  color: #fb4934;
}
.lumis-keyword-directive-define {
  color: #fb4934;
}
.lumis-keyword-exception {
  color: #fb4934;
}
.lumis-keyword-export {
  color: #fb4934;
  font-style: italic;
}
.lumis-keyword-function {
  color: #fb4934;
  font-style: italic;
}
.lumis-keyword-import {
  color: #fb4934;
  font-style: italic;
}
.lumis-keyword-modifier {
  color: #fb4934;
  font-style: italic;
}
.lumis-keyword-operator {
  color: #fb4934;
}
.lumis-keyword-repeat {
  color: #fb4934;
}
.lumis-keyword-return {
  color: #fb4934;
  font-style: italic;
}
.lumis-keyword-type {
  color: #fb4934;
  font-style: italic;
}
.lumis-label {
  color: #458588;
}
.lumis-markup {
  color: #eebd35;
}
.lumis-markup-environment {
  color: #eebd35;
}
.lumis-markup-environment-name {
  color: #eebd35;
}
.lumis-markup-heading {
  color: #eebd35;
}
.lumis-markup-heading-1 {
  color: #eebd35;
}
.lumis-markup-heading-2 {
  color: #eebd35;
}
.lumis-markup-heading-3 {
  color: #eebd35;
}
.lumis-markup-heading-4 {
  color: #eebd35;
}
.lumis-markup-heading-5 {
  color: #eebd35;
}
.lumis-markup-heading-6 {
  color: #eebd35;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #cc241d;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #cc241d;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #cc241d;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #ebdbb2;
}
.lumis-markup-list-checked {
  color: #ebdbb2;
}
.lumis-markup-list-unchecked {
  color: #ebdbb2;
}
.lumis-markup-math {
  color: #eebd35;
}
.lumis-markup-quote {
  color: #eebd35;
}
.lumis-markup-raw {
  color: #eebd35;
}
.lumis-markup-raw-block {
  color: #eebd35;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #eebd35;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #eebd35;
  text-decoration: underline;
}
.lumis-module {
  color: #7fa2ac;
}
.lumis-module-builtin {
  color: #83a598;
}
.lumis-namespace {
  color: #7fa2ac;
}
.lumis-number {
  color: #b16286;
}
.lumis-number-float {
  color: #fabd2f;
}
.lumis-operator {
  color: #ebdbb2;
}
.lumis-property {
  color: #458588;
}
.lumis-punctuation-bracket {
  color: #ebdbb2;
}
.lumis-punctuation-delimiter {
  color: #ebdbb2;
}
.lumis-punctuation-special {
  color: #ebdbb2;
}
.lumis-string {
  color: #98971a;
}
.lumis-string-documentation {
  color: #98971a;
}
.lumis-string-escape {
  color: #83a598;
}
.lumis-string-regexp {
  color: #83a598;
}
.lumis-string-special {
  color: #83a598;
}
.lumis-string-special-path {
  color: #83a598;
}
.lumis-string-special-symbol {
  color: #83a598;
}
.lumis-string-special-url {
  color: #cc241d;
  text-decoration: underline;
}
.lumis-tag {
  color: #8ec07c;
}
.lumis-tag-attribute {
  color: #eebd35;
}
.lumis-tag-builtin {
  color: #83a598;
}
.lumis-tag-delimiter {
  color: #665c54;
}
.lumis-type {
  color: #8ec07c;
}
.lumis-type-builtin {
  color: #458588;
}
.lumis-type-definition {
  color: #8ec07c;
}
.lumis-variable {
  color: #7fa2ac;
}
.lumis-variable-builtin {
  color: #458588;
}
.lumis-variable-cpp {
  color: #ebdbb2;
}
.lumis-variable-member {
  color: #7fa2ac;
}
.lumis-variable-parameter {
  color: #458588;
}
.lumis-variable-parameter-builtin {
  color: #83a598;
}
.lumis-variable-python {
  color: #ebdbb2;
}
.lumis-variable-rust {
  color: #ebdbb2;
}
