/* kanagawa_paper_dark
 * revision: ecf19801a2673054c19421d82b766f7641688320
 */

pre.lumis {
  color: #dcd7ba;
  background-color: #1f1f28;
}
.lumis-attribute {
  color: #c4b28a;
}
.lumis-attribute-builtin {
  color: #c4b28a;
}
.lumis-boolean {
  color: #b6927b;
  font-weight: bold;
}
.lumis-character {
  color: #8a9a7b;
}
.lumis-character-special {
  color: #c4b28a;
}
.lumis-comment {
  color: #727169;
}
.lumis-comment-documentation {
  color: #717e67;
  font-style: italic;
}
.lumis-comment-error {
  color: #1f1f28;
  background-color: #c4746e;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #727169;
}
.lumis-comment-note {
  color: #1f1f28;
  background-color: #8ea49e;
  font-weight: bold;
}
.lumis-comment-todo {
  color: #1f1f28;
  background-color: #658594;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #1f1f28;
  background-color: #c4b28a;
  font-weight: bold;
}
.lumis-constant {
  color: #b6927b;
}
.lumis-constant-builtin {
  color: #c4b28a;
}
.lumis-constant-macro {
  color: #b6927b;
}
.lumis-constructor {
  color: #8ea49e;
}
.lumis-diff-delta {
  color: #c4b28a;
}
.lumis-diff-minus {
  color: #c4746e;
}
.lumis-diff-plus {
  color: #699469;
}
.lumis-function {
  color: #859fac;
}
.lumis-function-builtin {
  color: #c4b28a;
}
.lumis-function-call {
  color: #859fac;
}
.lumis-function-macro {
  color: #859fac;
}
.lumis-function-method {
  color: #859fac;
}
.lumis-function-method-call {
  color: #859fac;
}
.lumis-highlighted {
  background-color: #2a2a37;
}
.lumis-keyword {
  color: #a292a3;
}
.lumis-keyword-conditional {
  color: #a292a3;
}
.lumis-keyword-conditional-ternary {
  color: #a292a3;
}
.lumis-keyword-coroutine {
  color: #a292a3;
}
.lumis-keyword-debug {
  color: #a292a3;
}
.lumis-keyword-directive {
  color: #a292a3;
}
.lumis-keyword-directive-define {
  color: #a292a3;
}
.lumis-keyword-exception {
  color: #a292a3;
}
.lumis-keyword-export {
  color: #a292a3;
}
.lumis-keyword-function {
  color: #a292a3;
}
.lumis-keyword-import {
  color: #c4746e;
}
.lumis-keyword-modifier {
  color: #a292a3;
}
.lumis-keyword-operator {
  color: #c4746e;
  font-weight: bold;
}
.lumis-keyword-repeat {
  color: #a292a3;
}
.lumis-keyword-return {
  color: #a292a3;
}
.lumis-keyword-type {
  color: #a292a3;
}
.lumis-label {
  color: #8992a7;
}
.lumis-markup {
  color: #c4b28a;
}
.lumis-markup-environment {
  color: #a292a3;
}
.lumis-markup-environment-name {
  color: #a292a3;
}
.lumis-markup-heading {
  color: #c4746e;
}
.lumis-markup-heading-1 {
  color: #c4746e;
}
.lumis-markup-heading-2 {
  color: #a292a3;
}
.lumis-markup-heading-3 {
  color: #658594;
}
.lumis-markup-heading-4 {
  color: #9d7665;
}
.lumis-markup-heading-5 {
  color: #699469;
}
.lumis-markup-heading-6 {
  color: #737c73;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #938aa9;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #938aa9;
}
.lumis-markup-link-url {
  color: #938aa9;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #c4b28a;
}
.lumis-markup-list-checked {
  color: #c4b28a;
}
.lumis-markup-list-unchecked {
  color: #c4b28a;
}
.lumis-markup-math {
  color: #b6927b;
}
.lumis-markup-quote {
  color: #9e9b93;
}
.lumis-markup-raw {
  color: #8a9a7b;
}
.lumis-markup-raw-block {
  color: #8a9a7b;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #8ea49e;
}
.lumis-module-builtin {
  color: #c4b28a;
}
.lumis-number {
  color: #a292a3;
}
.lumis-number-float {
  color: #a292a3;
}
.lumis-operator {
  color: #c4746e;
}
.lumis-property {
  color: #c4b28a;
}
.lumis-punctuation-bracket {
  color: #9e9b93;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #c4746e;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #a292a3;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #658594;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #9d7665;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #699469;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #737c73;
}
.lumis-punctuation-delimiter {
  color: #9e9b93;
}
.lumis-punctuation-special {
  color: #c4746e;
}
.lumis-string {
  color: #8a9a7b;
}
.lumis-string-documentation {
  color: #8a9a7b;
}
.lumis-string-escape {
  color: #c4746e;
  font-weight: bold;
}
.lumis-string-regexp {
  color: #c4746e;
}
.lumis-string-special {
  color: #c4b28a;
}
.lumis-string-special-path {
  color: #c4b28a;
}
.lumis-string-special-symbol {
  color: #c4746e;
}
.lumis-string-special-url {
  color: #938aa9;
  text-decoration: underline;
}
.lumis-tag {
  color: #c4b28a;
}
.lumis-tag-attribute {
  color: #c4b28a;
}
.lumis-tag-builtin {
  color: #c4b28a;
}
.lumis-tag-delimiter {
  color: #9e9b93;
}
.lumis-type {
  color: #8ea49e;
}
.lumis-type-builtin {
  color: #c4b28a;
}
.lumis-type-definition {
  color: #8ea49e;
}
.lumis-variable-builtin {
  color: #b6927b;
  font-style: italic;
}
.lumis-variable-member {
  color: #c4746e;
}
.lumis-variable-parameter {
  color: #a6a69c;
}
.lumis-variable-parameter-builtin {
  color: #c4b28a;
}
