/* kanagawa_dragon
 * revision: bb85e4bfc8d89b0e62c8fa53ccdd13d12e2f77b3
 */

pre.lumis {
  color: #c5c9c5;
  background-color: #181616;
}
.lumis-attribute {
  color: #b6927b;
}
.lumis-attribute-builtin {
  color: #949fb5;
}
.lumis-boolean {
  color: #b6927b;
  font-weight: bold;
}
.lumis-character {
  color: #8a9a7b;
}
.lumis-character-special {
  color: #949fb5;
}
.lumis-comment {
  color: #737c73;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #737c73;
  font-style: italic;
}
.lumis-comment-error {
  color: #c5c9c5;
  background-color: #e82424;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #737c73;
  font-style: italic;
}
.lumis-comment-note {
  color: #223249;
  background-color: #6a9589;
  font-weight: bold;
}
.lumis-comment-todo {
  color: #223249;
  background-color: #658594;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #223249;
  background-color: #ff9e3b;
  font-weight: bold;
}
.lumis-constant {
  color: #b6927b;
}
.lumis-constant-builtin {
  color: #949fb5;
}
.lumis-constant-macro {
  color: #b6927b;
}
.lumis-constructor {
  color: #949fb5;
}
.lumis-constructor-lua {
  color: #8992a7;
}
.lumis-diff-delta {
  color: #dca561;
}
.lumis-diff-minus {
  color: #c34043;
}
.lumis-diff-plus {
  color: #76946a;
}
.lumis-function {
  color: #8ba4b0;
}
.lumis-function-builtin {
  color: #949fb5;
}
.lumis-function-call {
  color: #8ba4b0;
}
.lumis-function-macro {
  color: #c4746e;
}
.lumis-function-method {
  color: #8ba4b0;
}
.lumis-function-method-call {
  color: #8ba4b0;
}
.lumis-highlighted {
  background-color: #393836;
}
.lumis-keyword {
  color: #8992a7;
  font-style: italic;
}
.lumis-keyword-conditional {
  color: #8992a7;
  font-style: italic;
}
.lumis-keyword-conditional-ternary {
  color: #8992a7;
  font-style: italic;
}
.lumis-keyword-coroutine {
  color: #8992a7;
  font-style: italic;
}
.lumis-keyword-debug {
  color: #8992a7;
  font-style: italic;
}
.lumis-keyword-directive {
  color: #8992a7;
  font-style: italic;
}
.lumis-keyword-directive-define {
  color: #8992a7;
  font-style: italic;
}
.lumis-keyword-exception {
  color: #c4746e;
  font-weight: bold;
}
.lumis-keyword-export {
  color: #8992a7;
  font-style: italic;
}
.lumis-keyword-function {
  color: #8992a7;
  font-style: italic;
}
.lumis-keyword-import {
  color: #c4746e;
}
.lumis-keyword-modifier {
  color: #8992a7;
  font-style: italic;
}
.lumis-keyword-operator {
  color: #c4746e;
  font-weight: bold;
}
.lumis-keyword-repeat {
  color: #8992a7;
  font-style: italic;
}
.lumis-keyword-return {
  color: #c4746e;
  font-style: italic;
}
.lumis-keyword-type {
  color: #8992a7;
  font-style: italic;
}
.lumis-label {
  color: #8992a7;
  font-weight: bold;
}
.lumis-markup {
  color: #949fb5;
}
.lumis-markup-environment {
  color: #8992a7;
  font-style: italic;
}
.lumis-markup-environment-name {
  color: #8992a7;
  font-style: italic;
}
.lumis-markup-heading {
  color: #8ba4b0;
}
.lumis-markup-heading-1 {
  color: #8ba4b0;
}
.lumis-markup-heading-2 {
  color: #8ba4b0;
}
.lumis-markup-heading-3 {
  color: #8ba4b0;
}
.lumis-markup-heading-4 {
  color: #8ba4b0;
}
.lumis-markup-heading-5 {
  color: #8ba4b0;
}
.lumis-markup-heading-6 {
  color: #8ba4b0;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #949fb5;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #949fb5;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #949fb5;
  text-decoration: underline wavy;
}
.lumis-markup-list {
  color: #949fb5;
}
.lumis-markup-list-checked {
  color: #949fb5;
}
.lumis-markup-list-unchecked {
  color: #949fb5;
}
.lumis-markup-math {
  color: #b6927b;
}
.lumis-markup-quote {
  color: #a6a69c;
}
.lumis-markup-raw {
  color: #8a9a7b;
}
.lumis-markup-raw-block {
  color: #8a9a7b;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #8ea4a2;
}
.lumis-module-builtin {
  color: #949fb5;
}
.lumis-number {
  color: #a292a3;
}
.lumis-number-float {
  color: #a292a3;
}
.lumis-operator {
  color: #c4746e;
}
.lumis-property {
  color: #c4b28a;
}
.lumis-punctuation-bracket {
  color: #9e9b93;
}
.lumis-punctuation-delimiter {
  color: #9e9b93;
}
.lumis-punctuation-special {
  color: #949fb5;
}
.lumis-string {
  color: #8a9a7b;
}
.lumis-string-documentation {
  color: #8a9a7b;
}
.lumis-string-escape {
  color: #c4746e;
  font-weight: bold;
}
.lumis-string-regexp {
  color: #c4746e;
}
.lumis-string-special {
  color: #949fb5;
}
.lumis-string-special-path {
  color: #949fb5;
}
.lumis-string-special-symbol {
  color: #c4b28a;
}
.lumis-string-special-url {
  color: #949fb5;
  text-decoration: underline wavy;
}
.lumis-tag {
  color: #949fb5;
}
.lumis-tag-attribute {
  color: #c4b28a;
}
.lumis-tag-builtin {
  color: #949fb5;
}
.lumis-tag-delimiter {
  color: #9e9b93;
}
.lumis-type {
  color: #8ea4a2;
}
.lumis-type-builtin {
  color: #949fb5;
}
.lumis-type-definition {
  color: #8ea4a2;
}
.lumis-variable {
  color: #c5c9c5;
}
.lumis-variable-builtin {
  color: #c4746e;
  font-style: italic;
}
.lumis-variable-member {
  color: #c4b28a;
}
.lumis-variable-parameter {
  color: #a6a69c;
}
.lumis-variable-parameter-builtin {
  color: #949fb5;
}
