/* kanagawabones_light
 * revision: 239bdb9a09c8d38c752c43590d02f654ed0da2b0
 */

pre.lumis {
  color: #ddd8bb;
  background-color: #1f1f28;
}
.lumis-attribute {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-attribute-builtin {
  color: #ada992;
  font-weight: bold;
}
.lumis-boolean {
  color: #ddd8bb;
  font-style: italic;
}
.lumis-character {
  color: #a29e89;
  font-style: italic;
}
.lumis-character-special {
  color: #ada992;
  font-weight: bold;
}
.lumis-comment {
  color: #696977;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #696977;
  font-style: italic;
}
.lumis-comment-error {
  color: #e46a78;
}
.lumis-comment-hint {
  color: #696977;
  font-style: italic;
}
.lumis-comment-note {
  color: #7eb3c9;
}
.lumis-comment-todo {
  font-weight: bold;
  text-decoration: underline;
}
.lumis-comment-warning {
  color: #e5c283;
}
.lumis-constant {
  color: #bbb79e;
  font-weight: bold;
}
.lumis-constant-builtin {
  color: #a29e89;
  font-style: italic;
}
.lumis-constant-macro {
  color: #a29e89;
  font-style: italic;
}
.lumis-constructor {
  color: #ada992;
  font-weight: bold;
}
.lumis-constructor-lua {
  color: #7d7d8d;
}
.lumis-diff-delta {
  background-color: #22333a;
}
.lumis-diff-minus {
  background-color: #47272a;
}
.lumis-diff-plus {
  background-color: #2a331f;
}
.lumis-function {
  color: #ddd8bb;
}
.lumis-function-builtin {
  color: #ada992;
  font-weight: bold;
}
.lumis-function-call {
  color: #ddd8bb;
}
.lumis-function-macro {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-function-method {
  color: #ddd8bb;
}
.lumis-function-method-call {
  color: #ddd8bb;
}
.lumis-highlighted {
  background-color: #272732;
}
.lumis-keyword {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-keyword-conditional {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-keyword-conditional-ternary {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-keyword-coroutine {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-keyword-debug {
  color: #ada992;
  font-weight: bold;
}
.lumis-keyword-directive {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-keyword-directive-define {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-keyword-exception {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-keyword-export {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-keyword-function {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-keyword-import {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-keyword-modifier {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-keyword-operator {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-keyword-repeat {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-keyword-return {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-keyword-type {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-label {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-markup {
  color: #ada992;
  font-weight: bold;
}
.lumis-markup-environment {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-markup-environment-name {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-markup-heading {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #a29e89;
  font-style: italic;
}
.lumis-markup-link-label {
  color: #ada992;
  font-weight: bold;
}
.lumis-markup-link-markdown {
  color: #bbb79e;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #a29e89;
  font-style: italic;
}
.lumis-markup-link-url-markdown {
  color: #696977;
}
.lumis-markup-list {
  color: #ada992;
  font-weight: bold;
}
.lumis-markup-list-checked {
  color: #ada992;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #ada992;
  font-weight: bold;
}
.lumis-markup-math {
  color: #ada992;
  font-weight: bold;
}
.lumis-markup-quote {
  color: #a29e89;
}
.lumis-markup-raw {
  color: #a29e89;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #a29e89;
  font-style: italic;
}
.lumis-markup-raw-markdown {
  color: #9797a5;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #a29e89;
  font-style: italic;
}
.lumis-module-builtin {
  color: #a29e89;
  font-style: italic;
}
.lumis-number {
  color: #a29e89;
}
.lumis-number-float {
  color: #a29e89;
}
.lumis-operator {
  color: #ddd8bb;
  font-weight: bold;
}
.lumis-property {
  color: #bbb79e;
}
.lumis-punctuation-bracket {
  color: #7d7d8d;
}
.lumis-punctuation-delimiter {
  color: #7d7d8d;
}
.lumis-punctuation-special {
  color: #7d7d8d;
}
.lumis-punctuation-special-markdown {
  color: #ada992;
  font-weight: bold;
}
.lumis-string {
  color: #a29e89;
  font-style: italic;
}
.lumis-string-documentation {
  color: #a29e89;
  font-style: italic;
}
.lumis-string-escape {
  color: #ada992;
  font-weight: bold;
}
.lumis-string-escape-markdown {
  color: #58586a;
  font-style: italic;
}
.lumis-string-regexp {
  color: #a29e89;
  font-style: italic;
}
.lumis-string-special {
  color: #ada992;
  font-weight: bold;
}
.lumis-string-special-path {
  color: #ada992;
  font-weight: bold;
}
.lumis-string-special-symbol {
  color: #bbb79e;
}
.lumis-string-special-url {
  color: #ada992;
  font-weight: bold;
}
.lumis-tag {
  color: #ada992;
  font-weight: bold;
}
.lumis-tag-attribute {
  color: #bbb79e;
}
.lumis-tag-builtin {
  color: #ada992;
  font-weight: bold;
}
.lumis-tag-delimiter {
  color: #7d7d8d;
}
.lumis-type {
  color: #9797a5;
}
.lumis-type-builtin {
  color: #9797a5;
}
.lumis-type-definition {
  color: #9797a5;
}
.lumis-variable {
  color: #bbb79e;
}
.lumis-variable-builtin {
  color: #a29e89;
  font-style: italic;
}
.lumis-variable-member {
  color: #bbb79e;
}
.lumis-variable-parameter {
  color: #bbb79e;
}
.lumis-variable-parameter-builtin {
  color: #ada992;
  font-weight: bold;
}
