/* material_palenight
 * revision: 92f7366a9315cd386bc4fa4d716fde375dda210f
 */

pre.lumis {
  color: #a6accd;
  background-color: #292d3e;
}
.lumis-attribute {
  background-color: #3b4665;
}
.lumis-attribute-builtin {
  color: #89ddff;
}
.lumis-boolean {
  color: #f78c6c;
}
.lumis-character {
  color: #f78c6c;
}
.lumis-character-special {
  color: #f07178;
}
.lumis-comment {
  color: #676e95;
}
.lumis-comment-documentation {
  color: #676e95;
}
.lumis-comment-error {
  color: #676e95;
  background-color: #ff5370;
}
.lumis-comment-hint {
  color: #676e95;
  background-color: #c792ea;
}
.lumis-comment-note {
  color: #676e95;
  background-color: #b0c9ff;
}
.lumis-comment-todo {
  color: #676e95;
}
.lumis-comment-warning {
  color: #676e95;
  background-color: #ffcb6b;
}
.lumis-constant {
  color: #ffcb6b;
}
.lumis-constant-builtin {
  color: #ffcb6b;
}
.lumis-constant-macro {
  color: #89ddff;
}
.lumis-constructor {
  color: #82aaff;
}
.lumis-diff-delta {
  background-color: #3b4665;
}
.lumis-diff-minus {
  background-color: #513b4a;
}
.lumis-diff-plus {
  background-color: #48524e;
}
.lumis-error {
  color: #ff5370;
  font-weight: bold;
}
.lumis-function {
  color: #82aaff;
}
.lumis-function-builtin {
  color: #82aaff;
}
.lumis-function-call {
  color: #82aaff;
}
.lumis-function-macro {
  color: #82aaff;
}
.lumis-function-method {
  color: #82aaff;
}
.lumis-function-method-call {
  color: #82aaff;
}
.lumis-highlighted {
  background-color: #414863;
}
.lumis-keyword {
  color: #c792ea;
}
.lumis-keyword-conditional {
  color: #c792ea;
}
.lumis-keyword-conditional-ternary {
  color: #c792ea;
}
.lumis-keyword-coroutine {
  color: #c792ea;
}
.lumis-keyword-debug {
  color: #c792ea;
}
.lumis-keyword-directive {
  color: #89ddff;
}
.lumis-keyword-directive-define {
  color: #89ddff;
}
.lumis-keyword-export {
  color: #c792ea;
}
.lumis-keyword-function {
  color: #c792ea;
}
.lumis-keyword-import {
  color: #89ddff;
}
.lumis-keyword-modifier {
  color: #c792ea;
}
.lumis-keyword-operator {
  color: #c792ea;
}
.lumis-keyword-repeat {
  color: #c792ea;
}
.lumis-keyword-return {
  color: #c792ea;
}
.lumis-keyword-type {
  color: #c792ea;
}
.lumis-label {
  color: #ffcb6b;
}
.lumis-markup {
  color: #89ddff;
}
.lumis-markup-environment {
  color: #f07178;
}
.lumis-markup-environment-name {
  color: #f07178;
}
.lumis-markup-heading {
  color: #89ddff;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #89ddff;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #89ddff;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #89ddff;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #89ddff;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #89ddff;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #89ddff;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #f07178;
}
.lumis-markup-link-label {
  color: #f07178;
}
.lumis-markup-link-url {
  color: #80cbc4;
}
.lumis-markup-list {
  color: #89ddff;
}
.lumis-markup-list-checked {
  color: #c3e88d;
}
.lumis-markup-math {
  color: #82aaff;
}
.lumis-markup-quote {
  color: #89ddff;
}
.lumis-markup-raw {
  color: #c792ea;
}
.lumis-markup-raw-block {
  color: #c792ea;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #ffcb6b;
}
.lumis-module-builtin {
  color: #89ddff;
}
.lumis-namespace {
  color: #ffcb6b;
}
.lumis-number {
  color: #f78c6c;
}
.lumis-number-float {
  color: #f78c6c;
}
.lumis-operator {
  color: #89ddff;
}
.lumis-property {
  color: #717cb4;
}
.lumis-punctuation-bracket {
  color: #89ddff;
}
.lumis-punctuation-delimiter {
  color: #89ddff;
}
.lumis-punctuation-special {
  color: #89ddff;
}
.lumis-string {
  color: #c3e88d;
}
.lumis-string-documentation {
  color: #c3e88d;
}
.lumis-string-escape {
  color: #717cb4;
}
.lumis-string-regex {
  color: #ffcb6b;
}
.lumis-string-regexp {
  color: #ffcb6b;
}
.lumis-string-special {
  color: #717cb4;
}
.lumis-string-special-path {
  color: #717cb4;
}
.lumis-string-special-symbol {
  color: #ffcb6b;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #f07178;
}
.lumis-tag-attribute {
  color: #c792ea;
}
.lumis-tag-builtin {
  color: #89ddff;
}
.lumis-tag-delimiter {
  color: #89ddff;
}
.lumis-type {
  color: #c792ea;
}
.lumis-type-builtin {
  color: #c792ea;
}
.lumis-variable {
  color: #a6accd;
}
.lumis-variable-builtin {
  color: #c792ea;
}
.lumis-variable-member {
  color: #717cb4;
}
.lumis-variable-parameter {
  color: #a6accd;
}
.lumis-variable-parameter-builtin {
  color: #89ddff;
}
