/* matte_black
 * revision: a8a039f5d6189b28d76fa0221e64965efec7e996
 */

pre.lumis {
  color: #eaeaea;
  background-color: #121212;
}
.lumis-attribute {
  color: #d97706;
  font-style: italic;
}
.lumis-attribute-builtin {
  color: #f59e0b;
}
.lumis-boolean {
  color: #10b981;
}
.lumis-character {
  color: #efbf04;
}
.lumis-character-special {
  color: #efbf04;
}
.lumis-comment {
  color: #8a8a8d;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #8a8a8d;
  font-style: italic;
}
.lumis-comment-error {
  color: #dc2626;
  font-style: italic;
}
.lumis-comment-hint {
  color: #8a8a8d;
  font-style: italic;
}
.lumis-comment-note {
  color: #8a8a8d;
  font-style: italic;
}
.lumis-comment-todo {
  color: #fbbf24;
  font-style: italic;
}
.lumis-comment-warning {
  color: #d97706;
  font-style: italic;
}
.lumis-constant {
  color: #d97706;
}
.lumis-constant-builtin {
  color: #d97706;
}
.lumis-constant-macro {
  color: #fbbf24;
}
.lumis-constructor {
  color: #fbbf24;
}
.lumis-diff-delta {
  color: #f59e0b;
}
.lumis-diff-minus {
  color: #dc2626;
}
.lumis-diff-plus {
  color: #10b981;
}
.lumis-function {
  color: #dc2626;
}
.lumis-function-builtin {
  color: #d97706;
}
.lumis-function-call {
  color: #f59e0b;
}
.lumis-function-macro {
  color: #fbbf24;
}
.lumis-function-method {
  color: #f59e0b;
}
.lumis-function-method-call {
  color: #f59e0b;
}
.lumis-highlighted {
  background-color: #212121;
}
.lumis-keyword {
  color: #059669;
}
.lumis-keyword-conditional {
  color: #059669;
}
.lumis-keyword-conditional-ternary {
  color: #059669;
}
.lumis-keyword-coroutine {
  color: #059669;
}
.lumis-keyword-debug {
  color: #059669;
}
.lumis-keyword-directive {
  color: #3b82f6;
}
.lumis-keyword-directive-define {
  color: #fbbf24;
}
.lumis-keyword-exception {
  color: #059669;
}
.lumis-keyword-export {
  color: #059669;
}
.lumis-keyword-function {
  color: #059669;
}
.lumis-keyword-import {
  color: #059669;
}
.lumis-keyword-modifier {
  color: #059669;
}
.lumis-keyword-operator {
  color: #bebebe;
}
.lumis-keyword-repeat {
  color: #059669;
}
.lumis-keyword-return {
  color: #059669;
}
.lumis-keyword-type {
  color: #059669;
}
.lumis-label {
  color: #059669;
}
.lumis-markup {
  color: #f59e0b;
}
.lumis-markup-environment {
  color: #f59e0b;
}
.lumis-markup-environment-name {
  color: #f59e0b;
}
.lumis-markup-heading {
  color: #d97706;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #d97706;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #d97706;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #d97706;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #d97706;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #d97706;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #d97706;
  font-weight: bold;
}
.lumis-markup-italic {
  color: #eaeaea;
  font-style: italic;
}
.lumis-markup-link {
  color: #f59e0b;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #f59e0b;
}
.lumis-markup-link-url {
  color: #f59e0b;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #f59e0b;
}
.lumis-markup-list-checked {
  color: #10b981;
}
.lumis-markup-list-unchecked {
  color: #f59e0b;
}
.lumis-markup-math {
  color: #efbf04;
}
.lumis-markup-quote {
  color: #8a8a8d;
  font-style: italic;
}
.lumis-markup-raw {
  color: #eaeaea;
}
.lumis-markup-raw-block {
  color: #eaeaea;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #eaeaea;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #f59e0b;
  text-decoration: underline;
}
.lumis-module {
  color: #bf9903;
  font-style: italic;
}
.lumis-module-builtin {
  color: #f59e0b;
}
.lumis-namespace {
  color: #bf9903;
  font-style: italic;
}
.lumis-normal {
  color: #eaeaea;
  background-color: #121212;
}
.lumis-number {
  color: #efbf04;
}
.lumis-number-float {
  color: #efbf04;
}
.lumis-operator {
  color: #bebebe;
}
.lumis-property {
  color: #f59e0b;
}
.lumis-punctuation-bracket {
  color: #8a8a8d;
}
.lumis-punctuation-delimiter {
  color: #8a8a8d;
}
.lumis-punctuation-special {
  color: #3b82f6;
}
.lumis-string {
  color: #eaeaea;
}
.lumis-string-documentation {
  color: #eaeaea;
}
.lumis-string-escape {
  color: #efbf04;
}
.lumis-string-regex {
  color: #d97706;
}
.lumis-string-regexp {
  color: #efbf04;
}
.lumis-string-special {
  color: #efbf04;
}
.lumis-string-special-path {
  color: #efbf04;
}
.lumis-string-special-symbol {
  color: #efbf04;
}
.lumis-string-special-url {
  color: #f59e0b;
  font-style: italic;
}
.lumis-tag {
  color: #059669;
}
.lumis-tag-attribute {
  color: #d97706;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #f59e0b;
}
.lumis-tag-delimiter {
  color: #bebebe;
}
.lumis-type {
  color: #fbbf24;
}
.lumis-type-builtin {
  color: #f59e0b;
  font-style: italic;
}
.lumis-type-definition {
  color: #fbbf24;
}
.lumis-variable {
  color: #d97706;
}
.lumis-variable-builtin {
  color: #3b82f6;
}
.lumis-variable-builtin-javascript {
  color: #3b82f6;
  font-style: italic;
}
.lumis-variable-builtin-lua {
  color: #3b82f6;
  font-style: italic;
}
.lumis-variable-builtin-python {
  color: #3b82f6;
  font-style: italic;
}
.lumis-variable-member {
  color: #eaeaea;
}
.lumis-variable-parameter {
  color: #bebebe;
}
.lumis-variable-parameter-builtin {
  color: #f59e0b;
}
