/* melange_light
 * revision: ce42f6b629beeaa00591ba73a77d3eeac4cf28ce
 */

pre.lumis {
  color: #54433a;
  background-color: #f1f1f1;
}
.lumis-attribute {
  color: #3a684a;
}
.lumis-attribute-builtin {
  color: #a06d00;
}
.lumis-boolean {
  color: #904180;
}
.lumis-character {
  color: #7892bd;
}
.lumis-character-special {
  color: #a06d00;
}
.lumis-comment {
  color: #7d6658;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #7d6658;
}
.lumis-comment-error {
  color: #7d6658;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #7d6658;
  font-style: italic;
}
.lumis-comment-note {
  color: #7d6658;
  font-weight: bold;
}
.lumis-comment-todo {
  color: #7d6658;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #7d6658;
  font-weight: bold;
}
.lumis-constant {
  color: #54433a;
}
.lumis-constant-builtin {
  color: #be79bb;
}
.lumis-constant-macro {
  color: #be79bb;
}
.lumis-constructor {
  color: #a06d00;
}
.lumis-diff-delta {
  background-color: #e8e0e8;
}
.lumis-diff-minus {
  color: #7d6658;
  background-color: #f1dedf;
}
.lumis-diff-plus {
  background-color: #d0e9d1;
}
.lumis-function {
  color: #a06d00;
}
.lumis-function-builtin {
  color: #a06d00;
}
.lumis-function-call {
  color: #a06d00;
}
.lumis-function-macro {
  color: #a06d00;
}
.lumis-function-method {
  color: #a06d00;
}
.lumis-function-method-call {
  color: #a06d00;
}
.lumis-highlighted {
  background-color: #e9e1db;
}
.lumis-keyword {
  color: #bc5c00;
}
.lumis-keyword-conditional {
  color: #bc5c00;
}
.lumis-keyword-conditional-ternary {
  color: #bc5c00;
}
.lumis-keyword-coroutine {
  color: #bc5c00;
}
.lumis-keyword-debug {
  color: #bc5c00;
}
.lumis-keyword-directive {
  color: #3a684a;
}
.lumis-keyword-directive-define {
  color: #3a684a;
}
.lumis-keyword-exception {
  color: #bc5c00;
}
.lumis-keyword-export {
  color: #bc5c00;
}
.lumis-keyword-function {
  color: #3a684a;
}
.lumis-keyword-import {
  color: #3a684a;
}
.lumis-keyword-modifier {
  color: #bc5c00;
}
.lumis-keyword-operator {
  color: #bc5c00;
}
.lumis-keyword-repeat {
  color: #bc5c00;
}
.lumis-keyword-return {
  color: #bc5c00;
}
.lumis-keyword-type {
  color: #bc5c00;
}
.lumis-label {
  color: #3d6568;
}
.lumis-markup {
  color: #a06d00;
}
.lumis-markup-environment {
  color: #a06d00;
}
.lumis-markup-environment-name {
  color: #a06d00;
}
.lumis-markup-heading {
  color: #bc5c00;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #bc5c00;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #a06d00;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #3a684a;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #bc5c00;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #a06d00;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #3a684a;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #7892bd;
}
.lumis-markup-list {
  color: #cca478;
}
.lumis-markup-list-checked {
  color: #cca478;
}
.lumis-markup-list-unchecked {
  color: #cca478;
}
.lumis-markup-math {
  color: #3d6568;
}
.lumis-markup-quote {
  color: #7d6658;
  font-style: italic;
}
.lumis-markup-raw {
  color: #3d6568;
}
.lumis-markup-raw-block {
  color: #7d6658;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #54433a;
}
.lumis-module-builtin {
  color: #54433a;
}
.lumis-number {
  color: #904180;
}
.lumis-number-float {
  color: #904180;
}
.lumis-operator {
  color: #bf0021;
}
.lumis-property {
  color: #54433a;
}
.lumis-punctuation-bracket {
  color: #cca478;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #bf0021;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #a06d00;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #465aa4;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #bc5c00;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #3a684a;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #be79bb;
}
.lumis-punctuation-delimiter {
  color: #c77b8b;
}
.lumis-punctuation-special {
  color: #a06d00;
}
.lumis-string {
  color: #465aa4;
  font-style: italic;
}
.lumis-string-documentation {
  color: #465aa4;
}
.lumis-string-escape {
  color: #7892bd;
}
.lumis-string-regexp {
  color: #465aa4;
}
.lumis-string-special {
  color: #3d6568;
}
.lumis-string-special-path {
  color: #6e9b72;
}
.lumis-string-special-symbol {
  color: #54433a;
  font-style: italic;
}
.lumis-string-special-url {
  color: #7892bd;
}
.lumis-tag {
  color: #a06d00;
}
.lumis-tag-attribute {
  color: #3d6568;
}
.lumis-tag-builtin {
  color: #a06d00;
}
.lumis-tag-delimiter {
  color: #cca478;
}
.lumis-type {
  color: #739797;
}
.lumis-type-builtin {
  color: #739797;
}
.lumis-type-definition {
  color: #739797;
}
.lumis-variable {
  color: #54433a;
}
.lumis-variable-builtin {
  color: #54433a;
  font-style: italic;
}
.lumis-variable-member {
  color: #54433a;
}
.lumis-variable-parameter {
  color: #54433a;
}
.lumis-variable-parameter-builtin {
  color: #a06d00;
}
