/* mellifluous_light
 * revision: ec0575bdb63594c5e7fba6eb9607b009aa1fb74e
 */

pre.lumis {
  color: #1b1b1b;
  background-color: #e7e7e7;
}
.lumis-attribute {
  color: #a16927;
}
.lumis-attribute-builtin {
  color: #a16927;
}
.lumis-boolean {
  color: #863e7f;
}
.lumis-character {
  color: #9c792a;
}
.lumis-character-special {
  color: #9c792a;
}
.lumis-comment {
  color: #969555;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #63611e;
  font-style: italic;
}
.lumis-comment-error {
  color: #c7414e;
  background-color: #e1c6c8;
}
.lumis-comment-hint {
  color: #969555;
  font-style: italic;
}
.lumis-comment-note {
  color: #a2589a;
  background-color: #d9cad8;
}
.lumis-comment-todo {
  color: #7c7b3a;
  background-color: #d2d1c4;
}
.lumis-comment-warning {
  color: #a16927;
  background-color: #d9cec1;
}
.lumis-constant {
  color: #863e7f;
}
.lumis-constant-builtin {
  color: #863e7f;
}
.lumis-constant-macro {
  color: #863e7f;
}
.lumis-constructor {
  color: #5a418a;
}
.lumis-diff-delta {
  background-color: #e6d2bc;
}
.lumis-diff-minus {
  background-color: #edc9cd;
}
.lumis-diff-plus {
  background-color: #dad9b3;
}
.lumis-function {
  color: #5a418a;
}
.lumis-function-builtin {
  color: #5a418a;
}
.lumis-function-call {
  color: #5a418a;
}
.lumis-function-macro {
  color: #5a418a;
}
.lumis-function-method {
  color: #5a418a;
}
.lumis-function-method-call {
  color: #5a418a;
}
.lumis-highlighted {
  background-color: #f2f2f2;
}
.lumis-keyword {
  color: #a16927;
}
.lumis-keyword-conditional {
  color: #b73242;
}
.lumis-keyword-conditional-ternary {
  color: #b73242;
}
.lumis-keyword-coroutine {
  color: #b73242;
}
.lumis-keyword-debug {
  color: #a16927;
}
.lumis-keyword-directive {
  color: #5a418a;
}
.lumis-keyword-directive-define {
  color: #5a418a;
}
.lumis-keyword-exception {
  color: #b73242;
}
.lumis-keyword-export {
  color: #a16927;
}
.lumis-keyword-function {
  color: #b73242;
}
.lumis-keyword-import {
  color: #5a418a;
}
.lumis-keyword-modifier {
  color: #a16927;
}
.lumis-keyword-operator {
  color: #a16927;
}
.lumis-keyword-repeat {
  color: #b73242;
}
.lumis-keyword-return {
  color: #b73242;
}
.lumis-keyword-type {
  color: #a16927;
}
.lumis-label {
  color: #a16927;
}
.lumis-label-markdown {
  color: #969555;
}
.lumis-markup-environment {
  color: #a16927;
}
.lumis-markup-environment-name {
  color: #a16927;
}
.lumis-markup-heading {
  color: #a92136;
  background-color: #e2cccf;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #a92136;
  background-color: #e2cccf;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #865000;
  background-color: #dcd3c8;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #7a5800;
  background-color: #dad4c7;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #63621f;
  background-color: #d6d6cb;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #664e97;
  background-color: #d6d3df;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #863f7f;
  background-color: #dcd0db;
  font-weight: bold;
}
.lumis-markup-heading-gitcommit {
  color: #9c792a;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #863e7f;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #863e7f;
  text-decoration: underline;
}
.lumis-markup-link-markdown_inline {
  color: #863e7f;
}
.lumis-markup-link-url {
  color: #7f67b4;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #686868;
}
.lumis-markup-list-checked {
  color: #7c7b3a;
}
.lumis-markup-list-unchecked {
  color: #7c7b3a;
  background-color: #d2d1c4;
}
.lumis-markup-math {
  color: #a16927;
}
.lumis-markup-quote {
  color: #a16927;
}
.lumis-markup-raw {
  color: #414141;
}
.lumis-markup-raw-block {
  color: #414141;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #926f4e;
}
.lumis-module-builtin {
  color: #a16927;
}
.lumis-namespace {
  color: #926f4e;
}
.lumis-normal {
  color: #1b1b1b;
  background-color: #e7e7e7;
}
.lumis-number {
  color: #863e7f;
}
.lumis-number-float {
  color: #863e7f;
}
.lumis-operator {
  color: #686868;
}
.lumis-property {
  color: #1b1b1b;
}
.lumis-punctuation-bracket {
  color: #686868;
}
.lumis-punctuation-delimiter {
  color: #686868;
}
.lumis-punctuation-special {
  color: #686868;
}
.lumis-string {
  color: #9c792a;
}
.lumis-string-documentation {
  color: #63611e;
}
.lumis-string-escape {
  color: #9c792a;
}
.lumis-string-regexp {
  color: #9c792a;
}
.lumis-string-special {
  color: #9c792a;
}
.lumis-string-special-path {
  color: #7f67b4;
  text-decoration: underline;
}
.lumis-string-special-symbol {
  color: #9c792a;
}
.lumis-string-special-url {
  color: #7f67b4;
  text-decoration: underline;
}
.lumis-tag {
  color: #a16927;
}
.lumis-tag-attribute {
  color: #5a418a;
}
.lumis-tag-builtin {
  color: #a16927;
}
.lumis-tag-delimiter {
  color: #686868;
}
.lumis-type {
  color: #926f4e;
}
.lumis-type-builtin {
  color: #926f4e;
}
.lumis-type-definition {
  color: #926f4e;
}
.lumis-variable {
  color: #1b1b1b;
}
.lumis-variable-builtin {
  color: #a16927;
}
.lumis-variable-member {
  color: #1b1b1b;
}
.lumis-variable-parameter {
  color: #1b1b1b;
}
.lumis-variable-parameter-builtin {
  color: #a16927;
}
