/* modus_operandi
 * revision: 17a64464c27c1be605adca13dbe48f2f402fe107
 */

pre.lumis {
  color: #000000;
  background-color: #ffffff;
}
.lumis-attribute {
  color: #a0132f;
}
.lumis-attribute-builtin {
  color: #a0132f;
}
.lumis-boolean {
  color: #0031a9;
  font-weight: bold;
}
.lumis-character {
  color: #3548cf;
}
.lumis-character-special {
  color: #005077;
}
.lumis-comment {
  color: #595959;
  font-style: italic;
}
.lumis-comment-documentation {
  font-style: italic;
}
.lumis-comment-error {
  color: #a0132f;
}
.lumis-comment-hint {
  color: #595959;
  font-style: italic;
}
.lumis-comment-note {
  color: #005077;
}
.lumis-comment-todo {
  color: #721045;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #7a4f2f;
}
.lumis-constant {
  color: #000000;
}
.lumis-constant-builtin {
  color: #8f0075;
}
.lumis-constant-macro {
  color: #000000;
}
.lumis-constructor {
  color: #7a4f2f;
}
.lumis-constructor-tsx {
  color: #0031a9;
}
.lumis-diff-delta {
  color: #553d00;
  background-color: #ffdfa9;
}
.lumis-diff-minus {
  color: #8f1313;
  background-color: #ffd8d5;
}
.lumis-diff-plus {
  color: #005000;
  background-color: #c1f2d1;
}
.lumis-function {
  color: #721045;
}
.lumis-function-builtin {
  color: #8f0075;
}
.lumis-function-call {
  color: #721045;
}
.lumis-function-macro {
  color: #721045;
}
.lumis-function-method {
  color: #721045;
}
.lumis-function-method-call {
  color: #721045;
}
.lumis-highlighted {
  background-color: #dae5ec;
}
.lumis-keyword {
  color: #531ab6;
  font-style: italic;
}
.lumis-keyword-conditional {
  color: #531ab6;
}
.lumis-keyword-conditional-ternary {
  color: #531ab6;
}
.lumis-keyword-coroutine {
  color: #531ab6;
  font-style: italic;
}
.lumis-keyword-debug {
  color: #8f0075;
}
.lumis-keyword-directive {
  color: #a0132f;
}
.lumis-keyword-directive-define {
  color: #a0132f;
}
.lumis-keyword-exception {
  color: #531ab6;
}
.lumis-keyword-export {
  color: #531ab6;
  font-style: italic;
}
.lumis-keyword-function {
  color: #721045;
}
.lumis-keyword-import {
  color: #a0132f;
}
.lumis-keyword-modifier {
  color: #531ab6;
  font-style: italic;
}
.lumis-keyword-operator {
  color: #000000;
}
.lumis-keyword-repeat {
  color: #531ab6;
}
.lumis-keyword-return {
  color: #531ab6;
  font-style: italic;
}
.lumis-keyword-type {
  color: #531ab6;
  font-style: italic;
}
.lumis-label {
  color: #005e8b;
}
.lumis-markup {
  color: #8f0075;
}
.lumis-markup-environment {
  color: #8f0075;
}
.lumis-markup-environment-name {
  color: #8f0075;
}
.lumis-markup-heading {
  color: #193668;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #0031a9;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #6f5500;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #721045;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #006800;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #a60000;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #3f578f;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #005f5f;
}
.lumis-markup-link-label {
  color: #005077;
}
.lumis-markup-link-url {
  color: #193668;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #000000;
}
.lumis-markup-list-checked {
  color: #006800;
}
.lumis-markup-list-unchecked {
  color: #6f5500;
}
.lumis-markup-math {
  color: #8f0075;
}
.lumis-markup-quote {
  font-style: italic;
}
.lumis-markup-raw {
  color: #3548cf;
}
.lumis-markup-raw-block {
  color: #3548cf;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #a0132f;
}
.lumis-module-builtin {
  color: #531ab6;
}
.lumis-normal {
  color: #000000;
  background-color: #ffffff;
}
.lumis-number {
  color: #003497;
}
.lumis-number-float {
  color: #003497;
}
.lumis-operator {
  color: #000000;
}
.lumis-punctuation-bracket {
  color: #000000;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #a60000;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #6f5500;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #0031a9;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #884900;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #006800;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #531ab6;
}
.lumis-punctuation-delimiter {
  color: #000000;
}
.lumis-punctuation-special {
  color: #000000;
}
.lumis-string {
  color: #3548cf;
}
.lumis-string-documentation {
  font-style: italic;
}
.lumis-string-escape {
  color: #624416;
}
.lumis-string-regex {
  color: #00663f;
}
.lumis-string-regexp {
  color: #7f0000;
}
.lumis-string-special {
  color: #7f0000;
}
.lumis-string-special-path {
  color: #0031a9;
}
.lumis-string-special-symbol {
  color: #005e8b;
}
.lumis-string-special-url {
  color: #005f5f;
}
.lumis-tag {
  color: #005e8b;
}
.lumis-tag-builtin {
  color: #8f0075;
}
.lumis-tag-delimiter {
  color: #000000;
}
.lumis-tag-delimiter-tsx {
  color: #0000b0;
}
.lumis-tag-tsx {
  color: #a60000;
}
.lumis-type {
  color: #005f5f;
}
.lumis-type-builtin {
  color: #005f5f;
}
.lumis-type-definition {
  color: #3f578f;
}
.lumis-variable {
  color: #005e8b;
}
.lumis-variable-builtin {
  color: #531ab6;
}
.lumis-variable-member {
  color: #005e8b;
}
.lumis-variable-parameter {
  color: #005e8b;
}
.lumis-variable-parameter-builtin {
  color: #005077;
}
