/* monokai_pro_dark
 * revision: a68e38b8e55d69a215d0f02598900a79c356da9d
 */

pre.lumis {
  color: #fcfcfa;
  background-color: #2d2a2e;
}
.lumis-attribute {
  color: #a9dc76;
}
.lumis-attribute-builtin {
  color: #fc9867;
}
.lumis-boolean {
  color: #ab9df2;
}
.lumis-character {
  color: #ffd866;
}
.lumis-character-special {
  color: #ffd866;
}
.lumis-comment {
  color: #727072;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #727072;
  font-style: italic;
}
.lumis-comment-documentation-lua {
  color: #78dce8;
}
.lumis-comment-error {
  color: #ff6188;
}
.lumis-comment-hint {
  color: #727072;
  font-style: italic;
}
.lumis-comment-note {
  color: #78dce8;
}
.lumis-comment-todo {
  color: #ab9df2;
  background-color: #2d2a2e;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #fc9867;
}
.lumis-constant {
  color: #ab9df2;
}
.lumis-constant-builtin {
  color: #ab9df2;
}
.lumis-constant-cpp {
  color: #78dce8;
}
.lumis-constant-macro {
  color: #ab9df2;
}
.lumis-constant-macro-cpp {
  color: #ff6188;
}
.lumis-constructor {
  color: #a9dc76;
}
.lumis-diff-delta {
  color: #ffd866;
}
.lumis-diff-minus {
  color: #ff6188;
}
.lumis-diff-plus {
  color: #a9dc76;
}
.lumis-function {
  color: #a9dc76;
}
.lumis-function-builtin {
  color: #a9dc76;
}
.lumis-function-call {
  color: #a9dc76;
}
.lumis-function-macro {
  color: #a9dc76;
}
.lumis-function-method {
  color: #a9dc76;
}
.lumis-function-method-call {
  color: #a9dc76;
}
.lumis-function-scss {
  color: #78dce8;
}
.lumis-highlighted {
  background-color: #373538;
}
.lumis-keyword {
  color: #ff6188;
  font-style: italic;
}
.lumis-keyword-conditional {
  color: #ff6188;
}
.lumis-keyword-conditional-ternary {
  color: #ff6188;
}
.lumis-keyword-coroutine {
  color: #ff6188;
}
.lumis-keyword-cpp {
  color: #78dce8;
  font-style: italic;
}
.lumis-keyword-debug {
  color: #ff6188;
}
.lumis-keyword-directive {
  color: #ff6188;
}
.lumis-keyword-directive-define {
  color: #ff6188;
}
.lumis-keyword-dockerfile {
  color: #ff6188;
}
.lumis-keyword-exception {
  color: #ff6188;
}
.lumis-keyword-export {
  color: #ff6188;
  font-style: italic;
}
.lumis-keyword-function {
  color: #78dce8;
  font-style: italic;
}
.lumis-keyword-function-go {
  color: #ff6188;
}
.lumis-keyword-function-lua {
  color: #ff6188;
}
.lumis-keyword-import {
  color: #ff6188;
}
.lumis-keyword-modifier {
  color: #ff6188;
  font-style: italic;
}
.lumis-keyword-operator {
  color: #ff6188;
}
.lumis-keyword-repeat {
  color: #ff6188;
}
.lumis-keyword-return {
  color: #ff6188;
}
.lumis-keyword-scss {
  color: #ff6188;
}
.lumis-keyword-type {
  color: #78dce8;
  font-style: italic;
}
.lumis-label {
  color: #78dce8;
}
.lumis-markup {
  color: #fcfcfa;
}
.lumis-markup-environment {
  color: #fcfcfa;
}
.lumis-markup-environment-name {
  color: #fcfcfa;
}
.lumis-markup-heading {
  color: #a9dc76;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #a9dc76;
  font-weight: bold;
}
.lumis-markup-heading-1-markdown {
  color: #ffd866;
}
.lumis-markup-heading-2 {
  color: #a9dc76;
  font-weight: bold;
}
.lumis-markup-heading-2-markdown {
  color: #ffd866;
}
.lumis-markup-heading-3 {
  color: #a9dc76;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #ffd866;
}
.lumis-markup-heading-4 {
  color: #a9dc76;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #ffd866;
}
.lumis-markup-heading-5 {
  color: #a9dc76;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #ffd866;
}
.lumis-markup-heading-6 {
  color: #a9dc76;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #ffd866;
}
.lumis-markup-italic {
  color: #fcfcfa;
  font-style: italic;
}
.lumis-markup-italic-markdown_inline {
  font-style: italic;
}
.lumis-markup-link {
  color: #fc9867;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #fc9867;
  text-decoration: underline;
}
.lumis-markup-link-label-markdown_inline {
  color: #ff6188;
}
.lumis-markup-link-url {
  color: #fc9867;
  text-decoration: underline;
}
.lumis-markup-link-url-markdown_inline {
  color: #a9dc76;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #fcfcfa;
}
.lumis-markup-list-checked {
  color: #fcfcfa;
}
.lumis-markup-list-unchecked {
  color: #fcfcfa;
}
.lumis-markup-math {
  color: #ffd866;
}
.lumis-markup-quote {
  color: #fcfcfa;
}
.lumis-markup-raw {
  color: #ffd866;
}
.lumis-markup-raw-block {
  color: #ffd866;
}
.lumis-markup-raw-block-markdown {
  background-color: #221f22;
}
.lumis-markup-strikethrough {
  color: #fcfcfa;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #fcfcfa;
  font-weight: bold;
}
.lumis-markup-strong-markdown_inline {
  font-weight: bold;
}
.lumis-markup-underline {
  color: #fcfcfa;
  text-decoration: underline;
}
.lumis-module {
  color: #78dce8;
}
.lumis-module-builtin {
  color: #78dce8;
}
.lumis-module-go {
  color: #fcfcfa;
}
.lumis-namespace-cpp {
  color: #a9dc76;
}
.lumis-namespace-lua {
  color: #ff6188;
}
.lumis-number {
  color: #ab9df2;
}
.lumis-number-float {
  color: #ab9df2;
}
.lumis-operator {
  color: #ff6188;
}
.lumis-property {
  color: #fcfcfa;
}
.lumis-property-scss {
  color: #a9dc76;
}
.lumis-property-yaml {
  color: #ff6188;
}
.lumis-punctuation-bracket {
  color: #ff6188;
}
.lumis-punctuation-delimiter {
  color: #939293;
}
.lumis-punctuation-special {
  color: #939293;
}
.lumis-punctuation-special-latex {
  color: #ff6188;
}
.lumis-punctuation-special-yaml {
  color: #fcfcfa;
}
.lumis-string {
  color: #ffd866;
}
.lumis-string-documentation {
  color: #727072;
}
.lumis-string-escape {
  color: #ab9df2;
}
.lumis-string-latex {
  color: #78dce8;
}
.lumis-string-regexp {
  color: #ffd866;
}
.lumis-string-scss {
  color: #fc9867;
  font-style: italic;
}
.lumis-string-special {
  color: #fc9867;
}
.lumis-string-special-path {
  color: #fc9867;
}
.lumis-string-special-symbol {
  color: #fc9867;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #ff6188;
}
.lumis-tag-attribute {
  color: #78dce8;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #ff6188;
}
.lumis-tag-delimiter {
  color: #939293;
}
.lumis-type {
  color: #78dce8;
}
.lumis-type-builtin {
  color: #78dce8;
  font-style: italic;
}
.lumis-type-cpp {
  color: #fc9867;
  font-style: italic;
}
.lumis-type-definition {
  color: #a9dc76;
}
.lumis-variable {
  color: #fcfcfa;
}
.lumis-variable-builtin {
  color: #c1c0c0;
  font-style: italic;
}
.lumis-variable-member {
  color: #fcfcfa;
}
.lumis-variable-parameter {
  color: #fc9867;
  font-style: italic;
}
.lumis-variable-parameter-builtin {
  color: #fc9867;
  font-style: italic;
}
