/* neofusion
 * revision: c8ef24be527be37254bf8981fa3e6216dee4f8d8
 */

pre.lumis {
  color: #66def9;
  background-color: #06101e;
}
.lumis-attribute {
  color: #e2d9c5;
}
.lumis-attribute-builtin {
  color: #fd5e3a;
}
.lumis-boolean {
  color: #fa7a61;
}
.lumis-character {
  color: #fa7a61;
}
.lumis-character-special {
  color: #fd5e3a;
}
.lumis-comment {
  color: #22536f;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #22536f;
  font-style: italic;
}
.lumis-comment-error {
  color: #06101e;
  background-color: #fd5e3a;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #22536f;
  font-style: italic;
}
.lumis-comment-note {
  color: #fd5e3a;
}
.lumis-comment-todo {
  color: #06101e;
  background-color: #fd5e3a;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-warning {
  color: #fd5e3a;
  font-weight: bold;
}
.lumis-constant {
  color: #fa7a61;
}
.lumis-constant-builtin {
  color: #fd5e3a;
}
.lumis-constant-macro {
  color: #e2d9c5;
}
.lumis-constructor {
  color: #fd5e3a;
}
.lumis-diff-delta {
  background-color: #06364b;
}
.lumis-diff-minus {
  background-color: #722529;
}
.lumis-diff-plus {
  background-color: #5f6e29;
}
.lumis-function {
  color: #35b5ff;
  font-weight: bold;
}
.lumis-function-builtin {
  color: #fd5e3a;
}
.lumis-function-call {
  color: #35b5ff;
  font-weight: bold;
}
.lumis-function-macro {
  color: #e2d9c5;
}
.lumis-function-method {
  color: #35b5ff;
  font-weight: bold;
}
.lumis-function-method-call {
  color: #35b5ff;
  font-weight: bold;
}
.lumis-highlighted {
  background-color: #031b26;
}
.lumis-keyword {
  color: #fd5e3a;
}
.lumis-keyword-conditional {
  color: #fd5e3a;
}
.lumis-keyword-conditional-ternary {
  color: #fd5e3a;
}
.lumis-keyword-coroutine {
  color: #fd5e3a;
}
.lumis-keyword-debug {
  color: #fd5e3a;
}
.lumis-keyword-directive {
  color: #e2d9c5;
}
.lumis-keyword-directive-define {
  color: #e2d9c5;
}
.lumis-keyword-exception {
  color: #fd5e3a;
}
.lumis-keyword-export {
  color: #fd5e3a;
}
.lumis-keyword-function {
  color: #fd5e3a;
}
.lumis-keyword-import {
  color: #e2d9c5;
}
.lumis-keyword-modifier {
  color: #fd5e3a;
}
.lumis-keyword-operator {
  color: #fd5e3a;
}
.lumis-keyword-repeat {
  color: #fd5e3a;
}
.lumis-keyword-return {
  color: #fd5e3a;
}
.lumis-keyword-type {
  color: #fd5e3a;
}
.lumis-label {
  color: #fd5e3a;
}
.lumis-markup {
  color: #66def9;
}
.lumis-markup-environment {
  color: #e2d9c5;
}
.lumis-markup-environment-name {
  color: #fd5e3a;
}
.lumis-markup-heading {
  color: #35b5ff;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #35b5ff;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #35b5ff;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #35b5ff;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #35b5ff;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #35b5ff;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #35b5ff;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #e2d9c5;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #fd5e3a;
}
.lumis-markup-link-url {
  color: #e2d9c5;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #fd5e3a;
}
.lumis-markup-list-checked {
  color: #35b5ff;
}
.lumis-markup-list-unchecked {
  color: #22536f;
}
.lumis-markup-math {
  color: #fd5e3a;
}
.lumis-markup-quote {
  color: #66def9;
}
.lumis-markup-raw {
  color: #35b5ff;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #35b5ff;
  font-style: italic;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #66def9;
}
.lumis-module-builtin {
  color: #fd5e3a;
}
.lumis-namespace {
  color: #66def9;
}
.lumis-normal {
  color: #66def9;
  background-color: #06101e;
}
.lumis-number {
  color: #fa7a61;
}
.lumis-number-float {
  color: #fa7a61;
}
.lumis-operator {
  color: #fd5e3a;
}
.lumis-property {
  color: #66def9;
}
.lumis-punctuation-bracket {
  color: #fd5e3a;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #fd5e3a;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #e2d9c5;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #35b5ff;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #fa7a61;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #008da3;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #fd5e3a;
}
.lumis-punctuation-delimiter {
  color: #fd5e3a;
}
.lumis-punctuation-special {
  color: #fd5e3a;
}
.lumis-string {
  color: #35b5ff;
  font-style: italic;
}
.lumis-string-documentation {
  color: #35b5ff;
  font-style: italic;
}
.lumis-string-escape {
  color: #fd5e3a;
}
.lumis-string-regexp {
  color: #35b5ff;
  font-style: italic;
}
.lumis-string-special {
  color: #fd5e3a;
}
.lumis-string-special-path {
  color: #e2d9c5;
  text-decoration: underline;
}
.lumis-string-special-symbol {
  color: #66def9;
}
.lumis-string-special-url {
  color: #e2d9c5;
  text-decoration: underline;
}
.lumis-tag {
  color: #fd5e3a;
}
.lumis-tag-attribute {
  color: #66def9;
}
.lumis-tag-builtin {
  color: #fd5e3a;
}
.lumis-tag-delimiter {
  color: #fd5e3a;
}
.lumis-type {
  color: #fd5e3a;
}
.lumis-type-builtin {
  color: #fd5e3a;
}
.lumis-type-definition {
  color: #fd5e3a;
}
.lumis-variable {
  color: #66def9;
}
.lumis-variable-builtin {
  color: #fd5e3a;
}
.lumis-variable-member {
  color: #66def9;
}
.lumis-variable-parameter {
  color: #66def9;
}
.lumis-variable-parameter-builtin {
  color: #fd5e3a;
}
