/* neomodern_hojicha_light
 * revision: d41469578922a23d75a0d9e8deef1e34837230a6
 */

pre.lumis {
  color: #6c433f;
  background-color: #e8e4dd;
}
.lumis-attribute {
  color: #9a836a;
}
.lumis-attribute-builtin {
  color: #675d99;
}
.lumis-boolean {
  color: #825b41;
}
.lumis-character {
  color: #534b31;
}
.lumis-character-special {
  color: #7f6956;
}
.lumis-comment {
  color: #c29b9b;
}
.lumis-comment-documentation {
  color: #c29b9b;
}
.lumis-comment-error {
  color: #d38785;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-hint {
  color: #c29b9b;
}
.lumis-comment-note {
  color: #9999c1;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-todo {
  color: #a07876;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-warning {
  color: #ab8e76;
  font-weight: bold;
  font-style: italic;
}
.lumis-constant {
  color: #be6454;
}
.lumis-constant-builtin {
  color: #675d99;
}
.lumis-constant-macro {
  color: #be6454;
}
.lumis-constructor {
  color: #675d99;
}
.lumis-constructor-lua {
  color: #617b5a;
}
.lumis-diff-delta {
  color: #7d97db;
}
.lumis-diff-minus {
  color: #de7977;
}
.lumis-diff-plus {
  color: #648969;
}
.lumis-function {
  color: #9a836a;
}
.lumis-function-builtin {
  color: #9a836a;
}
.lumis-function-call {
  color: #9a836a;
}
.lumis-function-macro {
  color: #9a836a;
}
.lumis-function-method {
  color: #9a836a;
}
.lumis-function-method-call {
  color: #9a836a;
}
.lumis-highlighted {
  background-color: #ebdec2;
}
.lumis-keyword {
  color: #7f6956;
}
.lumis-keyword-conditional {
  color: #7f6956;
}
.lumis-keyword-conditional-ternary {
  color: #7f6956;
}
.lumis-keyword-coroutine {
  color: #7f6956;
}
.lumis-keyword-debug {
  color: #7f6956;
}
.lumis-keyword-directive {
  color: #7f6956;
}
.lumis-keyword-directive-define {
  color: #7f6956;
}
.lumis-keyword-exception {
  color: #de7977;
}
.lumis-keyword-export {
  color: #7f6956;
}
.lumis-keyword-function {
  color: #7f6956;
}
.lumis-keyword-import {
  color: #7f6956;
}
.lumis-keyword-modifier {
  color: #7f6956;
}
.lumis-keyword-operator {
  color: #7f6956;
}
.lumis-keyword-repeat {
  color: #7f6956;
}
.lumis-keyword-return {
  color: #7f6956;
}
.lumis-keyword-type {
  color: #7f6956;
}
.lumis-label {
  color: #7f6956;
}
.lumis-markup {
  color: #6c433f;
}
.lumis-markup-environment {
  color: #6c433f;
}
.lumis-markup-environment-name {
  color: #6c433f;
}
.lumis-markup-heading {
  color: #7f6956;
}
.lumis-markup-heading-1 {
  color: #7f6956;
}
.lumis-markup-heading-2 {
  color: #7f6956;
}
.lumis-markup-heading-3 {
  color: #7f6956;
}
.lumis-markup-heading-4 {
  color: #7f6956;
}
.lumis-markup-heading-5 {
  color: #7f6956;
}
.lumis-markup-heading-6 {
  color: #7f6956;
}
.lumis-markup-italic {
  color: #6c433f;
  font-style: italic;
}
.lumis-markup-link {
  color: #675d99;
}
.lumis-markup-link-label {
  color: #675d99;
}
.lumis-markup-link-url {
  color: #675d99;
}
.lumis-markup-list {
  color: #9a836a;
}
.lumis-markup-list-checked {
  color: #9a836a;
}
.lumis-markup-list-unchecked {
  color: #9a836a;
}
.lumis-markup-math {
  color: #675d99;
}
.lumis-markup-quote {
  color: #6c433f;
}
.lumis-markup-quote-markdown {
  color: #c29b9b;
}
.lumis-markup-raw {
  color: #9a836a;
}
.lumis-markup-raw-block {
  color: #9a836a;
}
.lumis-markup-strikethrough {
  color: #c29b9b;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #6c433f;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #6c433f;
  text-decoration: underline;
}
.lumis-module {
  color: #675d99;
}
.lumis-module-builtin {
  color: #675d99;
}
.lumis-normal {
  color: #6c433f;
  background-color: #e8e4dd;
}
.lumis-number {
  color: #825b41;
}
.lumis-number-float {
  color: #825b41;
}
.lumis-operator {
  color: #76966e;
}
.lumis-property {
  color: #586885;
}
.lumis-punctuation-bracket {
  color: #76966e;
}
.lumis-punctuation-delimiter {
  color: #6c433f;
}
.lumis-punctuation-special {
  color: #7f6956;
}
.lumis-string {
  color: #534b31;
}
.lumis-string-documentation {
  color: #534b31;
}
.lumis-string-escape {
  color: #7f6956;
}
.lumis-string-regexp {
  color: #7f6956;
}
.lumis-string-special {
  color: #7f6956;
}
.lumis-string-special-path {
  color: #7f6956;
}
.lumis-string-special-symbol {
  color: #586885;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #675d99;
}
.lumis-tag-attribute {
  color: #586885;
}
.lumis-tag-builtin {
  color: #675d99;
}
.lumis-tag-delimiter {
  color: #6c433f;
}
.lumis-type {
  color: #675d99;
}
.lumis-type-builtin {
  color: #675d99;
}
.lumis-type-definition {
  color: #675d99;
}
.lumis-variable {
  color: #6c433f;
}
.lumis-variable-builtin {
  color: #675d99;
}
.lumis-variable-member {
  color: #586885;
}
.lumis-variable-parameter {
  color: #617b5a;
}
.lumis-variable-parameter-builtin {
  color: #675d99;
}
