/* neomodern_moon_dark
 * revision: d41469578922a23d75a0d9e8deef1e34837230a6
 */

pre.lumis {
  color: #a2a2ad;
  background-color: #151515;
}
.attribute {
  color: #626e85;
}
.attribute-builtin {
  color: #6d748c;
}
.boolean {
  color: #b39066;
}
.character {
  color: #777d77;
}
.character-special {
  color: #7a8aa6;
}
.comment {
  color: #4c4c57;
}
.comment-documentation {
  color: #4c4c57;
}
.comment-error {
  color: #a26c6d;
  font-weight: bold;
  font-style: italic;
}
.comment-hint {
  color: #4c4c57;
}
.comment-note {
  color: #6e7daa;
  font-weight: bold;
  font-style: italic;
}
.comment-todo {
  color: #6e6e79;
  font-weight: bold;
  font-style: italic;
}
.comment-warning {
  color: #877a68;
  font-weight: bold;
  font-style: italic;
}
.constant {
  color: #b5b3a5;
}
.constant-builtin {
  color: #6d748c;
}
.constant-macro {
  color: #b5b3a5;
}
.constructor {
  color: #6d748c;
}
.constructor-lua {
  color: #c3c3d0;
}
.diff-delta {
  color: #849ee1;
}
.diff-minus {
  color: #dc827b;
}
.diff-plus {
  color: #69896f;
}
.function {
  color: #626e85;
}
.function-builtin {
  color: #626e85;
}
.function-call {
  color: #626e85;
}
.function-macro {
  color: #626e85;
}
.function-method {
  color: #626e85;
}
.function-method-call {
  color: #626e85;
}
.highlighted {
  background-color: #1d1d1d;
}
.keyword {
  color: #7a8aa6;
}
.keyword-conditional {
  color: #7a8aa6;
}
.keyword-conditional-ternary {
  color: #7a8aa6;
}
.keyword-coroutine {
  color: #7a8aa6;
}
.keyword-debug {
  color: #7a8aa6;
}
.keyword-directive {
  color: #7a8aa6;
}
.keyword-directive-define {
  color: #7a8aa6;
}
.keyword-exception {
  color: #dc827b;
}
.keyword-export {
  color: #7a8aa6;
}
.keyword-function {
  color: #7a8aa6;
}
.keyword-import {
  color: #7a8aa6;
}
.keyword-modifier {
  color: #7a8aa6;
}
.keyword-operator {
  color: #7a8aa6;
}
.keyword-repeat {
  color: #7a8aa6;
}
.keyword-return {
  color: #7a8aa6;
}
.keyword-type {
  color: #7a8aa6;
}
.label {
  color: #7a8aa6;
}
.markup {
  color: #a2a2ad;
}
.markup-environment {
  color: #a2a2ad;
}
.markup-environment-name {
  color: #a2a2ad;
}
.markup-heading {
  color: #7a8aa6;
}
.markup-heading-1 {
  color: #7a8aa6;
}
.markup-heading-2 {
  color: #7a8aa6;
}
.markup-heading-3 {
  color: #7a8aa6;
}
.markup-heading-4 {
  color: #7a8aa6;
}
.markup-heading-5 {
  color: #7a8aa6;
}
.markup-heading-6 {
  color: #7a8aa6;
}
.markup-italic {
  color: #a2a2ad;
  font-style: italic;
}
.markup-link {
  color: #6d748c;
}
.markup-link-label {
  color: #6d748c;
}
.markup-link-url {
  color: #6d748c;
}
.markup-list {
  color: #626e85;
}
.markup-list-checked {
  color: #626e85;
}
.markup-list-unchecked {
  color: #626e85;
}
.markup-math {
  color: #6d748c;
}
.markup-quote {
  color: #a2a2ad;
}
.markup-quote-markdown {
  color: #4c4c57;
}
.markup-raw {
  color: #626e85;
}
.markup-raw-block {
  color: #626e85;
}
.markup-strikethrough {
  color: #4c4c57;
  text-decoration: line-through;
}
.markup-strong {
  color: #a2a2ad;
  font-weight: bold;
}
.markup-underline {
  color: #a2a2ad;
  text-decoration: underline;
}
.module {
  color: #6d748c;
}
.module-builtin {
  color: #6d748c;
}
.normal {
  color: #a2a2ad;
  background-color: #151515;
}
.number {
  color: #b39066;
}
.number-float {
  color: #b39066;
}
.operator {
  color: #575d70;
}
.property {
  color: #817882;
}
.punctuation-bracket {
  color: #575d70;
}
.punctuation-delimiter {
  color: #a2a2ad;
}
.punctuation-special {
  color: #7a8aa6;
}
.string {
  color: #777d77;
}
.string-documentation {
  color: #777d77;
}
.string-escape {
  color: #7a8aa6;
}
.string-regexp {
  color: #7a8aa6;
}
.string-special {
  color: #7a8aa6;
}
.string-special-path {
  color: #7a8aa6;
}
.string-special-symbol {
  color: #817882;
}
.string-special-url {
  text-decoration: underline;
}
.tag {
  color: #6d748c;
}
.tag-attribute {
  color: #817882;
}
.tag-builtin {
  color: #6d748c;
}
.tag-delimiter {
  color: #a2a2ad;
}
.type {
  color: #6d748c;
}
.type-builtin {
  color: #6d748c;
}
.type-definition {
  color: #6d748c;
}
.variable {
  color: #a2a2ad;
}
.variable-builtin {
  color: #6d748c;
}
.variable-member {
  color: #817882;
}
.variable-parameter {
  color: #c3c3d0;
}
.variable-parameter-builtin {
  color: #6d748c;
}
