/* neomodern_iceclimber_dark
 * revision: d41469578922a23d75a0d9e8deef1e34837230a6
 */

pre.lumis {
  color: #a0a0af;
  background-color: #171719;
}
.lumis-attribute {
  color: #87a1e6;
}
.lumis-attribute-builtin {
  color: #b9b8e3;
}
.lumis-boolean {
  color: #cfa18c;
}
.lumis-character {
  color: #90aba0;
}
.lumis-character-special {
  color: #8a88d1;
}
.lumis-comment {
  color: #61616a;
}
.lumis-comment-documentation {
  color: #61616a;
}
.lumis-comment-error {
  color: #ae767e;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-hint {
  color: #61616a;
}
.lumis-comment-note {
  color: #7789b9;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-todo {
  color: #7a7a86;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-warning {
  color: #93816d;
  font-weight: bold;
  font-style: italic;
}
.lumis-constant {
  color: #6a969c;
}
.lumis-constant-builtin {
  color: #b9b8e3;
}
.lumis-constant-macro {
  color: #6a969c;
}
.lumis-constructor {
  color: #b9b8e3;
}
.lumis-constructor-lua {
  color: #abbdee;
}
.lumis-diff-delta {
  color: #86a3ee;
}
.lumis-diff-minus {
  color: #e1848c;
}
.lumis-diff-plus {
  color: #6e9277;
}
.lumis-function {
  color: #87a1e6;
}
.lumis-function-builtin {
  color: #87a1e6;
}
.lumis-function-call {
  color: #87a1e6;
}
.lumis-function-macro {
  color: #87a1e6;
}
.lumis-function-method {
  color: #87a1e6;
}
.lumis-function-method-call {
  color: #87a1e6;
}
.lumis-highlighted {
  background-color: #1f1f21;
}
.lumis-keyword {
  color: #8a88d1;
}
.lumis-keyword-conditional {
  color: #8a88d1;
}
.lumis-keyword-conditional-ternary {
  color: #8a88d1;
}
.lumis-keyword-coroutine {
  color: #8a88d1;
}
.lumis-keyword-debug {
  color: #8a88d1;
}
.lumis-keyword-directive {
  color: #8a88d1;
}
.lumis-keyword-directive-define {
  color: #8a88d1;
}
.lumis-keyword-exception {
  color: #e1848c;
}
.lumis-keyword-export {
  color: #8a88d1;
}
.lumis-keyword-function {
  color: #8a88d1;
}
.lumis-keyword-import {
  color: #8a88d1;
}
.lumis-keyword-modifier {
  color: #8a88d1;
}
.lumis-keyword-operator {
  color: #8a88d1;
}
.lumis-keyword-repeat {
  color: #8a88d1;
}
.lumis-keyword-return {
  color: #8a88d1;
}
.lumis-keyword-type {
  color: #8a88d1;
}
.lumis-label {
  color: #8a88d1;
}
.lumis-markup {
  color: #a0a0af;
}
.lumis-markup-environment {
  color: #a0a0af;
}
.lumis-markup-environment-name {
  color: #a0a0af;
}
.lumis-markup-heading {
  color: #8a88d1;
}
.lumis-markup-heading-1 {
  color: #8a88d1;
}
.lumis-markup-heading-2 {
  color: #8a88d1;
}
.lumis-markup-heading-3 {
  color: #8a88d1;
}
.lumis-markup-heading-4 {
  color: #8a88d1;
}
.lumis-markup-heading-5 {
  color: #8a88d1;
}
.lumis-markup-heading-6 {
  color: #8a88d1;
}
.lumis-markup-italic {
  color: #a0a0af;
  font-style: italic;
}
.lumis-markup-link {
  color: #b9b8e3;
}
.lumis-markup-link-label {
  color: #b9b8e3;
}
.lumis-markup-link-url {
  color: #b9b8e3;
}
.lumis-markup-list {
  color: #87a1e6;
}
.lumis-markup-list-checked {
  color: #87a1e6;
}
.lumis-markup-list-unchecked {
  color: #87a1e6;
}
.lumis-markup-math {
  color: #b9b8e3;
}
.lumis-markup-quote {
  color: #a0a0af;
}
.lumis-markup-quote-markdown {
  color: #61616a;
}
.lumis-markup-raw {
  color: #87a1e6;
}
.lumis-markup-raw-block {
  color: #87a1e6;
}
.lumis-markup-strikethrough {
  color: #61616a;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #a0a0af;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #a0a0af;
  text-decoration: underline;
}
.lumis-module {
  color: #b9b8e3;
}
.lumis-module-builtin {
  color: #b9b8e3;
}
.lumis-normal {
  color: #a0a0af;
  background-color: #171719;
}
.lumis-number {
  color: #cfa18c;
}
.lumis-number-float {
  color: #cfa18c;
}
.lumis-operator {
  color: #6e6da7;
}
.lumis-property {
  color: #cf9dbd;
}
.lumis-punctuation-bracket {
  color: #6e6da7;
}
.lumis-punctuation-delimiter {
  color: #a0a0af;
}
.lumis-punctuation-special {
  color: #8a88d1;
}
.lumis-string {
  color: #90aba0;
}
.lumis-string-documentation {
  color: #90aba0;
}
.lumis-string-escape {
  color: #8a88d1;
}
.lumis-string-regexp {
  color: #8a88d1;
}
.lumis-string-special {
  color: #8a88d1;
}
.lumis-string-special-path {
  color: #8a88d1;
}
.lumis-string-special-symbol {
  color: #cf9dbd;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #b9b8e3;
}
.lumis-tag-attribute {
  color: #cf9dbd;
}
.lumis-tag-builtin {
  color: #b9b8e3;
}
.lumis-tag-delimiter {
  color: #a0a0af;
}
.lumis-type {
  color: #b9b8e3;
}
.lumis-type-builtin {
  color: #b9b8e3;
}
.lumis-type-definition {
  color: #b9b8e3;
}
.lumis-variable {
  color: #a0a0af;
}
.lumis-variable-builtin {
  color: #b9b8e3;
}
.lumis-variable-member {
  color: #cf9dbd;
}
.lumis-variable-parameter {
  color: #abbdee;
}
.lumis-variable-parameter-builtin {
  color: #b9b8e3;
}
