/* neomodern_iceclimber_light
 * revision: d41469578922a23d75a0d9e8deef1e34837230a6
 */

pre.lumis {
  color: #494984;
  background-color: #e3e3e4;
}
.lumis-attribute {
  color: #294c8d;
}
.lumis-attribute-builtin {
  color: #2f2a89;
}
.lumis-boolean {
  color: #5f4030;
}
.lumis-character {
  color: #385148;
}
.lumis-character-special {
  color: #544fc5;
}
.lumis-comment {
  color: #8a8aaf;
}
.lumis-comment-documentation {
  color: #8a8aaf;
}
.lumis-comment-error {
  color: #b37a8e;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-hint {
  color: #8a8aaf;
}
.lumis-comment-note {
  color: #7c8fca;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-todo {
  color: #70709e;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-warning {
  color: #95857e;
  font-weight: bold;
  font-style: italic;
}
.lumis-constant {
  color: #3d676c;
}
.lumis-constant-builtin {
  color: #2f2a89;
}
.lumis-constant-macro {
  color: #3d676c;
}
.lumis-constructor {
  color: #2f2a89;
}
.lumis-constructor-lua {
  color: #1a3765;
}
.lumis-diff-delta {
  color: #7392dc;
}
.lumis-diff-minus {
  color: #ce6f78;
}
.lumis-diff-plus {
  color: #5c8066;
}
.lumis-function {
  color: #294c8d;
}
.lumis-function-builtin {
  color: #294c8d;
}
.lumis-function-call {
  color: #294c8d;
}
.lumis-function-macro {
  color: #294c8d;
}
.lumis-function-method {
  color: #294c8d;
}
.lumis-function-method-call {
  color: #294c8d;
}
.lumis-highlighted {
  background-color: #dcdce6;
}
.lumis-keyword {
  color: #544fc5;
}
.lumis-keyword-conditional {
  color: #544fc5;
}
.lumis-keyword-conditional-ternary {
  color: #544fc5;
}
.lumis-keyword-coroutine {
  color: #544fc5;
}
.lumis-keyword-debug {
  color: #544fc5;
}
.lumis-keyword-directive {
  color: #544fc5;
}
.lumis-keyword-directive-define {
  color: #544fc5;
}
.lumis-keyword-exception {
  color: #ce6f78;
}
.lumis-keyword-export {
  color: #544fc5;
}
.lumis-keyword-function {
  color: #544fc5;
}
.lumis-keyword-import {
  color: #544fc5;
}
.lumis-keyword-modifier {
  color: #544fc5;
}
.lumis-keyword-operator {
  color: #544fc5;
}
.lumis-keyword-repeat {
  color: #544fc5;
}
.lumis-keyword-return {
  color: #544fc5;
}
.lumis-keyword-type {
  color: #544fc5;
}
.lumis-label {
  color: #544fc5;
}
.lumis-markup {
  color: #494984;
}
.lumis-markup-environment {
  color: #494984;
}
.lumis-markup-environment-name {
  color: #494984;
}
.lumis-markup-heading {
  color: #544fc5;
}
.lumis-markup-heading-1 {
  color: #544fc5;
}
.lumis-markup-heading-2 {
  color: #544fc5;
}
.lumis-markup-heading-3 {
  color: #544fc5;
}
.lumis-markup-heading-4 {
  color: #544fc5;
}
.lumis-markup-heading-5 {
  color: #544fc5;
}
.lumis-markup-heading-6 {
  color: #544fc5;
}
.lumis-markup-italic {
  color: #494984;
  font-style: italic;
}
.lumis-markup-link {
  color: #2f2a89;
}
.lumis-markup-link-label {
  color: #2f2a89;
}
.lumis-markup-link-url {
  color: #2f2a89;
}
.lumis-markup-list {
  color: #294c8d;
}
.lumis-markup-list-checked {
  color: #294c8d;
}
.lumis-markup-list-unchecked {
  color: #294c8d;
}
.lumis-markup-math {
  color: #2f2a89;
}
.lumis-markup-quote {
  color: #494984;
}
.lumis-markup-quote-markdown {
  color: #8a8aaf;
}
.lumis-markup-raw {
  color: #294c8d;
}
.lumis-markup-raw-block {
  color: #294c8d;
}
.lumis-markup-strikethrough {
  color: #8a8aaf;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #494984;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #494984;
  text-decoration: underline;
}
.lumis-module {
  color: #2f2a89;
}
.lumis-module-builtin {
  color: #2f2a89;
}
.lumis-number {
  color: #5f4030;
}
.lumis-number-float {
  color: #5f4030;
}
.lumis-operator {
  color: #7573c1;
}
.lumis-property {
  color: #6c325a;
}
.lumis-punctuation-bracket {
  color: #7573c1;
}
.lumis-punctuation-delimiter {
  color: #494984;
}
.lumis-punctuation-special {
  color: #544fc5;
}
.lumis-string {
  color: #385148;
}
.lumis-string-documentation {
  color: #385148;
}
.lumis-string-escape {
  color: #544fc5;
}
.lumis-string-regexp {
  color: #544fc5;
}
.lumis-string-special {
  color: #544fc5;
}
.lumis-string-special-path {
  color: #544fc5;
}
.lumis-string-special-symbol {
  color: #6c325a;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #2f2a89;
}
.lumis-tag-attribute {
  color: #6c325a;
}
.lumis-tag-builtin {
  color: #2f2a89;
}
.lumis-tag-delimiter {
  color: #494984;
}
.lumis-type {
  color: #2f2a89;
}
.lumis-type-builtin {
  color: #2f2a89;
}
.lumis-type-definition {
  color: #2f2a89;
}
.lumis-variable {
  color: #494984;
}
.lumis-variable-builtin {
  color: #2f2a89;
}
.lumis-variable-member {
  color: #6c325a;
}
.lumis-variable-parameter {
  color: #1a3765;
}
.lumis-variable-parameter-builtin {
  color: #2f2a89;
}
