/* neomodern_roseprime_dark
 * revision: d41469578922a23d75a0d9e8deef1e34837230a6
 */

pre.lumis {
  color: #c4b6c5;
  background-color: #141517;
}
.lumis-attribute {
  color: #c4959c;
}
.lumis-attribute-builtin {
  color: #9bbdb8;
}
.lumis-boolean {
  color: #a18877;
}
.lumis-character {
  color: #c9aa95;
}
.lumis-character-special {
  color: #5f86b0;
}
.lumis-comment {
  color: #666068;
}
.lumis-comment-documentation {
  color: #666068;
}
.lumis-comment-error {
  color: #af757a;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-hint {
  color: #666068;
}
.lumis-comment-note {
  color: #7b89ba;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-todo {
  color: #8c828d;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-warning {
  color: #94826d;
  font-weight: bold;
  font-style: italic;
}
.lumis-constant {
  color: #96aff2;
}
.lumis-constant-builtin {
  color: #9bbdb8;
}
.lumis-constant-macro {
  color: #96aff2;
}
.lumis-constructor {
  color: #9bbdb8;
}
.lumis-constructor-lua {
  color: #9fb6d0;
}
.lumis-diff-delta {
  color: #89a5f0;
}
.lumis-diff-minus {
  color: #df8386;
}
.lumis-diff-plus {
  color: #70967c;
}
.lumis-function {
  color: #c4959c;
}
.lumis-function-builtin {
  color: #c4959c;
}
.lumis-function-call {
  color: #c4959c;
}
.lumis-function-macro {
  color: #c4959c;
}
.lumis-function-method {
  color: #c4959c;
}
.lumis-function-method-call {
  color: #c4959c;
}
.lumis-highlighted {
  background-color: #1c1d1f;
}
.lumis-keyword {
  color: #5f86b0;
}
.lumis-keyword-conditional {
  color: #5f86b0;
}
.lumis-keyword-conditional-ternary {
  color: #5f86b0;
}
.lumis-keyword-coroutine {
  color: #5f86b0;
}
.lumis-keyword-debug {
  color: #5f86b0;
}
.lumis-keyword-directive {
  color: #5f86b0;
}
.lumis-keyword-directive-define {
  color: #5f86b0;
}
.lumis-keyword-exception {
  color: #df8386;
}
.lumis-keyword-export {
  color: #5f86b0;
}
.lumis-keyword-function {
  color: #5f86b0;
}
.lumis-keyword-import {
  color: #5f86b0;
}
.lumis-keyword-modifier {
  color: #5f86b0;
}
.lumis-keyword-operator {
  color: #5f86b0;
}
.lumis-keyword-repeat {
  color: #5f86b0;
}
.lumis-keyword-return {
  color: #5f86b0;
}
.lumis-keyword-type {
  color: #5f86b0;
}
.lumis-label {
  color: #5f86b0;
}
.lumis-markup {
  color: #c4b6c5;
}
.lumis-markup-environment {
  color: #c4b6c5;
}
.lumis-markup-environment-name {
  color: #c4b6c5;
}
.lumis-markup-heading {
  color: #5f86b0;
}
.lumis-markup-heading-1 {
  color: #5f86b0;
}
.lumis-markup-heading-2 {
  color: #5f86b0;
}
.lumis-markup-heading-3 {
  color: #5f86b0;
}
.lumis-markup-heading-4 {
  color: #5f86b0;
}
.lumis-markup-heading-5 {
  color: #5f86b0;
}
.lumis-markup-heading-6 {
  color: #5f86b0;
}
.lumis-markup-italic {
  color: #c4b6c5;
  font-style: italic;
}
.lumis-markup-link {
  color: #9bbdb8;
}
.lumis-markup-link-label {
  color: #9bbdb8;
}
.lumis-markup-link-url {
  color: #9bbdb8;
}
.lumis-markup-list {
  color: #c4959c;
}
.lumis-markup-list-checked {
  color: #c4959c;
}
.lumis-markup-list-unchecked {
  color: #c4959c;
}
.lumis-markup-math {
  color: #9bbdb8;
}
.lumis-markup-quote {
  color: #c4b6c5;
}
.lumis-markup-quote-markdown {
  color: #666068;
}
.lumis-markup-raw {
  color: #c4959c;
}
.lumis-markup-raw-block {
  color: #c4959c;
}
.lumis-markup-strikethrough {
  color: #666068;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #c4b6c5;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #c4b6c5;
  text-decoration: underline;
}
.lumis-module {
  color: #9bbdb8;
}
.lumis-module-builtin {
  color: #9bbdb8;
}
.lumis-normal {
  color: #c4b6c5;
  background-color: #141517;
}
.lumis-number {
  color: #a18877;
}
.lumis-number-float {
  color: #a18877;
}
.lumis-operator {
  color: #9594d4;
}
.lumis-property {
  color: #9d777d;
}
.lumis-punctuation-bracket {
  color: #9594d4;
}
.lumis-punctuation-delimiter {
  color: #c4b6c5;
}
.lumis-punctuation-special {
  color: #5f86b0;
}
.lumis-string {
  color: #c9aa95;
}
.lumis-string-documentation {
  color: #c9aa95;
}
.lumis-string-escape {
  color: #5f86b0;
}
.lumis-string-regexp {
  color: #5f86b0;
}
.lumis-string-special {
  color: #5f86b0;
}
.lumis-string-special-path {
  color: #5f86b0;
}
.lumis-string-special-symbol {
  color: #9d777d;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #9bbdb8;
}
.lumis-tag-attribute {
  color: #9d777d;
}
.lumis-tag-builtin {
  color: #9bbdb8;
}
.lumis-tag-delimiter {
  color: #c4b6c5;
}
.lumis-type {
  color: #9bbdb8;
}
.lumis-type-builtin {
  color: #9bbdb8;
}
.lumis-type-definition {
  color: #9bbdb8;
}
.lumis-variable {
  color: #c4b6c5;
}
.lumis-variable-builtin {
  color: #9bbdb8;
}
.lumis-variable-member {
  color: #9d777d;
}
.lumis-variable-parameter {
  color: #9fb6d0;
}
.lumis-variable-parameter-builtin {
  color: #9bbdb8;
}
