/* neomodern_moon_dark
 * revision: d41469578922a23d75a0d9e8deef1e34837230a6
 */

pre.lumis {
  color: #a2a2ad;
  background-color: #151515;
}
.lumis-attribute {
  color: #626e85;
}
.lumis-attribute-builtin {
  color: #6d748c;
}
.lumis-boolean {
  color: #b39066;
}
.lumis-character {
  color: #777d77;
}
.lumis-character-special {
  color: #7a8aa6;
}
.lumis-comment {
  color: #4c4c57;
}
.lumis-comment-documentation {
  color: #4c4c57;
}
.lumis-comment-error {
  color: #a26c6d;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-hint {
  color: #4c4c57;
}
.lumis-comment-note {
  color: #6e7daa;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-todo {
  color: #6e6e79;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-warning {
  color: #877a68;
  font-weight: bold;
  font-style: italic;
}
.lumis-constant {
  color: #b5b3a5;
}
.lumis-constant-builtin {
  color: #6d748c;
}
.lumis-constant-macro {
  color: #b5b3a5;
}
.lumis-constructor {
  color: #6d748c;
}
.lumis-constructor-lua {
  color: #c3c3d0;
}
.lumis-diff-delta {
  color: #849ee1;
}
.lumis-diff-minus {
  color: #dc827b;
}
.lumis-diff-plus {
  color: #69896f;
}
.lumis-function {
  color: #626e85;
}
.lumis-function-builtin {
  color: #626e85;
}
.lumis-function-call {
  color: #626e85;
}
.lumis-function-macro {
  color: #626e85;
}
.lumis-function-method {
  color: #626e85;
}
.lumis-function-method-call {
  color: #626e85;
}
.lumis-highlighted {
  background-color: #1d1d1d;
}
.lumis-keyword {
  color: #7a8aa6;
}
.lumis-keyword-conditional {
  color: #7a8aa6;
}
.lumis-keyword-conditional-ternary {
  color: #7a8aa6;
}
.lumis-keyword-coroutine {
  color: #7a8aa6;
}
.lumis-keyword-debug {
  color: #7a8aa6;
}
.lumis-keyword-directive {
  color: #7a8aa6;
}
.lumis-keyword-directive-define {
  color: #7a8aa6;
}
.lumis-keyword-exception {
  color: #dc827b;
}
.lumis-keyword-export {
  color: #7a8aa6;
}
.lumis-keyword-function {
  color: #7a8aa6;
}
.lumis-keyword-import {
  color: #7a8aa6;
}
.lumis-keyword-modifier {
  color: #7a8aa6;
}
.lumis-keyword-operator {
  color: #7a8aa6;
}
.lumis-keyword-repeat {
  color: #7a8aa6;
}
.lumis-keyword-return {
  color: #7a8aa6;
}
.lumis-keyword-type {
  color: #7a8aa6;
}
.lumis-label {
  color: #7a8aa6;
}
.lumis-markup {
  color: #a2a2ad;
}
.lumis-markup-environment {
  color: #a2a2ad;
}
.lumis-markup-environment-name {
  color: #a2a2ad;
}
.lumis-markup-heading {
  color: #7a8aa6;
}
.lumis-markup-heading-1 {
  color: #7a8aa6;
}
.lumis-markup-heading-2 {
  color: #7a8aa6;
}
.lumis-markup-heading-3 {
  color: #7a8aa6;
}
.lumis-markup-heading-4 {
  color: #7a8aa6;
}
.lumis-markup-heading-5 {
  color: #7a8aa6;
}
.lumis-markup-heading-6 {
  color: #7a8aa6;
}
.lumis-markup-italic {
  color: #a2a2ad;
  font-style: italic;
}
.lumis-markup-link {
  color: #6d748c;
}
.lumis-markup-link-label {
  color: #6d748c;
}
.lumis-markup-link-url {
  color: #6d748c;
}
.lumis-markup-list {
  color: #626e85;
}
.lumis-markup-list-checked {
  color: #626e85;
}
.lumis-markup-list-unchecked {
  color: #626e85;
}
.lumis-markup-math {
  color: #6d748c;
}
.lumis-markup-quote {
  color: #a2a2ad;
}
.lumis-markup-quote-markdown {
  color: #4c4c57;
}
.lumis-markup-raw {
  color: #626e85;
}
.lumis-markup-raw-block {
  color: #626e85;
}
.lumis-markup-strikethrough {
  color: #4c4c57;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #a2a2ad;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #a2a2ad;
  text-decoration: underline;
}
.lumis-module {
  color: #6d748c;
}
.lumis-module-builtin {
  color: #6d748c;
}
.lumis-normal {
  color: #a2a2ad;
  background-color: #151515;
}
.lumis-number {
  color: #b39066;
}
.lumis-number-float {
  color: #b39066;
}
.lumis-operator {
  color: #575d70;
}
.lumis-property {
  color: #817882;
}
.lumis-punctuation-bracket {
  color: #575d70;
}
.lumis-punctuation-delimiter {
  color: #a2a2ad;
}
.lumis-punctuation-special {
  color: #7a8aa6;
}
.lumis-string {
  color: #777d77;
}
.lumis-string-documentation {
  color: #777d77;
}
.lumis-string-escape {
  color: #7a8aa6;
}
.lumis-string-regexp {
  color: #7a8aa6;
}
.lumis-string-special {
  color: #7a8aa6;
}
.lumis-string-special-path {
  color: #7a8aa6;
}
.lumis-string-special-symbol {
  color: #817882;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #6d748c;
}
.lumis-tag-attribute {
  color: #817882;
}
.lumis-tag-builtin {
  color: #6d748c;
}
.lumis-tag-delimiter {
  color: #a2a2ad;
}
.lumis-type {
  color: #6d748c;
}
.lumis-type-builtin {
  color: #6d748c;
}
.lumis-type-definition {
  color: #6d748c;
}
.lumis-variable {
  color: #a2a2ad;
}
.lumis-variable-builtin {
  color: #6d748c;
}
.lumis-variable-member {
  color: #817882;
}
.lumis-variable-parameter {
  color: #c3c3d0;
}
.lumis-variable-parameter-builtin {
  color: #6d748c;
}
