/* neomodern_iceclimber_dark
 * revision: cf93044775983b71dce31ad3179753b241470d3c
 */

pre.lumis {
  color: #a0a0af;
  background-color: #171719;
}
.attribute {
  color: #87a1e6;
}
.attribute-builtin {
  color: #b9b8e3;
}
.boolean {
  color: #cfa18c;
}
.character {
  color: #90aba0;
}
.character-special {
  color: #8a88d1;
}
.comment {
  color: #61616a;
}
.comment-documentation {
  color: #61616a;
}
.comment-error {
  color: #ae767e;
  font-weight: bold;
  font-style: italic;
}
.comment-hint {
  color: #61616a;
}
.comment-note {
  color: #7789b9;
  font-weight: bold;
  font-style: italic;
}
.comment-todo {
  color: #7a7a86;
  font-weight: bold;
  font-style: italic;
}
.comment-warning {
  color: #93816d;
  font-weight: bold;
  font-style: italic;
}
.constant {
  color: #6a969c;
}
.constant-builtin {
  color: #b9b8e3;
}
.constant-macro {
  color: #6a969c;
}
.constructor {
  color: #b9b8e3;
}
.constructor-lua {
  color: #abbdee;
}
.diff-delta {
  color: #86a3ee;
}
.diff-minus {
  color: #e1848c;
}
.diff-plus {
  color: #6e9277;
}
.function {
  color: #87a1e6;
}
.function-builtin {
  color: #87a1e6;
}
.function-call {
  color: #87a1e6;
}
.function-macro {
  color: #87a1e6;
}
.function-method {
  color: #87a1e6;
}
.function-method-call {
  color: #87a1e6;
}
.highlighted {
  background-color: #1f1f21;
}
.keyword {
  color: #8a88d1;
}
.keyword-conditional {
  color: #8a88d1;
}
.keyword-conditional-ternary {
  color: #8a88d1;
}
.keyword-coroutine {
  color: #8a88d1;
}
.keyword-debug {
  color: #8a88d1;
}
.keyword-directive {
  color: #8a88d1;
}
.keyword-directive-define {
  color: #8a88d1;
}
.keyword-exception {
  color: #e1848c;
}
.keyword-export {
  color: #8a88d1;
}
.keyword-function {
  color: #8a88d1;
}
.keyword-import {
  color: #8a88d1;
}
.keyword-modifier {
  color: #8a88d1;
}
.keyword-operator {
  color: #8a88d1;
}
.keyword-repeat {
  color: #8a88d1;
}
.keyword-return {
  color: #8a88d1;
}
.keyword-type {
  color: #8a88d1;
}
.label {
  color: #8a88d1;
}
.markup {
  color: #a0a0af;
}
.markup-environment {
  color: #a0a0af;
}
.markup-environment-name {
  color: #a0a0af;
}
.markup-heading {
  color: #8a88d1;
}
.markup-heading-1 {
  color: #8a88d1;
}
.markup-heading-2 {
  color: #8a88d1;
}
.markup-heading-3 {
  color: #8a88d1;
}
.markup-heading-4 {
  color: #8a88d1;
}
.markup-heading-5 {
  color: #8a88d1;
}
.markup-heading-6 {
  color: #8a88d1;
}
.markup-italic {
  color: #a0a0af;
  font-style: italic;
}
.markup-link {
  color: #b9b8e3;
}
.markup-link-label {
  color: #b9b8e3;
}
.markup-link-url {
  color: #b9b8e3;
}
.markup-list {
  color: #87a1e6;
}
.markup-list-checked {
  color: #87a1e6;
}
.markup-list-unchecked {
  color: #87a1e6;
}
.markup-math {
  color: #b9b8e3;
}
.markup-quote {
  color: #a0a0af;
}
.markup-quote-markdown {
  color: #61616a;
}
.markup-raw {
  color: #87a1e6;
}
.markup-raw-block {
  color: #87a1e6;
}
.markup-strikethrough {
  color: #61616a;
  text-decoration: line-through;
}
.markup-strong {
  color: #a0a0af;
  font-weight: bold;
}
.markup-underline {
  color: #a0a0af;
  text-decoration: underline;
}
.module {
  color: #b9b8e3;
}
.module-builtin {
  color: #b9b8e3;
}
.normal {
  color: #a0a0af;
  background-color: #171719;
}
.number {
  color: #cfa18c;
}
.number-float {
  color: #cfa18c;
}
.operator {
  color: #6e6da7;
}
.property {
  color: #cf9dbd;
}
.punctuation-bracket {
  color: #6e6da7;
}
.punctuation-delimiter {
  color: #a0a0af;
}
.punctuation-special {
  color: #8a88d1;
}
.string {
  color: #90aba0;
}
.string-documentation {
  color: #90aba0;
}
.string-escape {
  color: #8a88d1;
}
.string-regexp {
  color: #8a88d1;
}
.string-special {
  color: #8a88d1;
}
.string-special-path {
  color: #8a88d1;
}
.string-special-symbol {
  color: #cf9dbd;
}
.string-special-url {
  text-decoration: underline;
}
.tag {
  color: #b9b8e3;
}
.tag-attribute {
  color: #cf9dbd;
}
.tag-builtin {
  color: #b9b8e3;
}
.tag-delimiter {
  color: #a0a0af;
}
.type {
  color: #b9b8e3;
}
.type-builtin {
  color: #b9b8e3;
}
.type-definition {
  color: #b9b8e3;
}
.variable {
  color: #a0a0af;
}
.variable-builtin {
  color: #b9b8e3;
}
.variable-member {
  color: #cf9dbd;
}
.variable-parameter {
  color: #abbdee;
}
.variable-parameter-builtin {
  color: #b9b8e3;
}
