/* neon_dark
 * revision: 7765aaa7d1cd3804176140644640766e4411c766
 */

pre.lumis {
  color: #c5cdd9;
  background-color: #0d1117;
}
.lumis-attribute {
  color: #6cb6eb;
}
.lumis-attribute-builtin {
  color: #6cb6eb;
  font-style: italic;
}
.lumis-character {
  color: #da8548;
}
.lumis-character-special {
  color: #da8548;
}
.lumis-comment {
  color: #7e8294;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #7e8294;
  font-style: italic;
}
.lumis-comment-error {
  color: #ec7279;
}
.lumis-comment-hint {
  color: #7e8294;
  font-style: italic;
}
.lumis-comment-note {
  color: #8cf8f7;
}
.lumis-comment-todo {
  color: #4db5bd;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-warning {
  color: #fce094;
}
.lumis-constant {
  color: #a9a1e1;
}
.lumis-constant-builtin {
  color: #6cb6eb;
  font-style: italic;
}
.lumis-constant-macro {
  color: #a9a1e1;
}
.lumis-constructor {
  color: #6cb6eb;
  font-style: italic;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #6cb6eb;
}
.lumis-function-builtin {
  color: #6cb6eb;
  font-style: italic;
}
.lumis-function-call {
  color: #6cb6eb;
}
.lumis-function-macro {
  color: #6cb6eb;
}
.lumis-function-method {
  color: #6cb6eb;
}
.lumis-function-method-call {
  color: #6cb6eb;
}
.lumis-highlighted {
  background-color: #161b22;
}
.lumis-keyword {
  color: #6cb6eb;
}
.lumis-keyword-conditional {
  color: #6cb6eb;
}
.lumis-keyword-conditional-ternary {
  color: #6cb6eb;
}
.lumis-keyword-coroutine {
  color: #6cb6eb;
}
.lumis-keyword-debug {
  color: #6cb6eb;
}
.lumis-keyword-directive {
  color: #6cb6eb;
}
.lumis-keyword-directive-define {
  color: #6cb6eb;
}
.lumis-keyword-exception {
  color: #6cb6eb;
}
.lumis-keyword-export {
  color: #6cb6eb;
}
.lumis-keyword-function {
  color: #6cb6eb;
}
.lumis-keyword-import {
  color: #6cb6eb;
}
.lumis-keyword-modifier {
  color: #6cb6eb;
}
.lumis-keyword-operator {
  color: #6cb6eb;
}
.lumis-keyword-repeat {
  color: #6cb6eb;
}
.lumis-keyword-return {
  color: #6cb6eb;
}
.lumis-keyword-type {
  color: #6cb6eb;
}
.lumis-label {
  color: #4db5bd;
}
.lumis-markup {
  color: #6cb6eb;
  font-style: italic;
}
.lumis-markup-environment {
  color: #6cb6eb;
  font-style: italic;
}
.lumis-markup-environment-name {
  color: #6cb6eb;
  font-style: italic;
}
.lumis-markup-heading {
  color: #4db5bd;
}
.lumis-markup-heading-1 {
  color: #4db5bd;
}
.lumis-markup-heading-2 {
  color: #4db5bd;
}
.lumis-markup-heading-3 {
  color: #4db5bd;
}
.lumis-markup-heading-4 {
  color: #4db5bd;
}
.lumis-markup-heading-5 {
  color: #4db5bd;
}
.lumis-markup-heading-6 {
  color: #4db5bd;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #4db5bd;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #4db5bd;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #4db5bd;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #6cb6eb;
  font-style: italic;
}
.lumis-markup-list-checked {
  color: #6cb6eb;
  font-style: italic;
}
.lumis-markup-list-unchecked {
  color: #6cb6eb;
  font-style: italic;
}
.lumis-markup-math {
  color: #6cb6eb;
  font-style: italic;
}
.lumis-markup-quote {
  color: #6cb6eb;
  font-style: italic;
}
.lumis-markup-raw {
  color: #6cb6eb;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #6cb6eb;
  font-style: italic;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #da8548;
}
.lumis-module-builtin {
  color: #6cb6eb;
  font-style: italic;
}
.lumis-number {
  color: #ec7279;
}
.lumis-number-float {
  color: #ec7279;
}
.lumis-operator {
  color: #6cb6eb;
}
.lumis-property {
  color: #6cb6eb;
}
.lumis-punctuation-bracket {
  color: #ecbe7b;
}
.lumis-punctuation-delimiter {
  color: #ecbe7b;
}
.lumis-punctuation-special {
  color: #6cb6eb;
  font-style: italic;
}
.lumis-string {
  color: #a0c980;
}
.lumis-string-documentation {
  color: #a0c980;
}
.lumis-string-escape {
  color: #da8548;
}
.lumis-string-regexp {
  color: #da8548;
}
.lumis-string-special {
  color: #da8548;
}
.lumis-string-special-path {
  color: #da8548;
}
.lumis-string-special-symbol {
  color: #da8548;
}
.lumis-string-special-url {
  color: #4db5bd;
  text-decoration: underline;
}
.lumis-tag {
  color: #ec7279;
}
.lumis-tag-attribute {
  color: #ec7279;
}
.lumis-tag-builtin {
  color: #6cb6eb;
  font-style: italic;
}
.lumis-tag-delimiter {
  color: #ec7279;
}
.lumis-type {
  color: #4db5bd;
}
.lumis-type-builtin {
  color: #6cb6eb;
  font-style: italic;
}
.lumis-type-definition {
  color: #4db5bd;
}
.lumis-variable {
  color: #e0e2ea;
}
.lumis-variable-builtin {
  color: #6cb6eb;
  font-style: italic;
}
.lumis-variable-member {
  color: #e0e2ea;
}
.lumis-variable-parameter {
  color: #e0e2ea;
}
.lumis-variable-parameter-builtin {
  color: #6cb6eb;
  font-style: italic;
}
