/* nightfox
 * revision: 26b61b1f856ec37cae3cb64f5690adb955f246a1
 */

pre.lumis {
  color: #cdcecf;
  background-color: #192330;
}
.lumis-attribute {
  color: #f6b079;
}
.lumis-attribute-builtin {
  color: #86abdc;
}
.lumis-boolean {
  color: #f4a261;
}
.lumis-character {
  color: #81b29a;
}
.lumis-character-special {
  color: #86abdc;
}
.lumis-comment {
  color: #738091;
}
.lumis-comment-documentation {
  color: #738091;
}
.lumis-comment-error {
  color: #192330;
  background-color: #c94f6d;
}
.lumis-comment-hint {
  color: #738091;
}
.lumis-comment-note {
  color: #192330;
  background-color: #719cd6;
}
.lumis-comment-todo {
  color: #192330;
  background-color: #81b29a;
}
.lumis-comment-warning {
  color: #192330;
  background-color: #dbc074;
}
.lumis-constant {
  color: #f6b079;
}
.lumis-constant-builtin {
  color: #f6b079;
}
.lumis-constant-macro {
  color: #dc8ed9;
}
.lumis-constructor {
  color: #63cdcf;
}
.lumis-constructor-lua {
  color: #aeafb0;
}
.lumis-diff-delta {
  color: #dbc074;
}
.lumis-diff-minus {
  color: #c94f6d;
}
.lumis-diff-plus {
  color: #81b29a;
}
.lumis-function {
  color: #86abdc;
}
.lumis-function-builtin {
  color: #c94f6d;
}
.lumis-function-call {
  color: #86abdc;
}
.lumis-function-macro {
  color: #c94f6d;
}
.lumis-function-method {
  color: #86abdc;
}
.lumis-function-method-call {
  color: #86abdc;
}
.lumis-highlighted {
  background-color: #29394f;
}
.lumis-keyword {
  color: #9d79d6;
}
.lumis-keyword-conditional {
  color: #baa1e2;
}
.lumis-keyword-conditional-ternary {
  color: #baa1e2;
}
.lumis-keyword-coroutine {
  color: #9d79d6;
}
.lumis-keyword-debug {
  color: #9d79d6;
}
.lumis-keyword-directive {
  color: #9d79d6;
}
.lumis-keyword-directive-define {
  color: #9d79d6;
}
.lumis-keyword-exception {
  color: #9d79d6;
}
.lumis-keyword-export {
  color: #9d79d6;
}
.lumis-keyword-function {
  color: #9d79d6;
}
.lumis-keyword-import {
  color: #dc8ed9;
}
.lumis-keyword-modifier {
  color: #9d79d6;
}
.lumis-keyword-operator {
  color: #aeafb0;
}
.lumis-keyword-repeat {
  color: #baa1e2;
}
.lumis-keyword-return {
  color: #c94f6d;
}
.lumis-keyword-type {
  color: #9d79d6;
}
.lumis-label {
  color: #baa1e2;
}
.lumis-label-json {
  color: #86abdc;
}
.lumis-markup {
  color: #cdcecf;
}
.lumis-markup-environment {
  color: #cdcecf;
}
.lumis-markup-environment-name {
  color: #cdcecf;
}
.lumis-markup-heading {
  color: #86abdc;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #86abdc;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #86abdc;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #86abdc;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #86abdc;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #86abdc;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #86abdc;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #9d79d6;
  font-weight: bold;
}
.lumis-markup-link-label {
  color: #86abdc;
}
.lumis-markup-link-url {
  color: #f6b079;
  font-style: italic;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #7ad5d6;
}
.lumis-markup-list-checked {
  color: #81b29a;
}
.lumis-markup-list-unchecked {
  color: #dbc074;
}
.lumis-markup-math {
  color: #86abdc;
}
.lumis-markup-quote {
  color: #aeafb0;
}
.lumis-markup-raw {
  color: #63cdcf;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #d67ad2;
}
.lumis-markup-strikethrough {
  color: #cdcecf;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #ab435d;
  font-weight: bold;
}
.lumis-module {
  color: #7ad5d6;
}
.lumis-module-builtin {
  color: #86abdc;
}
.lumis-namespace {
  color: #7ad5d6;
}
.lumis-number {
  color: #f4a261;
}
.lumis-number-float {
  color: #f4a261;
}
.lumis-operator {
  color: #aeafb0;
}
.lumis-property {
  color: #719cd6;
}
.lumis-punctuation-bracket {
  color: #aeafb0;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #c94f6d;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #dbc074;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #719cd6;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #f4a261;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #81b29a;
}
.lumis-punctuation-delimiter {
  color: #aeafb0;
}
.lumis-punctuation-special {
  color: #7ad5d6;
}
.lumis-string {
  color: #81b29a;
}
.lumis-string-documentation {
  color: #81b29a;
}
.lumis-string-escape {
  color: #e0c989;
  font-weight: bold;
}
.lumis-string-regex {
  color: #e0c989;
}
.lumis-string-regexp {
  color: #e0c989;
}
.lumis-string-special {
  color: #86abdc;
}
.lumis-string-special-path {
  color: #86abdc;
}
.lumis-string-special-symbol {
  color: #86abdc;
}
.lumis-string-special-url {
  color: #f6b079;
  font-style: italic;
  text-decoration: underline;
}
.lumis-tag {
  color: #9d79d6;
}
.lumis-tag-attribute {
  color: #86abdc;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #86abdc;
}
.lumis-tag-delimiter {
  color: #7ad5d6;
}
.lumis-type {
  color: #dbc074;
}
.lumis-type-builtin {
  color: #7ad5d6;
}
.lumis-type-definition {
  color: #dbc074;
}
.lumis-variable {
  color: #dfdfe0;
}
.lumis-variable-builtin {
  color: #c94f6d;
}
.lumis-variable-member {
  color: #719cd6;
}
.lumis-variable-parameter {
  color: #7ad5d6;
}
.lumis-variable-parameter-builtin {
  color: #86abdc;
}
