/* night_owl
 * revision: 86ed124c2f7e118670649701288e024444bf91e5
 */

pre.lumis {
  color: #d6deeb;
  background-color: #021727;
}
.lumis-attribute {
  color: #ff2c83;
}
.lumis-attribute-builtin {
  color: #ffcb8b;
}
.lumis-attribute-css {
  color: #c5e478;
  font-style: italic;
}
.lumis-attribute-typescript {
  color: #82aaff;
  font-style: italic;
}
.lumis-boolean {
  color: #ff5874;
  font-style: italic;
}
.lumis-character {
  color: #82aaff;
  font-style: italic;
}
.lumis-character-special {
  color: #ffcb8b;
}
.lumis-comment {
  color: #637777;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #637777;
  font-style: italic;
}
.lumis-comment-error {
  color: #ef5350;
}
.lumis-comment-hint {
  color: #637777;
  font-style: italic;
}
.lumis-comment-note {
  color: #8cf8f7;
}
.lumis-comment-todo {
  color: #e0e2ea;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #fce094;
}
.lumis-constant {
  color: #82aaff;
  font-style: italic;
}
.lumis-constant-builtin {
  color: #82aaff;
  font-style: italic;
}
.lumis-constant-macro {
  color: #82aaff;
  font-style: italic;
}
.lumis-constructor {
  color: #ffcb8b;
}
.lumis-constructor-javascript {
  color: #82aaff;
}
.lumis-constructor-python {
  color: #c5e478;
  font-style: italic;
}
.lumis-constructor-typescript {
  color: #82aaff;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #82aaff;
  font-style: italic;
}
.lumis-function-builtin {
  color: #ffcb8b;
}
.lumis-function-builtin-bash {
  color: #c5e478;
  font-style: italic;
}
.lumis-function-builtin-lua {
  color: #82aaff;
  font-style: italic;
}
.lumis-function-builtin-python {
  color: #c5e478;
}
.lumis-function-call {
  color: #82aaff;
  font-style: italic;
}
.lumis-function-macro {
  color: #82aaff;
  font-style: italic;
}
.lumis-function-method {
  color: #82aaff;
  font-style: italic;
}
.lumis-function-method-call {
  color: #82aaff;
  font-style: italic;
}
.lumis-highlighted {
  background-color: #021320;
}
.lumis-keyword {
  color: #c792ea;
}
.lumis-keyword-conditional {
  color: #c792ea;
}
.lumis-keyword-conditional-bash {
  color: #c792ea;
  font-style: italic;
}
.lumis-keyword-conditional-lua {
  color: #c792ea;
  font-style: italic;
}
.lumis-keyword-conditional-python {
  color: #c792ea;
  font-style: italic;
}
.lumis-keyword-conditional-r {
  color: #c792ea;
  font-style: italic;
}
.lumis-keyword-conditional-ternary {
  color: #c792ea;
}
.lumis-keyword-coroutine {
  color: #c792ea;
  font-style: italic;
}
.lumis-keyword-debug {
  color: #c792ea;
}
.lumis-keyword-directive {
  color: #c792ea;
}
.lumis-keyword-directive-define {
  color: #c792ea;
}
.lumis-keyword-exception {
  color: #c792ea;
}
.lumis-keyword-exception-python {
  color: #c792ea;
  font-style: italic;
}
.lumis-keyword-export {
  color: #c792ea;
  font-style: italic;
}
.lumis-keyword-function {
  color: #c792ea;
}
.lumis-keyword-function-lua {
  color: #c792ea;
  font-style: italic;
}
.lumis-keyword-function-r {
  color: #c792ea;
  font-style: italic;
}
.lumis-keyword-function-vim {
  color: #c792ea;
  font-style: italic;
}
.lumis-keyword-import {
  color: #c792ea;
}
.lumis-keyword-modifier {
  color: #c792ea;
}
.lumis-keyword-operator {
  color: #c792ea;
}
.lumis-keyword-operator-python {
  color: #c792ea;
  font-style: italic;
}
.lumis-keyword-operator-typescript {
  color: #7fdbca;
}
.lumis-keyword-repeat {
  color: #c792ea;
  font-style: italic;
}
.lumis-keyword-return {
  color: #c792ea;
  font-style: italic;
}
.lumis-keyword-type {
  color: #c792ea;
}
.lumis-label {
  color: #7fdbca;
}
.lumis-markup {
  color: #ffcb8b;
}
.lumis-markup-environment {
  color: #ffcb8b;
}
.lumis-markup-environment-name {
  color: #ffcb8b;
}
.lumis-markup-heading {
  color: #82b1ff;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #82b1ff;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #82b1ff;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #82b1ff;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #82b1ff;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #82b1ff;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #82b1ff;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  text-decoration: underline;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #ffcb8b;
}
.lumis-markup-list-checked {
  color: #ffcb8b;
}
.lumis-markup-list-unchecked {
  color: #ffcb8b;
}
.lumis-markup-math {
  color: #ffcb8b;
}
.lumis-markup-quote {
  color: #ffcb8b;
}
.lumis-markup-raw {
  color: #ffcb8b;
}
.lumis-markup-raw-block {
  color: #ffcb8b;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #ffcb8b;
}
.lumis-module-builtin {
  color: #ffcb8b;
}
.lumis-namespace-vim {
  color: #78ccf0;
  font-style: italic;
}
.lumis-number {
  color: #f78c6c;
}
.lumis-number-float {
  color: #f78c6c;
}
.lumis-operator {
  color: #c792ea;
}
.lumis-operator-lua {
  color: #7fdbca;
}
.lumis-operator-toml {
  color: #d6deeb;
}
.lumis-property {
  color: #baebe2;
}
.lumis-property-css {
  color: #80cbc4;
}
.lumis-property-toml {
  color: #c792ea;
}
.lumis-punctuation-bracket {
  color: #d6deeb;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #ffd602;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #169fff;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #da70d6;
}
.lumis-punctuation-delimiter {
  color: #d6deeb;
}
.lumis-punctuation-special {
  color: #ffcb8b;
}
.lumis-punctuation-special-bash {
  color: #c5e478;
}
.lumis-string {
  color: #ecc48d;
}
.lumis-string-documentation {
  color: #ecc48d;
}
.lumis-string-escape {
  color: #ffcb8b;
}
.lumis-string-json {
  color: #c789d6;
}
.lumis-string-regex {
  color: #82aaff;
}
.lumis-string-regexp {
  color: #ffcb8b;
}
.lumis-string-special {
  color: #ffcb8b;
}
.lumis-string-special-path {
  color: #ffcb8b;
}
.lumis-string-special-symbol {
  color: #ffcb8b;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #caece6;
}
.lumis-tag-attribute {
  color: #c5e478;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #caece6;
}
.lumis-tag-css {
  color: #ff6363;
}
.lumis-tag-delimiter {
  color: #7fdbca;
}
.lumis-type {
  color: #ffcb8b;
  font-style: italic;
}
.lumis-type-builtin {
  color: #c5e478;
}
.lumis-type-definition {
  color: #ffcb8b;
  font-style: italic;
}
.lumis-type-python {
  color: #ffcb8b;
}
.lumis-type-toml {
  color: #c5e478;
  font-style: italic;
}
.lumis-type-typescript {
  color: #ffcb8b;
}
.lumis-variable {
  color: #d7dbe0;
}
.lumis-variable-builtin {
  color: #7fdbca;
}
.lumis-variable-builtin-vim {
  color: #7fdbca;
  font-style: italic;
}
.lumis-variable-member {
  color: #d7dbe0;
}
.lumis-variable-parameter {
  color: #d7dbe0;
}
.lumis-variable-parameter-bash {
  color: #ecc48d;
}
.lumis-variable-parameter-builtin {
  color: #ffcb8b;
}
.lumis-variable-parameter-python {
  color: #7fdbca;
}
