/* nordfox
 * revision: 26b61b1f856ec37cae3cb64f5690adb955f246a1
 */

pre.lumis {
  color: #cdcecf;
  background-color: #2e3440;
}
.lumis-attribute {
  color: #d89079;
}
.lumis-attribute-builtin {
  color: #8cafd2;
}
.lumis-boolean {
  color: #c9826b;
}
.lumis-character {
  color: #a3be8c;
}
.lumis-character-special {
  color: #8cafd2;
}
.lumis-comment {
  color: #60728a;
}
.lumis-comment-documentation {
  color: #60728a;
}
.lumis-comment-error {
  color: #2e3440;
  background-color: #bf616a;
}
.lumis-comment-hint {
  color: #60728a;
}
.lumis-comment-note {
  color: #2e3440;
  background-color: #81a1c1;
}
.lumis-comment-todo {
  color: #2e3440;
  background-color: #a3be8c;
}
.lumis-comment-warning {
  color: #2e3440;
  background-color: #ebcb8b;
}
.lumis-constant {
  color: #d89079;
}
.lumis-constant-builtin {
  color: #d89079;
}
.lumis-constant-macro {
  color: #d092ce;
}
.lumis-constructor {
  color: #88c0d0;
}
.lumis-constructor-lua {
  color: #abb1bb;
}
.lumis-diff-delta {
  color: #ebcb8b;
}
.lumis-diff-minus {
  color: #bf616a;
}
.lumis-diff-plus {
  color: #a3be8c;
}
.lumis-function {
  color: #8cafd2;
}
.lumis-function-builtin {
  color: #bf616a;
}
.lumis-function-call {
  color: #8cafd2;
}
.lumis-function-macro {
  color: #bf616a;
}
.lumis-function-method {
  color: #8cafd2;
}
.lumis-function-method-call {
  color: #8cafd2;
}
.lumis-highlighted {
  background-color: #444c5e;
}
.lumis-keyword {
  color: #b48ead;
}
.lumis-keyword-conditional {
  color: #c895bf;
}
.lumis-keyword-conditional-ternary {
  color: #c895bf;
}
.lumis-keyword-coroutine {
  color: #b48ead;
}
.lumis-keyword-debug {
  color: #b48ead;
}
.lumis-keyword-directive {
  color: #b48ead;
}
.lumis-keyword-directive-define {
  color: #b48ead;
}
.lumis-keyword-exception {
  color: #b48ead;
}
.lumis-keyword-export {
  color: #b48ead;
}
.lumis-keyword-function {
  color: #b48ead;
}
.lumis-keyword-import {
  color: #d092ce;
}
.lumis-keyword-modifier {
  color: #b48ead;
}
.lumis-keyword-operator {
  color: #abb1bb;
}
.lumis-keyword-repeat {
  color: #c895bf;
}
.lumis-keyword-return {
  color: #bf616a;
}
.lumis-keyword-type {
  color: #b48ead;
}
.lumis-label {
  color: #c895bf;
}
.lumis-label-json {
  color: #8cafd2;
}
.lumis-markup {
  color: #cdcecf;
}
.lumis-markup-environment {
  color: #cdcecf;
}
.lumis-markup-environment-name {
  color: #cdcecf;
}
.lumis-markup-heading {
  color: #8cafd2;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #8cafd2;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #8cafd2;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #8cafd2;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #8cafd2;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #8cafd2;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #8cafd2;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #b48ead;
  font-weight: bold;
}
.lumis-markup-link-label {
  color: #8cafd2;
}
.lumis-markup-link-url {
  color: #d89079;
  font-style: italic;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #93ccdc;
}
.lumis-markup-list-checked {
  color: #a3be8c;
}
.lumis-markup-list-unchecked {
  color: #ebcb8b;
}
.lumis-markup-math {
  color: #8cafd2;
}
.lumis-markup-quote {
  color: #abb1bb;
}
.lumis-markup-raw {
  color: #88c0d0;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #bf88bc;
}
.lumis-markup-strikethrough {
  color: #cdcecf;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #a54e56;
  font-weight: bold;
}
.lumis-module {
  color: #93ccdc;
}
.lumis-module-builtin {
  color: #8cafd2;
}
.lumis-namespace {
  color: #93ccdc;
}
.lumis-normal {
  color: #cdcecf;
  background-color: #2e3440;
}
.lumis-number {
  color: #c9826b;
}
.lumis-number-float {
  color: #c9826b;
}
.lumis-operator {
  color: #abb1bb;
}
.lumis-property {
  color: #81a1c1;
}
.lumis-punctuation-bracket {
  color: #abb1bb;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #bf616a;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #ebcb8b;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #81a1c1;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #c9826b;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #a3be8c;
}
.lumis-punctuation-delimiter {
  color: #abb1bb;
}
.lumis-punctuation-special {
  color: #93ccdc;
}
.lumis-string {
  color: #a3be8c;
}
.lumis-string-documentation {
  color: #a3be8c;
}
.lumis-string-escape {
  color: #f0d399;
  font-weight: bold;
}
.lumis-string-regex {
  color: #f0d399;
}
.lumis-string-regexp {
  color: #f0d399;
}
.lumis-string-special {
  color: #8cafd2;
}
.lumis-string-special-path {
  color: #8cafd2;
}
.lumis-string-special-symbol {
  color: #8cafd2;
}
.lumis-string-special-url {
  color: #d89079;
  font-style: italic;
  text-decoration: underline;
}
.lumis-tag {
  color: #b48ead;
}
.lumis-tag-attribute {
  color: #8cafd2;
  font-style: italic;
}
.lumis-tag-builtin {
  color: #8cafd2;
}
.lumis-tag-delimiter {
  color: #93ccdc;
}
.lumis-type {
  color: #ebcb8b;
}
.lumis-type-builtin {
  color: #93ccdc;
}
.lumis-type-definition {
  color: #ebcb8b;
}
.lumis-variable {
  color: #e5e9f0;
}
.lumis-variable-builtin {
  color: #bf616a;
}
.lumis-variable-member {
  color: #81a1c1;
}
.lumis-variable-parameter {
  color: #93ccdc;
}
.lumis-variable-parameter-builtin {
  color: #8cafd2;
}
