/* nord
 * revision: 80c1e5321505aeb22b7a9f23eb82f1e193c12470
 */

pre.lumis {
  color: #d8dee9;
  background-color: #2e3440;
}
.lumis-attribute {
  color: #b48ead;
}
.lumis-attribute-builtin {
  color: #d8dee9;
}
.lumis-boolean {
  color: #81a1c1;
  font-weight: bold;
}
.lumis-character {
  color: #a3be8c;
  font-style: italic;
}
.lumis-character-special {
  color: #ebcb8b;
}
.lumis-comment {
  color: #616e88;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #616e88;
  font-style: italic;
}
.lumis-comment-error {
  color: #bf616a;
}
.lumis-comment-hint {
  color: #616e88;
  font-style: italic;
}
.lumis-comment-note {
  color: #5e81ac;
}
.lumis-comment-todo {
  color: #ebcb8b;
  font-weight: bold;
  font-style: italic;
}
.lumis-comment-warning {
  color: #b48ead;
}
.lumis-constant {
  color: #ebcb8b;
}
.lumis-constant-builtin {
  color: #8fbcbb;
  font-weight: bold;
}
.lumis-constant-macro {
  color: #8fbcbb;
  font-weight: bold;
}
.lumis-constructor {
  color: #81a1c1;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-error {
  color: #bf616a;
}
.lumis-function {
  color: #88c0d0;
  font-style: italic;
}
.lumis-function-builtin {
  color: #88c0d0;
  font-style: italic;
}
.lumis-function-call {
  color: #88c0d0;
  font-style: italic;
}
.lumis-function-macro {
  color: #88c0d0;
  font-style: italic;
}
.lumis-function-method {
  color: #88c0d0;
  font-style: italic;
}
.lumis-function-method-call {
  color: #88c0d0;
  font-style: italic;
}
.lumis-highlighted {
  background-color: #3b4252;
}
.lumis-keyword {
  color: #81a1c1;
  font-style: italic;
}
.lumis-keyword-conditional {
  color: #81a1c1;
  font-style: italic;
}
.lumis-keyword-conditional-ternary {
  color: #81a1c1;
  font-style: italic;
}
.lumis-keyword-coroutine {
  color: #81a1c1;
  font-style: italic;
}
.lumis-keyword-debug {
  color: #81a1c1;
  font-style: italic;
}
.lumis-keyword-directive {
  color: #81a1c1;
  font-style: italic;
}
.lumis-keyword-directive-define {
  color: #81a1c1;
  font-style: italic;
}
.lumis-keyword-exception {
  color: #81a1c1;
  font-style: italic;
}
.lumis-keyword-export {
  color: #81a1c1;
  font-style: italic;
}
.lumis-keyword-function {
  color: #88c0d0;
  font-style: italic;
}
.lumis-keyword-import {
  color: #81a1c1;
  font-style: italic;
}
.lumis-keyword-modifier {
  color: #81a1c1;
  font-style: italic;
}
.lumis-keyword-operator {
  color: #88c0d0;
  font-style: italic;
}
.lumis-keyword-repeat {
  color: #81a1c1;
  font-style: italic;
}
.lumis-keyword-return {
  color: #88c0d0;
  font-style: italic;
}
.lumis-keyword-type {
  color: #81a1c1;
  font-style: italic;
}
.lumis-label {
  color: #b48ead;
}
.lumis-markup {
  color: #d8dee9;
}
.lumis-markup-environment {
  color: #d8dee9;
}
.lumis-markup-environment-name {
  color: #d8dee9;
}
.lumis-markup-heading {
  color: #a3be8c;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #a3be8c;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #a3be8c;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #a3be8c;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #a3be8c;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #a3be8c;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #a3be8c;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #a3be8c;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #a3be8c;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #a3be8c;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #d8dee9;
}
.lumis-markup-list-checked {
  color: #d8dee9;
}
.lumis-markup-list-unchecked {
  color: #d8dee9;
}
.lumis-markup-math {
  color: #d8dee9;
}
.lumis-markup-quote {
  color: #d8dee9;
}
.lumis-markup-raw {
  color: #d8dee9;
}
.lumis-markup-raw-block {
  color: #d8dee9;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #81a1c1;
}
.lumis-module-builtin {
  color: #d8dee9;
}
.lumis-namespace {
  color: #d8dee9;
  font-style: italic;
}
.lumis-number {
  color: #b48ead;
}
.lumis-number-float {
  color: #b48ead;
}
.lumis-operator {
  color: #81a1c1;
}
.lumis-property {
  color: #5e81ac;
  font-style: italic;
}
.lumis-punctuation-bracket {
  color: #88c0d0;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #bf616a;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #ebcb8b;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #81a1c1;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #d08770;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #a3be8c;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #b48ead;
}
.lumis-punctuation-delimiter {
  color: #88c0d0;
}
.lumis-punctuation-special {
  color: #88c0d0;
}
.lumis-string {
  color: #a3be8c;
  font-style: italic;
}
.lumis-string-documentation {
  color: #a3be8c;
  font-style: italic;
}
.lumis-string-escape {
  color: #b48ead;
  font-style: italic;
}
.lumis-string-regex {
  color: #8fbcbb;
  font-style: italic;
}
.lumis-string-regexp {
  color: #ebcb8b;
}
.lumis-string-special {
  color: #ebcb8b;
}
.lumis-string-special-path {
  color: #ebcb8b;
}
.lumis-string-special-symbol {
  color: #ebcb8b;
}
.lumis-string-special-url {
  color: #a3be8c;
  text-decoration: underline;
}
.lumis-tag {
  color: #d8dee9;
}
.lumis-tag-attribute {
  color: #d8dee9;
}
.lumis-tag-builtin {
  color: #d8dee9;
}
.lumis-tag-delimiter {
  color: #b48ead;
}
.lumis-type {
  color: #81a1c1;
}
.lumis-type-builtin {
  color: #81a1c1;
}
.lumis-type-definition {
  color: #81a1c1;
}
.lumis-variable {
  color: #d8dee9;
  font-weight: bold;
}
.lumis-variable-builtin {
  color: #d8dee9;
  font-weight: bold;
}
.lumis-variable-member {
  color: #d8dee9;
  font-weight: bold;
}
.lumis-variable-parameter {
  color: #d8dee9;
  font-weight: bold;
}
.lumis-variable-parameter-builtin {
  color: #d8dee9;
}
