/* onedark_warmer
 * revision: df4792accde9db0043121f32628bcf8e645d9aea
 */

pre.lumis {
  color: #a7aab0;
  background-color: #232326;
}
.lumis-attribute {
  color: #51a8b3;
}
.lumis-attribute-builtin {
  color: #57a5e5;
}
.lumis-boolean {
  color: #c49060;
}
.lumis-character {
  color: #c49060;
}
.lumis-character-special {
  color: #de5d68;
}
.lumis-comment {
  color: #5a5b5e;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #5a5b5e;
  font-style: italic;
}
.lumis-comment-error {
  color: #de5d68;
  font-style: italic;
}
.lumis-comment-hint {
  color: #5a5b5e;
  font-style: italic;
}
.lumis-comment-note {
  color: #57a5e5;
  font-style: italic;
}
.lumis-comment-todo {
  color: #bb70d2;
  font-style: italic;
}
.lumis-comment-warning {
  color: #dbb671;
  font-style: italic;
}
.lumis-constant {
  color: #c49060;
}
.lumis-constant-builtin {
  color: #c49060;
}
.lumis-constant-macro {
  color: #c49060;
}
.lumis-constructor {
  color: #dbb671;
  font-weight: bold;
}
.lumis-diff-delta {
  color: #57a5e5;
}
.lumis-diff-minus {
  color: #de5d68;
}
.lumis-diff-plus {
  color: #8fb573;
}
.lumis-function {
  color: #57a5e5;
}
.lumis-function-builtin {
  color: #51a8b3;
}
.lumis-function-call {
  color: #57a5e5;
}
.lumis-function-macro {
  color: #51a8b3;
}
.lumis-function-method {
  color: #57a5e5;
}
.lumis-function-method-call {
  color: #57a5e5;
}
.lumis-highlighted {
  background-color: #2c2d31;
}
.lumis-keyword {
  color: #bb70d2;
}
.lumis-keyword-conditional {
  color: #bb70d2;
}
.lumis-keyword-conditional-ternary {
  color: #bb70d2;
}
.lumis-keyword-coroutine {
  color: #bb70d2;
}
.lumis-keyword-debug {
  color: #de5d68;
}
.lumis-keyword-directive {
  color: #bb70d2;
}
.lumis-keyword-directive-define {
  color: #bb70d2;
}
.lumis-keyword-exception {
  color: #bb70d2;
}
.lumis-keyword-export {
  color: #bb70d2;
}
.lumis-keyword-function {
  color: #bb70d2;
}
.lumis-keyword-import {
  color: #bb70d2;
}
.lumis-keyword-modifier {
  color: #bb70d2;
}
.lumis-keyword-operator {
  color: #bb70d2;
}
.lumis-keyword-repeat {
  color: #bb70d2;
}
.lumis-keyword-return {
  color: #bb70d2;
}
.lumis-keyword-type {
  color: #bb70d2;
}
.lumis-label {
  color: #de5d68;
}
.lumis-markup {
  color: #de5d68;
}
.lumis-markup-environment {
  color: #de5d68;
}
.lumis-markup-environment-name {
  color: #de5d68;
}
.lumis-markup-heading {
  color: #c49060;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #de5d68;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #bb70d2;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #c49060;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #de5d68;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #bb70d2;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #c49060;
  font-weight: bold;
}
.lumis-markup-italic {
  color: #a7aab0;
  font-style: italic;
}
.lumis-markup-link {
  color: #57a5e5;
}
.lumis-markup-link-label {
  color: #51a8b3;
}
.lumis-markup-link-url {
  color: #51a8b3;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #de5d68;
}
.lumis-markup-list-checked {
  color: #8fb573;
  font-style: italic;
}
.lumis-markup-list-unchecked {
  color: #de5d68;
  font-style: italic;
}
.lumis-markup-math {
  color: #a7aab0;
}
.lumis-markup-quote {
  color: #5a5b5e;
  font-style: italic;
}
.lumis-markup-raw {
  color: #8fb573;
}
.lumis-markup-raw-block {
  color: #8fb573;
}
.lumis-markup-strikethrough {
  color: #a7aab0;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #a7aab0;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #a7aab0;
  text-decoration: underline;
}
.lumis-module {
  color: #dbb671;
}
.lumis-module-builtin {
  color: #c49060;
}
.lumis-normal {
  color: #a7aab0;
  background-color: #232326;
}
.lumis-number {
  color: #c49060;
}
.lumis-number-float {
  color: #c49060;
}
.lumis-operator {
  color: #a7aab0;
}
.lumis-property {
  color: #51a8b3;
}
.lumis-punctuation-bracket {
  color: #818387;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #de5d68;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #dbb671;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #57a5e5;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #c49060;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #8fb573;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #bb70d2;
}
.lumis-punctuation-delimiter {
  color: #818387;
}
.lumis-punctuation-special {
  color: #de5d68;
}
.lumis-string {
  color: #8fb573;
}
.lumis-string-documentation {
  color: #8fb573;
}
.lumis-string-escape {
  color: #de5d68;
}
.lumis-string-regexp {
  color: #c49060;
}
.lumis-string-special {
  color: #2b5d63;
}
.lumis-string-special-path {
  color: #8fb573;
}
.lumis-string-special-symbol {
  color: #51a8b3;
}
.lumis-string-special-url {
  color: #51a8b3;
  text-decoration: underline;
}
.lumis-tag {
  color: #bb70d2;
}
.lumis-tag-attribute {
  color: #dbb671;
}
.lumis-tag-builtin {
  color: #bb70d2;
}
.lumis-tag-delimiter {
  color: #bb70d2;
}
.lumis-type {
  color: #dbb671;
}
.lumis-type-builtin {
  color: #c49060;
}
.lumis-type-definition {
  color: #dbb671;
}
.lumis-variable {
  color: #a7aab0;
}
.lumis-variable-builtin {
  color: #de5d68;
}
.lumis-variable-member {
  color: #51a8b3;
}
.lumis-variable-parameter {
  color: #de5d68;
}
.lumis-variable-parameter-builtin {
  color: #c49060;
}
