/* rosebones_dark
 * revision: 239bdb9a09c8d38c752c43590d02f654ed0da2b0
 */

pre.lumis {
  color: #e1d4d4;
  background-color: #1a1825;
}
.lumis-attribute {
  color: #317490;
}
.lumis-attribute-builtin {
  color: #9ccfd8;
}
.lumis-boolean {
  color: #e1d4d4;
  font-style: italic;
}
.lumis-character {
  color: #bc9493;
  font-style: italic;
}
.lumis-character-special {
  color: #9ccfd8;
}
.lumis-comment {
  color: #69657e;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #69657e;
  font-style: italic;
}
.lumis-comment-error {
  color: #eb7193;
}
.lumis-comment-hint {
  color: #69657e;
  font-style: italic;
}
.lumis-comment-note {
  color: #9ccfd8;
}
.lumis-comment-todo {
  font-weight: bold;
  text-decoration: underline;
}
.lumis-comment-warning {
  color: #f6c074;
}
.lumis-constant {
  color: #cab0af;
  font-weight: bold;
}
.lumis-constant-builtin {
  color: #bc9493;
  font-style: italic;
}
.lumis-constant-macro {
  color: #bc9493;
  font-style: italic;
}
.lumis-constructor {
  color: #9ccfd8;
}
.lumis-constructor-lua {
  color: #7d7997;
}
.lumis-diff-delta {
  background-color: #1c2d2f;
}
.lumis-diff-minus {
  background-color: #3d2229;
}
.lumis-diff-plus {
  background-color: #1d2c34;
}
.lumis-function {
  color: #e1d4d4;
}
.lumis-function-builtin {
  color: #9ccfd8;
}
.lumis-function-call {
  color: #e1d4d4;
}
.lumis-function-macro {
  color: #317490;
}
.lumis-function-method {
  color: #e1d4d4;
}
.lumis-function-method-call {
  color: #e1d4d4;
}
.lumis-highlighted {
  background-color: #222030;
}
.lumis-keyword {
  color: #317490;
}
.lumis-keyword-conditional {
  color: #317490;
}
.lumis-keyword-conditional-ternary {
  color: #317490;
}
.lumis-keyword-coroutine {
  color: #317490;
}
.lumis-keyword-debug {
  color: #9ccfd8;
}
.lumis-keyword-directive {
  color: #317490;
}
.lumis-keyword-directive-define {
  color: #317490;
}
.lumis-keyword-exception {
  color: #317490;
}
.lumis-keyword-export {
  color: #317490;
}
.lumis-keyword-function {
  color: #317490;
}
.lumis-keyword-import {
  color: #317490;
}
.lumis-keyword-modifier {
  color: #317490;
}
.lumis-keyword-operator {
  color: #317490;
}
.lumis-keyword-repeat {
  color: #317490;
}
.lumis-keyword-return {
  color: #317490;
}
.lumis-keyword-type {
  color: #317490;
}
.lumis-label {
  color: #317490;
}
.lumis-markup {
  color: #9ccfd8;
}
.lumis-markup-environment {
  color: #317490;
}
.lumis-markup-environment-name {
  color: #317490;
}
.lumis-markup-heading {
  color: #e1d4d4;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #e1d4d4;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #e1d4d4;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #e1d4d4;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #e1d4d4;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #e1d4d4;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #e1d4d4;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #bc9493;
  font-style: italic;
}
.lumis-markup-link-label {
  color: #9ccfd8;
}
.lumis-markup-link-markdown {
  color: #cab0af;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #bc9493;
  font-style: italic;
}
.lumis-markup-link-url-markdown {
  color: #69657e;
}
.lumis-markup-list {
  color: #9ccfd8;
}
.lumis-markup-list-checked {
  color: #9ccfd8;
}
.lumis-markup-list-unchecked {
  color: #9ccfd8;
}
.lumis-markup-math {
  color: #9ccfd8;
}
.lumis-markup-quote {
  color: #bc9493;
}
.lumis-markup-raw {
  color: #bc9493;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #bc9493;
  font-style: italic;
}
.lumis-markup-raw-markdown {
  color: #dfdef1;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #bc9493;
  font-style: italic;
}
.lumis-module-builtin {
  color: #bc9493;
  font-style: italic;
}
.lumis-number {
  color: #bc9493;
}
.lumis-number-float {
  color: #bc9493;
}
.lumis-operator {
  color: #317490;
}
.lumis-property {
  color: #cab0af;
}
.lumis-punctuation-bracket {
  color: #7d7997;
}
.lumis-punctuation-delimiter {
  color: #7d7997;
}
.lumis-punctuation-special {
  color: #7d7997;
}
.lumis-punctuation-special-markdown {
  color: #9ccfd8;
}
.lumis-string {
  color: #bc9493;
  font-style: italic;
}
.lumis-string-documentation {
  color: #bc9493;
  font-style: italic;
}
.lumis-string-escape {
  color: #9ccfd8;
}
.lumis-string-escape-markdown {
  color: #565172;
  font-style: italic;
}
.lumis-string-regexp {
  color: #bc9493;
  font-style: italic;
}
.lumis-string-special {
  color: #9ccfd8;
}
.lumis-string-special-path {
  color: #9ccfd8;
}
.lumis-string-special-symbol {
  color: #cab0af;
}
.lumis-string-special-url {
  color: #9ccfd8;
}
.lumis-tag {
  color: #9ccfd8;
}
.lumis-tag-attribute {
  color: #cab0af;
}
.lumis-tag-builtin {
  color: #9ccfd8;
}
.lumis-tag-delimiter {
  color: #7d7997;
}
.lumis-type {
  color: #dfdef1;
}
.lumis-type-builtin {
  color: #dfdef1;
}
.lumis-type-definition {
  color: #dfdef1;
}
.lumis-variable {
  color: #cab0af;
}
.lumis-variable-builtin {
  color: #bc9493;
  font-style: italic;
}
.lumis-variable-member {
  color: #cab0af;
}
.lumis-variable-parameter {
  color: #cab0af;
}
.lumis-variable-parameter-builtin {
  color: #9ccfd8;
}
