/* rosepine_dawn
 * revision: ff483051a47e27d84bdef47703538df1ed9f4a47
 */

pre.lumis {
  color: #464261;
  background-color: #faf4ed;
}
.lumis-attribute {
  color: #907aa9;
}
.lumis-attribute-builtin {
  color: #907aa9;
  font-weight: bold;
}
.lumis-attribute-diff {
  color: #ea9d34;
}
.lumis-boolean {
  color: #d7827e;
}
.lumis-character {
  color: #ea9d34;
}
.lumis-character-special {
  color: #ea9d34;
}
.lumis-comment {
  color: #797593;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #797593;
  font-style: italic;
}
.lumis-comment-error {
  color: #b4637a;
}
.lumis-comment-hint {
  color: #907aa9;
  background-color: #eae2e3;
}
.lumis-comment-note {
  color: #286983;
  background-color: #dbdfdd;
}
.lumis-comment-todo {
  color: #d7827e;
  background-color: #f5e3dc;
}
.lumis-comment-warning {
  color: #ea9d34;
}
.lumis-constant {
  color: #ea9d34;
}
.lumis-constant-builtin {
  color: #ea9d34;
  font-weight: bold;
}
.lumis-constant-macro {
  color: #ea9d34;
}
.lumis-constructor {
  color: #56949f;
}
.lumis-diff-delta {
  background-color: #f3ddd7;
}
.lumis-diff-minus {
  color: #b4637a;
  background-color: #ecd7d6;
}
.lumis-diff-plus {
  color: #56949f;
  background-color: #d9e1dd;
}
.lumis-function {
  color: #d7827e;
}
.lumis-function-builtin {
  color: #d7827e;
  font-weight: bold;
}
.lumis-function-call {
  color: #d7827e;
}
.lumis-function-macro {
  color: #d7827e;
}
.lumis-function-method {
  color: #d7827e;
}
.lumis-function-method-call {
  color: #907aa9;
}
.lumis-highlighted {
  background-color: #f2e9e1;
}
.lumis-keyword {
  color: #286983;
}
.lumis-keyword-conditional {
  color: #286983;
}
.lumis-keyword-conditional-ternary {
  color: #286983;
}
.lumis-keyword-coroutine {
  color: #286983;
}
.lumis-keyword-debug {
  color: #d7827e;
}
.lumis-keyword-directive {
  color: #907aa9;
}
.lumis-keyword-directive-define {
  color: #907aa9;
}
.lumis-keyword-exception {
  color: #286983;
}
.lumis-keyword-export {
  color: #286983;
}
.lumis-keyword-function {
  color: #286983;
}
.lumis-keyword-import {
  color: #286983;
}
.lumis-keyword-modifier {
  color: #286983;
}
.lumis-keyword-operator {
  color: #797593;
}
.lumis-keyword-repeat {
  color: #286983;
}
.lumis-keyword-return {
  color: #286983;
}
.lumis-keyword-type {
  color: #286983;
}
.lumis-label {
  color: #56949f;
}
.lumis-markup {
  color: #56949f;
}
.lumis-markup-environment {
  color: #907aa9;
}
.lumis-markup-environment-name {
  color: #56949f;
}
.lumis-markup-heading {
  color: #56949f;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #56949f;
  font-weight: bold;
}
.lumis-markup-heading-1-markdown {
  color: #907aa9;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #56949f;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #56949f;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #d7827e;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #56949f;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #ea9d34;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #56949f;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #286983;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #56949f;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #6d8f89;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #907aa9;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #907aa9;
  text-decoration: underline;
}
.lumis-markup-link-label-markdown_inline {
  color: #56949f;
}
.lumis-markup-link-markdown_inline {
  color: #797593;
}
.lumis-markup-link-url {
  color: #907aa9;
}
.lumis-markup-list {
  color: #286983;
}
.lumis-markup-list-checked {
  color: #56949f;
  background-color: #eaeae5;
}
.lumis-markup-list-unchecked {
  color: #464261;
}
.lumis-markup-math {
  color: #56949f;
}
.lumis-markup-quote {
  color: #464261;
}
.lumis-markup-raw {
  color: #56949f;
}
.lumis-markup-raw-block {
  color: #56949f;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #464261;
}
.lumis-module-builtin {
  color: #464261;
  font-weight: bold;
}
.lumis-namespace {
  color: #286983;
}
.lumis-normal {
  color: #464261;
  background-color: #faf4ed;
}
.lumis-number {
  color: #ea9d34;
}
.lumis-number-float {
  color: #ea9d34;
}
.lumis-operator {
  color: #797593;
}
.lumis-property {
  color: #56949f;
  font-style: italic;
}
.lumis-punctuation-bracket {
  color: #797593;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #b4637a;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #ea9d34;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #286983;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #d7827e;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #6d8f89;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #907aa9;
}
.lumis-punctuation-delimiter {
  color: #797593;
}
.lumis-punctuation-special {
  color: #797593;
}
.lumis-string {
  color: #ea9d34;
}
.lumis-string-documentation {
  color: #ea9d34;
}
.lumis-string-escape {
  color: #286983;
}
.lumis-string-regexp {
  color: #907aa9;
}
.lumis-string-special {
  color: #ea9d34;
}
.lumis-string-special-path {
  color: #ea9d34;
}
.lumis-string-special-symbol {
  color: #464261;
}
.lumis-string-special-url {
  color: #907aa9;
}
.lumis-tag {
  color: #56949f;
}
.lumis-tag-attribute {
  color: #907aa9;
}
.lumis-tag-builtin {
  color: #56949f;
}
.lumis-tag-delimiter {
  color: #797593;
}
.lumis-type {
  color: #56949f;
}
.lumis-type-builtin {
  color: #56949f;
  font-weight: bold;
}
.lumis-type-definition {
  color: #56949f;
}
.lumis-variable {
  color: #464261;
  font-style: italic;
}
.lumis-variable-builtin {
  color: #b4637a;
  font-weight: bold;
  font-style: italic;
}
.lumis-variable-member {
  color: #56949f;
}
.lumis-variable-parameter {
  color: #907aa9;
  font-style: italic;
}
.lumis-variable-parameter-builtin {
  color: #907aa9;
  font-weight: bold;
  font-style: italic;
}
