/* solarized_spring_dark
 * revision: a8085e29883ddcfb39bd46197eb32ef00df05368
 */

pre.lumis {
  color: #839496;
  background-color: #002b36;
}
.lumis-attribute {
  color: #859900;
}
.lumis-attribute-builtin {
  color: #6c71c4;
}
.lumis-boolean {
  color: #6c71c4;
}
.lumis-character {
  color: #6c71c4;
}
.lumis-character-special {
  color: #6c71c4;
}
.lumis-comment {
  color: #586e75;
}
.lumis-comment-documentation {
  color: #586e75;
}
.lumis-comment-error {
  color: #dc322f;
}
.lumis-comment-hint {
  color: #586e75;
}
.lumis-comment-note {
  color: #268bd2;
}
.lumis-comment-todo {
  color: #268bd2;
}
.lumis-comment-warning {
  color: #b58900;
}
.lumis-constant {
  color: #6c71c4;
}
.lumis-constant-builtin {
  color: #6c71c4;
}
.lumis-constant-html {
  color: #d33682;
}
.lumis-constant-macro {
  color: #6c71c4;
}
.lumis-constructor {
  color: #b58900;
}
.lumis-constructor-lua {
  color: #586e75;
}
.lumis-diff-delta {
  color: #b58900;
}
.lumis-diff-minus {
  color: #dc322f;
}
.lumis-diff-plus {
  color: #268bd2;
}
.lumis-function {
  color: #268bd2;
}
.lumis-function-builtin {
  color: #268bd2;
}
.lumis-function-call {
  color: #268bd2;
}
.lumis-function-macro {
  color: #268bd2;
}
.lumis-function-method {
  color: #268bd2;
}
.lumis-function-method-call {
  color: #268bd2;
}
.lumis-highlighted {
  background-color: #073642;
}
.lumis-keyword {
  color: #859900;
}
.lumis-keyword-conditional {
  color: #d33682;
}
.lumis-keyword-conditional-ternary {
  color: #d33682;
}
.lumis-keyword-coroutine {
  color: #d33682;
}
.lumis-keyword-debug {
  color: #859900;
}
.lumis-keyword-directive {
  color: #d33682;
}
.lumis-keyword-directive-define {
  color: #d33682;
}
.lumis-keyword-exception {
  color: #d33682;
}
.lumis-keyword-export {
  color: #859900;
}
.lumis-keyword-function {
  color: #859900;
}
.lumis-keyword-import {
  color: #859900;
}
.lumis-keyword-modifier {
  color: #859900;
}
.lumis-keyword-operator {
  color: #d33682;
}
.lumis-keyword-repeat {
  color: #d33682;
}
.lumis-keyword-return {
  color: #d33682;
}
.lumis-keyword-type {
  color: #859900;
}
.lumis-label {
  color: #d33682;
}
.lumis-markup {
  color: #6c71c4;
}
.lumis-markup-environment {
  color: #586e75;
}
.lumis-markup-environment-name {
  color: #586e75;
}
.lumis-markup-heading {
  color: #268bd2;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #268bd2;
}
.lumis-markup-heading-2 {
  color: #6c71c4;
}
.lumis-markup-heading-3 {
  color: #b58900;
}
.lumis-markup-heading-4 {
  color: #cb4b16;
}
.lumis-markup-heading-5 {
  color: #dc322f;
}
.lumis-markup-heading-6 {
  color: #d33682;
}
.lumis-markup-italic {
  color: #d33682;
  font-style: italic;
}
.lumis-markup-link {
  color: #d33682;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #6c71c4;
}
.lumis-markup-link-url {
  color: #d33682;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #cb4b16;
}
.lumis-markup-list-checked {
  color: #859900;
}
.lumis-markup-list-unchecked {
  color: #586e75;
}
.lumis-markup-math {
  color: #6c71c4;
}
.lumis-markup-quote {
  color: #859900;
}
.lumis-markup-raw {
  color: #2aa198;
}
.lumis-markup-raw-block {
  color: #839496;
}
.lumis-markup-strikethrough {
  color: #586e75;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #d33682;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #d33682;
  text-decoration: underline;
}
.lumis-module {
  color: #b58900;
}
.lumis-module-builtin {
  color: #6c71c4;
}
.lumis-normal {
  color: #839496;
  background-color: #002b36;
}
.lumis-number {
  color: #6c71c4;
}
.lumis-number-float {
  color: #6c71c4;
}
.lumis-operator {
  color: #d33682;
}
.lumis-property {
  color: #268bd2;
}
.lumis-property-json {
  color: #859900;
}
.lumis-property-yaml {
  color: #859900;
}
.lumis-punctuation-bracket {
  color: #586e75;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #dc322f;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #268bd2;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #cb4b16;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #859900;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #6c71c4;
}
.lumis-punctuation-delimiter {
  color: #586e75;
}
.lumis-punctuation-special {
  color: #859900;
}
.lumis-string {
  color: #2aa198;
}
.lumis-string-documentation {
  color: #d33682;
}
.lumis-string-escape {
  color: #d33682;
}
.lumis-string-regexp {
  color: #d33682;
}
.lumis-string-special {
  color: #6c71c4;
}
.lumis-string-special-path {
  color: #6c71c4;
}
.lumis-string-special-symbol {
  color: #268bd2;
}
.lumis-string-special-url {
  color: #d33682;
  text-decoration: underline;
}
.lumis-tag {
  color: #d33682;
}
.lumis-tag-attribute {
  color: #268bd2;
}
.lumis-tag-builtin {
  color: #6c71c4;
}
.lumis-tag-delimiter {
  color: #586e75;
}
.lumis-type {
  color: #b58900;
}
.lumis-type-builtin {
  color: #859900;
}
.lumis-type-definition {
  color: #b58900;
}
.lumis-variable {
  color: #268bd2;
}
.lumis-variable-builtin {
  color: #6c71c4;
}
.lumis-variable-member {
  color: #268bd2;
}
.lumis-variable-parameter {
  color: #268bd2;
  font-style: italic;
}
.lumis-variable-parameter-builtin {
  color: #6c71c4;
}
