/* solarized_osaka_dark
 * revision: f675d9a5c58f3b0d6158d665a623f81a62e7bdaf
 */

pre.lumis {
  color: #9eabac;
}
.lumis-attribute {
  color: #db302d;
}
.lumis-attribute-builtin {
  color: #c94c16;
}
.lumis-boolean {
  color: #29a298;
}
.lumis-character {
  color: #29a298;
}
.lumis-character-special {
  color: #c94c16;
}
.lumis-comment {
  color: #576d74;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #576d74;
  font-style: italic;
}
.lumis-comment-error {
  color: #db302d;
}
.lumis-comment-hint {
  color: #29a298;
}
.lumis-comment-note {
  color: #29a298;
}
.lumis-comment-todo {
  color: #6d71c4;
}
.lumis-comment-warning {
  color: #b28500;
}
.lumis-constant {
  color: #29a298;
}
.lumis-constant-builtin {
  color: #c94c16;
}
.lumis-constant-macro {
  color: #db302d;
}
.lumis-constructor {
  color: #c94c16;
}
.lumis-constructor-tsx {
  color: #268bd3;
}
.lumis-diff-delta {
  background-color: #191d00;
}
.lumis-diff-minus {
  background-color: #380605;
}
.lumis-diff-plus {
  background-color: #103a3c;
}
.lumis-function {
  color: #268bd3;
}
.lumis-function-builtin {
  color: #c94c16;
}
.lumis-function-call {
  color: #268bd3;
}
.lumis-function-macro {
  color: #db302d;
}
.lumis-function-method {
  color: #268bd3;
}
.lumis-function-method-call {
  color: #268bd3;
}
.lumis-highlighted {
  background-color: #002c38;
}
.lumis-keyword {
  color: #849900;
  font-style: italic;
}
.lumis-keyword-conditional {
  color: #849900;
}
.lumis-keyword-conditional-ternary {
  color: #849900;
}
.lumis-keyword-coroutine {
  color: #849900;
  font-style: italic;
}
.lumis-keyword-debug {
  color: #c94c16;
}
.lumis-keyword-directive {
  color: #db302d;
}
.lumis-keyword-directive-define {
  color: #db302d;
}
.lumis-keyword-exception {
  color: #849900;
}
.lumis-keyword-export {
  color: #849900;
  font-style: italic;
}
.lumis-keyword-function {
  color: #849900;
}
.lumis-keyword-import {
  color: #db302d;
}
.lumis-keyword-modifier {
  color: #849900;
  font-style: italic;
}
.lumis-keyword-operator {
  color: #849900;
}
.lumis-keyword-repeat {
  color: #849900;
}
.lumis-keyword-return {
  color: #849900;
  font-style: italic;
}
.lumis-keyword-type {
  color: #849900;
  font-style: italic;
}
.lumis-label {
  color: #849900;
}
.lumis-markup-environment {
  color: #db302d;
}
.lumis-markup-environment-name {
  color: #b28500;
}
.lumis-markup-heading {
  color: #c94c16;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #c94c16;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #c94c16;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #c94c16;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #c94c16;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #c94c16;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #c94c16;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #268bd3;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #c94c16;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #268bd3;
}
.lumis-markup-list-checked {
  color: #849900;
}
.lumis-markup-list-markdown {
  color: #c94c16;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #b28500;
}
.lumis-markup-math {
  color: #c94c16;
}
.lumis-markup-raw {
  color: #29a298;
}
.lumis-markup-raw-block {
  color: #29a298;
}
.lumis-markup-raw-markdown {
  color: #268bd3;
}
.lumis-markup-raw-markdown_inline {
  color: #b28500;
  background-color: #2c3300;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #db302d;
}
.lumis-module-builtin {
  color: #c94c16;
}
.lumis-number {
  color: #29a298;
}
.lumis-number-float {
  color: #29a298;
}
.lumis-operator {
  color: #849900;
}
.lumis-property {
  color: #268bd3;
}
.lumis-punctuation-bracket {
  color: #c94c16;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #db302d;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #b28500;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #268bd3;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #c94c16;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #849900;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #6d71c4;
}
.lumis-punctuation-delimiter {
  color: #849900;
}
.lumis-punctuation-special {
  color: #c94c16;
}
.lumis-punctuation-special-markdown {
  color: #c94c16;
  font-weight: bold;
}
.lumis-string {
  color: #29a298;
}
.lumis-string-documentation {
  color: #29a298;
}
.lumis-string-escape {
  color: #a13c10;
}
.lumis-string-regexp {
  color: #2aeddd;
}
.lumis-string-special {
  color: #c94c16;
}
.lumis-string-special-path {
  color: #c94c16;
}
.lumis-string-special-symbol {
  color: #c94c16;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #849900;
}
.lumis-tag-attribute {
  color: #268bd3;
}
.lumis-tag-builtin {
  color: #c94c16;
}
.lumis-tag-delimiter {
  color: #e0e2ea;
}
.lumis-tag-delimiter-html {
  color: #c94c16;
}
.lumis-tag-delimiter-javascript {
  color: #c94c16;
}
.lumis-tag-delimiter-tsx {
  color: #c94c16;
}
.lumis-tag-delimiter-vue {
  color: #c94c16;
}
.lumis-tag-javascript {
  color: #b28500;
}
.lumis-tag-tsx {
  color: #b28500;
}
.lumis-type {
  color: #b28500;
}
.lumis-type-builtin {
  color: #b28500;
}
.lumis-type-definition {
  color: #b28500;
}
.lumis-variable {
  color: #9eabac;
}
.lumis-variable-builtin {
  color: #c94c16;
}
.lumis-variable-javascript {
  color: #b28500;
}
.lumis-variable-member {
  color: #29a298;
}
.lumis-variable-parameter {
  color: #c94c16;
}
.lumis-variable-parameter-builtin {
  color: #ffbf00;
}
.lumis-variable-typescript {
  color: #b28500;
}
