/* tokyonight_moon
 * revision: cdc07ac78467a233fd62c493de29a17e0cf2b2b6
 */

pre.lumis {
  color: #c8d3f5;
  background-color: #222436;
}
.lumis-attribute {
  color: #86e1fc;
}
.lumis-attribute-builtin {
  color: #65bcff;
}
.lumis-boolean {
  color: #ff966c;
}
.lumis-character {
  color: #c3e88d;
}
.lumis-character-special {
  color: #65bcff;
}
.lumis-comment {
  color: #636da6;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #636da6;
  font-style: italic;
}
.lumis-comment-error {
  color: #c53b53;
}
.lumis-comment-hint {
  color: #4fd6be;
}
.lumis-comment-note {
  color: #4fd6be;
}
.lumis-comment-todo {
  color: #82aaff;
}
.lumis-comment-warning {
  color: #ffc777;
}
.lumis-constant {
  color: #ff966c;
}
.lumis-constant-builtin {
  color: #65bcff;
}
.lumis-constant-macro {
  color: #86e1fc;
}
.lumis-constructor {
  color: #c099ff;
}
.lumis-constructor-tsx {
  color: #65bcff;
}
.lumis-diff-delta {
  background-color: #252a3f;
}
.lumis-diff-minus {
  background-color: #4b2a3d;
}
.lumis-diff-plus {
  background-color: #2a4556;
}
.lumis-function {
  color: #82aaff;
}
.lumis-function-builtin {
  color: #65bcff;
}
.lumis-function-call {
  color: #82aaff;
}
.lumis-function-macro {
  color: #86e1fc;
}
.lumis-function-method {
  color: #82aaff;
}
.lumis-function-method-call {
  color: #82aaff;
}
.lumis-highlighted {
  background-color: #2f334d;
}
.lumis-keyword {
  color: #fca7ea;
  font-style: italic;
}
.lumis-keyword-conditional {
  color: #c099ff;
}
.lumis-keyword-conditional-ternary {
  color: #c099ff;
}
.lumis-keyword-coroutine {
  color: #fca7ea;
  font-style: italic;
}
.lumis-keyword-debug {
  color: #ff966c;
}
.lumis-keyword-directive {
  color: #86e1fc;
}
.lumis-keyword-directive-define {
  color: #86e1fc;
}
.lumis-keyword-exception {
  color: #c099ff;
}
.lumis-keyword-export {
  color: #fca7ea;
  font-style: italic;
}
.lumis-keyword-function {
  color: #c099ff;
}
.lumis-keyword-import {
  color: #86e1fc;
}
.lumis-keyword-modifier {
  color: #fca7ea;
  font-style: italic;
}
.lumis-keyword-operator {
  color: #89ddff;
}
.lumis-keyword-repeat {
  color: #c099ff;
}
.lumis-keyword-return {
  color: #fca7ea;
  font-style: italic;
}
.lumis-keyword-type {
  color: #fca7ea;
  font-style: italic;
}
.lumis-label {
  color: #82aaff;
}
.lumis-markup-environment {
  color: #86e1fc;
}
.lumis-markup-environment-name {
  color: #65bcff;
}
.lumis-markup-heading {
  color: #82aaff;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #82aaff;
  font-weight: bold;
}
.lumis-markup-heading-1-markdown {
  color: #82aaff;
  background-color: #2c314a;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #82aaff;
  font-weight: bold;
}
.lumis-markup-heading-2-markdown {
  color: #ffc777;
  background-color: #38343d;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #82aaff;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #c3e88d;
  background-color: #32383f;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #82aaff;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #4fd6be;
  background-color: #273644;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #82aaff;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #c099ff;
  background-color: #32304a;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #82aaff;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #fca7ea;
  background-color: #383148;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #4fd6be;
}
.lumis-markup-link-label {
  color: #65bcff;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #89ddff;
}
.lumis-markup-list-checked {
  color: #4fd6be;
}
.lumis-markup-list-markdown {
  color: #ff966c;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #82aaff;
}
.lumis-markup-math {
  color: #65bcff;
}
.lumis-markup-raw {
  color: #c3e88d;
}
.lumis-markup-raw-block {
  color: #c3e88d;
}
.lumis-markup-raw-markdown_inline {
  color: #82aaff;
  background-color: #444a73;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #86e1fc;
}
.lumis-module-builtin {
  color: #ff757f;
}
.lumis-normal {
  color: #c8d3f5;
  background-color: #222436;
}
.lumis-number {
  color: #ff966c;
}
.lumis-number-float {
  color: #ff966c;
}
.lumis-operator {
  color: #89ddff;
}
.lumis-property {
  color: #4fd6be;
}
.lumis-punctuation-bracket {
  color: #828bb8;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #ff757f;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #ffc777;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #82aaff;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #ff966c;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #c3e88d;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #fca7ea;
}
.lumis-punctuation-delimiter {
  color: #89ddff;
}
.lumis-punctuation-special {
  color: #89ddff;
}
.lumis-punctuation-special-markdown {
  color: #ff966c;
}
.lumis-string {
  color: #c3e88d;
}
.lumis-string-documentation {
  color: #ffc777;
}
.lumis-string-escape {
  color: #c099ff;
}
.lumis-string-regexp {
  color: #b4f9f8;
}
.lumis-string-special {
  color: #65bcff;
}
.lumis-string-special-path {
  color: #65bcff;
}
.lumis-string-special-symbol {
  color: #65bcff;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #c099ff;
}
.lumis-tag-attribute {
  color: #4fd6be;
}
.lumis-tag-builtin {
  color: #65bcff;
}
.lumis-tag-delimiter {
  color: #65bcff;
}
.lumis-tag-delimiter-tsx {
  color: #6582c3;
}
.lumis-tag-javascript {
  color: #ff757f;
}
.lumis-tag-tsx {
  color: #ff757f;
}
.lumis-type {
  color: #65bcff;
}
.lumis-type-builtin {
  color: #589ed7;
}
.lumis-type-definition {
  color: #65bcff;
}
.lumis-variable {
  color: #c8d3f5;
}
.lumis-variable-builtin {
  color: #ff757f;
}
.lumis-variable-member {
  color: #4fd6be;
}
.lumis-variable-parameter {
  color: #ffc777;
}
.lumis-variable-parameter-builtin {
  color: #f4c990;
}
