/* vscode_dark
 * revision: aa1102a7e15195c9cca22730b09224a7f7745ba8
 */

pre.lumis {
  color: #d4d4d4;
  background-color: #1f1f1f;
}
.lumis-attribute {
  color: #dcdcaa;
}
.lumis-attribute-builtin {
  color: #4ec9b0;
}
.lumis-boolean {
  color: #569cd6;
}
.lumis-character {
  color: #ce9178;
}
.lumis-character-special {
  color: #d4d4d4;
}
.lumis-comment {
  color: #6a9955;
}
.lumis-comment-documentation {
  color: #6a9955;
}
.lumis-comment-error {
  color: #f44747;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #6a9955;
}
.lumis-comment-note {
  color: #4ec9b0;
  font-weight: bold;
}
.lumis-comment-todo {
  color: #d7ba7d;
  background-color: #1f1f1f;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #d7ba7d;
  font-weight: bold;
}
.lumis-constant {
  color: #4fc1ff;
}
.lumis-constant-builtin {
  color: #569cd6;
}
.lumis-constant-macro {
  color: #4ec9b0;
}
.lumis-constructor {
  color: #569cd6;
}
.lumis-constructor-python {
  color: #4ec9b0;
}
.lumis-diff-delta {
  background-color: #4b1818;
}
.lumis-diff-minus {
  background-color: #6f1313;
}
.lumis-diff-plus {
  background-color: #4b5632;
}
.lumis-error {
  color: #f44747;
}
.lumis-function {
  color: #dcdcaa;
}
.lumis-function-builtin {
  color: #dcdcaa;
}
.lumis-function-call {
  color: #dcdcaa;
}
.lumis-function-macro {
  color: #dcdcaa;
}
.lumis-function-method {
  color: #dcdcaa;
}
.lumis-function-method-call {
  color: #dcdcaa;
}
.lumis-highlighted {
  background-color: #222222;
}
.lumis-keyword {
  color: #569cd6;
}
.lumis-keyword-conditional {
  color: #c586c0;
}
.lumis-keyword-conditional-ternary {
  color: #c586c0;
}
.lumis-keyword-coroutine {
  color: #569cd6;
}
.lumis-keyword-debug {
  color: #569cd6;
}
.lumis-keyword-directive {
  color: #569cd6;
}
.lumis-keyword-directive-define {
  color: #569cd6;
}
.lumis-keyword-exception {
  color: #c586c0;
}
.lumis-keyword-export {
  color: #569cd6;
}
.lumis-keyword-function {
  color: #569cd6;
}
.lumis-keyword-import {
  color: #c586c0;
}
.lumis-keyword-modifier {
  color: #569cd6;
}
.lumis-keyword-operator {
  color: #569cd6;
}
.lumis-keyword-repeat {
  color: #c586c0;
}
.lumis-keyword-return {
  color: #c586c0;
}
.lumis-keyword-type {
  color: #569cd6;
}
.lumis-label {
  color: #9cdcfe;
}
.lumis-markup {
  color: #d7ba7d;
}
.lumis-markup-environment {
  color: #d7ba7d;
}
.lumis-markup-environment-name {
  color: #d7ba7d;
}
.lumis-markup-heading {
  color: #569cd6;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #569cd6;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #569cd6;
  font-weight: bold;
}
.lumis-markup-heading-2-markdown {
  color: #ce9178;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #569cd6;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #dcdcaa;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #569cd6;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #6a9955;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #569cd6;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #569cd6;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #c586c0;
  font-weight: bold;
}
.lumis-markup-italic {
  color: #d4d4d4;
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #9cdcfe;
}
.lumis-markup-link-url {
  color: #d4d4d4;
}
.lumis-markup-list {
  color: #d7ba7d;
}
.lumis-markup-list-checked {
  color: #d7ba7d;
  background-color: #1f1f1f;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #d7ba7d;
  background-color: #1f1f1f;
  font-weight: bold;
}
.lumis-markup-math {
  color: #d7ba7d;
}
.lumis-markup-quote {
  color: #d7ba7d;
}
.lumis-markup-raw {
  color: #d4d4d4;
}
.lumis-markup-raw-block {
  color: #d4d4d4;
}
.lumis-markup-raw-markdown {
  color: #ce9178;
}
.lumis-markup-raw-markdown_inline {
  color: #ce9178;
}
.lumis-markup-strikethrough {
  color: #d4d4d4;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #569cd6;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #d7ba7d;
  text-decoration: underline;
}
.lumis-module {
  color: #4ec9b0;
}
.lumis-module-builtin {
  color: #d7ba7d;
}
.lumis-namespace {
  color: #4ec9b0;
}
.lumis-number {
  color: #b5cea8;
}
.lumis-number-float {
  color: #b5cea8;
}
.lumis-operator {
  color: #d4d4d4;
}
.lumis-property {
  color: #9cdcfe;
}
.lumis-punctuation-bracket {
  color: #d4d4d4;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #c586c0;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #d7ba7d;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #18a2fe;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #ce9178;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #6a9955;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #646695;
}
.lumis-punctuation-delimiter {
  color: #d4d4d4;
}
.lumis-punctuation-special {
  color: #d4d4d4;
}
.lumis-string {
  color: #ce9178;
}
.lumis-string-documentation {
  color: #ce9178;
}
.lumis-string-escape {
  color: #d4d4d4;
}
.lumis-string-regexp {
  color: #ce9178;
}
.lumis-string-special {
  color: #d4d4d4;
}
.lumis-string-special-path {
  color: #d4d4d4;
}
.lumis-string-special-symbol {
  color: #d4d4d4;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #569cd6;
}
.lumis-tag-attribute {
  color: #9cdcfe;
}
.lumis-tag-builtin {
  color: #569cd6;
}
.lumis-tag-delimiter {
  color: #808080;
}
.lumis-type {
  color: #4ec9b0;
}
.lumis-type-builtin {
  color: #569cd6;
}
.lumis-type-builtin-tsx {
  color: #4ec9b0;
}
.lumis-type-builtin-typescript {
  color: #4ec9b0;
}
.lumis-type-definition {
  color: #4ec9b0;
}
.lumis-variable {
  color: #9cdcfe;
}
.lumis-variable-builtin {
  color: #569cd6;
}
.lumis-variable-member {
  color: #9cdcfe;
}
.lumis-variable-parameter {
  color: #9cdcfe;
}
.lumis-variable-parameter-builtin {
  color: #d7ba7d;
}
