/* vscode_light
 * revision: aa1102a7e15195c9cca22730b09224a7f7745ba8
 */

pre.lumis {
  color: #343434;
  background-color: #ffffff;
}
.lumis-attribute {
  color: #795e26;
}
.lumis-attribute-builtin {
  color: #16825d;
}
.lumis-boolean {
  color: #0000ff;
}
.lumis-character {
  color: #c72e0f;
}
.lumis-character-special {
  color: #343434;
}
.lumis-comment {
  color: #008000;
}
.lumis-comment-documentation {
  color: #008000;
}
.lumis-comment-error {
  color: #ff0000;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #008000;
}
.lumis-comment-note {
  color: #16825d;
  font-weight: bold;
}
.lumis-comment-todo {
  color: #800000;
  background-color: #ffffff;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #800000;
  font-weight: bold;
}
.lumis-constant {
  color: #4fc1ff;
}
.lumis-constant-builtin {
  color: #0000ff;
}
.lumis-constant-macro {
  color: #16825d;
}
.lumis-constructor {
  color: #0000ff;
}
.lumis-constructor-python {
  color: #16825d;
}
.lumis-diff-delta {
  background-color: #ffcccc;
}
.lumis-diff-minus {
  background-color: #ffa3a3;
}
.lumis-diff-plus {
  background-color: #ebf1dd;
}
.lumis-error {
  color: #ff0000;
}
.lumis-function {
  color: #795e26;
}
.lumis-function-builtin {
  color: #795e26;
}
.lumis-function-call {
  color: #795e26;
}
.lumis-function-macro {
  color: #795e26;
}
.lumis-function-method {
  color: #795e26;
}
.lumis-function-method-call {
  color: #795e26;
}
.lumis-highlighted {
  background-color: #e5e5e5;
}
.lumis-keyword {
  color: #0000ff;
}
.lumis-keyword-conditional {
  color: #af00db;
}
.lumis-keyword-conditional-ternary {
  color: #af00db;
}
.lumis-keyword-coroutine {
  color: #0000ff;
}
.lumis-keyword-debug {
  color: #0000ff;
}
.lumis-keyword-directive {
  color: #0000ff;
}
.lumis-keyword-directive-define {
  color: #0000ff;
}
.lumis-keyword-exception {
  color: #af00db;
}
.lumis-keyword-export {
  color: #0000ff;
}
.lumis-keyword-function {
  color: #0000ff;
}
.lumis-keyword-import {
  color: #af00db;
}
.lumis-keyword-modifier {
  color: #0000ff;
}
.lumis-keyword-operator {
  color: #0000ff;
}
.lumis-keyword-repeat {
  color: #af00db;
}
.lumis-keyword-return {
  color: #af00db;
}
.lumis-keyword-type {
  color: #0000ff;
}
.lumis-label {
  color: #0451a5;
}
.lumis-markup {
  color: #800000;
}
.lumis-markup-environment {
  color: #800000;
}
.lumis-markup-environment-name {
  color: #800000;
}
.lumis-markup-heading {
  color: #800000;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #800000;
  font-weight: bold;
}
.lumis-markup-heading-1-markdown {
  color: #0000ff;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #800000;
  font-weight: bold;
}
.lumis-markup-heading-2-markdown {
  color: #c72e0f;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #800000;
  font-weight: bold;
}
.lumis-markup-heading-3-markdown {
  color: #795e26;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #800000;
  font-weight: bold;
}
.lumis-markup-heading-4-markdown {
  color: #008000;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #800000;
  font-weight: bold;
}
.lumis-markup-heading-5-markdown {
  color: #0000ff;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #800000;
  font-weight: bold;
}
.lumis-markup-heading-6-markdown {
  color: #af00db;
  font-weight: bold;
}
.lumis-markup-italic {
  color: #343434;
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #0451a5;
}
.lumis-markup-link-url {
  color: #343434;
}
.lumis-markup-list {
  color: #800000;
}
.lumis-markup-list-checked {
  color: #800000;
  background-color: #ffffff;
  font-weight: bold;
}
.lumis-markup-list-unchecked {
  color: #800000;
  background-color: #ffffff;
  font-weight: bold;
}
.lumis-markup-math {
  color: #800000;
}
.lumis-markup-quote {
  color: #800000;
}
.lumis-markup-raw {
  color: #343434;
}
.lumis-markup-raw-block {
  color: #343434;
}
.lumis-markup-raw-markdown {
  color: #c72e0f;
}
.lumis-markup-raw-markdown_inline {
  color: #c72e0f;
}
.lumis-markup-strikethrough {
  color: #343434;
  text-decoration: line-through;
}
.lumis-markup-strong {
  color: #000080;
  font-weight: bold;
}
.lumis-markup-underline {
  color: #800000;
  text-decoration: underline;
}
.lumis-module {
  color: #16825d;
}
.lumis-module-builtin {
  color: #800000;
}
.lumis-namespace {
  color: #16825d;
}
.lumis-number {
  color: #098658;
}
.lumis-number-float {
  color: #098658;
}
.lumis-operator {
  color: #343434;
}
.lumis-property {
  color: #0451a5;
}
.lumis-punctuation-bracket {
  color: #343434;
}
.lumis-punctuation-bracket-rainbow-1 {
  color: #af00db;
}
.lumis-punctuation-bracket-rainbow-2 {
  color: #800000;
}
.lumis-punctuation-bracket-rainbow-3 {
  color: #18a2fe;
}
.lumis-punctuation-bracket-rainbow-4 {
  color: #c72e0f;
}
.lumis-punctuation-bracket-rainbow-5 {
  color: #008000;
}
.lumis-punctuation-bracket-rainbow-6 {
  color: #000080;
}
.lumis-punctuation-delimiter {
  color: #343434;
}
.lumis-punctuation-special {
  color: #343434;
}
.lumis-string {
  color: #c72e0f;
}
.lumis-string-documentation {
  color: #c72e0f;
}
.lumis-string-escape {
  color: #343434;
}
.lumis-string-regexp {
  color: #c72e0f;
}
.lumis-string-special {
  color: #343434;
}
.lumis-string-special-path {
  color: #343434;
}
.lumis-string-special-symbol {
  color: #343434;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #0000ff;
}
.lumis-tag-attribute {
  color: #0451a5;
}
.lumis-tag-builtin {
  color: #0000ff;
}
.lumis-tag-delimiter {
  color: #000000;
}
.lumis-type {
  color: #16825d;
}
.lumis-type-builtin {
  color: #0000ff;
}
.lumis-type-builtin-tsx {
  color: #16825d;
}
.lumis-type-builtin-typescript {
  color: #16825d;
}
.lumis-type-definition {
  color: #16825d;
}
.lumis-variable {
  color: #0451a5;
}
.lumis-variable-builtin {
  color: #0000ff;
}
.lumis-variable-member {
  color: #0451a5;
}
.lumis-variable-parameter {
  color: #0451a5;
}
.lumis-variable-parameter-builtin {
  color: #800000;
}
