/* yorumi
 * revision: e5b93e2c0adb3d95ca9f3c5c20e824d15afcfe48
 */

pre.lumis {
  color: #bdbfcb;
  background-color: #060914;
}
.lumis-attribute {
  color: #d29146;
}
.lumis-attribute-builtin {
  color: #597bc0;
}
.lumis-boolean {
  color: #d29146;
  font-weight: bold;
}
.lumis-character {
  color: #80aa6e;
}
.lumis-character-special {
  color: #597bc0;
}
.lumis-comment {
  color: #656771;
}
.lumis-comment-documentation {
  color: #656771;
}
.lumis-comment-error {
  color: #bdbfcb;
  background-color: #4e0e0e;
  font-weight: bold;
}
.lumis-comment-hint {
  color: #656771;
}
.lumis-comment-note {
  color: #d6b476;
  background-color: #060914;
  font-weight: bold;
}
.lumis-comment-todo {
  color: #d6b476;
  background-color: #6b5905;
  font-weight: bold;
}
.lumis-comment-warning {
  color: #bdbfcb;
  background-color: #6b5905;
  font-weight: bold;
}
.lumis-constant {
  color: #d29146;
}
.lumis-constant-builtin {
  color: #597bc0;
}
.lumis-constant-macro {
  color: #d29146;
}
.lumis-constructor {
  color: #597bc0;
}
.lumis-constructor-lua {
  color: #da72a2;
}
.lumis-diff-delta {
  color: #ba9a5e;
}
.lumis-diff-minus {
  color: #f05c60;
}
.lumis-diff-plus {
  color: #80aa6e;
}
.lumis-function {
  color: #597bc0;
}
.lumis-function-builtin {
  color: #597bc0;
}
.lumis-function-call {
  color: #597bc0;
}
.lumis-function-macro {
  color: #597bc0;
}
.lumis-function-method {
  color: #597bc0;
}
.lumis-function-method-call {
  color: #597bc0;
}
.lumis-highlighted {
  background-color: #121520;
}
.lumis-keyword {
  color: #a188c3;
}
.lumis-keyword-conditional {
  color: #a188c3;
}
.lumis-keyword-conditional-ternary {
  color: #a188c3;
}
.lumis-keyword-coroutine {
  color: #a188c3;
}
.lumis-keyword-debug {
  color: #a188c3;
}
.lumis-keyword-directive {
  color: #a188c3;
}
.lumis-keyword-directive-define {
  color: #a188c3;
}
.lumis-keyword-exception {
  color: #f47171;
}
.lumis-keyword-export {
  color: #a188c3;
}
.lumis-keyword-function {
  color: #a188c3;
}
.lumis-keyword-import {
  color: #a188c3;
}
.lumis-keyword-modifier {
  color: #a188c3;
}
.lumis-keyword-operator {
  color: #ba9a5e;
  font-weight: bold;
}
.lumis-keyword-repeat {
  color: #a188c3;
}
.lumis-keyword-return {
  color: #f05c60;
}
.lumis-keyword-type {
  color: #a188c3;
}
.lumis-label {
  color: #da72a2;
}
.lumis-markup {
  color: #597bc0;
}
.lumis-markup-environment {
  color: #a188c3;
}
.lumis-markup-environment-name {
  color: #a188c3;
}
.lumis-markup-heading {
  color: #597bc0;
}
.lumis-markup-heading-1 {
  color: #597bc0;
}
.lumis-markup-heading-2 {
  color: #597bc0;
}
.lumis-markup-heading-3 {
  color: #597bc0;
}
.lumis-markup-heading-4 {
  color: #597bc0;
}
.lumis-markup-heading-5 {
  color: #597bc0;
}
.lumis-markup-heading-6 {
  color: #597bc0;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #788ad3;
  text-decoration: underline;
}
.lumis-markup-link-label {
  color: #788ad3;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #7aa8a7;
  text-decoration: underline;
}
.lumis-markup-list {
  color: #597bc0;
}
.lumis-markup-list-checked {
  color: #597bc0;
}
.lumis-markup-list-unchecked {
  color: #597bc0;
}
.lumis-markup-math {
  color: #d29146;
}
.lumis-markup-quote {
  color: #a7a9b5;
}
.lumis-markup-raw {
  color: #9cb67d;
}
.lumis-markup-raw-block {
  color: #9cb67d;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #7aa8a7;
}
.lumis-module-builtin {
  color: #597bc0;
}
.lumis-number {
  color: #b4647f;
}
.lumis-number-float {
  color: #b4647f;
}
.lumis-operator {
  color: #ba9a5e;
}
.lumis-property {
  color: #ba9a5e;
}
.lumis-punctuation-bracket {
  color: #a7a9b5;
}
.lumis-punctuation-delimiter {
  color: #a7a9b5;
}
.lumis-punctuation-special {
  color: #7aa8a7;
}
.lumis-string {
  color: #9cb67d;
}
.lumis-string-documentation {
  color: #9cb67d;
}
.lumis-string-escape {
  color: #f05c60;
  font-weight: bold;
}
.lumis-string-regexp {
  color: #f05c60;
}
.lumis-string-special {
  color: #597bc0;
}
.lumis-string-special-path {
  color: #597bc0;
}
.lumis-string-special-symbol {
  color: #ba9a5e;
}
.lumis-string-special-url {
  color: #7aa8a7;
  text-decoration: underline;
}
.lumis-tag {
  color: #597bc0;
}
.lumis-tag-attribute {
  color: #d29146;
}
.lumis-tag-builtin {
  color: #597bc0;
}
.lumis-tag-delimiter {
  color: #878996;
}
.lumis-type {
  color: #7aa8a7;
}
.lumis-type-builtin {
  color: #597bc0;
}
.lumis-type-definition {
  color: #7aa8a7;
}
.lumis-variable {
  color: #bdbfcb;
}
.lumis-variable-builtin {
  color: #f05c60;
}
.lumis-variable-member {
  color: #ba9a5e;
}
.lumis-variable-parameter {
  color: #a7a9b5;
}
.lumis-variable-parameter-builtin {
  color: #597bc0;
}
