/* zenburned
 * revision: 239bdb9a09c8d38c752c43590d02f654ed0da2b0
 */

pre.lumis {
  color: #f0e4cf;
  background-color: #404040;
}
.lumis-attribute {
  color: #ffcdab;
}
.lumis-attribute-builtin {
  color: #f0f08f;
}
.lumis-boolean {
  color: #f0e4cf;
  font-style: italic;
}
.lumis-character {
  color: #baa681;
  font-style: italic;
}
.lumis-character-special {
  color: #f0f08f;
}
.lumis-comment {
  color: #848484;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #848484;
  font-style: italic;
}
.lumis-comment-error {
  color: #e3716e;
}
.lumis-comment-hint {
  color: #848484;
  font-style: italic;
}
.lumis-comment-note {
  color: #6099c0;
}
.lumis-comment-todo {
  font-weight: bold;
  text-decoration: underline;
}
.lumis-comment-warning {
  color: #b77e64;
}
.lumis-constant {
  color: #d5be95;
  font-weight: bold;
}
.lumis-constant-builtin {
  color: #baa681;
  font-style: italic;
}
.lumis-constant-macro {
  color: #baa681;
  font-style: italic;
}
.lumis-constructor {
  color: #f0f08f;
}
.lumis-constructor-lua {
  color: #939393;
}
.lumis-diff-delta {
  background-color: #3d5568;
}
.lumis-diff-minus {
  background-color: #764544;
}
.lumis-diff-plus {
  background-color: #475737;
}
.lumis-function {
  color: #f0e4cf;
}
.lumis-function-builtin {
  color: #f0f08f;
}
.lumis-function-call {
  color: #f0e4cf;
}
.lumis-function-macro {
  color: #ffcdab;
}
.lumis-function-method {
  color: #f0e4cf;
}
.lumis-function-method-call {
  color: #f0e4cf;
}
.lumis-highlighted {
  background-color: #474747;
}
.lumis-keyword {
  color: #dca2a2;
  font-weight: bold;
}
.lumis-keyword-conditional {
  color: #dca2a2;
  font-weight: bold;
}
.lumis-keyword-conditional-ternary {
  color: #dca2a2;
  font-weight: bold;
}
.lumis-keyword-coroutine {
  color: #dca2a2;
  font-weight: bold;
}
.lumis-keyword-debug {
  color: #f0f08f;
}
.lumis-keyword-directive {
  color: #ffcdab;
}
.lumis-keyword-directive-define {
  color: #ffcdab;
}
.lumis-keyword-exception {
  color: #dca2a2;
  font-weight: bold;
}
.lumis-keyword-export {
  color: #dca2a2;
  font-weight: bold;
}
.lumis-keyword-function {
  color: #dca2a2;
  font-weight: bold;
}
.lumis-keyword-import {
  color: #ffcdab;
}
.lumis-keyword-modifier {
  color: #dca2a2;
  font-weight: bold;
}
.lumis-keyword-operator {
  color: #dca2a2;
  font-weight: bold;
}
.lumis-keyword-repeat {
  color: #dca2a2;
  font-weight: bold;
}
.lumis-keyword-return {
  color: #dca2a2;
  font-weight: bold;
}
.lumis-keyword-type {
  color: #dca2a2;
  font-weight: bold;
}
.lumis-label {
  color: #dca2a2;
  font-weight: bold;
}
.lumis-markup {
  color: #f0f08f;
}
.lumis-markup-environment {
  color: #ffcdab;
}
.lumis-markup-environment-name {
  color: #ffcdab;
}
.lumis-markup-heading {
  color: #f0e4cf;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #f0e4cf;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #f0e4cf;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #f0e4cf;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #f0e4cf;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #f0e4cf;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #f0e4cf;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  color: #baa681;
  font-style: italic;
}
.lumis-markup-link-label {
  color: #f0f08f;
}
.lumis-markup-link-markdown {
  color: #d5be95;
  text-decoration: underline;
}
.lumis-markup-link-url {
  color: #baa681;
  font-style: italic;
}
.lumis-markup-link-url-markdown {
  color: #848484;
}
.lumis-markup-list {
  color: #f0f08f;
}
.lumis-markup-list-checked {
  color: #f0f08f;
}
.lumis-markup-list-unchecked {
  color: #f0f08f;
}
.lumis-markup-math {
  color: #f0f08f;
}
.lumis-markup-quote {
  color: #baa681;
}
.lumis-markup-raw {
  color: #baa681;
  font-style: italic;
}
.lumis-markup-raw-block {
  color: #baa681;
  font-style: italic;
}
.lumis-markup-raw-markdown {
  color: #a8a8a8;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #baa681;
  font-style: italic;
}
.lumis-module-builtin {
  color: #baa681;
  font-style: italic;
}
.lumis-number {
  color: #baa681;
}
.lumis-number-float {
  color: #baa681;
}
.lumis-operator {
  color: #dca2a2;
  font-weight: bold;
}
.lumis-property {
  color: #d5be95;
}
.lumis-punctuation-bracket {
  color: #939393;
}
.lumis-punctuation-delimiter {
  color: #939393;
}
.lumis-punctuation-special {
  color: #939393;
}
.lumis-punctuation-special-markdown {
  color: #f0f08f;
}
.lumis-string {
  color: #baa681;
  font-style: italic;
}
.lumis-string-documentation {
  color: #baa681;
  font-style: italic;
}
.lumis-string-escape {
  color: #f0f08f;
}
.lumis-string-escape-markdown {
  color: #747474;
  font-style: italic;
}
.lumis-string-regexp {
  color: #baa681;
  font-style: italic;
}
.lumis-string-special {
  color: #f0f08f;
}
.lumis-string-special-path {
  color: #f0f08f;
}
.lumis-string-special-symbol {
  color: #d5be95;
}
.lumis-string-special-url {
  color: #f0f08f;
}
.lumis-tag {
  color: #f0f08f;
}
.lumis-tag-attribute {
  color: #d5be95;
}
.lumis-tag-builtin {
  color: #f0f08f;
}
.lumis-tag-delimiter {
  color: #939393;
}
.lumis-type {
  color: #a8a8a8;
}
.lumis-type-builtin {
  color: #a8a8a8;
}
.lumis-type-definition {
  color: #a8a8a8;
}
.lumis-variable {
  color: #d5be95;
}
.lumis-variable-builtin {
  color: #baa681;
  font-style: italic;
}
.lumis-variable-member {
  color: #d5be95;
}
.lumis-variable-parameter {
  color: #d5be95;
}
.lumis-variable-parameter-builtin {
  color: #f0f08f;
}
