/* zephyr_dark
 * revision: 7fd86b7164442d3b5ec2c81b2694d040e716b5cf
 */

pre.lumis {
  color: #bbc2cf;
  background-color: #262a33;
}
.lumis-attribute {
  color: #36d0e0;
}
.lumis-attribute-builtin {
  color: #f7bb3b;
}
.lumis-boolean {
  color: #ff8700;
}
.lumis-character {
  color: #afd700;
}
.lumis-character-special {
  color: #f7bb3b;
}
.lumis-comment {
  color: #73797e;
  font-style: italic;
}
.lumis-comment-documentation {
  color: #73797e;
  font-style: italic;
}
.lumis-comment-error {
  color: #e95678;
}
.lumis-comment-hint {
  color: #73797e;
  font-style: italic;
}
.lumis-comment-note {
  color: #61afef;
}
.lumis-comment-todo {
  color: #cba6f7;
}
.lumis-comment-warning {
  color: #f7bb3b;
}
.lumis-constant {
  color: #36d0e0;
}
.lumis-constant-builtin {
  color: #f7bb3b;
}
.lumis-constant-macro {
  color: #36d0e0;
}
.lumis-constructor {
  color: #f7bb3b;
}
.lumis-diff-delta {
  color: #8cf8f7;
}
.lumis-diff-minus {
  color: #ffc0b9;
}
.lumis-diff-plus {
  color: #b3f6c0;
}
.lumis-function {
  color: #36d0e0;
}
.lumis-function-builtin {
  color: #f7bb3b;
}
.lumis-function-call {
  color: #36d0e0;
}
.lumis-function-macro {
  color: #36d0e0;
}
.lumis-function-method {
  color: #36d0e0;
}
.lumis-function-method-call {
  color: #36d0e0;
}
.lumis-highlighted {
  background-color: #2e323c;
}
.lumis-keyword {
  color: #afd700;
}
.lumis-keyword-conditional {
  color: #afd700;
}
.lumis-keyword-conditional-ternary {
  color: #afd700;
}
.lumis-keyword-coroutine {
  color: #afd700;
}
.lumis-keyword-debug {
  color: #afd700;
}
.lumis-keyword-directive {
  color: #afd700;
}
.lumis-keyword-directive-define {
  color: #afd700;
}
.lumis-keyword-exception {
  color: #afd700;
}
.lumis-keyword-export {
  color: #afd700;
}
.lumis-keyword-function {
  color: #e95678;
}
.lumis-keyword-import {
  color: #afd700;
}
.lumis-keyword-modifier {
  color: #afd700;
}
.lumis-keyword-operator {
  color: #afd700;
}
.lumis-keyword-repeat {
  color: #afd700;
}
.lumis-keyword-return {
  color: #afd700;
}
.lumis-keyword-type {
  color: #afd700;
}
.lumis-label {
  color: #ff8700;
}
.lumis-markup {
  color: #f7bb3b;
}
.lumis-markup-environment {
  color: #f7bb3b;
}
.lumis-markup-environment-name {
  color: #f7bb3b;
}
.lumis-markup-heading {
  color: #ff8700;
  font-weight: bold;
}
.lumis-markup-heading-1 {
  color: #ff8700;
  font-weight: bold;
}
.lumis-markup-heading-2 {
  color: #ff8700;
  font-weight: bold;
}
.lumis-markup-heading-3 {
  color: #ff8700;
  font-weight: bold;
}
.lumis-markup-heading-4 {
  color: #ff8700;
  font-weight: bold;
}
.lumis-markup-heading-5 {
  color: #ff8700;
  font-weight: bold;
}
.lumis-markup-heading-6 {
  color: #ff8700;
  font-weight: bold;
}
.lumis-markup-italic {
  font-style: italic;
}
.lumis-markup-link {
  text-decoration: underline;
}
.lumis-markup-link-label {
  text-decoration: underline;
}
.lumis-markup-link-url {
  text-decoration: underline;
}
.lumis-markup-list {
  color: #f7bb3b;
}
.lumis-markup-list-checked {
  color: #f7bb3b;
}
.lumis-markup-list-unchecked {
  color: #f7bb3b;
}
.lumis-markup-math {
  color: #f7bb3b;
}
.lumis-markup-quote {
  color: #f7bb3b;
}
.lumis-markup-raw {
  color: #f7bb3b;
}
.lumis-markup-raw-block {
  color: #f7bb3b;
}
.lumis-markup-strikethrough {
  text-decoration: line-through;
}
.lumis-markup-strong {
  font-weight: bold;
}
.lumis-markup-underline {
  text-decoration: underline;
}
.lumis-module {
  color: #ff8700;
}
.lumis-module-builtin {
  color: #f7bb3b;
}
.lumis-normal {
  color: #bbc2cf;
  background-color: #262a33;
}
.lumis-number {
  color: #c78665;
}
.lumis-number-float {
  color: #c78665;
}
.lumis-operator {
  color: #d16d9e;
}
.lumis-property {
  color: #f7bb3b;
}
.lumis-punctuation-bracket {
  color: #80a0c2;
}
.lumis-punctuation-delimiter {
  color: #bbc2cf;
}
.lumis-punctuation-special {
  color: #f7bb3b;
}
.lumis-string {
  color: #fab795;
}
.lumis-string-documentation {
  color: #fab795;
}
.lumis-string-escape {
  color: #f7bb3b;
}
.lumis-string-regexp {
  color: #f7bb3b;
}
.lumis-string-special {
  color: #f7bb3b;
}
.lumis-string-special-path {
  color: #f7bb3b;
}
.lumis-string-special-symbol {
  color: #f7bb3b;
}
.lumis-string-special-url {
  text-decoration: underline;
}
.lumis-tag {
  color: #ff8700;
}
.lumis-tag-attribute {
  color: #ff8700;
}
.lumis-tag-builtin {
  color: #f7bb3b;
}
.lumis-tag-delimiter {
  color: #ff8700;
}
.lumis-type {
  color: #1abc9c;
}
.lumis-type-builtin {
  color: #f7bb3b;
}
.lumis-type-definition {
  color: #1abc9c;
}
.lumis-variable {
  color: #f2f2bf;
}
.lumis-variable-builtin {
  color: #f7bb3b;
}
.lumis-variable-member {
  color: #f2f2bf;
}
.lumis-variable-parameter {
  color: #f2f2bf;
}
.lumis-variable-parameter-builtin {
  color: #f7bb3b;
}
